<div class="d-flex flex-row">
	<div class="form-inline">
		<div>
			<label class="col-form-label">Plans</label>
		</div>
		<div class="p-2">
			<p-multiSelect
				[options]="planCommunityList$ | async"
				[(ngModel)]="selectedPlans"
				optionValue="id"
				optionLabel="planSalesName"
				[showToggleAll]="false"
			>
			</p-multiSelect>
		</div>
		<div class="p-2">
			<button class="btn btn-primary" (click)="onShowOptions()">
				Show Options
			</button>
		</div>
		<div class="p-2">
			<label class="col-form-label">Option</label>
		</div>
		<div class="p-2">
			<select
				class="form-control ml-3 phd-options-select"
				[(ngModel)]="currentOption"
				(ngModelChange)="onChangeOption()"
			>
				<option [ngValue]="null" [defaultSelected]></option>
				<option [ngValue]="-1">All</option>
				<option
					*ngFor="let option of planOptionList"
					[ngValue]="option"
				>
					{{ option?.optionSalesName }}
				</option>
			</select>
		</div>
		<div class="p-2">
			<label class="row-form-label">Active</label>
		</div>
		<div class="p-2">
			<select
				class="form-control ml-3"
				[(ngModel)]="isActiveColor"
				(change)="onActiveColorChange()"
			>
				<option [defaultSelected] [ngValue]="null">All</option>
				<option [ngValue]="true">Active</option>
				<option [ngValue]="false">Inactive</option>
			</select>
		</div>
	</div>
</div>
<div class="mx-2 phd-table-container" infiniteScroll [infiniteScrollThrottle]="settings.infiniteScrollThrottle" [infiniteScrollDisabled]="allDataLoaded" (scrolled)="onPanelScroll()" [scrollWindow]="false">
	<phd-table #dt [value]="planOptionDtosList">
		<phd-column  header="Plan" field="planSalesName" >
			<ng-template #body let-planOptionDto>
				<span *ngFor="let plans of planOptionDto.planCommunity;let indexOfelement=index;">
					<span *ngIf="indexOfelement>0">,</span>
					<span>{{plans?.planSalesName}}</span>
				</span>
			</ng-template>
		</phd-column>
		<phd-column  header="Option" field="optionSalesName"></phd-column>
		<phd-column  header="ColorItem" field="colorItem">
			<ng-template #body let-planOptionDto>
				<span>{{ planOptionDto.colorItem[0]?.name }}</span>
			</ng-template>
		</phd-column>
		<phd-column  header="Colors" field="colorItem.colors">
			<ng-template #body let-planOptionDto>
				<div *ngFor="let color of planOptionDto.colorItem[0]?.colors">
					<span [ngClass]="{'phd-disabled':color?.isActive === false }">{{color?.name}}</span>
				</div>
			</ng-template>
		</phd-column>
		<phd-column  header="Active" field="isActive" width="100px">
			<ng-template #body let-planOptionDto>
				<span>{{ planOptionDto.colorItem[0]?.isActive }}</span>
			</ng-template>
		</phd-column>
	</phd-table>
</div>
