@import "../../../../../scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.phd-preview-preview {
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 0.3rem;
	outline: 0;
	padding: 0.5em;

	.phd-preview-header {
		display: flex;
		width: 100%;
		padding-bottom: 5px;
	}

	.phd-label {
		width: 275px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 5px;
	}

	.phd-preview-fader {
		background: rgba(100, 100, 100, .4);
		box-shadow: 0 0 8px 1px rgba(100, 100, 100, .3);
		max-height: 300px;
		max-width: 300px;
		min-height: 200px;
		min-width: 200px;
		opacity: 0.1;
		transition: opacity 100ms;

		&.on {
			opacity: 1;
		}
	}

	.phd-close-preview {
		flex: 1;
		display: flex;
		justify-content: center;

		label {
			color: red;
			cursor: pointer;
		}
	}
}
