$nav-menu: 200px;
$phase-bar: 145px;
$application-menu: 250px;

$button-bar-width: 80px;

$configuration-summary-top: 153px;

$nav-panel-body-width: 250px;
$side-panel-width: 500px;


$nav-menu-height: 50px;
$page-header-height: 64px;
$attribute-page-header-height: 180px;
$attribute-action-bar-height: 58px;
$side-panel-header-height: 48px;
$side-panel-action-bar-height: 175px;
