@import "../../../../../scss/sizes.scss";
@import "../../../../../scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

:host {
	position: absolute;
	left: $phase-bar;
	width: calc(100% - #{$phase-bar});
	height: 100%;
}

.phd-floor-plan-experience {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.phd-favorite-icon {
	color: $pantone_blue;
	margin-left: auto;
	cursor: default;
}

.phd-non-favorite-price {
	margin-right: 16px;
}

::ng-deep .phd-tree-filter {
	width: 400px;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}

.phd-error-msg-body {
	display: flex;
	justify-content: center;
	height: calc(100% - #{$action-bar});
	align-items: center;
}

.phd-floor-plan-body {
	display: flex;
	margin-top: 50px;
	margin-bottom: 80px;
	margin-left: 1em;
	overflow: auto;
}

.phd-hide {
	display:none !important;
}

.phd-ifp-right {
	float: right;
}

.phd-ifp-choice-disabled {
	float: right;
	clear: both;
}

#choices {
    padding-right: 10px;
}

@media (min-height: 900px) {
	.floor-plan-body {
		max-height: 800px;
	}
}

@media (min-height: 800px) {
	.floor-plan-body {
		max-height: 700px;
	}
}

@media (max-height: 799px) {
	.floor-plan-body {
		max-height: 500px;
	}
}

#select-floor {
	width: 100%;
}

#av-floor-plan {
	height: 600px;
	width: 500px;
}

#floorplan-col {
	padding-left: 20px;
	overflow:auto;
}

.switch.disabled > .slider {
	background-color: #e5e5e5;
}

#floor-label::before {
	content: 'Floor: ';
	font-weight: bold;
}

#phd-scroll-choices {
	overflow: auto;
}

/*FLOORPLAN SIDEBAR*/
/*Replacing the switch buttons with Material's UI checkbox buttons*/
aside {
	margin-right: 3%;
	overflow-x: hidden;
	overflow-y: auto;

	.point-disabled {
		color: #0b8bb3;
		font-size: 13px;
		display: block;
		float: none;
	}

	ul {
		list-style: none;
		margin: 0;
		max-width: 400px;
		min-width: 210px;
		padding: 0;

		> li {
			margin-bottom: 1.5em;

			header {
				h4 {
					font-size: 0.9em;
					font-weight: bold;
					margin-bottom: 0;
					text-transform: uppercase;
				}

				div {
					padding: 0;
					line-height: .75;
					margin-bottom: .5em;
					font-size: 10px;
				}
			}
		}

		ul {
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			list-style: none;
			margin-top: .15em;

			> li {
				align-items: center;
				border-bottom: 1px solid #ccc;
				display: flex;
				font-size: 14px;
				justify-content: center;
				margin: -1px 0 0;
				padding: .5em 0;
				position: relative;
				z-index: 1;

				.phd-btn-text {
					border-bottom: 1px dotted #ccc;
					cursor: pointer;
					text-decoration: none;

					&:hover {
						border-bottom: 1px solid #999;
					}
				}


				.phd-next-line {
					clear: both;
				}

				.phd-circles {
					display: flex;
					justify-content: flex-start;

					.phd-circle-one {
						color: $squash;
					}

					.phd-circle-two {
						color: $weird-green;
					}

					.phd-circle-three {
						color: $twilight-blue;
					}
				}

				&.disabled {
					cursor: pointer;
					opacity: .5;

					label {
						cursor: default;
					}

					.phd-icon {
						border-color: #ccc;
						color: #ccc;
					}

					.phd-disabled-link {
						cursor: pointer;
						font-size: 10px;
						white-space: nowrap;
					}
				}

				.phd-icon-checkbox {
					align-items: center;
					background: #aaa;
					border-radius: 50%;
					height: 18px;
					justify-content: center;
					margin-right: 1em;
					overflow: hidden;
					width: 18px;
					z-index: 900;

					span {
						background: #fff;
						border: 1px solid #aaa;
						border-radius: 50%;
						color: #343434;
						display: block;
						height: 16px;
						margin-left: 1px;
						margin-top: 1px;
						width: 16px;

						&.phd-on {
							background: #aaa;
							border: 1px solid #fff;
						}
					}
				}

				input {
					height: 10px;
					left: 3px;
					margin: -5px 0 0 0;
					outline: 0 !important;
					position: absolute;
					top: 50%;
					width: 10px;
					z-index: 1;
				}

				label {
					border: none;
					border-radius: 0;
					color: #333;
					cursor: pointer;
					display: flex;
					font-size: 13px;
					margin: 0;
					padding: 0;
					z-index: 2;

					div {
						flex: 1 1 auto;
						padding-right: 1em;
						text-overflow: ellipsis;
						white-space: normal;
					}
				}

				> label {
					width: 100%;

					> :last-child {
						flex-shrink: 1;
					}
				}
			}
		}
	}
}

	
@media (max-width: $tablet-max-width) {

	:host {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		justify-content: left;		
	}

	#av-floor-plan {
		width: 150%;
		height: 100%;
	}

	#select-floor {
		width:150%;
	}

	#choices {
		height: 100%;
		padding: 5px 5px 5px 5px;
	}

	#phd-scroll-choices {
		border: 1px solid rgba(91, 93, 94, 0.1);
		margin: 0px 0px $action-bar 0px;
	}

	#phd-scroll-choices::after {
		content: "";
		border-color: black transparent;
		border-style: solid;
		border-width: 15px 15px 0px 15px;
		height: 0px;
		width: 0px;
		position: absolute;
		left:70px;
	}
}


