@import "../../../../../../../scss/sizes.scss";

.div-row-expansion {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.hyperlinkText {
	cursor: pointer;
	color: #0078d4;
	text-decoration: underline;
}

.loadingMessage {
	margin-left: 10px;
}


::ng-deep.phd-div-opt-tabview {
	display: flex;
	
	::ng-deep.ui-tabview-nav {
		min-width: 200px;
		flex: 0;
	}

	::ng-deep.ui-tabview-panels {
		flex: 1;
	}
}

::ng-deep .div-tab-panel {
	height: 300px;
	padding: 10px 20px;
	overflow-y: scroll;
}

::ng-deep .div-button-panel {
	.action-button {
		margin: 20px;
	}
}

.option-panel {
	height: calc(100vh - #{$nav-menu-height} - #{$attribute-page-header-height} - #{$attribute-action-bar-height});
	overflow-y: auto;
}

.div-search-bar {
	margin: 5px 8px 22px 0px;
	padding: 0px;
}

.phd-img-count {
	margin-left: 0.2em;
}
