<div class="phd-table-container">
	<div class="d-flex flex-row-reverse">
		<div class="col-md-4 div-search-bar">
			<search-bar [searchFilters]="filterNames" [selectedSearchFilter]="selectedSearchFilter"
						(onClearFilter)="clearFilter()" (onKeywordSearch)="keywordSearch($event)"></search-bar>
		</div>
	</div>
	<div class="d-flex flex-row mx-2">
		<ng-container *ngIf="tableMessage.length <= 0">
			<div class="option-panel" infiniteScroll [infiniteScrollThrottle]="settings.infiniteScrollThrottle" (scrolled)="onPanelScroll()" [scrollWindow]="false">
				<phd-table id="divisionalOptionsPanel" [value]="filteredOptions" selectionMode="single" [(selection)]="selectedOption" dataKey="financialOptionIntegrationKey" tableId="divisionalOptions" [displayTooltip]="false">
					<ng-template #rowExpansion let-option let-columns="columns">
						<tr>
							<td [attr.colspan]="columns.length">
								<div class="div-row-expansion">
									<phd-tabView orientation="left" styleClass="phd-div-opt-tabview" (onTabClick)="onTabChange($event)">
										<phd-tabPanel header="Attribute Groups" [data]="option.attributeGroups$">
											<ng-template let-groups>
												<expansion-attribute-groups-tab-panel [option]="option"
												                                      [groups]="groups"
																					  [isReadOnly]="isReadOnly"
												                                      (onAssociate)="associateAttributeGroups($event)"
												                                      (onDisassociate)="performChangeDetection()"
												                                      (onAssociateToCommunities)="associateAttributeGroupsToCommunities($event)">
												</expansion-attribute-groups-tab-panel>
											</ng-template>
										</phd-tabPanel>

										<phd-tabPanel header="Location Groups" [data]="option.locationGroups$">
											<ng-template let-groups>
												<expansion-location-groups-tab-panel [option]="option"
												                                     [groups]="groups"
												                                     [isReadOnly]="isReadOnly"
												                                     (onAssociate)="associateLocationGroups($event)"
												                                     (onDisassociate)="disassociateLocationGroups($event)"
																					 (onAssociateToCommunities)="associateLocationGroupsToCommunities($event)">
												</expansion-location-groups-tab-panel>
											</ng-template>
										</phd-tabPanel>

										<phd-tabPanel header="Communities" [data]="option.communities$" *ngIf="option.hasAttributeLocationAssoc">
											<ng-template let-communities>
												<expansion-associate-communities-tab-panel [option]="option"
												                                           [communities]="communities"
												                                           [isReadOnly]="isReadOnly"
												                                           (onDataChange)="performChangeDetection()">
												</expansion-associate-communities-tab-panel>
											</ng-template>
										</phd-tabPanel>
									</phd-tabView>
								</div>
							</td>
						</tr>
					</ng-template>
					<phd-column columnId="details" width="50px">
						<ng-template #body let-option let-expanded="expanded">
							<i class="fa fa-fw phd-clickable" [ngClass]="expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'" [phdRowToggler]="option" title="Click to associate attribute groups to option"></i>
						</ng-template>
					</phd-column>
					<phd-column columnId="images" width="60px">
						<ng-template let-option pTemplate #body>
							<i class="fa fa-fw fa-image fa-sm phd-clickable-inline" *ngIf="option.hasImages" (click)="editOption($event, option, 'images');">
								<span>{{option.imageCount}}</span>
							</i>
						</ng-template>
					</phd-column>
					<phd-column header="Lawson Number">
						<ng-template let-option pTemplate #body>
							<span class="hyperlinkText" (click)="editOption($event, option);">{{ option.financialOptionIntegrationKey }}</span>
						</ng-template>
					</phd-column>
					<phd-column width="50px">
						<ng-template let-option #body>
							<i *ngIf="option.hasAttributeLocationAssoc" class="fa fa-magic" title="Attributes"></i>
						</ng-template>
					</phd-column>
					<phd-column field="optionSalesName" header="Option Name"></phd-column>
					<phd-column field="category" header="Category"></phd-column>
					<phd-column field="subCategory" header="Subcategory"></phd-column>
				</phd-table>
			</div>
		</ng-container>
	</div>
</div>
