<option-side-panel *ngIf="selectedOption"
				   [currentTab]="currentTab"
				   [option]="selectedOption"
				   [options]="currentTreeOptions"
				   [isReadOnly]="isReadOnly"
				   [canEdit]="canEdit"
				   [sidePanelOpen]="selectedOption"
				   [isSaving]="optionDetailsSaving"
				   [currentTree]="currentTree"
				   (sidePanelClose)="onOptionSidePanelClose()"
				   (isBaseHouseChange)="onIsBaseHouseChange($event)"
				   (hasChanges)="onHasChanges($event)"
				   (updateTreeChoiceOptionRules)="onUpdateTreeChoiceOptionRules($event)"
				   [selectedMarket]="selectedMarket$ | async">
</option-side-panel>
<messages-side-panel *ngIf="showMessages"
					 [tabsTemplate]="tabs"
					 [sidePanelOpen]="showMessages"
					 (sidePanelClose)="onMessagesSidePanelClose()">
	<ng-template #tabs>
		<ngb-tabset justify="fill" [activeId]="currentTab">
			<ngb-tab [title]="'Inactive - ' + inactiveOptions.length.toString()" id="inactiveoptions">
				<ng-template ngbTabContent>
					<div class="container pt-3">
						<div class="list-group">
							<ng-container *ngFor="let option of inactiveOptions">
								<div class="list-group-item phd-msg-list-group-item" (click)="onMessageItemClick(option)">
									<span>{{option.optionHeaderName}}</span>
								</div>
							</ng-container>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab [title]="'Unassigned - ' + unassignedOptions.length.toString()" id="unassignedoptions">
				<ng-template ngbTabContent>
					<div class="container pt-3">
						<div class="list-group">
							<ng-container *ngFor="let option of unassignedOptions">
								<div class="list-group-item phd-msg-list-group-item" (click)="onMessageItemClick(option)">
									<span>{{option.optionHeaderName}}</span>
								</div>
							</ng-container>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</ng-template>
</messages-side-panel>

<div class="page-container" [class.phd-side-panel-open]="selectedOption || showMessages">
	<message-bar *ngIf="unassignedOptions.length > 0 || inactiveOptions.length > 0"
				 [messages]="optionMessages"
				 alertClass="alert-warning"
				 messageType="options"
				 (messageClick)="onMessageClick($event)">
	</message-bar>

	<page-header mainTitle="Options" [mainTitleAddon]="titleAddon">
		<ng-template>
			<phd-action-buttons *ngIf="!lockedFromChanges && treeVersion | async">
				<phd-action-buttons-item title="Preview in Design Tool" (onButtonClicked)="onPreviewTreeClicked()">
					<ng-template>
						<i class="fa fa-search-plus fa-fw fa-2x"></i>
					</ng-template>
				</phd-action-buttons-item>
				<phd-action-buttons-item title="Go To Tree" [routerLink]="treeRouteLink">
					<ng-template>
						<i class="fa fa-tree fa-fw fa-2x"></i>
					</ng-template>
				</phd-action-buttons-item>
			</phd-action-buttons>
		</ng-template>
	</page-header>

	<div class="page-body">
		<tree-options-container [loadingData]="loading | async" [marketCommunityPlanBreadcrumb]="marketCommunityPlanBreadcrumb" (optionSelected)="onOptionSelected($event)"></tree-options-container>
	</div>

	<p-toast></p-toast>
</div>
