<div class="modal-header">
	<span class="modal-title">Sales Consultant</span>

	<button type="button" class="close" aria-label="Close" (click)="closeClicked()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<form [formGroup]="consultantForm">
		<div class="d-flex justify-content-center">
			<table class="table-sm phd-consultant-table" style="width:auto;">
				<thead>
					<tr>
						<th colspan="2"></th>
						<th>Volume</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let consultantGroup of contactsArray.controls; let i = index">
						<tr [formGroup]="consultantGroup">
							<td class="phd-label-col">
								<span>{{ getLabel(i) }} Sales Consultant</span>
							</td>

							<td class="phd-consultant-auto">
								<p-autoComplete [suggestions]="consultantSearchResultsList" (completeMethod)="findContact($event, i)" formControlName="contact" field="fullName" minLength="3" inputStyleClass="form-control" forceSelection="true" [controlDisabled]="!canEdit">
									<ng-template let-results pTemplate="item">
										<div class="ui-helper-clearfix">
											<div>{{results.lastName}}, {{results.firstName}}</div>
										</div>
									</ng-template>
								</p-autoComplete>

								<div class="phd-spinner-container" *ngIf="isSearching === i">
									<i class="fas fa-spinner fa-spin fa-fw phd-spinner-position"></i>
								</div>
							</td>

							<td>
								<input type="number" class="form-control phd-commission" formControlName="commission" min="0.00" max="1" step="0.01" [controlDisabled]="!canEdit" />
							</td>

							<td *ngIf="consultantForm.get('contacts')['controls'].length > 1 && canEdit">
								<button class="btn btn-primary" (click)="removeConsultant(i);" *ngIf="i > 0" title="Remove Sales Consultant"><i class="fa fa-trash"></i></button>
							</td>
						</tr>
					</ng-container>
				</tbody>
				<tfoot *ngIf="showVolumeTotalMsg">
					<tr>
						<td colspan="4" class="text-danger text-center">Total volume must add up to 1</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</form>
</div>

<div class="modal-footer">
	<div>
		<button class="btn btn-primary" (click)="addConsultant();" *ngIf="showPlus && canEdit"><i class="fa fa-plus"></i> Add Consultant</button>
	</div>
	<div>
		<button class="btn btn-primary phd-btn-save" (click)="save();" [disabled]="disableButtons" *ngIf="canEdit">
			Save

			<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving"></i>
		</button>

		<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
	</div>
</div>
