.phd-summary-attribute-group {
	font-size: 11px;
	background-color: #55555510;

	li {
		margin-bottom: 16px;
	}

	li:last-child {
		margin-bottom: 0;
	}
}

.phd-label {
	font-weight: bold;
}

.phd-location-group {
	line-height: 13px;
}