<div class="detail-container d-flex flex-column justify-content-start m-auto position-relative">
	<div class="header">
		<span *ngIf="isBuyer()">
			{{isPrimaryBuyer ? 'primary buyer' : 'co-buyer'}}:
		</span>
		<span *ngIf="isRealtor()">
			Real Estate Agent:
		</span>
		<span *ngIf="isTrust()">
			Trust:
		</span>
	</div>
	<form [formGroup]="buyerForm ? buyerForm : trustForm" (ngSubmit)="save()">
		<div class="name-input-group" *ngIf="isTrust()">
			<div class="d-flex flex-column">
				<div class="phd-form-label">
					Trust Name: *
				</div>
				<div class="flex-fill">
					<input class="form-control form-group" type="text" maxlength="250" name="trust" id="trust" formControlName="trust" required>
				</div>
			</div>
		</div>

		<ng-container *ngIf="!isTrust()">
			<div class="name-input-group mb-2" *ngIf="isRealtor()">
				<div class="d-flex flex-column">
					<div class="phd-form-label">
						Broker Company: *
					</div>
					<div class="flex-fill">
						<input class="form-control form-group" type="text" maxlength="50" name="brokerName" id="broker-name" formControlName="brokerName">
					</div>
				</div>
			</div>
			<div class="name-input-group d-flex justify-content-between flex-wrap">
				<div class="d-flex flex-column">
					<div class="phd-form-label">
						Title:
					</div>
					<div class="flex-fill">
						<select class="form-control form-group" name="prefix" id="prefix" formControlName="prefix" [attr.disabled]="disabledInputs ? '' : null">
							<option [ngValue]="'Ms.'"> Ms. </option>
							<option [ngValue]="'Miss'"> Miss </option>
							<option [ngValue]="'Mrs.'"> Mrs. </option>
							<option [ngValue]="'Mr.'"> Mr. </option>
							<option [ngValue]="'Dr.'"> Dr. </option>
							<option [ngValue]="'Prof.'">Prof.</option>
						</select>
					</div>
				</div>
				<div class="d-flex flex-column">
					<div class="phd-form-label">
						First Name: *
					</div>
					<div class="flex-fill">
						<input class="form-control form-group" type="text" maxlength="50" name="firstName" id="first-name" formControlName="firstName">
					</div>
				</div>
				<div class="d-flex flex-column">
					<div class="phd-form-label">
						Middle Name:
					</div>
					<div class="flex-fill">
						<input class="form-control form-group" type="text" maxlength="50" name="middleName" id="middle-name" formControlName="middleName">
					</div>
				</div>
				<div class="d-flex flex-column">
					<div class="phd-form-label">
						Last Name: *
					</div>
					<div class="flex-fill">
						<input class="form-control form-group" type="text" maxlength="50" name="lastName" id="last-name" formControlName="lastName">
					</div>
				</div>
				<div class="d-flex flex-column">
					<div class="phd-form-label">
						Suffix:
					</div>
					<div class="flex-fill">
						<select class="form-control form-group" name="suffix" formControlName="suffix" id="suffix">
							<option [ngValue]="'Jr.'"> Jr. </option>
							<option [ngValue]="'Sr.'"> Sr. </option>
							<option [ngValue]="'I'"> I </option>
							<option [ngValue]="'II'"> II </option>
							<option [ngValue]="'III'"> III </option>
						</select>
					</div>
				</div>
			</div>
			<div class="d-flex flex-wrap phd-array-group mt-2 mb-2" formArrayName="addresses">
				<ng-container *ngFor="let address of buyerForm.controls.addresses['controls']; let i=index">
					<!-- only show the first address -->
					<div class="d-flex flex-column flex-fill p-2" *ngIf="i === 0">
						<ng-container [formGroupName]="i">
							<div style="max-width: 300px;">
								<div class="float-left phd-form-label">
									Address 1: {{isPrimaryBuyer ? '*' : ''}}
								</div>
								<div class="float-right" *ngIf="isBuyer() && !isPrimaryBuyer">
									<a class="btn m-0 p-0" (click)="copyPrimaryBuyerAddress()">Copy Primary Buyer Address</a>
								</div>
							</div>
							<div>
								<input class="form-control form-group" type="text" maxlength="50" formControlName="address1" [readonly]="disabledInputs">
							</div>
							<div class="phd-form-label">
								Address 2:
							</div>
							<div>
								<input class="form-control form-group" type="text" maxlength="50" formControlName="address2" [readonly]="disabledInputs">
							</div>
							<div class="d-flex flex-fill">
								<div class="d-flex flex-column flex-fill pr-1">
									<div class="phd-form-label">
										City: {{isPrimaryBuyer ? '*' : ''}}
									</div>
									<div>
										<input class="form-control form-group" type="text" maxlength="80" formControlName="city" [readonly]="disabledInputs">
									</div>
								</div>
								<div class="d-flex flex-column flex-fill pr-1">
									<div class="phd-form-label">
										State / Province: {{isPrimaryBuyer ? '*' : ''}}
									</div>
									<div>
										<input class="form-control form-group" type="text" maxlength="50" formControlName="stateProvince" [readonly]="disabledInputs">
									</div>
								</div>
								<div class="d-flex flex-column flex-fill pr-1">
									<div class="phd-form-label">
										Zip Code: {{isPrimaryBuyer ? '*' : ''}}
									</div>
									<div>
										<input class="form-control form-group" type="text" maxlength="20" formControlName="postalCode" [readonly]="disabledInputs">
									</div>
								</div>
								<div class="d-flex flex-column flex-fill">
									<div class="phd-form-label">
										Country: {{isPrimaryBuyer ? '*' : ''}}
									</div>
									<div>
										<input class="form-control form-group" type="text" maxlength="80" formControlName="country" [readonly]="disabledInputs">
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</ng-container>
			</div>
			<div class="d-flex flex-column phd-array-group mb-2">
				<div class="d-flex flex-wrap justify-content-between" formArrayName="emails">
					<ng-container *ngFor="let email of buyerForm.controls.emails['controls']; let n=index">
						<!-- only show the first 2 email addresses -->
						<div class="d-flex flex-column p-2" [class.flex-grow-1]="n === 0" *ngIf="n < 2">
							<ng-container [formGroupName]="n">
								<div class="phd-form-label">
									{{n === 0 ? 'Primary E-Mail: *' : 'Secondary E-Mail:'}}
								</div>
								<div class="flex-fill">
									<input class="form-control form-group phd-email-input" maxlength="100" formControlName="emailAddress" [readonly]="disabledInputs">
								</div>
							</ng-container>
						</div>
					</ng-container>
				</div>
				<div class="phd-error-message">
					<span class="validation-error" *ngIf="buyerForm.hasError('duplicateEmails')">
						Duplicate email addresses.
					</span>
				</div>
			</div>
			<div class="d-flex flex-column phd-array-group mb-2">
				<div class="d-flex flex-wrap justify-content-between" formArrayName="phones">
					<ng-container *ngFor="let phone of buyerForm.controls.phones['controls']; let x=index">
						<!-- only show the first 2 phone numbers -->
						<div class="d-flex p-2" [class.flex-grow-1]="x === 0" *ngIf="x < 2">
							<ng-container [formGroupName]="x">
								<div class="d-flex flex-column pr-1">
									<div class="phd-form-label">
										{{x === 0 ? 'Primary Phone Number: *' : 'Secondary Phone Number:'}}
									</div>
									<div class="flex-fill">
										<input class="form-control form-group phd-phone-number-input" type="text" maxlength="15" formControlName="phoneNumber" phone-number-directive [readonly]="disabledInputs">
									</div>
								</div>
								<div class="d-flex flex-column pr-1">
									<div class="phd-form-label">
										Extension:
									</div>
									<div class="flex-fill">
										<input class="form-control form-group phd-phone-ext-input" type="text" maxlength="6" formControlName="phoneExt" [readonly]="disabledInputs">
									</div>
								</div>
								<div class="d-flex flex-column">
									<div class="phd-form-label">
										Type: {{x === 0 || (x == 1 && isRequiredSecondaryPhoneType) ? '*' : ''}}
									</div>
									<div class="flex-fill">
										<select class="form-control form-group" name="phoneType" formControlName="phoneType" id="phoneType" [attr.disabled]="disabledInputs ? '' : null">
											<option [ngValue]="'Mobile'"> Mobile </option>
											<option [ngValue]="'Business'"> Business </option>
											<option [ngValue]="'Home'"> Home </option>
											<option [ngValue]="'Fax'"> Fax </option>
										</select>
									</div>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</div>
				<div class="phd-error-message">
					<span class="validation-error" *ngIf="buyerForm.hasError('duplicatePhones')">
						Duplicate phone numbers.
					</span>
				</div>
			</div>
		</ng-container>

		<div class="mt-3 d-flex align-items-center justify-content-center">
			<button type="button" class="btn phd-experience-btn-choice secondary" (click)="cancel()">cancel</button>
			<button type="submit" class="btn phd-experience-btn-choice" [disabled]="formIsInvalid">save</button>
		</div>
	</form>
</div>
