<divisional-attribute-template>
	<ng-template #panel>
		<div-choices-panel (onAssociateAttributeGroups)="onAssociateAttributeGroups($event)"
						   (onAssociateLocationGroups)="onAssociateLocationGroups($event)"
						   (onAssociateAttributeGroupsToCommunities)="onAssociateAttributeGroupsToCommunities($event)"
						   (onAssociateLocationGroupsToCommunities)="onAssociateLocationGroupsToCommunities($event)"
						   (onAssociateImagesToCommunities)="onAssociateImagesToCommunities($event)">
		</div-choices-panel>
	</ng-template>

	<ng-template #sidePanel>
		<add-attribute-groups-side-panel *ngIf="attrGroupSidePanelOpen"
										 [sidePanelOpen]="attrGroupSidePanelOpen"
										 [choice]="choice"
										 [callback]="callback"
										 [associatedGroups$]="associatedAttributeGroups$"
										 (onSidePanelClose)="onAttrGroupSidePanelClose($event)">
		</add-attribute-groups-side-panel>
		<associate-communities-side-panel *ngIf="associateCommunitySidePanelOpen"
										  [sidePanelOpen]="associateCommunitySidePanelOpen"
										  [choice]="choice"
										  [callback]="associateCommunityCallback"
										  [groups]="selectedGroups"
										  [images]="selectedImages"
										  [communityImages]="communityImages"
										  [communityGroups]="communityGroups"
										  [marketId]="selectedMarketId"
										  (onSidePanelClose)="onAssociateCommunitySidePanelClose($event)">
		</associate-communities-side-panel>
	</ng-template>

</divisional-attribute-template>

<p-toast></p-toast>
