<ul class="list-unstyled">
	<ng-container *ngFor="let point of points">
		<li *ngIf="displayPoint(point)" class="d-flex align-items-top justify-content-start" [@slideOut]>
			<div class="decision-point">
				<div class="label" title="{{point.label}}">
					<div class="icon">
						<i class="fa fa-check" *ngIf="isPointComplete(point)"></i>
					</div>
					<div [attr.id]="'decision-bar-' + point.id">
						{{point.label}}
						<div class="sub-title">{{getSubTitle(point)}}</div>
					</div>
				</div>
				<ng-container *ngFor="let choice of point.choices">
					<decision-bar-choice *ngIf="!choice.isHiddenFromBuyerView"
						[choice]="getChoiceExt(choice, point)"
						[point]="point"
						[groups]="groups"
						[tree]="tree"
            			[isReadonly]="isReadonly"
						(onToggleChoice)="toggleChoice($event)"
						(onViewChoiceDetail)="viewChoiceDetail($event)"
						(onSelectDecisionPoint)="selectDecisionPoint($event)">
					</decision-bar-choice>
				</ng-container>
				<decision-bar-decline-choice *ngIf="showDeclineChoice(point)"
							[point]="point"
							[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
							[tree]="tree"
              				[isReadonly]="isReadonly"
							(onDeclineDecisionPoint)="declineDecisionPoint($event)"
							(onSelectDecisionPoint)="selectDecisionPoint($event)">
				</decision-bar-decline-choice>
			</div>
		</li>
	</ng-container>
</ul>
