@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/animations.scss";
@import "../../../../../scss/sizes.scss";

:host {
	height: 100%;
	overflow-y: hidden;
}

.phd-lot-card {
	background: #ffffff;

	&.active {
		box-shadow: 0 0 5px rgba(81, 203, 238, 1) inset;
		transition: all 0.25s;
		transition-timing-function: cubic-bezier(.42, 0, 1, 1);
	}

	&.phd-monotony-conflict {
		> div:not(.phd-incompatible-plan) {
			opacity: 0.5;
		}

		.phd-incompatible-plan {
			color: red;
			font-weight: bold;
		}
	}

	> div:first-child {
		@media (max-width: 1024px) {
			width: 100%;
			text-align: center;
		}
	}

	> div:last-child {
		min-width: 105px;

		@media (max-width: 1024px) {
			width: 100%;
			text-align: center;
		}
	}

	&.phd-no-plan-assocation {
		> div:not(.phd-incompatible-plan) {
			opacity: 0.5;
		}

		.phd-incompatible-plan {
			color: red;
			font-weight: bold;
		}
	}

	.phd-lot-spec {
		color: hsl(188, 78%, 41%);
	}
}

.phd-lot-card:nth-child(even) {
	background: #e0e0e0;
}

.phd-borderless-select {
	border: none;
	background-color: transparent;
	box-shadow: none;
	color: #0d4b6b;
	cursor: pointer;

	option {
		min-height: 1em;
		line-height: 1;
	}
}

.phd-borderless-select-disabled {
	border: none;
	background-color: transparent;
	box-shadow: none;
	color: #4A4A4A;
	cursor: text;
}

.phd-lot-button {
	background-color: #073e59;
	cursor: pointer;

	&:hover {
		background-color: #1a5e80;
		color: #fff;
	}
}

.phd-lots {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.phd-lots-body {
	flex: 1;
	overflow: auto;
	margin-bottom: 100px;
}
