$bluish: #297fca;
$brand-danger: #d9534f;
$dark_grey: #333333;
$dark-grey: #a9a9a9;
$darkish-pink: #dc5767;
$darkish-pink-hover: #ad3543;
$dodger-blue: #3fa2f7;
$lightest-grey: #eeeeee;
$lighter-grey: #e8e8e8;
$light-grey: #d3d3d3;
$light-indigo: #6851c9;
$link-blue: #2181B3;
$marine: #073e59;
$mask: #aaaaaa;
$medium-pink: #f5508c;
$nav_bar_floormap: #f5f4f4;
$pale-blue: #e4f1fd;
$selection_flooring: rgba(72, 165, 241, 0.1);
$squash: #f5a623;
$squash-hover: #f29125;
$turquoise-blue: #0b8bb3;
$twilight-blue: #0d4b6b;
$weird-green: #50e3c2;
$weird-green-hover: #39caa9;
$white: #ffffff;
