$nav-menu: 200px;
$phase-bar: 145px;
$application-menu: 250px;
$action-bar: 80px;
$choice-card-width: 269px;
$choice-card-radius: .25rem;
$tablet-max-width: 1024px;
$responsive-menu-height: 65px;
$nav-menu-height: 60px;
