.phd-close {
	cursor: pointer;
	padding: 5px 5px 0px 0px;
}

.phd-blocked-title {
	padding: 2px 0px 10px 20px;
	font-weight: 600;
}

.phd-blocked-list {
	width: 300px;
	margin-left: 40px;
	padding-top: 12px;

	li {
		margin-bottom: 1rem;
	}
}

.phd-blocked-choice-link {
  	text-decoration: underline;
}

.phd-hidden-choice {
	cursor: default;
	font-weight: bold;
	text-decoration: none !important;
}
