<phd-side-panel-component [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseSidePanel($event)" [isDirty]="isDirty">
	<ng-template #header>
		<h4 class="phd-side-panel-title"><strong>Schedule Release Date</strong></h4>
	</ng-template>

	<ng-template #body>
		<div class="container pt-3">
			<form [formGroup]="releaseForm">
				<div class="form-group">
					<label for="release_date">Scheduled Date</label>
					<div class="input-group">
						<p-calendar formControlName="dateValue" dateFormat="mm/dd/yy" readonlyInput="true" [minDate]="minDate" showIcon="true" required="true"></p-calendar>
					</div>
				</div>

				<div class="form-group">
					<label for="release_desc">Description</label>
					<input type="text" class="form-control" id="release_desc" formControlName="description" maxlength="{{descMaxLength}}">
				</div>

				<div class="form-group">
					<label for="release_rank">Release Rank</label>
					<select id="release_rank" class="form-control" formControlName="releaseRank">
						<option value="">None</option>
						<option value="1">1=Best</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>

				<div class="form-group">
					<label>Choose Homesite(s)</label>
					<div class="phd-item-multiselect">
						<div class="form-group">
							<div class="phd-item-multiselect-results">
								<span *ngIf="unSelectedItems.length === 0">No items found</span>

								<select id="phd-select-lots" *ngIf="unSelectedItems.length !== 0" formControlName="pendingSelection" [class.phd-tags-1row]="selectedItems.length <= 4" [class.phd-tags-2row]="selectedItems.length > 4 && selectedItems.length <= 8" [class.phd-tags-3row]="selectedItems.length > 8 && selectedItems.length <= 12" [class.phd-tags-4row]="selectedItems.length > 12" multiple size="9">
									<option *ngFor="let item of unSelectedItems" [ngValue]="item">{{ item.label }}<span *ngIf="item.isModel">*</span></option>
								</select>
							</div>
							<div class="phd-bold">* Model</div>

							<div class="text-center phd-buttons-row">
								<button class="btn btn-sm btn-secondary mr-1" (click)="addSelectedItems();"><i class="fa fa-angle-down fa-fw"></i></button>
								<button class="btn btn-sm btn-secondary mr-1" (click)="addAllItems();"><i class="fa fa-angle-double-down fa-fw"></i></button>
								<button class="btn btn-sm btn-secondary" (click)="removeAllItems();"><i class="fa fa-angle-double-up fa-fw"></i></button>
							</div>

							<div class="form-group">
								<div id="selectedItemsTags" class="phd-tagsinput" [class.phd-tags-4row]="selectedItems.length > 16" *ngIf="selectedItems.length > 0">
									<div class="phd-tag" *ngFor="let tag of selectedItems">
										<span>{{ tag.label }}</span>

										<a class="phd-tagsinput-remove-link" (click)="removeItem(tag);"></a>
									</div>
								</div>

								<div id="noSelectedItemsTags" class="phd-tagsinput" *ngIf="selectedItems.length === 0" [class.ng-invalid]="releaseForm.get('selectedLots').invalid">
									<div class="phd-tag">
										<span>No Homesites Selected</span>
									</div>
								</div>

								<input type="hidden" id="selectedLots" name="selectedLots" formControlName="selectedLots" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save" (click)="saveRelease();" [disabled]="canSave">
				Save

				<ng-container *ngIf="saving">
					<i class="fa fa-spinner fa-spin fa-fw"></i>
				</ng-container>
			</button>

			<button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
		</div>
	</ng-template>
</phd-side-panel-component>
