@import "../../../../../scss/styles.scss";
@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";
.phd-count_message {
    margin-top: 10px;
    margin-left: 94px;
    font-size:0.8em ;
    color:#6c757d!important
}

.phd-add-color-button:focus {
	box-shadow: none;
}

.phd-icon-container {
	display: flex;
	justify-content: space-around;
}

i {
	width: 50px;
	text-align: center;
}

.fa {
	cursor: pointer;
}

.phd-checkbox
{
	text-align: center;
}
