@import "../../../../../scss/styles.scss";
@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";
.phd-count_message {
    margin-top: 10px;
    margin-left: 94px;
    font-size:0.8em ;
    color:#6c757d!important
  }
  .fa {
    cursor: pointer;
  }

.phd-add-color-button:focus {
    box-shadow: none;
}

::ng-deep .phd-inactive-color{
  color: hsl(0,0*1%,55*1%) !important;
	font-style: italic;
}
