@import "../../../../../scss/color-pallet.scss";
.detail-container {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border-radius: 4px;
    min-height: 45px;
    font-size: 14px;
    line-height: 1.36;
    padding: 20px;
    .header {
        font-weight: 500;
        max-height: 40px;
        height: 100%;
        padding-bottom: 15px;
        text-transform: uppercase;
        border: none;
        transition: all .3s;
    }
}