<ng-template #headerTemplate>
	Drafts Created
</ng-template>

<ng-template #buttonTemplate>
	<button class="btn btn-primary mr-3" (click)="onDownloadListClick();">Download List</button>
</ng-template>

<div class="phd-page-container">
	<div class="phd-table-collection">
		<div class="phd-mapping">
			<div class="phd-mapping-header">MAPPING:</div>

			<div class="phd-mapping-body">
				<div class="phd-mapping-item">
					<div class="phd-mapping-item-header">
						OPTION:
					</div>
					<div class="phd-mapping-item-body pl-3">
						{{selectedOptionHeader}}
					</div>
				</div>

				<div *ngIf="selectedMapping === 'AddUpdate'" class="phd-mapping-item">
					<div class="phd-mapping-item-header">
						CHOICE(S):
					</div>
					<div class="phd-mapping-item-body">
						<ul>
							<li *ngFor="let choice of selectedChoices" class="phd-bullet">
								{{choice.label}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<table class="table table-striped table-sm" *ngIf="selectedPlansCreated.length > 0">
			<thead class="thead-light">
				<tr>
					<th class="phd-col-width">NEW DRAFTS CREATED FOR:</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let plan of selectedPlansCreated; let x = index">
					<td class="phd-col-width phd-bullet">{{ plan.financialCommunityName }} - {{ plan.financialCommunityNumber }}: <strong>{{ plan.planSalesName }}</strong></td>
				</tr>
			</tbody>
		</table>

		<table class="table table-striped table-sm" *ngIf="selectedPlansExisting.length > 0">
			<thead class="thead-light">
				<tr>
					<th class="phd-col-width">EXISTING DRAFTS UPDATED FOR:</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let plan of selectedPlansExisting; let x = index">
					<td class="phd-col-width phd-bullet">{{ plan.financialCommunityName }} - {{ plan.financialCommunityNumber }}: <strong>{{ plan.planSalesName }}</strong></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div>
		<div class="phd-panel">
			<div class="phd-panel-header">NEXT STEPS:</div>
			<div class="phd-panel-body">
				<ol>
					<li>
						<strong>Review open drafts to determine if:</strong>

						<ul class="phd-list-bullet phd-list-inline">
							<li>Rule changes are necessary</li>
							<li>Sort orders need to be adjusted</li>
							<li>Further option mapping is needed</li>
						</ul>
					</li>
					<li>
						<strong>If further mapping is required:</strong>

						<ul class="phd-list-bullet phd-list-inline">
							<li>Navigate to your trees to complete the mapping</li>
						</ul>
					</li>
					<li><strong>When all changes are complete, publish the drafts</strong></li>
				</ol>
			</div>
		</div>
	</div>

</div>
