<nav id="nav-bar">
	<div class="phd-group-menu-header d-flex align-items-center justify-content-around">
		<div class="w-100">
			<img class="phd-logo" src="assets/Pulte_Homes_White.png" alt="Pulte Homes" (click)="logout()">
		</div>

		<ng-container *ngIf="(isTablet$ | async)">
			<ng-container *ngTemplateOutlet="configInfo"></ng-container>
			<ng-container *ngTemplateOutlet="responsiveNavMenu"></ng-container>
		</ng-container>
	</div>


	<ng-container *ngIf="!(isTablet$ | async)">
		<ng-container *ngTemplateOutlet="configInfo"></ng-container>
		<ng-container *ngTemplateOutlet="navMenu"></ng-container>
	</ng-container>
</nav>

<ng-template #responsiveNavMenu>
	<div [ngClass]="invertHamburgerMenuColor ? 'responsive-menu-two' : 'responsive-menu-one'">
		<div [ngClass]="invertHamburgerMenuColor ? 'menu-button-two' : 'menu-button-one'"></div>
		<div [ngClass]="invertHamburgerMenuColor ? 'menu-button-two' : 'menu-button-one'"></div>
		<div [ngClass]="invertHamburgerMenuColor ? 'menu-button-two' : 'menu-button-one'"></div>
		<ng-container *ngTemplateOutlet="navMenu"></ng-container>
	</div>
</ng-template>

<ng-template #configInfo>
	<ul class="list-unstyled">
		<li>
			<div class="phd-summary text-uppercase" *ngIf="!isPreview">
				<p>
					Customer:
					<br>
					<strong>{{ (opportunityName | async) || 'loading...'}}</strong>
				</p>
			</div>
			<div class="phd-summary text-uppercase" *ngIf="selectedCommunity && !isPreview">
				<p>
					Community, Plan, Lot:
					<strong><br>{{ selectedCommunity }}, {{ selectedPlan }}, {{ selectedLot }}</strong>
				</p>
			</div>
			<div class="phd-summary text-uppercase"
				 *ngIf="scenarioName && scenarioName !== 'spec' && scenarioName !== 'model' && !salesAgreementNumber">
				<p>
					Configuration Name:
					<br>
					<strong>{{ scenarioName }}</strong>
				</p>
			</div>
			<div class="phd-summary text-uppercase" *ngIf="isPreview">
				<p>
					Community, Plan:
					<strong><br>{{ selectedCommunity }}, {{ selectedPlan }}</strong>
				</p>
			</div>
			<div class="phd-summary text-uppercase" *ngIf="salesAgreementNumber">
				<p>
					Agreement Number:
					<br>
					<a [routerLink]="['/point-of-sale/agreement']" class="phd-summary-link"><strong>{{ salesAgreementNumber }}</strong></a>
				</p>
			</div>
			<div class="phd-summary text-uppercase" *ngIf="salesAgreementStatus">
				<p>
					Agreement Status:
					<br>
					<strong>
						<ng-container *ngIf="!isLockedIn">{{salesAgreementStatus | capitalCaseSpace}}</ng-container>
						<ng-container *ngIf="isLockedIn">READY TO CLOSE</ng-container>
					</strong>
				</p>
			</div>
			<hr>
		</li>
	</ul>
</ng-template>


<ng-template #navMenu>
	<phd-nav-menu class="menu">
		<phd-nav-menu-item *ngIf="!salesAgreementNumber" label="New Home" (click)="newHomeNavPath()"
						   [isActive]="currentRoute?.startsWith('/new-home')" [showStatusIndicator]="true"
						   [status]="newHomeStatus"
						   [disabled]="isPreview"
						   [ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null"></phd-nav-menu-item>
		<phd-nav-menu-item *ngIf="displayChangeOrderMenuItem" (click)="onChangeOrderMenuItem()"
						   [isActive]="displayChangeOrderMenuItem && currentRoute?.startsWith('/change-orders/')"
						   [ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null">
			<ng-template>
				<span>{{getChangeOrderMenuItemLabel()}}</span>
			</ng-template>
		</phd-nav-menu-item>

		<ng-container *ngIf="!(isSalesAgreementCancelledOrVoided && specCancelled) && !(isPhdLite$ | async)">
			<ng-container *ngFor="let group$ of groups">
				<ng-container *ngIf="(group$ | async) as group">
					<phd-nav-menu-item *ngIf="group.subGroups.length > 0 && displayGroupMenuItem(group)" label="{{ group.label | lowercase }}"
									   [status]="group.status" [showStatusIndicator]="showStatusIndicator$ | async"
									   (click)="navigate(['/edit-home', scenarioId], group)"
									   [isActive]="currentRoute?.startsWith('/edit-home') && selectedGroup === group.id"
									   [ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null">
					</phd-nav-menu-item>
				</ng-container>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="displayGroupMenuItem(null) && selectedPlanId && !(isSalesAgreementCancelledOrVoided && specCancelled) && (isPhdLite$ | async)">
			<phd-nav-menu-item
				label="Exterior"
				[status]="exteriorStatus"
				[showStatusIndicator]="showStatusIndicator$ | async"
				[isActive]="currentRoute?.startsWith('/lite/elevation') || currentRoute?.startsWith('/lite/color-scheme')"
				[ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null"
				(click)="onExteriorPath()">
			</phd-nav-menu-item>
			<phd-nav-menu-item
				label="Options"
				[showStatusIndicator]="false"
				[disabled]="false"
				[isActive]="currentRoute?.startsWith('/lite/options')"
				[ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null"
				(click)="onOptionsNavPath()">
			</phd-nav-menu-item>
			<phd-nav-menu-item
				label="Colors"
				[status]="PointStatus.REQUIRED"
				[showStatusIndicator]="false"
				[disabled]="false"
				[isActive]="currentRoute?.startsWith('/lite/colors')"
				[ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null"
				(click)="onColorsPath()">
			</phd-nav-menu-item>
		</ng-container>
	</phd-nav-menu>

	<hr *ngIf="!(isTablet$ | async) && !isSalesOnlyChangeOrder && (!isSalesAgreementCancelledOrVoided)">

	<phd-nav-menu class="menu">
		<phd-nav-menu-item *ngIf="job.id !== 0 && (buildMode === 'spec' || buildMode === 'model') && (!isSalesAgreementCancelledOrVoided && !specCancelled)" (click)="navigate(['/spec'])" [isActive]="currentRoute?.startsWith('/spec')"
						   [ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null">
			<ng-template>
				<span class="phd-no-transform">Spec Info On Pulte.com </span>
			</ng-template>
		</phd-nav-menu-item>

		<phd-nav-menu-item *ngIf="groups?.length > 0 && (!isSalesAgreementCancelledOrVoided && !specCancelled)" (click)="navigate(['/scenario-summary'])" [isActive]="currentRoute?.startsWith('/scenario-summary')"
						   [ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null">
			<ng-template>
				<span>Summary </span>
			</ng-template>
		</phd-nav-menu-item>

		<!-- Show Summary in PhdLite -->
		<phd-nav-menu-item *ngIf="selectedPlanId && (isPhdLite$ | async) && (!isSalesAgreementCancelledOrVoided && !specCancelled)"
			[ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null"
			[isActive]="currentRoute?.startsWith('/lite-summary')"
			(click)="navigate(['/lite-summary'])">
			<ng-template>
				<span>Summary </span>
			</ng-template>
		</phd-nav-menu-item>

		<phd-nav-menu-item (click)="changeOrderType !== 3 ? (!isPreview && buildItStatus === PointStatus.COMPLETED) && buildIt() : buildIt()"
						   *ngIf="salesAgreementStatus && salesAgreementStatus.length > 0"
						   [isActive]="currentRoute?.startsWith('/point-of-sale')" [status]="buildItStatus"
						   [showStatusIndicator]="true"
						   [disabled]="changeOrderType !== 3 ? (isPreview || buildItStatus !== PointStatus.COMPLETED) : false"
						   [isLockedIn]="isLockedIn"
						   [ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null">
			<ng-template>
				<span>Agreement Info</span>
			</ng-template>
		</phd-nav-menu-item>

		<phd-nav-menu-item (click)="navigateToPath(['/change-orders'])" [disabled]="disableChangeOrders"
						   *ngIf="job.id > 0 && (buildMode === 'spec' || buildMode === 'model' || (salesAgreementStatus && salesAgreementStatus.length > 0))"
						   [isActive]="currentRoute === '/change-orders/change-orders-summary' || currentRoute === '/change-orders'"
						   [ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null">
			<ng-template>
				<span>Change Orders</span>
			</ng-template>
		</phd-nav-menu-item>

		<ng-container *ngIf="isDesignPreviewEnabled && !(isPhdLite$ | async)">
			<phd-nav-menu-item label="Design Preview" (click)="launchPreview()" [isActive]="false"
								[ngClass]="(isTablet$ | async) && invertHamburgerMenuColor ? 'phd-menu-item-color' : null">
			</phd-nav-menu-item>
		</ng-container>
	</phd-nav-menu>
</ng-template>
