<main>
	<div class="phd-contracted-summary">
		<h1>Contracted Options</h1>

		<ul class="phd-tree-view">
			<ng-container *ngFor="let group of groups">
				<div class="phd-group" role="group" attr.aria-label="{{group.label}}" *ngIf="group.subGroups.length > 0">
					<div class="phd-label">
						<h2>{{group.label}}</h2>
					</div>
					<ul class="phd-sub-group d-flex flex-column justify-content-between" role="group" attr.aria-label="{{subGroup.label}}" *ngFor="let subGroup of group.subGroups">
						<div class="phd-header d-flex justify-content-between align-items-center">
							<h3>{{subGroup.label}}</h3>
						</div>
						<ng-container *ngFor="let dp of subGroup.points">
							<decision-point-summary *ngIf="displayPoint(dp)"
													[decisionPoint]="dp"
													[subGroup]="subGroup"
													[group]="group"
													[salesChoices]="salesChoices"
													[buildMode]="buildMode"
													[isDesignComplete]="isDesignComplete"
													[contractedOptionsPage]="true">
							</decision-point-summary>
						</ng-container>
					</ul>								
				</div>
			</ng-container>
		</ul>
	</div>
	<div class="phd-footer-bar">
		<footer-bar></footer-bar>
	</div>
</main>

<action-bar [primaryAction]="'Back'"
			[favoritesPrice]="priceBreakdown.favoritesPrice"
			[price]="priceBreakdown.totalPrice"
			[isDesignComplete]="isDesignComplete"
			[isPreview]="isPreview"
			[isPresale]="isPresale"
			[hideContractedToggle]="true"
			[isContractedPage]="true"
			(callToAction)="onBack()">
</action-bar>
