<div class="d-flex">
	<div class="phd-contracted-summary">
		<strong class="phd-contracted-title">Contracted Options</strong>

		<ul class="tree-view">
			<ng-container *ngFor="let group of groups">
				<div class="group" role="group" attr.aria-label="{{group.label}}" *ngIf="group.subGroups.length > 0">
					<div class="label">
						<span>{{group.label}}</span>
					</div>
					<ul class="sub-group d-flex flex-column justify-content-between" role="group" attr.aria-label="{{subGroup.label}}" *ngFor="let subGroup of group.subGroups">
						<div class="header d-flex justify-content-between align-items-center">
							<span>{{subGroup.label}}</span>
						</div>
						<ng-container *ngFor="let dp of subGroup.points">
							<decision-point-summary *ngIf="displayPoint(dp)"
													[decisionPoint]="dp"
													[subGroup]="subGroup"
													[group]="group"
													[salesChoices]="salesChoices"
													[buildMode]="buildMode"
													[isDesignComplete]="isDesignComplete"
													[contractedOptionsPage]="true">
							</decision-point-summary>
						</ng-container>
					</ul>								
				</div>
			</ng-container>
		</ul>
	</div>
</div>

<action-bar [primaryAction]="'Back'"
			[favoritesPrice]="priceBreakdown.favoritesPrice"
			[price]="priceBreakdown.totalPrice"
			[isDesignComplete]="isDesignComplete"
			[isPreview]="isPreview"
			[isPresale]="isPresale"
			[hideContractedToggle]="true"
			[isContractedPage]="true"
			(callToAction)="onBack()">
</action-bar>
