@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.phd-contracted-summary {
	padding-bottom: 70px;
	margin-top: 10px;
	width: 100%;
	min-height: calc(100vh);

	h1 {
		font-size: 28px;
		padding: 0 10px;
		margin: 0;
		font-weight: bold;
	}
}

.phd-footer-bar {
	margin-bottom: 70px;
}

.phd-tree-view {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 10px;

	.phd-group {
		text-transform: uppercase;
		margin-top: 30px;

		.phd-label h2 {
			display: inline-block;
			width: 98%;
			font-weight: 500;
			font-size: 28px;
			line-height: 0.83;
			margin-bottom: 20px;
			text-transform: uppercase;

			.phd-group-detail {
				float: right;

				.phd-group-subtotal-label {
					font-weight: 300;
					font-size: 20px;
					text-transform: none;
				}

				.phd-group-subtotal-amount {
					font-weight: 500;
					font-size: 20px;
					text-transform: none;
				}
			}
		}

		.phd-sub-group {
			background-color: white;
			padding: 0;

			.phd-header {
				h3 {
					font-size: 14px;
				}

				max-height: 40px;
				height: 100%;
				padding: 15px 0 5px 15px;
				text-transform: uppercase;
				border: none;
				transition: all .3s;
				background-color: $sub-group-bg;
			}

			::ng-deep decision-point-summary:not(:last-child) .phd-point {
				border-bottom: 1px solid #d4d4d4;
			}
		}
	}
}