<div class="phd-error-msg-body-lite" *ngIf="!elevationOptions || !elevationOptions.length">
	<error-message  [@flipOver]>
		<ng-template #body>Seems there are no elevations available.<br />Please contact the TSC.</ng-template>
	</error-message>
</div>

<ng-container *ngIf="elevationOptions?.length">
	<page-header mainTitle="Elevation" subTitle="Please select 1 of the choices below"></page-header>

	<div class="p-2 d-flex flex-wrap phd-elevation-cards">
		<ng-container *ngFor="let elevation of elevationOptions">
			<exterior-card 
				*ngIf="elevation.isActive || elevation.previouslySelected"
				[option]="elevation"
				[scenarioOptions]="scenarioOptions"
				[isSelected]="elevation.id === selectedElevation?.id"
				(toggled)="onToggleElevation($event)">
			</exterior-card>
		</ng-container>
	</div>
</ng-container>
