@import "../../../../../scss/sizes.scss";

.phd-elevation-cards {
    max-height: calc(100vh - 275px);
    overflow-y: auto;
    width: 100%;
}

@media(max-width: $tablet-max-width) {

    .phd-elevation-cards {
        max-height: calc(100vh - 275px);
        overflow-y: auto;
        width: 100%;
    }
}