<side-panel-component [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseSidePanel($event)">
	<ng-template #header>
		<h4 class="phd-side-panel-header"><strong>{{ sidePanelHeader }}</strong></h4>
	</ng-template>

	<ng-template #body>
		<div class="div-panel-body">
			<form [formGroup]="locationForm">
				<div class="form-group row ">
					<div class="col-sm-3">
						<label for="locationGroupName" class="col-form-label">Name:</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="locationGroupName" maxlength="50" formControlName="locationGroupName" pattern="^\S+(?: \S+)*$" required />
					</div>
					<div class="col-sm-12">
						<span class="validation-error"
						      *ngIf="locationForm.controls.locationGroupName && locationForm.controls.locationGroupName.invalid && (locationForm.controls.locationGroupName.dirty || locationForm.controls.locationGroupName.touched) && locationForm.controls.locationGroupName.errors.required">
							Invalid: A Location Group Name is required.
						</span>
						<span class="validation-error"
						      *ngIf="locationForm.controls.locationGroupName && locationForm.controls.locationGroupName.invalid && locationForm.controls.locationGroupName.dirty && locationForm.controls.locationGroupName.errors.duplicateName">
							Invalid: This Location Group Name already exists.
						</span>
						<span class="validation-error"
						      *ngIf="locationForm.controls.locationGroupName && locationForm.controls.locationGroupName.invalid && locationForm.controls.locationGroupName.dirty && !locationForm.controls.locationGroupName.errors.duplicateName && !locationForm.controls.locationGroupName.errors.required">
							Invalid: A Location Group Name cannot begin or end with a blank space & cannot include 2 or more consecutive blank spaces.
						</span>
					</div>
				</div>
				<div class="form-group row ">
					<div class="col-sm-3">
						<label for="groupLabel" class="col-form-label">Label:</label>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="groupLabel" maxlength="50" formControlName="groupLabel" pattern="^\S+(?: \S+)*$" required />
					</div>
					<div class="col-sm-12">
						<span class="validation-error"
							  *ngIf="locationForm.controls.groupLabel && locationForm.controls.groupLabel.invalid && (locationForm.controls.groupLabel.dirty || locationForm.controls.groupLabel.touched) && locationForm.controls.groupLabel.errors.required">
							Invalid: A Location Group Label is required.
						</span>
						<span class="validation-error"
							  *ngIf="locationForm.controls.groupLabel && locationForm.controls.groupLabel.invalid && locationForm.controls.groupLabel.dirty && !locationForm.controls.groupLabel.errors.required">
							Invalid: A Location Group Label cannot begin or end with a blank space & cannot include 2 or more consecutive blank spaces.
						</span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label for="searchTag" class="col-form-label">Search Tags:</label>
					</div>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="searchTag" maxlength="50" formControlName="searchTag" />
					</div>

					<button class="button"
					        (click)="onAddSearchTag()"
					        [disabled]="!locationForm.controls.searchTag.value || !locationForm.controls.searchTag.value.length || locationForm.controls.searchTag.invalid">
						<i class="fa fa-plus-square fa-2x" [class.phd-clickable]="locationForm.controls.searchTag.value && !locationForm.controls.searchTag.invalid"></i>
					</button>
					
					<div class="col-sm-12">
						<span class="validation-error" *ngIf="locationForm.controls.searchTag && locationForm.controls.searchTag.invalid && locationForm.controls.searchTag.dirty && locationForm.controls.searchTag.errors.duplicateTag">
							Duplicate Tag
						</span>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-12" *ngIf="locationForm.controls.tags.value.length">
						<span *ngFor="let tag of locationForm.controls.tags.value; let i = index" class="phd-tag  d-inline-flex justify-content-between">
							<span class="phd-tag-text">{{tag}}</span>
							<i class="fa fa-times pull-right phd-clickable" (click)="onRemoveTag(i)"></i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="locationGroupDescription" class="col-form-label">Description:</label>
					<textarea class="form-control" id="locationGroupDescription" rows="8" maxlength="500" formControlName="locationGroupDescription"></textarea>
				</div>
			</form>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="phd-footer-row phd-footer-add-another" *ngIf="!isEdit">
			<button class="btn btn-primary phd-btn-save" (click)="saveAndContinue();" [disabled]="saveDisabled">
				<ng-container *ngIf="!isSaving || !isAdd">
					Add Another
				</ng-container>

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving && isAdd"></i>
			</button>
		</div>

		<div class="phd-footer-row">
			<button class="btn btn-primary phd-btn-save" (click)="saveAndClose()" [disabled]="saveDisabled">
				Save & Close

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving && !isAdd"></i>
			</button>

			<button class="btn btn-secondary" (click)="toggleSidePanel()">Cancel</button>
		</div>
	</ng-template>
</side-panel-component>
