@import "../../../../../../../scss/sizes.scss";

.div-community-table {
	margin-top: 20px;
	height: calc(100vh - #{$nav-menu-height} - #{$side-panel-header-height} - #{$side-panel-action-bar-height});
	overflow-y: auto;
}

.div-error {
	margin-top: 10px;
}

.phd-location-group {
	font-size: small;
	color: lightgray;
}
