@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

.button-bar {
	font-size: 12px;
	margin-right: 0;
	padding: 0;
	width: $button-bar-width;
	display: flex;
	height: 100%;
	flex-direction: column;
	overflow-y: auto;
}

.button-bar-item {
	border-bottom: 1px solid #333333;
	cursor: pointer;
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	min-height: 85px;

	span {
		text-align: center;
	}
}

.button-bar-item.active {
	background-color: $twilight-blue;
	color: #eeeeee;
}

.button-bar-item.active {
	> i {
		color: #eeeeee;
	}
}

.button-bar-item.disabled,
.button-bar-item[disabled] {
	cursor: not-allowed;
	opacity: .65
}
