<div class="button-bar">
	<div [routerLink]="['/lot-management/manage-homesites']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/manage-homesites']"></a>
		<span>
			<i class="fa fa-server fa-2x" phd-tooltip='Manage Homesites'></i><br />
			Manage Homesites
		</span>
	</div>

	<div [routerLink]="['/lot-management/plan-management']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/plan-management']"></a>
		<span>
			<i class="fa fa-exchange fa-2x" phd-tooltip='Homesite Assignments'></i><br />
			Homesite Assignments
		</span>
	</div>

	<div [routerLink]="['/lot-management/releases']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/releases']"></a>
		<span>
			<i class="fa fa-calendar fa-2x" phd-tooltip='Homesite Releases'></i><br />
			Homesite Releases
		</span>
	</div>

	<div [routerLink]="['/pricing/phase-pricing']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/pricing/phase-pricing']"></a>
		<span>
			<i class="fa fa-map fa-2x" phd-tooltip='Phase Pricing'></i><br />
			Phase Pricing
		</span>
	</div>

	<div [routerLink]="['/lot-management/sales-programs']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/sales-programs']"></a>
		<span>
			<i class="fa fa-usd fa-2x" phd-tooltip='Sales Programs'></i><br />
			Sales Programs
		</span>
	</div>

	<div [routerLink]="['/contracts/view-contracts']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'ContractTemplates'">
		<a class="hidden" [routerLink]="['/contracts/view-contracts']"></a>
		<span>
			<i class="fa fa-file-text-o fa-2x" phd-tooltip='View Contracts'></i><br />
			Contract <br /> Setup
		</span>
	</div>
	<div [routerLink]="[communityManagementRouterLink]" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'AutoApproval'">
		<a class="hidden"></a>
		<span>
			<i class="fa fa-home fa-2x" phd-tooltip='Community Settings'></i><br />
			Community <br /> Management
		</span>
	</div>
	<div [routerLink]="['/reOrg']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'ExecuteReOrg'">
		<a class="hidden" [routerLink]="['/reOrg']"></a>
		<span>
			<i class="fa fa-arrows-alt fa-2x" phd-tooltip='ReOrg'></i><br />
			Re-Org
		</span>
	</div>
</div>
