<div class="button-bar">
	<div [routerLink]="['/lot-management/manage-homesites']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/manage-homesites']"></a>
		<span>
			<i class="fa fa-server fa-2x" phd-tooltip='Manage Homesites'></i><br />
			Manage Homesites
		</span>
	</div>

	<div [routerLink]="['/lot-management/plan-assignment']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/plan-assignment']"></a>
		<span>
			<i class="fa fa-exchange fa-2x" phd-tooltip='Homesite Plan Assignment'></i><br />
			Homesite Plan Assignment
		</span>
	</div>

	<div [routerLink]="['/lot-management/releases']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/releases']"></a>
		<span>
			<i class="fa fa-calendar fa-2x" phd-tooltip='Homesite Releases'></i><br />
			Homesite Releases
		</span>
	</div>

	<div [routerLink]="['/pricing/phase-pricing']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/pricing/phase-pricing']"></a>
		<span>
			<i class="fa fa-map fa-2x" phd-tooltip='Phase Pricing'></i><br />
			Phase Pricing
		</span>
	</div>

	<div [routerLink]="['/lot-management/sales-programs']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/sales-programs']"></a>
		<span>
			<i class="fa fa-usd fa-2x" phd-tooltip='Sales Programs'></i><br />
			Sales Programs
		</span>
	</div>

	<div [routerLink]="['/contracts/view-contracts']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'ContractTemplates'">
		<a class="hidden" [routerLink]="['/contracts/view-contracts']"></a>
		<span>
			<i class="fa fa-file-text-o fa-2x" phd-tooltip='View Contracts'></i><br />
			Contract <br /> Setup
		</span>
	</div>
	<div [routerLink]="['/lot-management/monotony-options']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden" [routerLink]="['/lot-management/monotony-options']"></a>
		<span>
			<i class="fa fa-sitemap fa-2x" phd-tooltip='Monotony Options'></i><br />
			Monotony <br /> Rules
		</span>
	</div>
	<div [routerLink]="['/community-management/community-settings']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'SalesAdmin'">
		<a class="hidden"></a>
		<span>
			<i class="fa fa-home fa-2x" phd-tooltip='Community Settings'></i><br />
			Community <br /> Settings
		</span>
	</div>
	<div [routerLink]="['/community-management/auto-approval']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'AutoApproval'">
		<a class="hidden" [routerLink]="['/community-management/auto-approval']"></a>
		<span>
			<i class="fa fa-check fa-2x" phd-tooltip='Auto Approval'></i><br />
			Auto <br /> Approvals
		</span>
	</div>
	
	<div [routerLink]="['/reOrg']" [routerLinkActive]="['active']" class="button-bar-item" *requiresClaim="'ExecuteReOrg'">
		<a class="hidden" [routerLink]="['/reOrg']"></a>
		<span>
			<i class="fa fa-arrows-alt fa-2x" phd-tooltip='ReOrg'></i><br />
			Re-Org
		</span>
	</div>
</div>
