.phd-decision-select {
	background-color: white !important;
	max-width: 210px !important;
}

.phd-decision-select-option {
	font-size: 12px;
	min-height: 40px !important;
}

.phd-options {
	min-height: 94vh;
}
