<div class="phd-error-msg-body" *ngIf="errorMessage.length > 0">
	<error-message [@flipOver]>
		<ng-template #body>{{ errorMessage }}</ng-template>
	</error-message>
</div>

<div class="phd-floor-plan-experience" [class.phd-hide]="errorMessage.length > 0">
	<div class="d-flex flex-row phd-point-panel">
		<div *ngIf="!isPointPanelCollapsed" class="d-flex flex-column">
			<h3 class="phd-visually-hidden">
				Side Bar Header
			</h3>
			<div class="phd-selected-group">
				<ng-container *ngIf="!noVisibleGroups">
					<div class="phd-group-name">{{groupName}}: </div>
					<div class="phd-subgroup-name">{{subGroup?.label}}</div>
				</ng-container>
			</div>
			<div class="phd-decisions"><span>DECISIONS:</span></div>
			<div class="phd-detailed-point-bar">
				<ng-container *ngIf="!noVisibleGroups">
					<detailed-decision-bar
						[points]="points"
						[salesChoices]="salesChoices"
						[myFavoritesChoices]="myFavoritesChoices"
						[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
						[groups]="groups"
						[tree]="tree"
						[isReadonly]="isReadonly || !floorPlanLoaded"
						[isPreview]="isPreview"
						[isPresale]="isPresale"
						[isDesignComplete]="isDesignComplete"
						[unfilteredPoints]="unfilteredPoints"
						(toggleChoice)="choiceToggleHandler($event)"
						(viewChoiceDetail)="viewChoiceDetailHandler($event)"
						(declineDecisionPoint)="declineDecisionPointHandler($event)"
						(selectDecisionPoint)="selectDecisionPointHandler($event)">
					</detailed-decision-bar>
				</ng-container>
			</div>
		</div>
		<button class="d-flex justify-content-center align-items-center phd-collapse-icon" [ngClass]="isPointPanelCollapsed ? 'phd-collapsed-icon-bg' : ''" (click)="togglePointPanel()">
			<i *ngIf="!isPointPanelCollapsed" class="fa fa-angle-double-left" aria-expanded="true" aria-label="Collapse Decision Bar"></i>
			<i *ngIf="isPointPanelCollapsed" class="fa fa-angle-double-right" aria-expanded="false" aria-label="Expand Decision Bar"></i>
		</button>
	</div>

	<div class="d-flex flex-column phd-card-panel" [ngClass]="isPointPanelCollapsed ? 'phd-card-panel-collapsed' : ''">
		<div class="phd-include-options">
			<div class="floor-select-container" *ngIf="floors && floors.length > 1">
				<select id="floor-select" class="form-control" [ngModel]="selectedFloor" (ngModelChange)="selectFloor($event)">
					<option *ngFor="let floor of floors" [ngValue]="floor"><h2>{{ floor.name }}</h2></option>
				</select>
			</div>
		</div>
		<div class="phd-point-container">
			<ng-container *ngIf="!noVisibleFP && subGroup?.useInteractiveFloorplan">
				<floor-plan
					[height]="'73vh'"
					[planId$]="marketingPlanId"
					[selectedFloor]="selectedFloor"
					[subGroup]="subGroup"
					[isFlipped]="isFloorplanFlipped"
					(floorPlanLoaded)="loadFloorPlan($event)"
				>
				</floor-plan>
			</ng-container>
			<ng-container *ngIf="noVisibleFP">
				<img class="phd-default-ifp" [src]="getDefaultFPImageSrc()" alt="">
			</ng-container>
		</div>
	</div>
</div>
