<div class="phd-error-msg-body" *ngIf="errorMessage.length > 0">
	<error-message [@flipOver]>
		<ng-template #body>{{ errorMessage }}</ng-template>
	</error-message>
</div>

<div class="phd-floor-plan-experience" [class.phd-hide]="errorMessage.length > 0">
	<div class="d-flex flex-row phd-point-panel">
		<div *ngIf="!isPointPanelCollapsed" class="d-flex flex-column">
			<div class="phd-selected-group">
				<ng-container *ngIf="!noVisibleGroups">
					<div class="phd-group-name">{{groupName}}: </div>
					<div class="phd-subgroup-name">{{subGroup?.label}}</div>
				</ng-container>
			</div>
			<div class="phd-decisions"><span>DECISIONS:</span></div>
			<div class="phd-detailed-point-bar">
				<ng-container *ngIf="!noVisibleGroups">
					<detailed-decision-bar
						[points]="points"
						[salesChoices]="salesChoices"
						[myFavoritesChoices]="myFavoritesChoices"
						[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
						[choiceImages]="choiceImages"
						[groups]="groups"
						[tree]="tree"
						[isReadonly]="isReadonly"
						[isPreview]="isPreview"
						[isDesignComplete]="isDesignComplete"
						(onToggleChoice)="choiceToggleHandler($event)"
						(onViewChoiceDetail)="viewChoiceDetail($event)"
						(onDeclineDecisionPoint)="declineDecisionPoint($event)"
						(onSelectDecisionPoint)="selectDecisionPoint($event)">
					</detailed-decision-bar>
				</ng-container>
			</div>
		</div>
		<div class="d-flex justify-content-center align-items-center phd-collapse-icon" [ngClass]="isPointPanelCollapsed ? 'phd-collapsed-icon-bg' : ''">
			<i *ngIf="!isPointPanelCollapsed" class="fa fa-angle-double-left" (click)="togglePointPanel()"></i>
			<i *ngIf="isPointPanelCollapsed" class="fa fa-angle-double-right" (click)="togglePointPanel()"></i>
		</div>
	</div>

	<div class="d-flex flex-column phd-card-panel" [ngClass]="isPointPanelCollapsed ? 'phd-card-panel-collapsed' : ''">
		<div class="phd-include-options">
			<div class="phd-contracted-options-checkbox" [ngClass]="{'phd-clickable' : !isContractedOptionsDisabled }" (click)="$event.stopPropagation()">
				<span class="phd-icon-selected"><i *ngIf="includeContractedOptions" class="fa fa-check-square" (click)="toggleContractedOptions()"></i></span>
				<div *ngIf="!includeContractedOptions" class="phd-empty-checkbox" (click)="toggleContractedOptions()"></div>
			</div>
			<span class="phd-contracted-options">Display Contracted Options</span>
			<div class="floor-select-container" *ngIf="floors && floors.length > 1">
				<select id="floor-select" class="form-control" [ngModel]="selectedFloor" (ngModelChange)="selectFloor($event)">
					<option *ngFor="let floor of floors" [ngValue]="floor">{{ floor.name }}</option>
				</select>
			</div>
		</div>
		<div class="phd-point-container">
			<ng-container *ngIf="!noVisibleGroups">
				<floor-plan
					[height]="'73vh'"
					[planId$]="marketingPlanId"
					[selectedFloor]="selectedFloor"
					[subGroup]="subGroup"
					[isFlipped]="isFloorplanFlipped"
					(onFloorPlanLoaded)="loadFloorPlan($event)"
				>
				</floor-plan>
			</ng-container>
		</div>
	</div>

</div>

