@import "../../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../../phd-common/src/lib/scss/animations.scss";

.phd-choice-container {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin-top: 5px;
	width: 100%;

	.phd-choice-label {
		max-width: 150px;
	}
}

.icon {
	width: 25px;
	font-size: 18px;
	margin-top: -4px;

	.fa {
		margin-right: 6px;
	}

	.fa-ban {
		margin-right: 8.5px;
	}
}

.phd-clickable {
	background: none;
	border: none;
	padding: 0;
}