@import "../../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../../phd-common/src/lib/scss/animations.scss";

.choice-container {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin-top: 5px;
	width: 100%;

	.choice-label {
		max-width: 150px;
		color: $brand-primary;
	}
}

.icon {
	width: 25px;
	font-size: 18px;
	margin-top: -4px;

	.phd-icon-selected {
		color: var(--heart-icon-color);
	}
}