<div class="choice-container">
	<ng-container *ngIf="point.enabled">
		<div [class.phd-clickable]="!isReadonly" class="icon" (click)="$event.stopPropagation()">
			<span class="phd-icon-selected"><i *ngIf="isDeclined" class="fa fa-heart" (click)="toggleDecline()"></i></span>
			<i *ngIf="!isDeclined" class="fa fa-heart-o" (click)="toggleDecline()"></i>
		</div>
	</ng-container>
	<ng-container *ngIf="!point.enabled">
		<div class="icon phd-clickable">
			<i class="fa fa-ban" (click)="openBlockedChoiceModal()"></i>
		</div>
	</ng-container>
	<div class="choice-label">{{"No Thanks!"}}</div>
</div>

<ng-template #blockedChoiceModal let-c="close" let-d="dismiss">
	<blocked-choice-modal
		[disabledByList]="disabledByList"
		[choiceLabel]="'No Thanks!'"
		(closeModal)="onCloseClicked()"
		(blockedItemClick)="onBlockedItemClick($event)"
	></blocked-choice-modal>
</ng-template>