<divisional-attribute-template>
    <ng-template #panel>
        <divisional-options-panel (onSidePanelOpen)="onSidePanelOpen($event)"
								  (onAssociateAttributeGroups)="onAssociateAttributeGroups($event)"
                                  (onAssociateLocationGroups)="onAssociateLocationGroups($event)"
                                  (onAssociateAttributeGroupsToCommunities)="onAssociateAttributeGroupsToCommunities($event)"
                                  (onAssociateLocationGroupsToCommunities)="onAssociateLocationGroupsToCommunities($event)">
		</divisional-options-panel>
    </ng-template>

    <ng-template #sidePanel>
	    <divisional-options-side-panel *ngIf="sidePanelOpen"
	                                   [sidePanelOpen]="sidePanelOpen"
	                                   [option]="option"
	                                   [currentTab]="currentTab"
									   [isReadOnly]="isReadOnly"
	                                   (onOptionUpdate)="onOptionUpdate()"
	                                   (onSidePanelClose)="onSidePanelClose($event)">
	    </divisional-options-side-panel>
        <div-options-attribute-groups-side-panel *ngIf="attrGroupSidePanelOpen"
												 [sidePanelOpen]="attrGroupSidePanelOpen"
												 [option]="option"
												 [callback]="callback"
                                                 [associatedGroups$]="associatedAttributeGroups$"
                                                 (onSidePanelClose)="onAttrGroupSidePanelClose($event)">
        </div-options-attribute-groups-side-panel>
		<div-options-location-groups-side-panel *ngIf="locGroupSidePanelOpen"
												 [sidePanelOpen]="locGroupSidePanelOpen"
												 [option]="option"
												 [callback]="callback"
												 [associatedGroups$]="associatedLocationGroups$"
												 (onSidePanelClose)="onLocGroupSidePanelClose($event)">
		</div-options-location-groups-side-panel>
	    <associate-communities-side-panel *ngIf="associateCommunitySidePanelOpen"
	                                        [sidePanelOpen]="associateCommunitySidePanelOpen"
											[option]="option"
											[callback]="associateCommunityCallback"
											[groups]="selectedGroups"
	                                        (onSidePanelClose)="onAssociateCommunitySidePanelClose($event)">
	    </associate-communities-side-panel>
    </ng-template>

</divisional-attribute-template>

<p-toast></p-toast>
