<div class="phd-dialog-header d-flex justify-content-center">
	<h1 mat-dialog-title class="phd-dialog-header-text p-0">{{ data.title }}</h1>
	<button *ngIf="data.displayClose" mat-icon-button class="phd-close-button" (click)="cancel()">
		<mat-icon>close</mat-icon>
	</button>
</div>
<div mat-dialog-content>
	<p class="phd-dialog-message">{{ data.message }}</p>
</div>
<div mat-dialog-actions class="d-flex justify-content-center">
	<button *ngIf="data.cancelText" class="btn btn-cancel" style="margin-right:10px;" (click)="cancel()">{{ data.cancelText }}</button>
	<button class="btn btn-primary" (click)="confirm()">{{ data.confirmText }}</button>
</div>
