<div class="phd-div-attr-body">
	<div class="d-flex flex-row-reverse">
		<div class="col-md-4 phd-div-search-bar">
			<search-bar [searchFilters]="filterNames" [selectedSearchFilter]="selectedSearchFilter" (onClearFilter)="clearFilter()" (onKeywordSearch)="keywordSearch($event)" storageName="CA_DIV_ATTR_LOC_FILTER" [keyword]="keyword"></search-bar>
		</div>

		<status-bar [selectedStatus]="selectedStatus" (statusChanged)="onStatusChanged($event)"></status-bar>
	</div>

	<div class="phd-div-attr-panel" infiniteScroll [infiniteScrollThrottle]="settings.infiniteScrollThrottle" [infiniteScrollDisabled]="keyword || selectedStatus || allDataLoaded" (scrolled)="onPanelScroll()" [scrollWindow]="false">
		<phd-table [value]="filteredLocationsList" dataKey="id" tableId="divisionalLocations" sortMode="single" sortField="locationName" [lazy]="true" (onLazyLoad)="lazyLoadData($event)">
			<ng-template #rowExpansion let-location let-columns="columns">
				<tr>
					<td [attr.colspan]="columns.length">
						<div class="phd-div-row-expansion">
							<phd-tabView orientation="left">
								<phd-tabPanel header="Location Groups" [data]="location.locationGroups$">
									<ng-template let-locationGroups>
										<expansion-associated-loc-group-tab-panel [locationGroups]="locationGroups"></expansion-associated-loc-group-tab-panel>
									</ng-template>
								</phd-tabPanel>
							</phd-tabView>
						</div>
					</td>
				</tr>
			</ng-template>

			<phd-column columnId="edit" width="50px">
				<ng-template #body let-location>
					<i class="fa fa-fw fa-pencil" [ngClass]="isReadOnly ? 'phd-disabled' : 'phd-clickable'" [title]="isReadOnly ? '' : 'Edit location'" (click)="editLocation($event, location);"></i>
				</ng-template>
			</phd-column>

			<phd-column columnId="inactivate" width="50px">
				<ng-template #body let-location>
					<i class="fa fa-sm" *ngIf="!isSaving || workingId !== location.id" (click)="createMsgModal(location)"
					   [ngClass]="{'fa-trash': location.isActive, 'fa-undo text-danger': !location.isActive, 'phd-clickable': !isReadOnly, 'phd-disabled': isReadOnly}" 
					   [title]="isReadOnly ? '' : (location.isActive ? 'Inactivate location' : 'Reactivate location')"></i>
					<i class="fa fa-spinner fa-spin fa-fw"  [ngClass]="{'phd-disabled': isReadOnly}" *ngIf="isSaving && workingId === location.id"></i>
				</ng-template>
			</phd-column>

			<phd-column columnId="details" width="50px">
				<ng-template #body let-location let-expanded="expanded">
					<i class="fa fa-fw phd-clickable" [ngClass]="expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'" [phdRowToggler]="location" title="Click to view groups this location is assigned to"></i>
				</ng-template>
			</phd-column>

			<phd-column field="locationName" header="Name"></phd-column>
			<phd-column field="formattedTags" header="Search Tags" [canSort]="false"></phd-column>
			<phd-column field="locationDescription" header="Description"></phd-column>
		</phd-table>
	</div>

	<p-toast></p-toast>

</div>
