<side-panel-component [headerTemplate]="header" [subheaderTemplate]="subheader" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseClick()">
	<ng-template #header>
		<h5><strong>{{ choice.labelHeirarchy }}</strong></h5>
	</ng-template>

	<ng-template #subheader>
		<h6 class="pt-3 mb-0 pl-2"><strong>{{ choice.label }}</strong></h6>
	</ng-template>

	<ng-template #body>
		<div class="phd-side-panel-body">
			<ul ngbNav #nav="ngbNav" [(activeId)]="currentTab" class="nav-tabs" (navChange)="onNavChange($event)">
				<li [ngbNavItem]="'details'">
					<a ngbNavLink>Details</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<form [formGroup]="choiceDetailsForm">
								<div class="form-check">
									<input id="default-check" type="checkbox" class="form-check-input" formControlName="isDecisionDefault" (change)="onDefaultChanged()" [(ngModel)]="isDefault" />
									<label for="default-check" class="form-check-label">Default</label>
									<i class="fa fa-exclamation-circle ml-2" aria-hidden="true" *ngIf="disableDefault" title="There can only be one default Choice for this Decision Point"></i>
								</div>
								<div class="form-check form-check-inline">
									<input id="max-quantity-check" type="checkbox" class="form-check-input" formControlName="useMaxQuantity" (change)="onUseMaxQuantityChanged()" [(ngModel)]="useMaxQuantity" />
									<label for="max-quantity-check" class="form-check-label text-nowrap">Max Quantity:</label>
									<input type="number" formControlName="maxQuantity" class="form-control ml-3" step="1" min="1" max="999999" maxlength="6" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" />
								</div>
								<div class="form-group">
									<label class="phd-description-label" for="description">Choice Description:</label>
									<span class="phd-description-caption">(description only applies to unmapped choices)</span>
									<textarea class="form-control" id="description" rows="5" maxlength="2000" formControlName="description"></textarea>
								</div>
							</form>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'rules'">
					<a ngbNavLink>Choice to Choice Rules</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="choiceRulesMessage.length > 0" class="alert alert-info">{{choiceRulesMessage}}</div>
							<rule-component *ngIf="choiceRulesMessage.length === 0"
											[id]="choice.id"
											[ruleType]="'choice'"
											[versionId]="versionId"
											[title]="'Choice'"
											[isReadOnly]="isReadOnly || !canEditTree"
											[rules]="choiceRules"
											[blankRule]="blankRule"
											[selectedItems]="choiceSelectedItems"
											[searchFilters]="choiceSearchFilters"
											[currentRule]="choiceCurrentRule"
											[isLoading]="isLoadingChoiceRules"
											[dependentIds]="dependentChoiceIds"
											(saveRule)="onSaveRule($event)"
											(updateMustHave)="onUpdateMustHave($event)"
											(editRule)="onEditRule($event)"
											(deleteRule)="onDeleteRule($event)"
											(cancelRule)="onCancelRule($event)">
							</rule-component>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'options'">
					<a ngbNavLink>Mapped Options</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="optionRulesMessage.length > 0" class="alert alert-info">{{optionRulesMessage}}</div>

							<!-- option-rule - isReadOnly always true so users cannot add/remove options - WI|216792  -->
							<option-rule *ngIf="optionRulesMessage.length === 0"
										 [id]="choice.id"
										 [isReadOnly]="true"
										 [rules]="optionRules"
										 [selectedItems]="optionSelectedItems"
										 [isLoading]="isLoadingOptionRules"
										 (saveRule)="onSaveOptionRule($event)"
										 (deleteRule)="onDeleteOptionRule($event)"
										 (cancelRule)="onCancelOptionRule()">
							</option-rule>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'images'">
					<a ngbNavLink>Images</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="choiceImagesMessage.length > 0" class="alert alert-info">{{choiceImagesMessage}}</div>
							<choice-images-panel *ngIf="choiceImagesMessage.length === 0"
												 [isReadOnly]="isReadOnly"
												 [isSaving]="isSaving"
												 [choiceImageList]="choiceImageList"
												 [imagesLoaded]="choiceImagesLoaded"
												 [dragEnable]="dragEnable"
												 (delete)="onDeleteImage($event)"
												 (save)="onSaveImage($event)"
												 (dragHasChanged)="onDragHasChanged()">
							</choice-images-panel>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'attributes'">
					<a ngbNavLink>Attributes</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<associate-attribute-groups [choice]="choice"
														[groupsInMarket]="groupsInMarket.attributeGroups"
														[divGroupsInMarket]="groupsInMarket.divCatalogChoiceAttributeGroups"
														[isReadOnly]="isReadOnly || !canEditTree"
														[communityId]="communityId">
							</associate-attribute-groups>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'locations'">
					<a ngbNavLink>Locations</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<associate-location-groups [choice]="choice"
													   [groupsInMarket]="groupsInMarket.locationGroups"
													   [divGroupsInMarket]="groupsInMarket.divCatalogChoiceLocationGroups"
													   [isReadOnly]="isReadOnly || !canEditTree"
													   [communityId]="communityId">
							</associate-location-groups>
						</div>
					</ng-template>
				</li>
			</ul>

			<div class="phd-nav-tab-content">
				<div [ngbNavOutlet]="nav"></div>
			</div>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-left">
			<ng-container *ngIf="choiceImageList.length > 0 && !isReadOnly && currentTab === 'images'">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" *ngIf="!dragEnable" (click)="editImageSort()">Edit Sort</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-secondary" *ngIf="dragEnable" (click)="cancelImageSort()">Cancel</button>
					<button type="button" class="btn btn-primary" *ngIf="dragEnable" (click)="saveImageSort()">Save Sort</button>
				</div>
			</ng-container>

			<div *ngIf="isSaving" id="choice-side-panel-saving" class="alert alert-info m-0 py-1 px-2 pull-right" role="alert">Saving...</div>

			<div hidden *ngIf="sidePanelHasChanges"></div>
		</div>

		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save" (click)="saveClick();" [disabled]="canSave" *ngIf="currentTab == 'details'">
				Save

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving"></i>
			</button>

			<button class="btn btn-secondary" (click)="onCloseClick()" *ngIf="canSave">Close</button>
			<button class="btn btn-secondary" (click)="onCancelClick()" *ngIf="!canSave">Cancel</button>
		</div>
	</ng-template>
</side-panel-component>
