div {
	line-height: 30px;
	/*padding-top: 75px;*/
	margin: 10px;
}

h1 {
	font-size: 30px;
	font-weight: normal;
	text-transform: capitalize;
}

h2 {
	font-size: 18px;
	font-weight: lighter;
	padding: 25px;
}
