@import "../../../../../../scss/color-pallet.scss";
@import "../../../../../../scss/sizes.scss";

$border-radius-base: 4px;

.phd-indicator {
	font-size: 8pt;
	padding-left: 5px;
}

.phd-rules-list {
	border: solid 1px lightgray;
	border-radius: 4px;
	margin-top: 15px;
	margin-bottom: 15px;

	table {
		margin-bottom: 0;

		.phd-icon-col {
			width: 38px;

			i:hover {
				cursor: pointer;
			}
		}
	}
}

.phd-tree-rule {
	cursor: pointer;
}

.phd-tree-rule-disabled {
	color: #ccc;
	cursor: auto;
}

.phd-child-sp {
	padding-left: 20px !important;
}

.phd-grand-child-sp {
	padding-left: 40px !important;
}

.phd-great-grand-child-sp {
	padding-left: 60px !important;
}

.phd-item-multiselect-results {
	height: 200px;
	overflow-y: auto;
	padding: 10px;
	border: solid 1px $gray-lighter;
	box-shadow: 0 1px 4px 0 darken($gray-lighter,20%);
	border-radius: 0 0 $border-radius-base $border-radius-base;
	background-color: white;

	a:hover {
		cursor: pointer;
		text-decoration: none;
	}

	a.close {
		color: $gray;
	}

	select[multiple] {
		border: none;
		width: 100%;
		overflow-y: auto;
	}

	.phd-item-multiselect-results-save {
		padding-right: 10px;
		padding-bottom: 5px;
	}
}

.selections-made {
	.phd-item-multiselect-results {
		height: 120px;
	}
}

/*item selector - END*/

//////////////////////////////////////////////////////////////
/*              Media Query overrides                       */
//////////////////////////////////////////////////////////////


/*Laptop*/
/*@media only screen and (max-width: $screen-md-max) {
}*/


/*Tablet*/
/*@media only screen and (max-width: $screen-sm-max) {

	.phd-search-input-group {
		margin-top: 10px;
	}
}*/

/*Phone*/
/*@media only screen and (max-width: $screen-xs-max) {

	.phd-search-input-group {
		margin-top: 10px;
	}
}*/
