@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

#phd-nav-bar {
	background: var(--primary-ribbon-background-color);
	border-bottom: var(--home-page-floorplan-border);
	height: 70px;
	text-transform: uppercase;

	.phd-nav-bar-header {
		display: inline-block;
		height: 50px;

		.phd-logo {
			margin-top: var(--logo-margin-top);
			max-width: 250px;
			max-height: var(--logo-max-height);
		}
	}

	.phd-nav-bar-title {
		color: var(--nav-bar-text-color);
		margin-left: 30px;
		width: max-content;

		.phd-nav-bar-label {
			font-size: 14px;
		}

		.phd-nav-bar-config {
			font-size: 20px;
		}
	}

	.phd-menu-options {
		justify-content: flex-end;
		padding-right: 0px;
	}

	.phd-page-separator {
		border-right: 1px solid var(--nav-bar-text-color);
  		padding: 0 10px;
	}

	.phd-nav-page {
		margin-left: 2px;
	}

	a {
		font-size: 16px;
		color: var(--nav-bar-text-color);
		padding-right: 5px;
		padding-left: 10px;
	}

	.phd-active-link-full {
		font-weight: bold;
		font-size: 16px;
		cursor: default;
	}

	.phd-menu-bars {
		display: inline !important;
		color: var(--nav-bar-text-color);

		.fa-bars {
			margin-right: 0px;
		}
		.fa-times {
			margin-right: 2px;
		}
	}

	.phd-active-link-collapsed {
		background: $twilight-blue;
	}
}


.phd-collapsable-menu {
	background: var(--primary-ribbon-background-color);
	width: 300px;
	position: fixed;
	top: 70px;
	right: -20px;
	z-index: 100;
	overflow-x: hidden;
	transition: 0.5s;
	padding-bottom: 15px;

	a {
		font-size: 20px;
		color: var(--nav-bar-text-color);
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 8px 15px 32px;
	}
}

// Pulte
@media(max-width: 410px) {
	.phd-nav-bar-pulte {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 10px !important;
		}

		.phd-nav-bar-config {
			font-size: 16px !important;
		}
	}
}

// DelWebb
@media(max-width: 540px) {
	.phd-nav-bar-delwebb {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}
// American West
@media(max-width: 600px) {
	.phd-nav-bar-americanWest {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}

// Centex
@media(max-width: 500px) {
	.phd-nav-bar-centex {
		width: 95px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}

// Divosta
@media(max-width: 590px) {
	.phd-nav-bar-divosta {
		width: 95px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}

// John Wieland
@media(max-width: 520px) {
	.phd-nav-bar-johnWieland {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	} 
}
