@use '../../../../../scss/breakpoints';

.phd-nav-bar {
	height: 70px;
	text-transform: uppercase;
	white-space: nowrap;

	.phd-active-link-full {
		font-size: 18px;
		font-weight: 700;
		cursor: default;
	}

    .phd-nav-bar-title {
        max-height: 55px;
    }

	.phd-nav-bar-image {
		display: inline-block;
		height: 50px;
		padding: 0;

		.phd-logo {
			max-width: 250px;
		}
	}

	.phd-nav-bar-text {
		width: max-content;
		margin: 9px 0 0 30px;

		.phd-nav-bar-label {
			height: 16px;
		}
	}

	.phd-menu-options {
		display: flex;
		justify-content: flex-end;
		padding-right: 0px;
	}

	.phd-menu-options-jw {
		display: flex;
		justify-content: flex-end;
		padding-right: 0px;
	}

	.phd-page-separator {
        border-right: 1px solid;
  		margin: 0 10px !important;
	}

	.phd-menu-bars {
		display: inline;
		background: none;
		border: none;
		margin: 0;
		padding: 0;	

		.fa-bars {
			margin-right: 0px;
		}
		.fa-times {
			margin-right: 2px;
		}
	}

	.phd-links-list {
		margin-top: 19px;
	}
}


.phd-collapsable-menu {
	position: fixed;
	top: 70px;
	right: -20px;
	z-index: 100;
	overflow-x: hidden;
	transition: 0.5s;

	ul {
		margin: 0;
		padding: 0 0 10px 10px;
		list-style-type: none;
	}

	a {
		font-size: 20px;
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px;
	}

	.phd-collapsable-menu-link-full {
		font-size: 22px;
		font-weight: bold;
	}
}


@media(max-width: breakpoints.$top-menu-collapse) {
	.phd-menu-options {
		display: none !important;
	}
	.phd-hamburger-menu {
		display: inline !important;
	}
}

@media(max-width: breakpoints.$top-menu-collapse-jw) {
	.phd-menu-options-jw {
		display: none !important;
	}
	.phd-hamburger-menu-jw {
		display: inline !important;
	}
}

// Pulte
@media(max-width: 410px) {
	.phd-nav-bar-pulte {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 10px !important;
		}

		.phd-nav-bar-config {
			font-size: 16px !important;
		}
	}
}

// DelWebb
@media(max-width: 540px) {
	.phd-nav-bar-delwebb {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}
// American West
@media(max-width: 600px) {
	.phd-nav-bar-americanWest {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}

// Centex
@media(max-width: 500px) {
	.phd-nav-bar-centex {
		width: 95px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}

// Divosta
@media(max-width: 590px) {
	.phd-nav-bar-divosta {
		width: 95px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}

// John Wieland
@media(max-width: 520px) {
	.phd-nav-bar-johnWieland {
		width: 105px !important;
		.phd-nav-bar-label {
			font-size: 11px !important;
		}

		.phd-nav-bar-config {
			font-size: 15px !important;
		}
	}
}
