@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

#phd-nav-bar {
	background: var(--primary-ribbon-background-color);
	border-bottom: var(--home-page-floorplan-border);
	height: 70px;
	text-transform: uppercase;

	.phd-nav-bar-header {
		display: inline-block;
		height: 50px;

		.phd-logo {
			margin-top: var(--logo-margin-top);
			max-width: 100%;
			max-height: 100%;
		}
	}

	.phd-nav-bar-title {
		color: var(--nav-bar-text-color);
		margin-left: 30px;
		width: 100%;

		.phd-nav-bar-label {
			font-size: 14px;
		}

		.phd-nav-bar-config {
			font-size: 20px;
		}
	}

	.phd-menu-options {
		justify-content: flex-end;
	}

	a {
		font-size: 16px;
		color: var(--nav-bar-text-color);
		padding-right: 5px;
		padding-left: 10px;
	}

	.phd-active-link-full {
		font-weight: bold;
		font-size: 16px;
		cursor: default;
	}

	.phd-menu-bars {
		display: inline !important;
		color: var(--nav-bar-text-color);

		.fa-bars {
			margin-right: 0px;
		}
		.fa-times {
			margin-right: 2px;
		}
	}

	.phd-active-link-collapsed {
		background: $twilight-blue;
	}
}

.phd-contracted-link-banned {
	cursor: not-allowed;
}

.phd-collapsable-menu {
	background: var(--primary-ribbon-background-color);
	width: 300px;
	position: fixed;
	top: 70px;
	right: -20px;
	z-index: 100;
	overflow-x: hidden;
	transition: 0.5s;
	padding-bottom: 15px;

	a {
		font-size: 20px;
		color: var(--nav-bar-text-color);
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 8px 15px 32px;
	}
}

@media(max-width: 460px) {
	.phd-nav-bar-title {
		.phd-nav-bar-label {
			font-size: 10px !important;
		}

		.phd-nav-bar-config {
			font-size: 16px !important;
		}
	}
}
