<nav id="phd-nav-bar" class="navbar fixed-top navbar-expand-md">
	<div class="d-flex container-fluid phd-mobile-header">
		<div *ngIf="(isTablet$ | async)" class="phd-menu-bars">
			<i *ngIf="isMenuCollapsed" class="fa fa-bars fa-2x" (click)="isMenuCollapsed = !isMenuCollapsed"></i>
			<i *ngIf="!isMenuCollapsed" class="fa fa-arrow-left" (click)="isMenuCollapsed = !isMenuCollapsed"></i>
		</div>
		<div class="phd-nav-bar-header phd-clickable">
			<img class="phd-logo" src="assets/Pulte_Homes_White_Logo.PNG" alt="Pulte Homes" (click)="onHomePage()">
		</div>
		<div class="d-flex flex-column phd-nav-bar-title">
			<span class="phd-nav-bar-label">Design Preview</span>
			<span class="phd-nav-bar-config">Welcome To Your Home</span>
		</div>
		<div *ngIf="!(isTablet$ | async)" class="col-6 d-flex align-items-center ml-auto phd-menu-options">
			<div>
				<a [routerLink]="['/favorites/summary']"
				   [routerLinkActive]="['phd-active-link']">
					My Favorites
				</a>
			</div>
		</div>
	</div>
</nav>

<div *ngIf="(isTablet$ | async) && !isMenuCollapsed" class="phd-collapsable-menu">
	<div [class.phd-active-link]="currentRoute?.startsWith('/favorites/summary')">
		<a [routerLink]="['/favorites/summary']">My Favorites</a>
	</div>
</div>
