.phd-choice-card {
	border: 1px solid #00000020;
	height: 133px;
	max-width: 384px;
	width: 91vw;
}

.phd-choice-card-info {
	width: 38% !important;
}

.phd-pricing-info-disclaimer {
	max-height: 1.5rem;
	max-width: 1.5rem;
}
