@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

.modal-center-title {
	justify-content: center;
}

.modal-body {
	text-align: center;
}

.modal-button {
	width: 25%;
	text-align: center;
}