<div class="phd-box" *ngIf="!editing">

	<div class="phd-card-header">
		<span>Notes</span>

		<a (click)="!deleting && delete()" class="phd-delete-button" [class.phd-deleting]="deleting" *ngIf="!cancelOrVoid && ((note.noteSubCategoryId !== 10 && canEditInternalNotes) || (note.noteSubCategoryId === 10 && canEditExternalNotes && isPendingOrInChangeOrder))">
			<span>
				<i class="fas fa-spinner"></i>
			</span>
			<span>
				<i class="fa fa-times-circle"></i>
			</span>
		</a>
	</div>

	<div class="phd-card-body">
		<div *ngIf="note && note.noteSubCategoryId">
			<strong>Category</strong> {{subCategoryName}}
		</div>
		<div *ngIf="note.targetAudiences && note.targetAudiences.length > 0">
			<strong>Type</strong> {{ note.targetAudiences[0].name }}
		</div>
		<div *ngIf="note.createdBy">
			<strong>Author:</strong> {{ note.createdBy }}
		</div>
		<div *ngIf="note.createdUtcDate">
			<strong>Submission:</strong> {{ note.createdUtcDate | date:'shortDate' }}
		</div>
		<div *ngIf="note.lastModifiedUtcDate">
			<strong>Revised:</strong> {{ note.lastModifiedUtcDate | date:'shortDate' }}
		</div>
		<div class="flex-fill mt-1 phd-text-description" *ngIf="note.noteContent">
			{{note.noteContent}}
		</div>
	</div>

	<div class="phd-card-footer">
		<a class="btn m-0 p-0" (click)="edit()" *ngIf="!cancelOrVoid && ((note.noteSubCategoryId !== 10 && canEditInternalNotes) || (note.noteSubCategoryId === 10 && canEditExternalNotes && isPendingOrInChangeOrder))">Edit</a>
	</div>
</div>

<form class="p-3" *ngIf="editing === note" [formGroup]="form">
	<h6>New Note</h6>
	<div class="w-100">
		<label for="subCategory">Category *</label>
		<select class="form-control" formControlName="subCategory" id="subCategory" name="subCategory" (change)="selectChange()">
			<optgroup label="Internal">
				<option *ngFor="let item of internalCategoryOptions"  [disabled]="!canEditInternalNotes"  [ngValue]="item.id">{{ item.value }}</option>
			</optgroup>
			<optgroup label="Public">
				<option *ngFor="let item of externalCategoryOptions" [disabled]="!canEditExternalNotes || !isPendingOrInChangeOrder" [ngValue]="item.id">{{ item.value }}</option>
			</optgroup>
		</select>
	</div>

	<div>
		<label for="noteContent">Note *</label>
		<textarea class="form-control form-group mw-200"
					rows="3"
					id="noteContent"
					name="noteContent"
					type="text"
					formControlName="noteContent"
					maxlength="{{maxDescriptionLength}}"></textarea>
	</div>

	<div class="mt-5 d-flex align-items-center justify-content-center">
		<save-cancel-buttons (onSave)="save()" (onCancel)="cancel()" [form]="form"></save-cancel-buttons>
	</div>
</form>
