<div class="phd-attribute-list" [style.padding-top]="isBlocked && isLocationAttribute ? '15px': '0px'">
	<ng-container *ngFor="let attribute of attributes">
		<button class="phd-attribute-item">
			<cl-image public-id="{{getImageSrc(attribute)}}" title="{{attribute.name}}" type="fetch"
				crop="fill" height="80" width="80" (click)="clickAttributeClick(attribute)" (onError)="onLoadImageError($event)" 
				class="phd-attribute-item-image"
				[class.phd-attribute-item-image-selected]="highlightedAttributeId === attribute.id">
			</cl-image>
			<span class="phd-attribute-name" title="{{attribute.name}}" (click)="clickAttributeClick(attribute)">
				{{attribute.name}}
			</span>
			<button class="phd-attribute-selector">
				<ng-container *ngIf="attribute.attributeStatus === 'Contracted'">
					<i class="fa fa-check phd-icon-selected"></i>
				</ng-container>
				<ng-container *ngIf="attribute.attributeStatus === 'Available'">
					<div [class.phd-clickable]="!isReadonly" *ngIf="!isBlocked">
						<span class="phd-icon-selected"><i *ngIf="attribute.isFavorite" class="fa fa-heart" (click)="clickToggleAttribute(attribute)"></i></span>
						<i *ngIf="!attribute.isFavorite" class="fa fa-heart-o" (click)="clickToggleAttribute(attribute)"></i>
					</div>			
				</ng-container>	
			</button>		
		</button>
	</ng-container>
</div>
