@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.phd-attribute-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.phd-attribute-item {
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0px 10px 10px 0px;
	background: none;
	border: none;
	padding: 0;
}

.phd-attribute-name {
	position:relative;
	width: 80px;
	min-height: 38px;
	max-height: 38px;
	font-size: 12px;
	line-height: 1.5em;
	letter-spacing: 0.12em;
	word-spacing: 0.16em;
	margin-bottom: 2em;
	font-weight: 600px;
	word-break: break-word;
	overflow: hidden;
}

.phd-clickable {
	font-size: 20px;
	margin-top: -5px;
	margin-left: -4px;
}

.phd-attribute-selector {
	position: absolute;
	margin: 58px 0px 0px 60px;
	z-index: 9;
	color: rgb(214, 214, 214);
	background: none;
	border: none;
	padding: 0;
}
