<div *ngFor="let attributeGroup of attributeGroups" class="phd-attribute-group-container">
	<div class="phd-attribute-group-header">
		<div class="label">
			<span title="{{attributeGroup.label}}">{{attributeGroup.label}}</span>
		</div>

		<div class="phd-expand">
			<span (click)="expandAttributes(attributeGroup)">
				<i class="fas fa-expand-arrows-alt"></i>
			</span>
		</div>
	</div>

	<div class="phd-attribute-group-body">
		<attribute-list [selectedAttributes]="selectedAttributes"
						[selectedAttributeGroup]="attributeGroup"
						[isActive]="isActive"
						[attributeGroupId]="attributeGroup.id"
						[isPastCutOff]="isPastCutOff"
						[showCarousel]="true"
						[canEditAgreement]="canEditAgreement"
						[canOverride]="canOverride"
						[monotonyOverride]="monotonyOverride$"
						[isCollapsed]="isCollapsed"
						(onPreview)="previewAttribute($event)"
						(onAttributeClick)="attributeClick($event)">
		</attribute-list>
	</div>

	<div class="phd-preview-preview" *ngIf="previewImageSrc">
		<div class="phd-preview-header">
			<div class="phd-label" title="{{previewImageLabel}}">{{previewImageLabel}}</div>
			<div class="phd-close-preview">
				<label (click)="closePreview()"><i class="fas fa-times-circle"></i></label>
			</div>
		</div>

		<div class="phd-preview-fader" [class.on]="doFade">
			<cl-image public-id="{{previewImageSrc}}" title="" type="fetch" background="#ffffff" crop="lpad" height="300" width="300" class="phd-attribute-item-image"></cl-image>
		</div>
	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<attribute-list [selectedAttributeId]="expandedSelectedAttributeId"
					[selectedAttributes]="selectedAttributes"
					[selectedAttributeGroup]="expandedAttributeGroup"
					[isActive]="isActive"
					[attributeGroupId]="expandedAttributeGroupId"
					[isPastCutOff]="isPastCutOff"
					[showCarousel]="false"
					[canEditAgreement]="canEditAgreement"
					[canOverride]="canOverride"
					[monotonyOverride]="monotonyOverride$"
					[updateParent]="true"
					(onPreview)="previewAttribute($event)"
					(closeExpandedAttribute)="closeExpanded()"
					(onAttributeClick)="attributeClick($event)">
	</attribute-list>
</ng-template>
