<attribute-image-preview [attribute]="previewAttribute" (closePreview)="closePreview()" *ngIf="previewAttribute"></attribute-image-preview>

<div *ngFor="let attributeGroup of attributeGroups" class="phd-attribute-group-container">
	<div class="phd-attribute-group-header">
		<div class="label">
			<span title="{{attributeGroup.label}}">{{attributeGroup.label}}</span>
		</div>

		<div class="phd-expand">
			<span (click)="expandAttributes(attributeGroup)">
				<i class="fas fa-expand-arrows-alt"></i>
			</span>
		</div>
	</div>

	<div class="phd-attribute-group-body">
		<attribute-list [selectedAttributes]="selectedAttributes"
						[selectedAttributeGroup]="attributeGroup"
						[isActive]="isActive"
						[attributeGroupId]="attributeGroup.id"
						[isPastCutOff]="isPastCutOff"
						[showCarousel]="true"
						[canEditAgreement]="canEditAgreement"
						[canOverride]="canOverride"
						[monotonyOverride]="monotonyOverride$"
						[isCollapsed]="isCollapsed"
						[favoriteChoiceAttributes]="favoriteChoiceAttributes"
						[isDesignComplete]="isDesignComplete"
						(onPreview)="preview($event)"
						(onAttributeClick)="attributeClick($event)">
		</attribute-list>
	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<attribute-list [selectedAttributeId]="expandedSelectedAttributeId"
					[selectedAttributes]="selectedAttributes"
					[selectedAttributeGroup]="expandedAttributeGroup"
					[isActive]="isActive"
					[attributeGroupId]="expandedAttributeGroupId"
					[isPastCutOff]="isPastCutOff"
					[showCarousel]="false"
					[canEditAgreement]="canEditAgreement"
					[canOverride]="canOverride"
					[monotonyOverride]="monotonyOverride$"
					[updateParent]="true"
					[favoriteChoiceAttributes]="favoriteChoiceAttributes"
					(onPreview)="preview($event)"
					(closeExpandedAttribute)="closeExpanded()"
					(onAttributeClick)="attributeClick($event)">
	</attribute-list>
</ng-template>
