@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.phd-blocked-link {
	color: var(--link-color);
  	text-decoration: underline;
}

.phd-hidden-item {
	font-weight: bold;
}

.phd-left-spacing {
	padding-left: 4px;
}
