<ng-container *ngIf="disabledByItem.ruleType === 1 && !isChoiceItem">
	Make a
	<span [ngClass]="displayBlockedItems()" (click)="onBlockedItemClick(disabledByItem.pointId)">{{disabledByItem.label}}</span>
	selection
	<span>{{conjunction}}</span>
</ng-container>

<ng-container *ngIf="disabledByItem.ruleType === 1 && isChoiceItem">
	Select
	<span [ngClass]="displayBlockedItems()" (click)="onBlockedItemClick(disabledByItem.pointId)">{{disabledByItem.label}}</span>
	<span class="phd-left-spacing">{{conjunction}}</span>
</ng-container>

<ng-container *ngIf="disabledByItem.ruleType === 2">
	<span [ngClass]="displayBlockedItems()" (click)="onBlockedItemClick(disabledByItem.pointId)">{{disabledByItem.label}}</span>
	selection
	<span>{{conjunction}}</span>
</ng-container>
