@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

.phd-homesites-counter {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 15px;
}

.fa {
	cursor: pointer;
}

.phd-lot-info-incomplete {
	color: red;
}
