@import "../../../../../../scss/color-pallet.scss";
@import "../../../../../../scss/sizes.scss";

$border-radius-base: 4px;

.phd-indicator {
	font-size: 8pt;
	padding-left: 5px;
}

.phd-rules-list-container {
	margin-top: 1em;

	.phd-rules-list-header {
		display: flex;
		justify-content: space-between;

		.phd-rules-list-header-text {
			font-size: 1.2rem;
			font-weight: bold;
		}

		.phd-rules-list-header-buttons i {
			margin-left: 0.5em
		}
	}

	.phd-rules-list-body {
		border: solid 1px lightgray;
		border-radius: 4px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	i:hover {
		cursor: pointer;
	}

	table {
		margin-bottom: 0;

		.phd-icon-col {
			width: 38px;
		}

		.phd-toggle-td {
			width: 155px;
			text-align: center;
		}
	}

	caption {
		padding-left: 8px;

		.phd-caption-header {
			display: block;
		}

		.phd-caption-text {
			padding-left: 8px;
			font-size: .75em;
		}
	}
}

.phd-tree-rule {
	cursor: pointer;
}

.phd-tree-rule-disabled {
	color: #ccc;
	cursor: auto;
}

.phd-child-sp {
	padding-left: 20px !important;
}

.phd-grand-child-sp {
	padding-left: 40px !important;
}

.phd-great-grand-child-sp {
	padding-left: 60px !important;
}

.selections-made {
	.phd-item-multiselect-results {
		height: 120px;
	}
}

/*item selector - END*/

.phd-rule-form-headermodal-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
