<div>
	<button type="button" class="btn btn-primary" (click)="addMapping()" *ngIf="canCreateAlternateMapping && !isReadOnly && !option.baseHouse && !showNewRuleForm">Add Alternate Mapping</button>
</div>

<div *ngIf="showNewRuleForm" class="phd-add-new-rule-form">
	<div class="phd-rule-form-headermodal-header">
		<div class="modal-title">
			<strong>{{ ruleFormHeaderText }}</strong>
		</div>
		<div *ngIf="canCreateAlternateMapping">
			<button type="button" class="btn btn-secondary" (click)="localCancelRule()" *ngIf="selectedChoices.length === 0 && ((isEditMapping || isNewMapping) && currentMappingIndex !== null)">Cancel</button>
			<button type="button" class="btn btn-primary" (click)="addMapping()" *ngIf="!isEditMapping && !isNewMapping">Add Alternate Mapping</button>
		</div>
	</div>

	<!--Choice Selector - BEGIN-->
	<choice-selector [selectedChoices]="selectedChoices"
					 [showSearchResults]="showSearchResults"
					 [searchResultsCount]="searchResultsCount"
					 [searchFilters]="searchFilters"
					 [selectedSearchFilter]="selectedSearchFilter"
					 [selectedLabel]="'Selected Choices'"
					 [searchLabel]="'Map Choices to Option:'"
					 (onKeywordSearch)="keywordSearch($event)"
					 (onRemoveItemClick)="removeItemClick($event)"
					 (onClearFilter)="clearFilter()"
					 (onCancel)="localCancelRule()"
					 (onSave)="localSaveRule()">

		<ng-container *ngFor="let group of groups">
			<ng-container *ngIf="group.matched">
				<div>
					<i class="fa fa-fw" [class.fa-chevron-up]="group.open" [class.fa-chevron-down]="!group.open" (click)="group.open = !group.open"></i>
					<span>{{group.label}}</span>
				</div>
				<ng-container *ngFor="let subGroup of group.subGroups">
					<ng-container *ngIf="group.open && subGroup.matched">
						<div class="phd-child-sp">
							<i class="fa fa-fw" [class.fa-chevron-up]="subGroup.open" [class.fa-chevron-down]="!subGroup.open" (click)="subGroup.open = !subGroup.open"></i>
							<span>{{subGroup.label}}</span>
						</div>
						<ng-container *ngFor="let point of subGroup.points">
							<ng-container *ngIf="subGroup.open && group.open && point.matched">
								<div class="phd-grand-child-sp">
									<i class="fa fa-fw" [class.fa-chevron-up]="point.open" [class.fa-chevron-down]="!point.open" (click)="point.open = !point.open"></i>
									<span>
										{{point.label}}
									</span>
								</div>
								<ng-container>
									<ng-container *ngFor="let choice of point.choices">
										<div *ngIf="point.open && subGroup.open && group.open && choice.matched" class="phd-great-grand-child-sp">
											<span class="phd-tree-rule" (click)="onAddItemClick(choice)">{{choice.label}}</span>
											<span *ngIf="choice.isDecisionDefault" class="text-danger">*</span>
										</div>
									</ng-container>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>
				</ng-container>
			</ng-container>
		</ng-container>
	</choice-selector>
	<!--Choice Selector - END-->

	<div class="clearfix">
		<div class="pull-left">
			<div class="phd-indicator"><span class="text-danger">*</span> Default Choice</div>
			<div class="phd-indicator" *ngIf="canCreateAlternateMapping">
				<i class="fa fa-exclamation-circle"></i> When multiple option mappings exist, all mappings must end on the same Choice OR end on the same pick 1 Decision Point
			</div>
		</div>
	</div>
</div>

<div *ngIf="mappingGroupList.length > 0" class="phd-rules-list">
	<ng-container *ngFor="let mappingGroup of mappingGroupList; index as i">
		<div class="phd-rules-list-container">
			<div class="phd-rules-list-header">
				<div class="phd-rules-list-header-text">
					Mapping {{ (displayIndex === null ? i : displayIndex) + 1 }}
				</div>
				<div class="phd-rules-list-header-buttons" *ngIf="!showNewRuleForm">
					<i class="fa fa-fw fa-pencil" (click)="editMapping(mappingGroup, i)" title="Edit Mapping"></i>
					<i class="fa fa-fw fa-trash" (click)="deleteMapping(mappingGroup)" title="Delete Mapping"></i>
				</div>
			</div>

			<div class="phd-rules-list-body">
				<ng-container *ngFor="let record of mappingGroup.optionRuleChoiceGroups">
					<table class="table table-striped">
						<caption style="caption-side: top;">
							<strong class="phd-caption-header">{{record.pointLabel}}</strong>
						</caption>

						<tbody>
							<tr *ngFor="let rule of record.choices">
								<td>{{rule.label}}</td>
								<td class="phd-toggle-td">
									<button type="button" class="btn btn-sm btn-toggle" *ngIf="!isReadOnly && !hideToggleAndDelete" [ngClass]="{'active': rule.mustHave, 'btn-primary':  rule.mustHave, 'btn-secondary': !rule.mustHave }" (click)="toggleMustHave(record)">
										<div class="handle"></div>
									</button>

									<span *ngIf="isReadOnly || hideToggleAndDelete">{{rule.mustHave ? 'Must Have' : 'Must Not Have'}}</span>
								</td>
								<td *ngIf="!isReadOnly && !hideToggleAndDelete" class="phd-icon-col">
									<i class="fa fa-fw fa-trash" (click)="localDeleteRule(rule)" title="Delete"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</ng-container>
			</div>
		</div>
	</ng-container>
</div>
