<side-panel-component [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseSidePanel($event)">
	<ng-template #header>
		<h4><strong>{{ sidePanelHeader }}</strong></h4>
	</ng-template>

	<ng-template #body>
		<ul ngbNav #nav="ngbNav" justify="start" (navChange)="beforeNavChange($event)" class="nav-tabs">
			<li ngbNavItem="details">
				<a ngbNavLink>Details</a>

				<ng-template ngbNavContent>
					<div class="container pt-3">
						<locations-details-tab [selectedLocation]="selectedLocation"
											   [existingLocations]="existingLocations"
											   [isSaving$]="isSaving$"
											   (locationChanged)="onLocationChanged()">
						</locations-details-tab>
					</div>
				</ng-template>
			</li>
			<li ngbNavItem="groups">
				<a ngbNavLink>Groups</a>

				<ng-template ngbNavContent>
					<div class="container pt-3">
						<locations-groups-tab [selectedGroups]="selectedGroups"
											  [activeLocationGroups]="activeLocationGroups"
											  [searchKeyword]="searchKeyword"
											  [searchFilter]="searchFilter"
											  [searchSelectedAddGroup]="searchSelectedAddGroup"
											  [searchSelectedRemoveGroup]="searchSelectedRemoveGroup"
											  [isSaving]="isSaving"
											  (groupSelectionChanged)="onGroupSelectionChanged()">
						</locations-groups-tab>
					</div>
				</ng-template>
			</li>
		</ul>

		<div [ngbNavOutlet]="nav"></div>
	</ng-template>

	<ng-template #footer>
		<div class="phd-footer-row phd-footer-add-another" *ngIf="isAdd">
			<button class="btn btn-primary phd-btn-save" (click)="saveAndContinue();" [disabled]="saveDisabled">
				<ng-container *ngIf="!isSaving || (isSaving && !isAddingAnother)">Add Another</ng-container>

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving && isAddingAnother"></i>
			</button>
		</div>

		<div class="phd-footer-row">
			<button class="btn btn-primary phd-btn-save" (click)="saveAndClose()" [disabled]="saveDisabled">
				Save & Close

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving && !isAddingAnother"></i>
			</button>

			<button class="btn btn-secondary" (click)="toggleSidePanel()">Cancel</button>
		</div>
	</ng-template>
</side-panel-component>
