<phd-side-panel-component [headerTemplate]="header"
	[bodyTemplate]="body"
	[footerTemplate]="footer"
	[sidePanelOpen]="sidePanelOpen"
	(onSidePanelClose)="onCloseSidePanel($event)"
	[isDirty]="isDirty">

	<ng-template #header>
		<h4 *ngIf="(!selected) || (selected.templateId === null)"
			class="phd-side-panel-header"><strong>Add Document</strong></h4>
		<h4 *ngIf="selected && selected.templateId !== null"
			class="phd-side-panel-header"><strong>Manage Document</strong></h4>
	</ng-template>

	<ng-template #body>
		<div class="phd-side-panel-body">
			<ul ngbNav
				#nav="ngbNav"
				[(activeId)]="currentTab"
				class="nav-tabs">
				<li [ngbNavItem]="'details'">
					<a ngbNavLink>Details</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<form [formGroup]="viewContractsForm">
								<div class="form-group">
									<div class="phd-checkbox-group">
										<div class="phd-checkbox-label">
											<input type="checkbox"
												id="isPhd"
												name="isPhd"
												formControlName="isPhd"
												class="phd-checkbox-label"
												(change)="updateSelectionFromFormGroup()" />
											<label for="isPhd"
												class="form-check-label">PHD</label>
										</div>
										<div class="phd-checkbox-label">
											<input type="checkbox"
												id="isTho"
												name="isTho"
												formControlName="isTho"
												class="phd-checkbox-label"
												(change)="updateSelectionFromFormGroup()" />
											<label for="isTho"
												class="form-check-label">THO</label>
										</div>
									</div>
									<span class="text-danger"
										*ngIf="viewContractsForm.errors?.requireCheckBoxesToBeChecked && ((viewContractsForm.controls.isPhd.dirty || viewContractsForm.controls.isPhd.touched) || (viewContractsForm.controls.isTho.dirty || viewContractsForm.controls.isTho.touched))">
										Invalid: Must select either PHD or THO
									</span>
								</div>
								<div class="form-group">
									<label class="font-weight-bold"
										for="documentName">Document Name</label>
									<input type="text"
										class="form-control"
										[ngClass]="!viewContractsForm.controls.documentName.value || (viewContractsForm.controls.documentName.invalid && (viewContractsForm.controls.documentName.dirty || viewContractsForm.controls.documentName.touched)) ? 'phd-fieldRequired' : ''"
										id="documentName"
										maxlength="100"
										formControlName="documentName"
										required />
									<div class="col-sm-12">
										<span class="text-danger"
											*ngIf="viewContractsForm.controls.documentName.invalid && (viewContractsForm.controls.documentName.dirty || viewContractsForm.controls.documentName.touched) && viewContractsForm.controls.documentName.errors.required">
											Invalid: A Document Name is required.
										</span>
										<span class="text-danger"
											*ngIf="viewContractsForm.controls.documentName.invalid && viewContractsForm.controls.documentName.dirty && viewContractsForm.controls.documentName.errors.duplicateName">
											Invalid: This Document Name already exists.
										</span>
										<span class="text-danger"
											*ngIf="viewContractsForm.controls.documentName.value && viewContractsForm.controls.documentName.invalid && viewContractsForm.controls.documentName.dirty && viewContractsForm.controls.documentName.errors.whiteSpaceValidator">
											Invalid: Document Name must have alpha/numeric characters
										</span>
										<span class="text-danger"
											*ngIf="viewContractsForm.controls.documentName.value && viewContractsForm.controls.documentName.invalid && viewContractsForm.controls.documentName.dirty && viewContractsForm.controls.documentName.errors.pattern">
											Invalid: Document Name has special characters
										</span>
									</div>
								</div>

								<div class="form-group">
									<label class="font-weight-bold"
										for="displayName">Display Name</label>
									<input type="text"
										class="form-control"
										[ngClass]="!viewContractsForm.controls.displayName.value || (viewContractsForm.controls.displayName.invalid && (viewContractsForm.controls.displayName.dirty || viewContractsForm.controls.displayName.touched)) ? 'phd-fieldRequired' : ''"
										id="displayName"
										maxlength="100"
										formControlName="displayName"
										required />

									<div class="col-sm-12">
										<span class="text-danger"
											*ngIf="viewContractsForm.controls.displayName.invalid && (viewContractsForm.controls.displayName.dirty || viewContractsForm.controls.displayName.touched) && viewContractsForm.controls.displayName.errors.required">
											Invalid: A Display Name is required.
										</span>
										<span class="text-danger"
											*ngIf="viewContractsForm.controls.displayName.value && viewContractsForm.controls.displayName.invalid && viewContractsForm.controls.displayName.dirty && viewContractsForm.controls.displayName.errors.whiteSpaceValidator">
											Invalid: Display Name must have alpha/numeric characters
										</span>
									</div>
								</div>

								<div class="phd-version-control-container"
									*ngIf="selected && (selected.status === 'In Use'  || selected.status === 'Draft'); else otherStatus">
									<div>
										<h6>Document Type</h6>
										<span>{{documentType.label | capitalCaseSpace}}</span>
									</div>
									<div>
										<h6>Version</h6>
										<span>{{selected.version}}</span>
									</div>
									<div>
										<h6>Status</h6>
										<span>{{selected.status}}</span>
									</div>
								</div>

								<ng-template #otherStatus>
									<div class="form-group">
										<label class="font-weight-bold"
											for="release_rank">Document Type</label>
										<select id="release_rank"
											class="form-control"
											[ngClass]="viewContractsForm.errors?.requireTemplateSelect && (!viewContractsForm.controls.templateTypeId.value || viewContractsForm.controls.templateTypeId.dirty || viewContractsForm.controls.templateTypeId.touched) ? 'phd-fieldRequired' : ''"
											formControlName="templateTypeId"
											(change)="updateSelection()">
											<option *ngFor="let type of templateTypes"
												[ngValue]="type.id">{{ type.label}}</option>
										</select>

										<div class="col-sm-12">
											<span class="text-danger"
												*ngIf="viewContractsForm.errors?.requireTemplateSelect && (viewContractsForm.controls.templateTypeId.dirty || viewContractsForm.controls.templateTypeId.touched)">
												Invalid: A Document Type is required.
											</span>
										</div>
									</div>
								</ng-template>

								<div class="form-group"
									*ngIf="viewContractsForm.get('templateTypeId').value === 2">
									<label class="font-weight-bold"
										for="addendumTypeId">Addenda Type</label>
									<select id="addendumTypeId"
										class="form-control"
										[ngClass]="viewContractsForm.errors?.requireAddendumSelect && (viewContractsForm.controls.addendumTypeId.dirty || viewContractsForm.controls.addendumTypeId.touched) ? 'phd-fieldRequired' : ''"
										formControlName="addendumTypeId">
										<option *ngFor="let type of addendaTypes"
											[ngValue]="type.id">{{ type.label}}</option>
									</select>

									<div class="col-sm-12">
										<span class="text-danger"
											*ngIf="viewContractsForm.errors?.requireAddendumSelect && (viewContractsForm.controls.addendumTypeId.dirty || viewContractsForm.controls.addendumTypeId.touched)">
											Invalid: An Addenda Type is required.
										</span>
									</div>
								</div>

								<div class="form-group calendar-group">
									<label class="font-weight-bold"
										for="effective_date">Effective Date</label>
									<div class="input-group">
										<input type="hidden"
											name="effectiveDate"
											formControlName="effectiveDate" />
										<p-calendar [ngModel]="effectiveDate"
											[ngModelOptions]="{standalone: true}"
											(onSelect)="setMinimumExpirationDate($event)"
											dateFormat="mm/dd/yy"
											readonlyInput="true"
											[minDate]="minEffectiveDate"
											showIcon="true"
											appendTo="body"
											[disabled]="!documentAssociated || (selected && selected.status === 'In Use')"></p-calendar>
									</div>
								</div>

								<div class="form-group calendar-group">
									<label class="font-weight-bold"
										for="expiration_date">Expiration Date</label>
									<div class="input-group">
										<input type="hidden"
											name="expirationDate"
											formControlName="expirationDate" />
										<p-calendar [ngModel]="expirationDate"
											[ngModelOptions]="{standalone: true}"
											dateFormat="mm/dd/yy"
											readonlyInput="true"
											[minDate]="minDate"
											showIcon="true"
											(onSelect)="onSetDate($event, 'expiration')"
											appendTo="body"></p-calendar>
									</div>
								</div>
							</form>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'community'">
					<a ngbNavLink>Community Assignment</a>

					<ng-template ngbNavContent>
						<div class="container pt-3">
							<form [formGroup]="viewContractsForm">
								<div class="form-group phd-select-communities">
									<label class="font-weight-bold"
										for="selectedItemsTags">Unassigned Communities</label>
									<div class="phd-item-multiselect-results">
										<select id="phd-select-communities"
											multiple
											size="9"
											formControlName="assignedCommunityIds">
											<option *ngFor="let comm of communitiesForSelectedTemplate"
												[ngValue]="comm.id">{{ comm.name }}</option>
										</select>
									</div>
								</div>

								<div class="form-group text-center phd-buttons-row">
									<button class="btn btn-sm btn-secondary mr-1"
										(click)="addHighlightedItems()"><i class="fa fa-angle-down fa-fw"></i></button>
									<button class="btn btn-sm btn-secondary mr-1"
										(click)="addAllItems()"><i class="fa fa-angle-double-down fa-fw"></i></button>
									<button class="btn btn-sm btn-secondary"
										(click)="removeAllItems()"><i class="fa fa-angle-double-up fa-fw"></i></button>
								</div>

								<div class="form-group">
									<label class="font-weight-bold"
										for="selectedItemsTags">Assigned Communities</label>
									<div id="selectedItemsTags"
										*ngIf="selectedCommunities.length > 0"
										class="phd-tags-input"
										[class.phd-tags-4row]="selectedCommunities.length > 16">
										<div class="phd-tag"
											*ngFor="let tag of selectedCommunities">
											<span>{{ tag.name }}</span>
											<a class="phd-tags-input-remove-link"
												(click)="removeItem(tag)"></a>
										</div>

									</div>
									<div id="noSelectedItemsTags"
										class="phd-tags-input"
										*ngIf="selectedCommunities.length === 0">
										<div class="phd-tag">
											<span>No Communities Selected</span>
										</div>
									</div>
								</div>
							</form>
						</div>
					</ng-template>
				</li>
			</ul>

			<div class="phd-nav-tab-content">
				<div [ngbNavOutlet]="nav"></div>
			</div>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save"
				(click)="save();"
				[disabled]="saveDisabled">
				Save

				<ng-container *ngIf="saving"><i class="fa fa-spinner fa-spin fa-fw"></i></ng-container>
			</button>

			<button class="btn btn-secondary"
				(click)="onCancel()">Cancel</button>
		</div>
	</ng-template>

</phd-side-panel-component>

<p-toast></p-toast>