<ul class="list-unstyled">
	<li *ngFor="let point of points" class="d-flex align-items-top justify-content-start" [@slideOut]>
		<div class="decision-point">
			<div class="label" title="{{point.label}}">
				<div class="icon">
					<i class="fa fa-check" *ngIf="point.isStructuralItem || point.isPastCutOff"></i>
				</div>
				<div>
					{{point.label}}
					<div class="sub-title">{{getSubTitle(point)}}</div>
				</div>
			</div>
			<div *ngFor="let choice of point.choices">
				<decision-bar-choice
					[choice]="getChoiceExt(choice, point)"
					[choiceCanBeFavorited]="!point.isStructuralItem && !point.isPastCutOff"
					(onToggleChoice)="toggleChoice($event)"
					(onViewChoiceDetail)="viewChoiceDetail($event)">
				</decision-bar-choice>
			</div>
			<decision-bar-decline-choice *ngIf="showDeclineChoice(point)"
						[point]="point"
						[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
						(onDeclineDecisionPoint)="declineDecisionPoint($event)">
			</decision-bar-decline-choice>
		</div>
	</li>
</ul>
