<div class="phd-quick-card">
	<cl-image public-id="{{getImagePath()}}" type="fetch"
		width="286" crop="fill" (onError)="loadImageError($event)" class="card-img-top"></cl-image>
	<div>
		<div class="phd-flex-container">
			<div class="phd-plan-name">
				{{lot.salesName}}
			</div>
				<div>Lot #{{ lot.lotBlock }} </div>
			<div>
				{{lot.price | currency:'USD':'symbol':'4.0-0'}}
			</div>
		</div>
		<div class="d-flex mt-auto phd-plan-selection-container">
			<div class="phd-choose-button" *ngIf="!hasPendingChangeOrder">
				<button class="btn w-100 phd-experience-btn-choice" type="button" (click)="toggleSpecHome()" [disabled]="!canConfigure">
					{{getButtonLabel()}}
				</button>
			</div>
			<div class="phd-pending-change-order" *ngIf="hasPendingChangeOrder">
				Unavailable - Pending CO Conflict
			</div>
		</div>
	</div>
</div>
