<div>
	<header-bar
		[communityName]="communityName"
		[planName]="planName">
	</header-bar>
</div>

<div class="phd-included-options">
	<div class="d-flex flex-row phd-point-panel">
		<div *ngIf="!isPointPanelCollapsed" class="phd-point-bar">
			<included-decision-bar
				[tree]="filteredTree"
				[points]="points"
				(selectDecisionPoint)="selectDecisionPoint($event)" 
				(selectSubGroup)="selectSubGroup($event)">
			</included-decision-bar>
		</div>
		<button class="d-flex justify-content-center align-items-center phd-collapse-icon" [ngClass]="isPointPanelCollapsed ? 'phd-collapsed-icon-bg' : ''">
			<i *ngIf="!isPointPanelCollapsed" class="fa fa-angle-double-left" (click)="togglePointPanel()"></i>
			<i *ngIf="isPointPanelCollapsed" class="fa fa-angle-double-right" (click)="togglePointPanel()"></i>
		</button>	
	</div>

	<div class="d-flex flex-column phd-card-panel" [ngClass]="isPointPanelCollapsed ? 'phd-card-panel-collapsed' : ''">
		<ng-container *ngIf="!noVisibleGroups">
			<div class="phd-point-container">
				<ng-container *ngFor="let group of filteredTree.groups">
					<ng-container *ngFor="let subGroup of group.subGroups">
						<ng-container *ngIf="defaultChoicePresent(subGroup)">
							<h3 class="d-flex flex-row phd-group-subgroup-header" [attr.id]="'included-subgroup-' + subGroup.id">
								<div class="phd-group-label">{{group.label}}:</div>
								<div class="phd-subgroup-label">{{subGroup.label}}</div>
							</h3>
							<div class="d-flex flex-wrap phd-choice-container">
								<ng-container *ngFor="let point of subGroup.points">
									<div *ngIf="displayDecisionPoint(point)">
										<div class="phd-point-label" [attr.id]="'included-point-' + point.id" (click)="onViewDecisionPoint(point)">{{point?.label}}</div>
										<div class="phd-choice-cards">
											<ng-container *ngFor="let choice of displayedChoices(point.choices)">
												<choice-card *ngIf="!choice.isHiddenFromBuyerView"
														[currentChoice]="getChoiceExt(choice, point)"
														[currentPoint]="point"
														[groups]="filteredTree.groups"
														[tree]="tree"
														[isPresale]="buildMode === 'presale'"
														[isIncludedOptions]="true"
														(toggled)="choiceToggleHandler($event)"
														(viewChoiceDetail)="viewChoiceDetail($event)">
												</choice-card>
											</ng-container>
										</div>
									</div>
								</ng-container>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>
			</div>
		</ng-container>
	</div>
</div>

<action-bar primaryAction="Next: Additional Options"
			[isPresale]="true"
			[hideContractedToggle]="true"
			(callToAction)="onNextClicked()">
</action-bar>
