.box-background {
	background-color: #D5D5D5;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	margin-left:600px;
	margin-top:100px;
	width:350px;
}

.box{
	text-align: center;
	padding:15px;
}

.line{
	text-align: center;
	margin-bottom:10px;
}

.input-line{
	text-align: center;
	margin-bottom:20px;
	margin-top:5px;
}

.save-button{
	margin-left:750px;
	margin-top:100px;
}
