<div class ="phd-page-container">
	<div class="pdh-page-body">
		<div class="container-fluid mx-auto">
			<div class="box-background">
				<div class="box">
					<div class="line">
						<div class="font-weight-bold">THO ECOE date for Dirt Sale:</div>
					</div>
					<div class="line">
						<label class="font-weight-bold">Purchase Date +</label>
						&nbsp;
						<select id="ecoe-months">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
						&nbsp;
						<label class="font-weight-bold">Months</label>
					</div>
				</div>
			</div>
			<div class="box-background">
				<div class="box">
					<div class="line">
						<div class="font-weight-bold">Set THO Earnest Money amount here:</div>
					</div>
					<div class="input-line">
						<div class="form-group">
							<label class="font-weight-bold">$</label>
							&nbsp;
							<input id="earnest-money" oninput="this.value = this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');" maxlength="5"/>
						</div>
					</div>
				</div>
			</div>
			<div class="box-background" *ngIf="!!url">
				<div class="box">
					<div class="line">
						<div class="font-weight-bold">Enable THO Community Link for Sales Consultants Only</div>
						<div class="col-md">
							<button class="btn btn-sm btn-toggle btn-auto-approval" [ngClass]="{'active': !communityLinkEnabled, 'btn-success': communityLinkEnabled, 'btn-secondary': !communityLinkEnabled}"
									(click)="toggleCommunityLink()">
								<div class="handle"></div>
							</button>
						</div>
						<div class="line">
							<a class="btn-link" [href]="url" target="_blank" rel="noopener noreferrer">{{ url }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="save-button">
				<button class="btn btn-primary" (click)="save();" *ngIf="canEdit">Save</button>
			</div>
		</div>
	</div>
</div>

