<side-panel-component [headerTemplate]="header" [subheaderTemplate]="subheader" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseSidePanel($event)">
	<ng-template #header>
		<h4 class="phd-side-panel-header"><strong>{{ sidePanelHeader }}</strong></h4>
	</ng-template>

	<ng-template #subheader>
		<div class="phd-side-panel-subheader-text">{{ sidePanelSubheader }}</div>
	</ng-template>

	<ng-template #body>
		<form [formGroup]="catalogForm">
			<ng-container *ngIf="catalogItem.id != null">
				<div class="form-group">
					<label for="label">Label</label>
					<input type="text" class="form-control" id="label" formControlName="label" maxlength="100">

					<span class="validation-error" *ngIf="catalogForm.controls.label && catalogForm.controls.label.invalid && catalogForm.controls.label.dirty && catalogForm.controls.label.errors.alreadyExist">
						Choice already exists in this Decision Point.
					</span>
				</div>

				<div class="form-check">
					<input id="default-check" class="form-check-input" type="checkbox" formControlName="isDefault" />
					<label for="default-check" class="form-check-label">Default</label>
					<i class="fa fa-exclamation-circle" aria-hidden="true" *ngIf="disableIsDefault" ngbTooltip="There can only be one default Choice for this Decision Point" container="body"></i>
				</div>
				<div class="phd-design-preview-choices">
					<label for="phd-design-preview-choices" class="phd-design-preview-label">Design Preview</label>
					<div class="form-options">
						<div class="form-check">
							<input id="hide-from-buyer-check" class="form-check-input" type="checkbox" formControlName="isHiddenFromBuyerView" (click)="checkHiddenStatus()" />
							<label for="hide-from-buyer-check" class="form-check-label">Hide Choice Card From Buyer View</label>
							<i class="fa fa-eye-slash icon-spacing-left" aria-hidden="true" ngbTooltip="Hide Choice Card From Buyer View" container="body"></i>
						</div>
						<div class="form-check">
							<input id="hide-price-from-buyer-check" class="form-check-input" type="checkbox" formControlName="priceHiddenFromBuyerView" (click)="checkHiddenStatus()" />
							<label for="hide-price-from-buyer-check" class="form-check-label">Hide Price From Buyer View</label>
							<span class="fa-stack phd-fa-dollar-ban" ngbTooltip="Hide Price From Buyer View" container="body">
								<i class="fa fa-ban"></i>
								<i class="fa fa-dollar"></i>
							</span>
						</div>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="catalogItem.id == null">
				<div formArrayName="labelArray">
					<div class="form-group" *ngFor="let control of labelArray.controls; let i = index">
						<label>Label</label>
						<input type="text" class="form-control" [formControlName]="i" (keydown.Tab)="onAddChoice(i)" />
						
						<span class="validation-error" *ngIf="labelArray.controls[i] && labelArray.controls[i].invalid && labelArray.controls[i].dirty && labelArray.controls[i].errors.alreadyExist">
							Choice already exists in this Decision Point.
						</span>
					</div>
				</div>

				<button type="button" class="btn btn-sm btn-primary ml-1" (click)="onAddChoice()" *ngIf="showPlus">Add</button>
			</ng-container>
		</form>
	</ng-template>

	<ng-template #footer>
		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save" (click)="save();" [disabled]="canSave">
				Save

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving"></i>
			</button>

			<button class="btn btn-secondary" (click)="toggleSidePanel()">Cancel</button>
		</div>
	</ng-template>
</side-panel-component>

