<merge-fields-side-panel-component *ngIf="sidePanelOpen" [sidePanelOpen]="sidePanelOpen" [saving]="saving" (onSidePanelClose)="onSidePanelClose($event)" (onSave)="save($event)" [selected]="selected" [marketMergeFields]="marketMergeFields" [communityMergeFields]="communityMergeFields" [currentMkt]="currentMkt"></merge-fields-side-panel-component>

<div class="phd-page-container" [class.phd-side-panel-open]="sidePanelOpen">
	<page-header mainTitle="Sales Contract Setup > Manage Custom Fields">
		<ng-template>
			<div class="col">
				<span>
					<button type="button" class="btn btn-md btn-link" (click)="addField()" *ngIf="selectedTab === 'Market' && canEdit">Add Field</button>
					<button type="button" class="btn btn-md btn-link" (click)="resetAllCommunityFieldValues()" *ngIf="selectedTab === 'Community' && canEdit">Reset All Field Values</button>
					<i class="fa fa-file fa-2x" [routerLink]="['/contracts/view-contracts']"></i>
				</span>
			</div>
		</ng-template>
	</page-header>

	<div class="phd-page-body">
		<div class="mx-3 phd-filter-body">
			<div>
				<ul class="nav nav-tabs">
					<li class="nav-item phd-tab" [ngClass]="{'show phd-active': (selectedTab === 'Market')}">
						<a class="nav-link" (click)="onTabClick('Market')">Market Custom Fields</a>
					</li>
					<li class="nav-item phd-tab" [ngClass]="{'show phd-active': (selectedTab === 'Community') }">
						<a class="nav-link" (click)="onTabClick('Community')">Community Custom Fields</a>
					</li>
					<li class="nav-item phd-tab" [ngClass]="{'show phd-active': (selectedTab === 'SignFields')}">
						<a class="nav-link" (click)="onTabClick('SignFields')">E-Sign Fields</a>
					</li>
				</ul>
			</div>
			<div>
				<select class="form-control phd-communities" [hidden]="(selectedTab === 'Market')" [ngModel]="selectedCommunity ? selectedCommunity : null" (ngModelChange)="onChangeCommunity($event)">
					<option [ngValue]="null" disabled="disabled">Community</option>
					<option *ngFor="let comm of (activeCommunities | async)" [ngValue]="comm.dto">{{ comm.name }}</option>
				</select>
			</div>
		</div>

		<div class="phd-table-container mx-2" *ngIf="(selectedTab === 'Market' || selectedTab === 'Community'); else signField">
			<phd-table #dt [value]="(selectedTab === 'Market') ? marketMergeFields : communityMergeFields" class="phd-table">
				<phd-column header="" columnClass="phd-icon">
					<ng-template #body let-mergeField>
						<ng-container *ngIf="canEdit">
							<i *ngIf="(selectedTab === 'Market')" class="fa fa-fw fa-trash-o" ngbTooltip="Delete Merge Field" placement="top-left" container="body" (click)="deleteMergeField(mergeField)"></i>
						</ng-container>
					</ng-template>
				</phd-column>

				<phd-column header="" columnClass="phd-icon">
					<ng-template #body let-mergeField>
						<ng-container *ngIf="canEdit">
							<i class="fa fa-pencil fa-fw" ngbTooltip="Edit Merge Field" container="body" (click)="editMergeField(mergeField)"></i>
						</ng-container>
					</ng-template>
				</phd-column>

				<phd-column header="" columnClass="phd-icon">
					<ng-template #body let-mergeField>
						<ng-container *ngIf="canEdit">
							<i class="fa fa-fw fa-undo" *ngIf="(selectedTab === 'Community') && (mergeField.fieldValue !== mergeField.marketFieldValue)" ngbTooltip="Reset Merge Field Value" container="body"  (click)="resetCommunityFieldValue(mergeField)"></i>
						</ng-container>
					</ng-template>
				</phd-column>

				<phd-column field="fieldName" header="Field Name"></phd-column>
				<phd-column field="fieldValue" header="Field Value"></phd-column>
				<phd-column header="Status">
					<ng-template #body let-mergeField>
						<ng-container *ngIf="mergeField.isActive ? 'Active' : 'Inactive'; let isActive">
							<span (mouseenter)="showTooltip($event, isActive, dt)" (mouseleave)="hideTooltip(dt)">{{ isActive }}</span>
						</ng-container>
					</ng-template>
				</phd-column>
			</phd-table>
		</div>

		<ng-template #signField>
			<div class="phd-form">
				<sign-fields (signFieldSaved)="onSaveSignField($event)" [currentMkt]="currentMkt" [selectedCommunity]="selectedCommunity" [existingSignField]="existingSignField" [canEdit]="canEdit"></sign-fields>
			</div>
		</ng-template>
	</div>
</div>

<p-toast></p-toast>
