
.fa {
	cursor: pointer;
}

.phd-filter-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.phd-table {
	padding: 5px;
}

.phd-tab:hover {
	cursor: pointer;
}

.phd-tab a {
	background-color: lightgray;

	.phd-active {
		background-color: white;
		height: 50px;
	}
}
