hr {
	border-top: 1px solid #676767;
}

.phd-hamburger-header {
	background-color: white;
}

.phd-hamburger-menu-item {
	font-weight: bold;
	padding: 0; // overwrite default padding of mat-expansion-panel-header
	min-height: 48px;

	a {
		width: max-content;
	}
}
