<side-panel-component [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseSidePanel($event)">
	<ng-template #header>
		<h4 class="phd-side-panel-header"><strong>{{ sidePanelHeader }}</strong></h4>
	</ng-template>

	<ng-template #body>
		<div>
			<h4>Select {{itemType}}s</h4>
		</div>
		<div>
			<ul class="list-group" *ngFor="let item of inactiveItems">
				<li class="list-group-item">
					<label class="form-check">
						<input type="checkbox" name="selectedOptions" class="form-check-input" (change)="updateList(item)" />
						<span>{{ item.label }}</span>
					</label>
				</li>
			</ul>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save" (click)="save();" [disabled]="!canSave">Save</button>
			<button class="btn btn-secondary" (click)="toggleSidePanel()">Cancel</button>
		</div>
	</ng-template>
</side-panel-component>
