<div class="phd-choice-card" [class.active]="choice?.quantity" [class.selected]="choice?.quantity" [@flipOver]>
	<div class="phd-header">
		<div class="phd-choice-image">
			<cl-image public-id="{{getImagePath()}}" type="fetch" background="#ffffff" crop="lpad" height="190" width="270"
					  (onError)="onLoadImageError($event)">
			</cl-image>
		</div>
	</div>

	<div class="phd-body">
		<div class="phd-choice-details">
			<h1 class="phd-2-line-limit">
				{{choice?.label}}
			</h1>
			<div class="d-flex flex-row justify-content-between">
				<div>
					<strong>{{choice.price | currency:'USD':'symbol':'0.0-0'}}</strong>
				</div>
				<div class="phd-select-favorite">
					<span class="phd-icon-selected"><i *ngIf="isSelected" class="fa fa-heart" (click)="toggleChoice()"></i></span>
					<i *ngIf="!isSelected" class="fa fa-heart-o" (click)="toggleChoice()"></i>
				</div>
			</div>
		</div>
	</div>
</div>

