.dialogAsterisk {
	color: red;
	font-size: 7px;
vertical-align: text-top;
}

.dialogSelects {
	width: 300px;
}

.dialogTable {
	width: 100%;
	border: none;
}

.dialogTable td, .dialogTable th {
	padding: .25rem;
	border: none;
}

.dialogTextbox {
	width: 460px
}

.modal-body {
	height: 650px;
	overflow-y: auto;
	overflow-x: hidden;
}
