<div class="choice-container">
	<div class="icon phd-clickable" (click)="$event.stopPropagation()">
		<span class="phd-icon-selected"><i *ngIf="choiceCanBeFavorited && choice?.isFavorite" class="fa fa-heart" (click)="toggleChoice()"></i></span>
		<i *ngIf="choiceCanBeFavorited && !choice?.isFavorite" class="fa fa-heart-o" (click)="toggleChoice()"></i>
	</div>
	<div class="choice-label phd-clickable" (click)="viewChoiceDetail()">{{choice?.label}}</div>
	<div class="choice-price">{{choice?.price | currency}}</div>
</div>
