<div class="overflow-hidden">
	<nav>
		<mat-nav-list class="phd-group-list d-flex flex-row p-0 overflow-auto">
			<mat-list-item class="phd-group-list-item d-flex flex-nowrap p-0" *ngFor="let group of groups">
				<button mat-stroked-button class="phd-group-button w-100"
					[matMenuTriggerFor]="subgroupMenu" #t="matMenuTrigger"
					[class.phd-group-active]="isGroupActive(group)"
					[class.phd-group-open]="t.menuOpen && !isGroupActive(group)"
					data-testid="group-button">
					{{group.label}}
					<mat-icon iconPositionEnd class="phd-expansion-icon" data-testid="expand-icon">{{ t.menuOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
				</button>
				<mat-menu #subgroupMenu="matMenu" class="phd-subgroup-menu">
					<mat-nav-list class="p-0">
						<mat-list-item *ngFor="let subGroup of group.subGroups" class="phd-subgroup-list-item px-3 py-1">
							<a
								class="phd-subgroup-list-item-label mat-headline-3"
								[ngClass]="{'phd-subgroup-list-item-label-selected' : selectedSubGroupId === subGroup.id}"
								[routerLink]="['/options', subGroup.id, subGroup.points[0]?.id]"
								queryParamsHandling="merge"
								data-testid="subgroup-link">
								{{subGroup.label}}
							</a>
						</mat-list-item>
					</mat-nav-list>
				</mat-menu>
			</mat-list-item>
		</mat-nav-list>
	</nav>
</div>
