@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

$border-radius-base: 4px;

.phd-item-multiselect-results {
	overflow-y: auto;
	padding: 10px;
	border: solid 1px $gray-lighter;
	box-shadow: 0 1px 4px 0 darken($gray-lighter,20%);
	border-radius: 0 0 $border-radius-base $border-radius-base;
	background-color: white;

	a:hover {
		cursor: pointer;
		text-decoration: none;
	}

	a.close {
		color: $gray;
	}

	select[multiple] {
		border: none;
		width: 100%;
		overflow-y: auto;
	}
}

.attribute-group-action-button {
	margin-left: 15px;
}

.phd-divisional-group-text {
	font-style: italic;
}
