@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/animations.scss";

.phd-choice-decline-card {
	width: 300px;
	background-color: white;
	margin: 5px;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	cursor: pointer;

	.phd-header {
		flex: 0 1 auto;
		position: relative;
	}

	.phd-body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.phd-decline-choice-image {
		width: 100%;
		flex-basis: 75%;
		border-bottom: 1px solid lightgrey;
		min-height: 200px;
		display: flex;
		justify-content: center;
		padding: 0 11.73%;

		::ng-deep img {
			height: 200px;
			width: 100%;
			border-radius: .25rem .25rem 0 0;
			padding: 10%;
		}
	}

	.phd-logo-image {
		width: 270px;
		height: 190px;
	}

	.phd-choice-decline-details {
		margin: 10px 0 0 10px;
		max-height: 220px;

		h1 {
			font-size: 15px;
			font-weight: 500;
		}

		strong {
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 0;
		}

		.phd-non-clickable {
			font-size: 20px;
			margin: 0;
			padding: 5px 15px 0 15px;
			background: none;
			border: none;

			.fa-heart {
				background: white;
			}

			.fa-heart-o {
				background: white;
			}
		}

		.phd-clickable {
			font-size: 20px;
			margin: 0;
			padding: 5px 15px 0 15px;
			background: none;
			border: none;
		}

		.phd-presale-padding {
			padding: 15px 10px 0 15px;
		}

		.phd-icon-selected {
			color: var(--heart-icon-color);
		}
	}

	.phd-2-line-limit {
		min-height: 36px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		margin: 0;
	}

	.phd-presale-icon {
		align-self: flex-end;
	}
}