<div class="phd-choice-decline-card" [@flipOver]>
	<div class="phd-header">
		<div class="phd-decline-choice-image">
			<img class="phd-logo-image" [src]="imageSrc">
		</div>
	</div>

	<div class="phd-body">
		<div *ngIf="!isPresale" class="phd-choice-decline-details">
			<h1 class="phd-2-line-limit">
				No Selections
			</h1>
			<div class="d-flex flex-row justify-content-between">
				<div>
					<strong></strong>
				</div>
				<ng-container>
					<button class="phd-non-clickable" (click)="$event.stopPropagation()">
						<span class="phd-icon-selected"><i *ngIf="isDeclined" class="fa fa-heart" (click)="toggleDecline()"></i></span>
						<i *ngIf="!isDeclined && currentPoint.enabled" class="fa fa-heart-o" (click)="toggleDecline()"></i>
					</button>
				</ng-container>
				<ng-container *ngIf="!currentPoint.enabled">
					<button class="phd-clickable phd-favorite-selector">
						<i class="fa fa-ban" (click)="openBlockedChoiceModal()"></i>
					</button>
				</ng-container>
			</div>
		</div>

		<div *ngIf="isPresale" class="phd-choice-decline-details d-flex flex-row justify-content-between" [ngClass]="getBodyHeight()">
			<h1 class="phd-2-line-limit">
				No Selections
			</h1>
			<div class="phd-presale-icon d-flex flex-row justify-content-between">
				<div>
					<strong></strong>
				</div>
				<ng-container>
					<button class="phd-non-clickable" (click)="$event.stopPropagation()">
						<span class="phd-icon-selected"><i *ngIf="isDeclined" class="fa fa-heart" (click)="toggleDecline()"></i></span>
						<i *ngIf="!isDeclined && currentPoint.enabled" class="fa fa-heart-o" (click)="toggleDecline()"></i>
					</button>
				</ng-container>
				<ng-container *ngIf="!currentPoint.enabled">
					<button class="phd-clickable phd-favorite-selector">
						<i class="fa fa-ban" (click)="openBlockedChoiceModal()"></i>
					</button>
				</ng-container>
			</div>
		</div>
	</div>
</div>

<ng-template #blockedChoiceModal let-c="close" let-d="dismiss">
	<blocked-choice-modal
		[disabledByList]="disabledByList"
		[choiceLabel]="'No Thanks!'"
		(closeModal)="onCloseClicked()"
		(blockedItemClick)="onBlockedItemClick()"
	></blocked-choice-modal>
</ng-template>