@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

.phd-flex-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}


.phd-override {
  width: 450px;
  height: 40px;
}

.modal-body {

  .phd-override-reason {
    display: flex;
    align-items: center;
    flex-direction: column;

    label {
      padding-left: 25px;
      align-self: flex-start;
    }
  }
}