@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

#phd-action-bar {

	#agreement-action {
		flex-grow: 3;

		& ::ng-deep > div::before {
			content: '';
			margin: 18px;
			height: 50px;
		}

		& ::ng-deep > div:not(:first-child)::before {
			border-left: 1.5px solid #d4d4d4;
		}

		& ::ng-deep > div {
			display: flex;
			align-items: center;
		}
	}

	position: fixed;
	width: calc(100% - #{$nav-menu});
	height: $action-bar;
	bottom: 0;
	left: $nav-menu;
	z-index: 2;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	/* Force Hardware Acceleration */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;

	&.is-hidden {
		align-self: auto;
		-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
	}

	& ::ng-deep > div::before {
		content: '';
		margin: 18px;
		height: 50px;
	}

	& ::ng-deep > div:not(:first-child)::before {
		border-left: 1.5px solid #d4d4d4;
	}

	& ::ng-deep > div {
		display: flex;
		align-items: center;
	}

	a,
	a:hover,
	a:focus {
		color: $link-blue;
		text-decoration: none;
		font-size: 14px;
		line-height: 1.43;
		transition: all .05s;
		cursor: pointer;

		&.error {
			color: $darkish-pink;
		}

		&.loading,
		&.disabled {
			color: lightgray;
			pointer-events: none;
			cursor: default;
			font-weight: normal;
		}
	}

	.btn {
		max-width: 400px;
		min-width: 185px;
		height: 54px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;

		&.complete {
			background-color: $weird-green;

			&:hover {
				background-color: $weird-green-hover;
			}
		}

		&.incomplete {
			background-color: $squash;

			&:hover,
			&:focus {
				background-color: none;
				box-shadow: none;
			}
		}

		&.phd-action-not-allowed {
			cursor: not-allowed;
		}

		.circle {
			width: 30px;
			height: 30px;
			border: solid 0.5px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}

	.links {
		font-size: 14px;
		line-height: 1.43;
		min-width: 200px;
	}

	.margin {
		margin-left: 350px;
	}

	.phd-cancel,
	.phd-sign {
		font-weight: bold;

		&.disabled {
			color: gray;
		}
	}

	.phd-void {
		&.disabled {
			color: gray;
		}
	}

	.phd-action-bar-change-price {
		font-size: 15px;
	}
}

::ng-deep .modal-footer {
	justify-content: space-between;
}

@media(min-width:calc(#{$tablet-max-width} + 1px)) {
	#left-cell {
		& ::ng-deep > div::before {
			content: '';
			margin: 18px;
			height: 50px;
		}

		& ::ng-deep > div:not(:first-child)::before {
			border-left: 1.5px solid #d4d4d4;
		}

		& ::ng-deep > div {
			display: flex;
			align-items: center;
		}
	}
}

@media (max-width: $tablet-max-width) {

	#left-cell {
		display: flex;
		flex-direction: column;
		margin-left: 5px;
	}

	:host {
		font-size: 80%;
		width: 100px;
		min-width: 400px;
	}

	#phd-action-bar {
		width: 100vw;
		left: 0px;

		& ::ng-deep > div:first-child::before {
			content: '';
			margin: 0px;
			height: 0px;
		}

		.btn {
			font-size: 11px;
			width: 100px;

			.circle {
				width: 20px;
				height: 20px;
				border: solid 0.5px;
				border-radius: 50%;
				margin-right: 5px;
			}
		}

		.links {
			font-size: 8px;
			min-width: 100px;
		}
	}

	.phd-action-bar-right-cell {
		flex-grow: 1;
	}

	.phd-action-bar-action-btn {
		flex-grow: 1;
		min-width: 250px;
	}

	.phd-action-bar-price {
		flex-grow: 1;
		font-size: 14px;
	}
}

::ng-deep .phd-lock-tooltip {
	.phd-lock-tooltip-text {
		text-align: left;
		white-space:nowrap;
	}
}
