$nav-menu: 200px;
$phase-bar: 145px;
$application-menu: 250px;

$side-panel-width: 400px;
$nav-menu-height: 50px;
$page-header-height: 0px;
$button-bar-width: 103px;
$site-header-height: 50px;
$form-group-margin-bottom: 10px;
$border-radius-base: 4px;

$sales-page-header-height: 180px;
$sales-action-bar-height: 58px;
