<div class="d-flex flex-column">
	<div class="d-flex flex-row">
		<cl-image public-id="{{planImageUrl}}" type="fetch" style="width:calc(56vw);height:calc(65vh);" crop="fill">
		</cl-image>
		<div class="d-flex flex-column phd-home-plan">
			<div class="phd-floor-plan-image">
				<floor-plan [width]="'120%'"></floor-plan>
			</div>
			<div class="d-flex flex-row justify-content-center">
				<span class="phd-sales-community">{{salesCommunityName}}</span>
				<span>{{planName}}</span>
			</div>
		</div>
	</div> 
	<div class="phd-start-reviewing">
		Let's start reviewing the rest of the options available for your home
	</div>
	<div class="phd-click-instruction">
		Click <b>Create List of Favorites</b> or select from the choices below
	</div>
	<div class="d-flex flex-row phd-action-links">
		<div class="col-5 d-flex justify-content-end">
			<a href="/">View Contracted Options</a>
		</div>
		<div class="col-2 d-flex justify-content-center">
			<a href="/">View Your Floorplan</a>
		</div>
		<div class="col-5">
			<a href="/">View Your Favorites</a>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<button class="btn phd-design-list-button">Create List of Favorites</button>
	</div>
</div>
