<nav id="phd-nav-bar" class="navbar navbar-expand-md">
  <div class="d-flex container-fluid">
    <div class="phd-nav-bar-header ">
      <img class="phd-logo" src="assets/Pulte_Homes_White_Logo.PNG" alt="Pulte Homes">
    </div>
    <div class="d-flex flex-column phd-nav-bar-title">
		<span class="phd-nav-bar-label">Home Designer</span>
		<span class="phd-nav-bar-config">Welcome To Your Home</span>
    </div>
    <div class="col-6 d-flex justify-content-between ml-auto">
		<a href="/">Floorplan</a>
		<a href="/">Contracted Options</a>
		<a href="/">Manage Favorites</a>
		<a href="/">Instructions</a>
    </div>
  </div>
</nav>
