@import "../../../../../../../../Phd.Common/scss/color-pallet.scss";

#phd-nav-bar {
  background: $dark_blue;
  height: 70px;
  text-transform: uppercase;

  .phd-nav-bar-header {
    display: inline-block;
    height: 55px;

    .phd-logo {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .phd-nav-bar-title {
    color: white;
    margin-left: 30px;

    .phd-nav-bar-label {
      font-size: 14px;
    }

    .phd-nav-bar-config {
      font-size: 20px;
    }
  }

  a {
    color: white;
  }
}
