.phd-incentive-amount {
	float: left;
	margin-right: 10px;
}

.phd-incentive-footer {
	display: flex;
	align-items: center;
}

.phd-incentive-applied-to {
	padding-left: 3px;
}

.phd-incentive-applied {
	display: flex;
}
