<side-panel-component [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseClick($event)">
	<ng-template #header>
		<h5 class="phd-side-panel-header"><strong>{{ title }}</strong></h5>
	</ng-template>
	
	<ng-template #body>
		<div class="container pt-3">
			<form [formGroup]="treeDetailsForm" (change)="setHasChanges()">
				<div class="form-group">
					<label for="treename">Name</label>
					<input type="text" class="form-control" id="treename" formControlName="name">
				</div>

				<div class="form-group">
					<label for="tree_desc">Description</label>
					<textarea class="form-control" id="tree_desc" formControlName="description"></textarea>
				</div>

				<div class="form-group">
					<label for="effdate">Effective Date</label>
					<div class='input-group'>
						<p-calendar id="effdate" name="effdate" formControlName="effectiveDate" appendTo="body" dateFormat="mm/dd/yy" showTime="true" hourFormat="12" [minDate]="today" [showIcon]="true" showButtonBar="true" readonlyInput="true"></p-calendar>
					</div>
				</div>

				<div class="form-group" *ngIf="showEndDate">
					<label for="enddate">End Date</label>
					<div class='input-group'>
						<p-calendar id="enddate" name="enddate" formControlName="endDate" appendTo="body" dateFormat="mm/dd/yy" showTime="true" hourFormat="12" [minDate]="today" [showIcon]="true" showButtonBar="true" readonlyInput="true"></p-calendar>
					</div>
				</div>
			</form>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-left">
			<div *ngIf="isSaving" class="alert alert-info m-0 py-1 px-2" role="alert">Saving...</div>
		</div>
		<div class="pull-right">
			<button *ngIf="!isReadOnly || canUnpublishTree" class="btn btn-primary phd-btn-save" (click)="onSaveClick()" [disabled]="!canSave">Save</button>

			<button class="btn btn-secondary" (click)="toggleSidePanel(false)">Close</button>
		</div>
	</ng-template>
</side-panel-component>
