.phd-brand-logo {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.phd-community-plan-info {
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #333333;
}

.phd-start-reviewing-title {
    font-size: 18px;
    letter-spacing: 0.45px;
    font-weight: bold;
    max-width: 75%;
}

.phd-description-container {
    max-width: 85%;
}