<div *ngIf="optionAttributeMessage.length > 0" class="alert alert-info">{{optionAttributeMessage}}</div>

<div *ngIf="attributeGroups && attributeGroups.length" class="div-section">
	<select class="form-control" [(ngModel)]="selectedAttributeGroup" (change)="onChangeAttributeGroup()">
		<option *ngFor="let group of attributeGroups" [ngValue]="group">
			{{group.groupName}}
		</option>
	</select>
</div>

<div class="phd-option-attributes" *ngIf="selectedAttributeGroup">
	<div class="form-group row">
		<div class="col-sm-4 phd-option-label">Group Name:</div>
		<div class="col-sm-8 phd-option-text">{{selectedAttributeGroup.groupName}}</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-4 phd-option-label">Group Label:</div>
		<div class="col-sm-8 phd-option-text">{{selectedAttributeGroup.groupLabel}}</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-4 phd-option-label">Attributes:</div>
		<div class="col-sm-8 phd-option-text" id="attributeList">
			<ul style="list-style-type: none">
				<li *ngFor="let attributeAssoc of selectedAttributeGroup.attributeGroupAttributeCommunityAssocs">
					<span [class.phd-inactive]="!attributeAssoc.active">{{ attributeAssoc?.attributeCommunity?.name }}</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-4 phd-option-label">Description:</div>
		<div class="col-sm-8 phd-option-text">{{selectedAttributeGroup.description}}</div>
	</div>

	<div class="form-group row">
		<div class="bold col-sm-4 phd-option-label">Search Tags:</div>
		<div class="col-sm-8 phd-option-text">{{selectedAttributeGroup.formattedTags}}</div>
	</div>
</div>

<div *ngIf="!attributesLoaded" class="phd-option-loading container-fluid text-center">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<div class="phd-attribute-reassign" *ngIf="showAttributeReassignment">
	<ng-container *ngIf="filteredChoiceList.length">
		<div class="phd-attribute-reassign-header">Assign Attribute Group to a Different Choice:</div>
		<div>
			<div class="form-group row">
				<div class="col-sm-4 phd-option-label">Original Choice(s):</div>
				<div class="col-sm-8 phd-option-text">
					<div *ngIf="originalChoiceList.length === 1 && originalChoiceList[0].choices.length === 1">{{ originalChoiceList[0].choices[0].label }}</div>

					<select class="form-control" *ngIf="showChoiceListSelect" id="mappings" [(ngModel)]="selectedMapping" (change)="onChangeMapping()">
						<option *ngFor="let mapping of filteredChoiceList" [ngValue]="mapping">{{ mapping.choices[0].label }}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm phd-attribute-reassign-rules-label">Assign to Different Choice</div>
				<div class="col-sm phd-attribute-reassign-rules">
					<div>- Must follow first Choice</div>
					<div>- Must be connected via Choice Rule</div>
				</div>
			</div>

			<div *ngIf="!isReadOnly && groups.length">
				<choice-selector [selectedChoices]="selectedChoices"
								 [showSearchResults]="showSearchResults"
								 [searchResultsCount]="searchResultsCount"
								 [selectedLabel]="'Selected Choice'"
								 [searchLabel]="'Select Choice to Replace'"
								 (onKeywordSearch)="keywordSearch($event)"
								 (onRemoveItemClick)="removeItemClick($event)"
								 (onClearFilter)="clearFilter()"
								 (onCancel)="cancelClick()"
								 (onSave)="saveClick()">
					<ng-container *ngFor="let group of groups">
						<ng-container *ngIf="group.matched">
							<div>
								<i class="fa fa-fw" [class.fa-chevron-up]="group.open" [class.fa-chevron-down]="!group.open" (click)="group.open = !group.open"></i>
								<span>{{group.label}}</span>
							</div>
							<ng-container *ngFor="let subGroup of group.subGroups">
								<ng-container *ngIf="group.open && subGroup.matched">
									<div class="phd-child-sp">
										<i class="fa fa-fw" [class.fa-chevron-up]="subGroup.open" [class.fa-chevron-down]="!subGroup.open" (click)="subGroup.open = !subGroup.open"></i>
										<span>{{subGroup.label}}</span>
									</div>
									<ng-container *ngFor="let point of subGroup.points">
										<ng-container *ngIf="subGroup.open && group.open && point.matched">
											<div class="phd-grand-child-sp">
												<i class="fa fa-fw" [class.fa-chevron-up]="point.open" [class.fa-chevron-down]="!point.open" (click)="point.open = !point.open"></i>
												<span>{{point.label}}</span>
											</div>

											<ng-container *ngFor="let choice of point.choices">
												<div *ngIf="point.open && subGroup.open && group.open && choice.matched" class="phd-great-grand-child-sp">
													<span class="phd-tree-rule" (click)="onAddItemClick(choice)">{{choice.label}}</span>
												</div>
											</ng-container>
										</ng-container>
									</ng-container>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>
				</choice-selector>
			</div>
		</div>
	</ng-container>

	<div class="mb-3" *ngFor="let attributeReassignment of filteredAttributeReassignments">
		<div class="phd-attribute-reassign-header">Re-Assigned Choice</div>
		<div>
			<div class="row">
				<div class="col-sm-4 phd-option-label">Original Choice:</div>
				<div class="col-sm-8 phd-option-text">{{ getOriginalChoiceLabel(attributeReassignment) }}</div>
			</div>

			<div class="row">
				<div class="col-sm-4 phd-option-label">Attribute Group:</div>
				<div class="col-sm-8 phd-option-text">{{ attributeReassignment.attributeGroupLabel }}</div>
			</div>

			<div class="row">
				<div class="col-sm-4 phd-option-label">Decision Point:</div>
				<div class="col-sm-8 phd-option-text">{{ attributeReassignment.dPointLabel }}</div>
			</div>

			<div class="row">
				<div class="col-sm-4 phd-option-label">Choice:</div>
				<div class="col-sm-8 phd-option-text">{{ attributeReassignment.choiceLabel }} <i class="fa fa-fw fa-trash phd-delete" (click)="deleteAttributeReassignmentClick(attributeReassignment)" title="Delete" *ngIf="!isReadOnly"></i></div>
			</div>
		</div>
	</div>
</div>
