<div class="modal-header">
	<span class="modal-title">Pulte Home Designer Reporting</span>

	<button type="button" class="close" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<div class="phd-plan-select d-flex w-100 justify-content-between">
		<div class="form-group">
			<label for="plan">Choose a Report</label>
			<select class="form-control" id="report" [(ngModel)]="selectedReport" #reportSelect>
				<option *ngFor="let report of reportTypes" [ngValue]="report">{{ report | capitalCaseSpace }}</option>
			</select>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" (click)="viewReport()">View</button>
	<button class="btn btn-secondary" (click)="close()">Cancel</button>
</div>
