@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

:host{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	flex: 0 0 100%;
	width: 100%;
	height: 100%;
}
header {
	display: flex;
	flex: 0 1 100px;
	flex-direction: column;
	min-height: 100px;

	.phd-navigation-bar {
		background: $pulte-blue;
		color: white;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: $nav-menu-height;
		padding: 0 1rem; // fix logo dropping below header when screen is small

		.phd-navigation-bar-header {
			display: inline-block;
			margin-left: -1rem;
			margin-right: 15px;

			.phd-logo {
				max-width: 100%;
				height: 40px;
				margin: 10px 15px;
			}
		}

		.phd-navigation-bar-title {
			font-size: 22px;
			font-weight: 300;
			margin-right: auto;
		}
	}

	aside {
		align-items: center;
		background-color: rgba(239, 239, 239, 0.78);
		border-bottom: 1px solid #ccc !important;
		color: #666;
		display: flex;
		flex-direction: row;
		font-size: 8pt;
		min-height: 35px;
		padding: 0 20px;
		justify-content: space-between;

		.color-nav {
			align-items: flex-start;
			align-self: flex-start;
			display: flex;
			font-size: 15px;
		}

		.user {
			align-items: center;
			align-self: flex-end;
			display: flex;
			min-height: 35px;

			.fa-user {
				margin-right: .5em;
			}
		}
	}
}

.tab-content{
	padding: 15px;
}

portal-item,
spec-item {
  align-content: center;
  align-self: center;
  display: flex;

  /*Change the value to accomodate the ideal number of items per row you want.*/
  flex-basis: 25%;

  flex-direction: column;
  height: 50%;
  justify-content: center;
  max-height: 400px;
  max-width: 600px;
  min-height: 150px;
  min-width: 130px;
}

