<community-pdf-side-panel-component *ngIf="isSidePanelOpen" [communityPdfs]="allCommunityPdfs" [selected]="selected" [selectedCommunity]="selectedCommunity" [sidePanelOpen]="isSidePanelOpen" [saving]="isSaving" [includedFeaturesExists]="includedFeaturesPdfs.length > 0" (onSidePanelClose)="onSidePanelClose($event)" (onUpdate)="update($event)" (onSave)="save($event)"></community-pdf-side-panel-component>

<div class="phd-page-container">
	<page-header mainTitle="Community PDF Files"></page-header>
	<div class="phd-pdf-button-bar">
		<ng-template [ngIf]="canEdit">
			<div class="phd-edit">
				<button *ngIf="!isSorting; else save_sorting" type="button" class="btn btn-secondary float-right" (click)="editSort()">Edit Sort</button>
				<ng-template #save_sorting>
					<button type="button" class="btn btn-secondary float-right" (click)="cancelSort()">Cancel</button>
					<button type="button" class="btn btn-primary float-right" (click)="saveSort()" [disabled]="saveDisabled">
						Save
						<ng-container *ngIf="isSortSaving"><i class="fa fa-spinner fa-spin fa-fw"></i></ng-container>
					</button>
				</ng-template>
			</div>
			<div class="phd-save">
				<button type="button" class="btn btn-primary float-right" (click)="addPdf()">Add PDF</button>
			</div>
		</ng-template>
	</div>
	<div class="phd-page-body phd-table-view">
		<h2>Home Warranty</h2>
		<community-pdf-table [filteredCommunityPdfs]="homeWarrantyPdfs" [isCanceling]="isCanceling" [isSorting]="isSorting" [isSaving]="isSortSaving" [canEdit]="canEdit" (editClicked)="onEditClick($event)" (deleteComplete)="onDeleteComplete($event)" (saveComplete)="onSortComplete($event)" (sortInitiated)="enableSave($event)"></community-pdf-table>
		<h2>Community Association</h2>
		<community-pdf-table [filteredCommunityPdfs]="communityAssociationPdfs" [isCanceling]="isCanceling" [isSorting]="isSorting" [isSaving]="isSortSaving" [canEdit]="canEdit" (editClicked)="onEditClick($event)" (deleteComplete)="onDeleteComplete($event)" (saveComplete)="onSortComplete($event)" (sortInitiated)="enableSave($event)"></community-pdf-table>
		<h2>Additional Documents</h2>
		<community-pdf-table [filteredCommunityPdfs]="additionalDocumentPdfs" [isCanceling]="isCanceling" [isSorting]="isSorting" [isSaving]="isSortSaving" [canEdit]="canEdit" (editClicked)="onEditClick($event)" (deleteComplete)="onDeleteComplete($event)" (saveComplete)="onSortComplete($event)" (sortInitiated)="enableSave($event)"></community-pdf-table>
		<h2>Included Features</h2>
		<community-pdf-table [filteredCommunityPdfs]="includedFeaturesPdfs" [isCanceling]="isCanceling" [isSorting]="isSorting" [isSaving]="isSortSaving" [canEdit]="canEdit" (editClicked)="onEditClick($event)" (deleteComplete)="onDeleteComplete($event)" (saveComplete)="onSortComplete($event)" (sortInitiated)="enableSave($event)"></community-pdf-table>
	</div>
</div>

<p-toast></p-toast>
