@import "../../../../../../../phd-common/src/lib/scss/animations.scss";
h2 {
	font-size: 18px;
	margin-bottom: 0;
	margin-left: 0.5rem;
	&:empty {
		height: 30px;
		width: 100%;
		@include shimmer();
	}
}

.phd-pdf-button-bar {
	display: flex;
	margin-bottom: 10px;
}

.phd-edit {
	width: 51%;
}

.phd-save {
	width: 48%;
}

.phd-table-view {
	height: calc(100vh - 50px - 180px - 58px);
	width: 99%;
}

.float-right {
	float: right;
	margin-right: 10px;
}

.phd-page-container {
	height: calc(100vh - 156px);
}