<navigation-bar [canAccessSalesAdmin]="canAccessSalesAdmin$ | async"></navigation-bar>

<ng-container *ngIf="(canAccessSalesAdmin$ | async); else noAccess">
	<div id="phd-app">
		<button-bar id="phd-page-buttonbar"></button-bar>

		<div class="phd-router-outlet">
			<router-outlet></router-outlet>
		</div>
	</div>

	<common-spinner></common-spinner>
</ng-container>

<ng-template #noAccess>
	You do not have access to this application. Please contact TSC to be granted access.
</ng-template>

<build-version *ngIf="!environment.production" [branch]="branch" [version]="version"></build-version>
