@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.phd-point {
	font-size: 14px;
	line-height: 1.36;
	margin: 0 20px;
	transition: all .3s;
	min-height: 60px;
	display: flex;
	justify-content: flex-start;

	.phd-point-details {
		text-transform: capitalize;
		flex-basis: 100%;

		.phd-point-label {
			flex-basis: 20%;
			margin-top: 5px;
		}

		.phd-point-indicator {
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: black;
			margin: 12px 20px 0px 3px;
		}

		select {
			max-width: 130px;
			width: 100%;
			font-weight: normal;
			line-height: normal;
			font-size: 14px;
			padding-right: 10px;
		}

		.phd-choice {
			display: flex;
			flex-direction: column;
			flex: 1;
			margin-top: 5px;

			.phd-choice-detail {
				display: flex;
				margin-bottom: 5px;
				margin-right: 5px;

				.phd-choice-header {
					flex: 1;
				}

				.phd-choice-expand {
					width: 1.5em;
				}

				.phd-choice-quantity {
					font-weight: bold;
					display: flex;
					justify-content: space-between;
				}

				.phd-quantity-label {
					font-weight: bold;
					margin-right: 5px;
				}

				.phd-choice-body {
					flex: 1;
					margin-left: 12px;

					.phd-choice-attributes-body {
						display: flex;
						flex-direction: column;
						flex: 1;

						&:not(:last-child) {
							margin-bottom: .3em;
						}

						.phd-label {
							font-weight: bold;
						}

						.phd-location {
							display: flex;
							justify-content: space-between;
						}

						.phd-attribute {
							display: flex;
							gap: 5px;
						}
					}

					.phd-choice-action-label {
						margin-left: auto;
					}
				}

				.phd-divider {
					margin: 0px 15px;
					background: #d4d4d4;
					width: 1.5px;
				}

				.actions {
					flex-basis: 35%;
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}

	.actions {
		min-width: 60px;
		a {
			font-size: 14px;
			color: $bluish;
			cursor: pointer;
			margin-right: 15px;
		}
	}

	.actionLinks {
		margin-top: 5px;
	}
}

.phd-quantity {
	width: 60px !important;
	display: inline-block !important;
	height: 25px;
	font-size: 13px;
}

.dropdown-toggle {
	width: 150px;
	font-size: 13px;
	text-align: left;
	background-color: transparent;
	border: 1px solid lightgrey;
}

.dropdown-item {
	text-transform: none;
	font-size: 13px;
	padding: .20rem 1.5rem;
}

.dropdown-active-item {
	font-weight: bold;
}

a:hover {
	background-color: #E6E6FA;
}
