<div class="phd-desktop">
<li class="phd-point phd-point-on-print" role="group" attr.aria-label="{{decisionPoint.label}}">
	<div class="phd-point-details d-flex justify-content-start align-items-start">
		<div [ngClass]="{'phd-point-label': (!isPresale || isPresalePricingEnabled), 'phd-point-label-presale': (isPresale && !isPresalePricingEnabled)}">{{decisionPoint.label}}</div>

		<div class="phd-choice">
			<ul class="phd-choice-list">
				<ng-container *ngFor="let choice of choicesCustom">
					<li class="phd-choice-detail phd-choice-detail-presale-print" role="group" attr.aria-label="{{choice.label}}" *ngIf="choice.quantity > 0">
						<div [ngClass]="{'phd-choice-header': (!isPresale || isPresalePricingEnabled), 'phd-choice-header-presale phd-choice-header-presale-print': (isPresale && !isPresalePricingEnabled)}">
							<button class="phd-choice-expand" attr.aria-controls="{{ 'choice-detail-' + choice.id }}">
								<div (click)="toggleCollapsed(choice)" *ngIf="choice.hasMappedAttributes && isChoiceComplete(choice) && choice.selectedAttributes.length">
									<span *ngIf="!choice.showAttributes" aria-expanded="false" attr.aria-label="{{'Expand ' + choice.label}}">
										<i class="fa fa-fw phd-clickable fa-chevron-circle-right" aria-hidden="true"></i>
									</span>
									<span *ngIf="choice.showAttributes" aria-expanded="true" attr.aria-label="{{'Collapse ' + choice.label}}">
										<i class="fa fa-fw phd-clickable fa-chevron-circle-down" aria-hidden="true"></i>
									</span>
								</div>
							</button>
							<span>{{ choice.label }}</span>
							<div class="phd-choice-body" attr.id="{{ 'choice-detail-' + choice.id }}">
								<div class="my-3 phd-choice-attributes" role="group" attr.aria-label="{{choice.label + ' Attributes'}}">
									<ng-container *ngIf="choice.showAttributes && (choice.selectedAttributes.length || isDesignComplete)">
										<ul class="phd-choice-attribute-list">
											<li class="phd-choice-attributes-body" *ngFor="let attr of choice.mappedSelectedAttributes">
												<div class="phd-choice-attributes-labels">
													<div class="phd-location" *ngIf="!!attr.locationGroupId || !!attr.locationId">
														<span class="phd-label">{{ attr.locationGroupLabel }}:</span>
														<span class="phd-content">{{ attr.locationName }}</span>
													</div>
													<div class="phd-location" *ngIf="!!attr.locationGroupId || !!attr.locationId">
														<span class="phd-label">Quantity:</span>
														<span class="phd-content">{{ attr.locationQuantity }}</span>
													</div>
													<ng-container *ngIf="attr.attributes.length > 0">
														<div [ngClass]="!!attr.locationGroupId || !!attr.locationId ? 'phd-attribute-indent' : ''"
															class="phd-attribute" *ngFor="let consolidatedAttribute of consolidateAttributes(attr.attributes)">
															<span class="phd-label">{{ getAttributeLabel(consolidatedAttribute.attributeGroupLabel) }}</span>
															<span class="phd-content">{{ getAttributeList(consolidatedAttribute.attributeGroupNames) }}</span>
														</div>
													</ng-container>
												</div>
											</li>
										</ul>
									</ng-container>
									<ng-container *ngIf="choice.hasMappedAttributes && (!isChoiceComplete(choice) || !choice.selectedAttributes.length)">
										<a href="" [ngClass]="(contractedOptionsPage || isDesignComplete) ? 'phd-unlinked-additional-selections' : 'phd-summary-additional-selections'"
											(click)="$event.preventDefault(); onAdditionalSelections(choice)">Additional Selections Required</a>
									</ng-container>
								</div>
							</div>
						</div>
	
						<div class="d-flex flex-row justify-content-end phd-choice-quantity" *ngIf="choice.quantity > 0">
							<span class="phd-quantity-label">Qty:</span>
							<span class="phd-content">({{ choice.quantity }})</span>
						</div>
						<div class="actions" [ngClass]="{'phd-edit': (!isPresale || isPresalePricingEnabled), 'phd-edit-presale': (isPresale && !isPresalePricingEnabled)}">
							<ng-container *ngIf="!choice.priceHiddenFromBuyerView && !(isPresale && !isPresalePricingEnabled)">
								<span class="phd-price" *ngIf="selections?.length > 0">{{choice.price * choice.quantity | currency:'USD':'symbol':'0.0-0'}}</span>
							</ng-container>
							<ng-container *ngIf="choice.priceHiddenFromBuyerView && !(isPresale && !isPresalePricingEnabled)">
								<span class="phd-pricing-varies">Pricing Varies
									<info-tooltip-component class="phd-hide-from-print" [template]="infoContent"></info-tooltip-component>
								</span>
							</ng-container>
							<div *ngIf="!contractedOptionsPage" class="actions actionLinks phd-hide-from-print">
								<a href="" class="btn ml-auto btn-secondary phd-view-button" (click)="$event.preventDefault(); onViewOrEdit()">
									<span class="phd-choice-action-label">{{actionLabel}}</span>
								</a>
								<button *ngIf="!isReadonly" type="button" class="btn ml-auto btn-secondary phd-remove-button" (click)="onRemove(choice)">
									<span class="phd-choice-action-label">Remove</span>
								</button>
							</div>
						</div>
					</li>
				</ng-container>
			</ul>
		</div>
	</div>
</li>

<ng-template #infoContent>
	<div>
		<p><strong>Pricing Varies:</strong> Pricing will be determined during your meeting with your Design Consultant.</p>
	</div>
</ng-template>
</div>


<div class="phd-mobile">
	<div class="phd-fav-decision-point-container d-flex flex-column"
	attr.aria-label="{{decisionPoint?.label}}">
	<span class="phd-decision-point-label mb-2" data-testid="dp-label">{{decisionPoint?.label}}</span>
	<ul class="phd-choices-container mb-3">
		<ng-container *ngFor="let choice of choicesCustom; last as isLast">
			<li>
				<div class="d-flex flex-column">
					<div class="d-flex flex-row align-items-center justify-content-between">
						<div class="d-flex flex-row align-items-center">
							<button mat-icon-button
								*ngIf="choice.hasMappedAttributes && isChoiceComplete(choice) && choice.selectedAttributes.length"
								(click)="toggleCollapsed(choice)"
								class="d-flex phd-expand-location-button mr-1" data-testid="show-attributes-btn">
								<mat-icon class='phd-icon-accent'>{{choice.showAttributes ?
									'add' : 'remove'}}</mat-icon>
							</button>
							<span class="phd-choice-label" data-testid="choice-label">{{choice.label}}</span>
						</div>

						<ng-container
							*ngIf="!choice.priceHiddenFromBuyerView && (!isPresale || isPresalePricingEnabled)">
							<span class="phd-price" data-testid="price">{{choice.price *
								choice.quantity | currency:'USD':'symbol':'0.0-0'}}</span>
						</ng-container>
						<ng-container
							*ngIf="choice.priceHiddenFromBuyerView && (!isPresale || isPresalePricingEnabled)">
							<span class="phd-pricing-varies d-flex align-items-center" data-testid="pricing-varies">
								<mat-icon class="phd-tooltip-icon phd-icon-accent">info_outline</mat-icon>Pricing Varies
							</span>
						</ng-container>
					</div>
					<!-- <summary-attribute-location-row
						*ngIf="(choice.showAttributes && !isChoiceComplete(choice) || (!choice.showAttributes && isChoiceComplete(choice))) && (choice.selectedAttributes.length || isDesignComplete)"
						[mappedSelectedAttributes]="choice.mappedSelectedAttributes" data-testid="attribute-location-details"></summary-attribute-location-row> -->
					<div class="phd-additional-selections-warning d-flex align-items-center"
						*ngIf="choice.hasMappedAttributes && (!isChoiceComplete(choice) || !choice.selectedAttributes.length)">
						<mat-icon
							fontSet="material-symbols-outlined">warning</mat-icon>
						<a [routerLink]="['/options', subGroup.id, decisionPoint.id, choice.id]" queryParamsHandling="merge" data-testid="additional-selections-warning">Additional Selections Required</a>
					</div>
					<div
						class="d-flex flex-row justify-content-between align-items-end mt-2">
						<span class="phd-quantity-label" data-testid="quantity">
							Quantity: ({{choice.quantity}})
						</span>
						
						<div *ngIf="!contractedOptionsPage" class="d-flex phd-summary-actions phd-icon-accent">
							<a *ngIf="!isReadonly" class="d-flex align-items-end" data-testid="delete-icon">
								<mat-icon class="mr-3" fontSet="material-symbols-outlined">delete</mat-icon>
							</a>
							<a *ngIf="!isReadonly" class="d-flex align-items-end" data-testid="edit-icon">
								<mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
							</a>
							<a *ngIf="isReadonly" [routerLink]="['/options', subGroup.id, decisionPoint.id]" queryParamsHandling="merge" data-testid="view-link">View</a>
						</div>
					</div>
				</div>
				<hr *ngIf="!isLast" class="my-2" />
			</li>
		</ng-container>

	</ul>
</div>
</div>
