<div class="modal-body">
	<div class="phd-signout-title">You're about to be signed out</div>
	<div >You've been inactive for a while For your security, you will be signed out in:</div>
	<div class="phd-signout-countdown">: {{countdown}}</div>
</div>

<div class="modal-footer d-flex justify-content-around">
	<button type="button" class="btn phd-button-signin" (click)="close('Continue')">Stay Signed In</button>
	<button type="button" class="btn phd-button-signout" (click)="close('Logout')">Sign Out</button>
</div>
