@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

$detailed-point-panel-width: 300px;

.phd-floor-plan-summary {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: hidden;

	.phd-names {
		position: fixed;
		left: 0px;
		padding: 10px;
		min-height: 56px;
	}

	.floor-select-container {
		position: fixed;
		right: 0px;
		padding: 10px;
		min-height: 56px;
	}

	.phd-community-name {
		color: black;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.phd-plan-name {
		color: black;
		font-size: 13px;
	}

	.phd-floorplan-container {
		max-width: 100%;
		margin-bottom: 60px;
		overflow-y: hidden;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		
		::-webkit-scrollbar { /* WebKit */
			width: 0;
			height: 0;
		}
	}

	.phd-descriptive-text {
		font-size: 11px;
		font-weight: bold;
		position: fixed;
		left: 20px;
		bottom: 74px;
		padding: 5px 0px;
	}
}

.phd-default-ifp {
	width: 70%;
	margin-top: 40px;
	margin-left: 15%;
	margin-right: 15%;
	align-self: center;
}