<div class="phd-floor-plan-summary">
	<div class="phd-names d-flex flex-column">
		<div class="phd-community-name">{{communityName}} : </div>
		<div class="phd-plan-name">{{planName}}</div>
	</div>
	<div class="phd-floorplan-container">
		<ng-container *ngIf="!noVisibleFP">
			<floor-plan
				[height]="'86vh'"
				[planId$]="marketingPlanId$"
				[selectedFloor]="selectedFloor"
				[subGroup]="subGroup"
				[isPlainFloorplan]="isPlainFloorplan"
				[isFlipped]="isFloorplanFlipped"
				(onFloorPlanLoaded)="loadFloorPlan($event)"
			>
			</floor-plan>
		</ng-container>
		<ng-container *ngIf="noVisibleFP">
			<img class="phd-default-ifp" [src]="getDefaultFPImageSrc()" >
		</ng-container>
	</div>
	<div class="floor-select-container" *ngIf="floors && floors.length > 1">
		<select id="floor-select" class="form-control" [ngModel]="selectedFloor" (ngModelChange)="selectFloor($event)">
			<option *ngFor="let floor of floors" [ngValue]="floor">{{ floor.name }}</option>
		</select>
	</div>
</div>

<action-bar [primaryAction]="'Back'"
			[favoritesPrice]="priceBreakdown.favoritesPrice"
			[price]="priceBreakdown.totalPrice"
			[isDesignComplete]="isDesignComplete"
			[isPreview]="isPreview"
			[isPresale]="isPresale"
			[hideContractedToggle]="true"
			(callToAction)="onBack()"
			>
</action-bar>