<releases-side-panel-component *ngIf="sidePanelOpen" [saving]="saving" [sidePanelOpen]="sidePanelOpen" [selectedRelease]="selectedRelease" (onSidePanelClose)="onSidePanelClose($event)" (onSaveRelease)="saveRelease($event)"></releases-side-panel-component>

<div class="phd-page-container" [class.phd-side-panel-open]="sidePanelOpen">
	<page-header mainTitle="Homesite Releases">
		<ng-template>
			<div class="col">
				<select class="form-control" [ngModel]="selectedCommunity ? selectedCommunity.dto : null" (ngModelChange)="onChangeCommunity($event)">
					<option [ngValue]="null" disabled="disabled">Community</option>
					<option *ngFor="let comm of (activeCommunities | async)" [ngValue]="comm.dto">{{ comm.name }}</option>
				</select>
			</div>
		</ng-template>
	</page-header>

	<div class="phd-page-body">
		<div class="my-3 phd-filter-body">
			<div class="pull-right mr-3">
				<button class="btn btn-primary" (click)="createRelease();" [disabled]="loading" *ngIf="canEdit">Create Release</button>
			</div>
		</div>

		<div class="phd-table-container mx-2">
			<phd-table #dt [value]="releases" [nonOverflow]="false" dataKey="releaseId">
				<ng-template #rowExpansion let-release let-columns="columns">
					<tr *ngIf="release.homeSites.length > 0">
						<td [attr.colspan]="columns.length">
							<div class="phd-row-expansion">
								<lot-table [lots]="release.homeSites"></lot-table>
							</div>
						</td>
					</tr>
				</ng-template>

				<phd-column header="" columnClass="phd-icon">
					<ng-template #body let-release>
						<ng-container *ngIf="canEdit">
							<i class="fa fa-pencil fa-fw" (click)="editRelease(release);" *ngIf="editDateCheck(release)" phd-tooltip="Edit / View Assignments"></i>
						</ng-container>
					</ng-template>
				</phd-column>

				<phd-column header="" columnClass="phd-icon">
					<ng-template #body let-release>
						<ng-container *ngIf="canEdit">
							<i class="fa fa-trash fa-fw" [ngClass]="{'fa-trash':!saving || (saving && i != workingReleaseIndex), 'fa-spinner':saving && i == workingReleaseIndex, 'fa-spin':saving && i == workingReleaseIndex}" *ngIf="editDateCheck(release)" (click)="confirmDelete(release, i);" phd-tooltip="Delete Release"></i>
						</ng-container>
					</ng-template>
				</phd-column>

				<phd-column header="Date" field="release.dateString">
					<ng-template #body let-release>
						<span (mouseenter)="showTooltip($event, release.dateString, dt)" (mouseleave)="hideTooltip(dt)">{{ release.dateString }}</span>
					</ng-template>
				</phd-column>

				<phd-column header="Homesite">
					<ng-template #body let-release let-expanded="expanded">
						<i class="fa fa-map-marker fa-fw" *ngIf="release.homeSites.length > 0" phd-tooltip="Show Homesites" [phdRowToggler]="release"></i>

						<span (mouseenter)="showTooltip($event, release.homeSites.length, dt)" (mouseleave)="hideTooltip(dt)">{{ "(" + release.homeSites.length + ")" }}</span>
					</ng-template>
				</phd-column>

				<phd-column header="Description" field="release.description">
					<ng-template #body let-release>
						<span (mouseenter)="showTooltip($event, release.description, dt)" (mouseleave)="hideTooltip(dt)">{{ release.description }}</span>
					</ng-template>
				</phd-column>

				<phd-column header="Release Rank" field="release.releaseRank">
					<ng-template #body let-release>
						<span (mouseenter)="showTooltip($event, release.releaseRank, dt)" (mouseleave)="hideTooltip(dt)">{{ release.releaseRank }}</span>
					</ng-template>
				</phd-column>
			</phd-table>
		</div>
	</div>
</div>

<p-toast></p-toast>

<p-confirmDialog header="Delete Confirmation" icon="fa fa-trash" appendTo="body" #cd>
	<p-footer>
		<button type="button" pButton icon="fa-check" label="Continue" (click)="cd.accept()"></button>
		<button type="button" pButton class="ui-button-secondary" icon="fa-close" label="Cancel" (click)="cd.reject()"></button>
	</p-footer>
</p-confirmDialog>
