.phd-price-label {
	font-size: 12px;
	color: #333333;
	letter-spacing: 0.3px;
}

.phd-price {
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}

.phd-tooltip-icon {
	transform: scale(0.8);
}

.phd-line-item {
	line-height: 0.7rem;
}
