<div class="phd-estimated-totals-container px-3 py-2">
	<div *ngIf="!isDesignComplete" class="phd-line-item d-flex justify-content-between">
		<span class="phd-price-label" data-testid="estimated-favorites-label">
			Estimated Favorites Total:
		</span>
		<span class="phd-price" data-testid="favorites-price">
			{{ priceBreakdown?.favoritesPrice | currency: "USD" : "symbol" : "0.0-0" }}
		</span>
	</div>

	<div class="phd-line-item d-flex justify-content-between align-items-center">
		<span class="phd-price-label" data-testid="total-price-label">{{ totalPriceLabel }}:</span>
		<div class="d-flex align-items-center">
			<mat-icon class="phd-tooltip-icon phd-icon-accent">info_outline</mat-icon>
			<span class="phd-price" data-testid="total-price">
				{{ priceBreakdown.totalPrice | currency: "USD" : "symbol" : "0.0-0" }}
			</span>
		</div>
	</div>
</div>
