@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

#phd-nav-bar {
	background: $dark_blue;
	height: 70px;
	text-transform: uppercase;

	.phd-nav-bar-header {
		display: inline-block;
		height: 50px;

		.phd-logo {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.phd-nav-bar-title {
		color: white;
		margin-left: 30px;

		.phd-nav-bar-label {
			font-size: 14px;
		}

		.phd-nav-bar-config {
			font-size: 20px;
		}
	}

	.phd-menu-options {
		justify-content: flex-end;
	}

	a {
		font-size: 14px;
		color: white;
		cursor: pointer;
		padding-right: 5px;
		padding-left: 10px;
	}

	.phd-active-link {
		font-weight: bold;
		font-size: 16px;
		cursor: default;
	}
}

@media(max-width: $tablet-max-width) {
	.phd-mobile-header {
		justify-content: flex-start;
	}

	.phd-menu-bars {
		display: inline !important;

		i {
			color: white;
			margin-right: 30px;
		}
	}

	.phd-collapsable-menu {
		background: $dark_blue;
		width: 300px;
		position: fixed;
		top: 70px;
		z-index: 100;
		overflow-x: hidden;
		transition: 0.5s;
		padding-bottom: 15px;

		a {
			font-size: 20px;
			color: white;
			display: block;
			text-decoration: none;
			padding: 15px 8px 15px 32px;
		}
	}

	.phd-active-link {
		background: $twilight-blue;
	}
}

@media(max-width: 460px) {
	.phd-nav-bar-title {
		.phd-nav-bar-label {
			font-size: 10px !important;
		}

		.phd-nav-bar-config {
			font-size: 16px !important;
		}
	}
}
