<div class="phd-point" [class.filtered]="!filtered">
	<div class="phd-point-details d-flex justify-content-start">
		<div class="phd-point-status">
			<status-indicator [pointStatus]="decisionPoint.status"></status-indicator>
		</div>
		<div class="phd-point-label">{{decisionPoint.label}}</div>

		<div class="phd-choice">
			<ng-container *ngFor="let choice of choicesCustom">
				<div class="phd-choice-detail" *ngIf="choice.quantity > 0">
					<div class="phd-choice-expand">
						<div (click)="toggleCollapsed(choice)" *ngIf="choice.hasMappedAttributes">
							<span *ngIf="!choice.showAttributes"><i class="fas fa-fw phd-clickable fa-chevron-circle-right"></i></span>
							<span *ngIf="choice.showAttributes"><i class="fas fa-fw phd-clickable fa-chevron-circle-down"></i></span>
						</div>
					</div>

					<div class="phd-choice-header">
						<span>{{ choice.label }}</span>
						<div *ngIf="showImages && choice.choiceImagePath.length">
							<image [imageUrl]="choice.choiceImagePath" height="100" width="150" crop="lpad" [imagePlugins]="imagePlugins"></image>
						</div>
					</div>

					<div class="phd-choice-body">
						<div class="phd-choice-quantity" *ngIf="choice.quantity > 0">
							<span class="phd-label">Quantity:</span>
							<span class="phd-content">({{ choice.quantity }})</span>
						</div>
						<div class="my-3 phd-choice-attributes" *ngIf="choice.showAttributes">
							<ng-container *ngIf="choice.selectedAttributes.length; else attributeMsg">
								<div class="phd-choice-attributes-body" *ngFor="let attr of choice.selectedAttributes">
									<div class="phd-location" *ngIf="attr.locationGroupId != null || attr.locationId != null">
										<span class="phd-label">{{ attr.locationGroupLabel}}:</span>
										<span class="phd-content">{{ attr.locationName }}</span>
									</div>
									<div class="phd-location" *ngIf="attr.locationGroupId != null || attr.locationId != null">
										<span class="phd-label">Quantity:</span>
										<span class="phd-content">{{ attr.locationQuantity }}</span>
									</div>
									<div class="phd-attribute" *ngIf="attr.attributeGroupId != null || attr.attributeId != null">
										<span class="phd-label">{{ attr.attributeGroupLabel}}:</span>
										<div class="phd-content">
											<span class="phd-content">{{ attr.attributeName }}</span>
											<div *ngIf="showImages && attr.attributeImageUrl?.length">
												<image [imageUrl]="getImagePath(attr)" height="75" width="75" crop="fill" gravity="auto" [imagePlugins]="imagePlugins"></image>
											</div>
										</div>
									</div>
								</div>

								<ng-container *ngIf="isChoiceComplete(choice); else attributeMsg"></ng-container>

							</ng-container>

							<ng-template #attributeMsg>
								Additional Selections Required
							</ng-template>
						</div>
					</div>
					<div class="phd-divider"></div>
					<div class="actions d-flex justify-content-between">
						<span *ngIf="selections?.length > 0">{{choice.price * choice.quantity | currency:'USD':'symbol':'0.0-0'}}</span>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="actions d-flex justify-content-between align-items-center">
		<button *ngIf="canEditAgreement" class="btn btn-primary" (click)="editClick(decisionPoint.divPointCatalogId);">Edit</button>
	</div>
</div>
