@import '../../../../../../scss/color-pallet';

.form-group .ng-invalid:not(form):not(p-calendar) {
	border-left: 5px solid $brand-danger;
}

::ng-deep .nav-item {
	font-size: small;
}

::ng-deep .container {
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-top: none;
}

.phd-add-another {
	text-align: right;


	button {
		margin-bottom: 10px;
	}
}
