@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/animations.scss";

ul {

	li {
		text-transform: capitalize;
		font-size: 14px;
		padding-bottom: 20px;
		text-align: left;
		cursor: pointer;
		overflow-wrap: break-word;
		word-wrap: break-word; // depricated but required for MS Edge, should be removed as soon as edge is current
		.phd-past-cutt-off {
			opacity: .5;
		}

		.label {
			margin-right: 20px;
			transition: all .3s ease;

			&:empty {
				background-color: lightgray;
				width: 200px;
				height: 14px;
				@include shimmer();
			}
		}

		&.active {
			font-weight: 600;
			font-size: 15px;

			span {
				* {
					width: 16px !important;
					height: 16px;
				}
			}

			.label {
				margin-right: 34px;
			}
		}

		&:hover {
			transition: all .5s;
			font-weight: 500;
		}
	}
}
