@import '../../../../scss/sizes.scss';
@import "../../../../scss/color-pallet.scss";

:host {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
}

.phd-change-orders {
	max-width: 100%;
	margin: 0 2em;
	overflow-y: auto;
}

@media(max-width:$tablet-max-width) {
	.phd-change-orders {
		margin-top: 50px;
	}
}

.phd-withdraw-button {
	margin-left: 90px;
}

.phd-status-table {
	margin: 0px 15px 0px 15px;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

.phd-changeOrder-types {
	height: 30px;
	margin-left: 20px;
}

.modal-footer {
	justify-content: flex-end;
}

.ng-invalid:not(form):not(p-calendar) {
	border-left: 5px solid $brand-danger;
}

.phd-change-order-table {
	flex: 1;
	overflow: auto;
}
