<div class="phd-hide-from-print">
	<group-bar [communityName]="communityName"
			   [planName]="planName"
			   [groups]="groups"
			   (onSubgroupSelected)="onSubgroupSelected($event)">
	</group-bar>
</div>

<ng-template #content>
	<div class="d-flex">
		<div ngClass="phd-favorites-summary">
			<summary-header class="phd-hide-from-print"
							[summaryHeader]="summaryHeader"
							[priceBreakdown]="priceBreakdown"
							[includeContractedOptions]="includeContractedOptions"
							[isDesignComplete]="isDesignComplete"
							(isStickyChanged)="onIsStickyChanged($event)"
							(contractedOptionsToggled)="onContractedOptionsToggled()">
			</summary-header>
			<summary-header class="phd-show-on-print phd-print-header"
							[summaryHeader]="summaryHeader"
							[priceBreakdown]="priceBreakdown"
							[includeContractedOptions]="includeContractedOptions"
							[isDesignComplete]="isDesignComplete"
							[isPrintHeader]="true"
							(isStickyChanged)="onIsStickyChanged($event)"
							(contractedOptionsToggled)="onContractedOptionsToggled()">
			</summary-header>

			<div class="tree-view tree-view-on-print" [class.phd-is-sticky]="isSticky" [class.phd-tree-view-presale]="isPresale">
				<ng-container *ngFor="let group of groups">
					<div class="group" *ngIf="group.subGroups.length > 0">
						<div class="label">
							<span>{{group.label}}</span>
							<div *ngIf="!isPresale" class="phd-group-detail"> 
								<span class="phd-group-subtotal-label">Subtotal : </span>
								<span class="phd-group-subtotal-amount"> {{group.price | currency:'USD':'symbol':'0.0-0'}} </span>
							</div>
						</div>
						<div class="sub-group d-flex flex-column justify-content-between" *ngFor="let subGroup of group.subGroups">
							<div class="header d-flex justify-content-between align-items-center">
								<span>{{subGroup.label}}</span>
							</div>
							<ng-container *ngFor="let dp of subGroup.points">
								<decision-point-summary *ngIf="displayPoint(dp)"
													[decisionPoint]="dp"
													[subGroup]="subGroup"
													[group]="group"
													[salesChoices]="salesChoices"
													[includeContractedOptions]="includeContractedOptions"
													[buildMode]="buildMode"
													[isDesignComplete]="isDesignComplete"
													[isPresale]="isPresale"
													[favoritesId]="favoritesId"
													(onViewFavorites)="onViewFavorites($event)"
													(onRemoveFavorites)="onRemoveFavorites($event)">
								</decision-point-summary>
							</ng-container>
						</div>
					</div>
				</ng-container>

				<!-- Show Floorplan(s) -->
				<ng-container *ngIf="isPresale && !noVisibleFP && floorPlanImages.length > 0">
					<div class="group ifp-group">
						<div class="phd-floorplan-image-section">
							<div class="label">floorplan</div>
							<ng-container *ngFor="let fpImage of floorPlanImages">
								<div class="sub-group d-flex flex-column justify-content-between">
									<div class="header d-flex justify-content-between align-items-center">
										<span>{{ fpImage.floorName }}</span>
									</div>
									<div class="d-flex flex-row phd-ifp" id="{{ getIfpId(fpImage) }}" [innerHTML]="sanitizer.bypassSecurityTrustHtml(fpImage.svg)"></div>
								</div>
							</ng-container>
						</div>
					</div>
				</ng-container>
			</div>
			<div class="phd-disclaimer phd-hide-from-print">{{ disclaimerText }}</div>
		</div>
	</div>
</ng-template>

<div class="phd-hide-from-print">
	<ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<table class="phd-show-on-print">
	<tbody><tr><td>
		<div class="phd-print-content">
			<ng-container *ngTemplateOutlet="content"></ng-container>
		</div>
	</td></tr></tbody>
	<tfoot><tr><td>
		<div class="phd-print-footer-space">&nbsp;</div>
	</td></tr></tfoot>
</table>

<action-bar class="phd-hide-from-print"
			[primaryAction]="'Back'"
			[favoritesPrice]="priceBreakdown.favoritesPrice"
			[price]="priceBreakdown.totalPrice"
			[showPrint]="true"
			[showFavorites]="false"
			[isDesignComplete]="isDesignComplete"
			[isPreview]="isPreview"
			[isPresale]="isPresale"
			[includeContractedOptions]="includeContractedOptions"
			(callToAction)="onBack()"
			(onPrintAction)="onPrint()"
			(onToggleContractedOptions)="onContractedOptionsToggled()">
</action-bar>

<div class="phd-print-footer phd-show-on-print">{{ disclaimerText }}</div>
