@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.phd-favorites-summary {
	padding-bottom: 70px; // height of the action bar
	margin-top: 56px; // Has to be one px larger than group-bar so sticky header works
	width: 100%;

	.phd-is-sticky {
		margin-top: 120px;
	}
}

.tree-view {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 10px 0px 10px;

	.group {
		text-transform: uppercase;
		margin-top: 50px;

		.label {
			display: inline-block;
			width: 98%;
			font-weight: 500;
			font-size: 28px;
			line-height: 0.83;
			margin-bottom: 20px;
			text-transform: uppercase;

			.phd-group-detail {
				float: right;

				.phd-group-subtotal-label {
					font-weight: 300;
					font-size: 20px;
					text-transform: none;
				}

				.phd-group-subtotal-amount {
					font-weight: 500;
					font-size: 20px;
					text-transform: none;
				}
			}
		}

		.sub-group {
			background-color: white;
			border-radius: 4px;
			min-height: 45px;
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.36;

			.header {
				max-height: 40px;
				height: 100%;
				padding: 3px 10px 3px 10px;
				text-transform: uppercase;
				border: none;
				transition: all .3s;
				background-color: $sub-group-bg;
			}

			::ng-deep decision-point-summary:not(:last-child) .phd-point {
				border-bottom: 1px solid #d4d4d4;
			}
		}
	}
}

.phd-ifp {
	margin: auto;
	padding-top: 30px;
	height: 80vh;
}

.phd-floorplan-disclaimer {
	text-transform: none !important;
	font-weight: bold;
	font-size: 10px;
	margin-top: 6px;
}

::ng-deep .modal-header {
	background: var(--popup-ribbon-background-color) !important;
}

::ng-deep .btn-primary {
	background: var(--primary-button-color) !important;
	border-color: var(--primary-button-color) !important;
	border-radius: 35px;
}

::ng-deep .btn-secondary {
	border-radius: 35px;
}

.phd-show-on-print {
	display: none;
}

.phd-disclaimer {
	padding: 0 10px;
	font-size: 14px;
}

@media print {
	.phd-is-sticky {
		margin-top: 0px !important;
	}

	.phd-summary-section {
		max-height: 10vh;
		
	}

	.phd-show-on-print {
		display: table !important;
		width: calc(100%);
	}

	.phd-hide-from-print {
		display: none;
		height: 0px;
	}
	
	.tree-view-on-print {
		margin-top: 20px;
		overflow: visible !important;
		display: table !important;

		.label {
			display: block !important;
		}
	}

	.phd-print-header {
		top: 0px;
		margin-top: 0cm;
	}

	.point {
		page-break-inside: avoid;
	}

	.ifp-group {
		page-break-inside: avoid !important;
	}

	.sub-group {
		print-color-adjust: exact; // Needs both to support most browsers
		-webkit-print-color-adjust: exact; 
		display: block !important;
		page-break-inside: avoid !important;

		.header {
			page-break-inside: avoid;
		}
	}

	.phd-print-content-space {
		height: 9in;
	}

	.phd-print-footer, .phd-print-footer-space {
		height: 1.5in;
	}

	.phd-print-footer {
		position: fixed;
		width: calc(100%);
		bottom: 0px;
		font-size: 14px;
		border: 1px solid gray;
		margin-bottom: 1cm;
	}
}

@page {
    margin-top: 2cm;
 }