@import '@angular/material/theming';
@include mat-core();

$mat-word: (
    50: #e3ecfa,
    100: #a5b9d1,
    200: #7da3c6,
    300: #4a78b0,
    400: #3c65a4,
    500: #2b579a,
    600: #124078,
    700: #002050,
    800: #002050,
    900: #002050,
    A100: #7da3c6,
    A200: #4a78b0,
    A400: #2b579a,
    A700: #002050,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$mat-word-panel-header-color: rgba(0, 0, 0, .04);