<div class="div-options" *ngIf="!loadingData">
	<div class="d-flex flex-row justify-content-between">
		<div class="m-2 col">
			{{marketCommunityPlanBreadcrumb}}
		</div>

		<div class="input-group m-2 col div-search-bar">
			<search-bar [searchFilters]="filterNames" [selectedSearchFilter]="selectedSearchFilter"
						(onClearFilter)="clearFilter()" (onKeywordSearch)="keywordSearch($event)"></search-bar>
		</div>

		<div class="m-2 col">
			<div class="pull-right alert alert-info phd-alert-records" *ngIf="!loadingData">
				<span>{{optionsList.length}} records</span>
			</div>
		</div>
	</div>

	<div class="d-flex flex-row mx-2 table-container">
		<table class="table table-sm table-striped phd-table-fixed">
			<thead>
				<tr>
					<th scope="col" class="phd-icon-col"></th>
					<th scope="col" class="phd-icon-col"></th>
					<th scope="col" class="phd-icon-col"></th>
					<th scope="col" class="phd-icon-col-med"></th>
					<th scope="col" class="phd-small-col">Lawson Number</th>
					<th scope="col" class="phd-icon-col text-right"></th>
					<th scope="col">Option Name</th>
					<th scope="col" class="phd-med-col">Category</th>
					<th scope="col" class="phd-med-col">Subcategory</th>
					<th scope="col" class="phd-small-col text-right">List Price</th>
					<th scope="col" class="phd-small-col text-right">Max Qty</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let option of optionsList">
					<tr class="row-group" *ngIf="option.matched" [class.phd-tr-error]="option.optionRuleMappingCount > 0 && !option.isActive" [attr.id]="'option_' + option.id">
						<td scope="row" class="phd-icon-col">
							<i class="fa fa-fw fa-home fa-sm phd-clickable" *ngIf="option.baseHouse" (click)="onSelectOption(option, 'details')"></i>
						</td>
						<td class="phd-icon-col">
							<i class="fa fa-fw fa-list-alt fa-sm phd-clickable" *ngIf="option.optionRuleMappingCount === 1" (click)="onSelectOption(option, 'rules')"></i>

							<span class="fa-stack small phd-clickable" *ngIf="option.optionRuleMappingCount > 1" (click)="onSelectOption(option, 'rules')">
								<i class="fa fa-fw fa-list-alt fa-sm fa-stack-1x phd-list-alt-stack-offset"></i>
								<i class="fa fa-fw fa-list-alt fa-sm fa-stack-2x"></i>
							</span>
						</td>
						<td class="phd-icon-col-med">
							<div *ngIf="option.imageCount > 0 || option.treeLevelImageCount > 0" class="phd-divisional-tree-group-container" (click)="onSelectOption(option, 'images')" title="{{option.treeLevelImageCount > 0 ? 'Images are maintained at the tree level' : 'Images'}}">
								<i class="fa fa-fw fa-tree" [hidden]="option.treeLevelImageCount === 0"></i>
								<i class="fa fa-fw fa-image fa-sm phd-clickable-inline">
									<span class="phd-img-count">{{option.imageCount}}</span>
								</i>
							</div>
						</td>
						<td class="phd-small-col">
							<a (click)="onSelectOption(option, 'details')" class="phd-clickable">{{option.id}}</a>
						</td>
						<td class="phd-icon-col text-right">
							<i *ngIf="option?.hasAttributeLocationAssoc" class="fa fa-magic" title="Attributes"></i>
						</td>
						<td>{{option.optionHeaderName}}</td>
						<td class="phd-med-col">{{option.categoryName}}</td>
						<td class="phd-med-col">{{option.subCategoryName}}</td>
						<td class="phd-small-col text-right">{{option.listPrice | currency:'USD':'symbol':'1.0-0'}}</td>
						<td class="phd-small-col text-right">{{option.maxOrderQuantity}}</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</div>

