<div class="modal-content">
	<div class="modal-header">
		<h2>Edit Color Item</h2>
	</div>
	<div class="modal-body ml-3 phd-dialogBody">
		<form [formGroup]="editColorItemForm">
			<div>
				<div class="form-group">
					<div class="phd-color-item-name">
						<label for="name" class="mt-2">Color Item Name</label>
						<i class="fa fa-asterisk phd-dialog-asterisk mb-2"></i>
						<input type="text" id="name" formControlName="name" class="phd-dialogTextBox ml-3" required maxlength="50">
						<div class="phd-color-item-name ml-4">
							<label class="mt-2" for="name">Option</label>
							<input [value]="selectedOption.optionSalesName" type="text" id="option" class="phd-dialogTextBox ml-3" disabled >
						</div>
					</div>
					<small
						class="text-danger"
						*ngIf="nameIsMissing">
						This is a required field
					</small>
				</div>
			</div>

			<div class="mt-1">
				<p-pickList
					sourceHeader="Available Color(s)/SKU"
					targetHeader="Selected Color(s)/SKU"
					[source]="availableColors"
					[target]="selectedColors"
					(onMoveToSource)="onMoveColorToSource()"
					(onMoveAllToSource)="onMoveAllColorsToSource()"
					(onMoveToTarget)="onMoveColorToTarget()"
					(onMoveAllToTarget)="onMoveAllColorsToTarget()"
					[sourceStyle]="{'height': '14rem'}"
					[targetStyle]="{'height': '14rem'}"
					[showSourceControls]="false"
					[showTargetControls]="false">
					<ng-template let-color pTemplate="item">
						<div>
							<div class="phd-list-item">{{color?.name}}</div>
						</div>
					</ng-template>
				</p-pickList>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary"
				type="button"
		>
			Save
		</button>
		<button
			type="button"
			class="btn btn-secondary"
			(click)="cancelButtonWasClicked()"
		>
			Cancel
		</button>
	</div>
</div>
