@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.phd-disclaimer-body {
	text-align: left;
    height: 260px;
    overflow-y: scroll;
}

.phd-footer-disclaimer {
	margin-bottom: 12px;
}
