<div class="modal-header">
	<h1 class="modal-title">{{ headerText }}</h1>
</div>
<div class="modal-body">
	<div class="phd-footer-disclaimer">
		This Design Preview is a tool designed to give our customers
		a general understanding of home options, material and finish upgrades
		and option/upgrade pricing (where provided) and prepare them for making
		actual option and upgrade selections in the future. No selections are
		being made using this tool, nor is this a contract for a home or
		reservation of a lot. The terms and conditions pertaining to a home purchase,
		including option and upgrade selections, will be contained only within a
		fully-executed Home Purchase Agreement or a Change Order to that agreement.
		Lots, home plans, elevations, options, upgrades, features and specifications
		and the availability and pricing of each may change without notice. Images are
		for marketing purposes only and may not reflect exact home designs or dimensions,
		specific components or materials used in home construction, specific manufacturer
		or models of components, or exact colors or textures of materials, all of which
		may vary in the course of actual construction and all of which seller has the
		right to change. Model homes may vary significantly in design, décor and available
		options and materials from homes available to purchase in a community.
	</div>
	
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-primary modal-button"(click)="close()">
		<span class="modal-button">Close</span>
	</button>
</div>
