<page-header mainTitle="Configuration Name" subTitle={{subTitle}}></page-header>

<div id="name-scenario" [ngClass]="{'d-flex' : true, 'flex-column': true, 'align-items-center': !(isTablet$ | async)}">
	<div *ngIf="loadingOpportunity"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
	<error-message *ngIf="!loadingOpportunity && !opportunityId" [@flipOver]>
		<ng-template #body>Seems that the Opportunity has not been provided.<br />Please try starting from CRM again or contact the TSC.</ng-template>
	</error-message>
	<form [formGroup]="scenarioForm" *ngIf="!loadingOpportunity && opportunityId && !scenarioHasSalesAgreement" #ngForm="ngForm">
		<div class="form-group input-group">
			<input type="text" id="scenarioName" name="scenarioName" [(ngModel)]="scenarioNameInput" [controlDisabled]="!canConfigure" placeholder="Configuration Name" maxlength="100" class="form-control phd-scenario-name-input" formControlName="scenarioName" autocomplete="off" (keyup)="onKey()" required>

			<div class="input-group-append">
				<button class="btn btn-primary phd-scenario-name-btn" [disabled]="!nameCheckComplete || scenarioForm.invalid || scenarioNameInput === scenarioName || ngForm.submitted || !canConfigure" type="submit" (click)="createScenario()">Save</button>
			</div>
		</div>

		<div *ngIf="!scenarioForm.pristine && scenarioForm.invalid && (scenarioForm.dirty || scenarioForm.touched)" class="alert-message">
			<div *ngIf="scenarioForm.controls.scenarioName.errors.maxlength">The maximum length for a configuration name is 100 characters.</div>
			<div *ngIf="scenarioForm.controls.scenarioName.errors.required">Configuration name is required.</div>
		</div>
		<div *ngIf="isDuplicateScenarioName" class="alert-message">The configuration name you entered is already in use. Please enter a different name to proceed.</div>
	</form>

	<div *ngIf="scenarioHasSalesAgreement" class="phd-scenario-name-label">
		{{scenarioName}}
	</div>
</div>

