@import "../../../../../scss/color-pallet.scss";

/*
	The floor plan cannot be truly hidden, otherwise alphavision has trouble accessing floors, etc.
	So instead, the element will be positioned far off-screen.
*/
.phd-hidden-floor-plan {
	position: absolute;
	left: -10000px;
	top: auto;
	overflow: hidden;
}

.summary-container {
	width: 1000px;
	margin-top: 30px;

	.phd-summary-header-image {
		text-align: center;

		::ng-deep img {
			max-width: 1000px;
			max-height: 649px;
		}
	}

	.phd-is-sticky {
		margin-top: 195px;
	}

	.tree-view {
		width: 100%;
		margin-bottom: 80px;

		.group {
			text-transform: uppercase;
			margin-top: 50px;

			.label {
				display: inline-block;
				width: 98%;
				font-weight: 500;
				font-size: 30px;
				line-height: 0.83;
				margin-bottom: 20px;
				text-transform: uppercase;

				.phd-group-detail {
					float: right;

					.phd-group-subtotal-label {
						font-weight: 300;
						font-size: 20px;
						text-transform: none;
					}

					.phd-group-subtotal-amount {
						font-weight: 500;
						font-size: 20px;
						text-transform: none;
					}
				}
			}

			.sub-group {
				background-color: white;
				border-radius: 4px;
				min-height: 45px;
				margin-bottom: 10px;
				font-size: 14px;
				font-weight: 500;
				line-height: 1.36;

				.header {
					max-height: 40px;
					height: 100%;
					padding: 15px;
					text-transform: uppercase;
					border: none;
					transition: all .3s;
				}

				::ng-deep decision-point-summary:not(:last-child) .phd-point {
					border-bottom: 1px solid #d4d4d4;
				}
			}
		}
	}
}

::ng-deep .carousel{
	.carousel-control-next, .carousel-control-prev {
		background-color: transparent;
		height: 50px;
		width: 50px;
		margin: auto;
	
		.carousel-control-next-icon, .carousel-control-prev-icon{
			-webkit-filter: drop-shadow( 0px 0px 2px black);
			filter: drop-shadow( 0px 0px 2px black);
			
		}
	}		
}
