<page-header mainTitle="{{title}}"></page-header>

<div class="d-flex justify-content-center">
	<div *ngIf="canDisplay" class="summary-container d-flex align-items-onLoadImage flex-column">
		<div class="position-relative phd-summary-header-image" *ngIf="summaryImages.length">
			<ngb-carousel [interval]="0" (slide)="onSlide($event)" *ngIf="summaryImages.length > 1" [showNavigationIndicators]="false">
				<ng-template ngbSlide *ngFor="let image of summaryImages; let currentIndex = index;" [id]="currentIndex">
					<cl-image public-id="{{image.imageUrl}}" (onLoad)="onLoadImage()" (onError)="onLoadImageError($event)" type="fetch" gravity="auto" crop="fill" *ngIf="activeIndex?.current == currentIndex && !image.hasDataUri"></cl-image>

					<img [src]="image.imageUrl | safeUrl" *ngIf="activeIndex?.current == currentIndex && image.hasDataUri" class="phd-ifp-image">
				</ng-template>
			</ngb-carousel>

			<cl-image *ngIf="summaryImages.length == 1 && !summaryImages[0].hasDataUri" public-id="{{summaryImages[0].imageUrl}}" (onLoad)="onLoadImage()" (onError)="onLoadImageError($event)" type="fetch" gravity="auto" crop="fill"></cl-image>

			<img [src]="summaryImages[0].imageUrl | safeUrl" *ngIf="summaryImages.length == 1 && summaryImages[0].hasDataUri" class="phd-ifp-image">
		</div>

		<summary-header [pointStatusFilter]="(pointStatusFilter$ | async)"
						(pointStatusFilterChanged)="onPointStatusFilterChanged($event)"
						(toggleAllAttributesChanged)="onToggleAllAttributesChanged($event)"
						(toggleImagesChanged)="onToggleImagesChanged($event)"
		                (isStickyChanged)="onIsStickyChanged($event)"
						(handingChanged)="onHandingChanged($event)"
						[summaryHeader]="summaryHeader"
						[priceBreakdown]="priceBreakdown"
		                [allowEstimates]="allowEstimates"
		                [canEditHanding]="(canEditAgreement$ | async) && (canConfigure$ | async) && canEditHanding"
						[canConfigure]="canConfigure$ | async"
						[disableHanding]="disableHanding"
						[canOverride]="canOverride$ | async"></summary-header>

		<div class="tree-view d-flex flex-column" [class.phd-is-sticky]="isSticky">
			<ng-container *ngFor="let group of groups">
				<div class="group" *ngIf="group.subGroups.length > 0">
					<div class="label">
						<span>{{group.label}}</span>
						<div class="phd-group-detail">
							<span class="phd-group-subtotal-label">Subtotal : </span>
							<span class="phd-group-subtotal-amount"> {{getGroupSubTotals(group) | currency}} </span>
						</div>
					</div>
					<div class="sub-group d-flex flex-column justify-content-between" *ngFor="let subGroup of group.subGroups">
						<div class="header d-flex justify-content-between align-items-center">
							<span>{{subGroup.label}}</span>
						</div>
						<ng-container *ngFor="let dp of subGroup.points">
							<decision-point-summary *ngIf="dp | isFiltered:(pointStatusFilter$ | async)"
													[decisionPoint]="dp"
													[subGroup]="subGroup"
													[group]="group"
													[id]="dp.id"
													[@blink]="dp.id === fragment"
													[scenarioId]="(scenarioId$ | async)"
													[filtered]="dp | isFiltered:(pointStatusFilter$ | async)"
							                        [showImages]="showImages"
							                        [canEditAgreement]="(canEditAgreement$ | async) && (canConfigure$ | async) && canEditSummary">
							</decision-point-summary>
						</ng-container>
					</div>
				</div>
			</ng-container>
		</div>

		<summary-action-bar
							[isComplete]="(isComplete$ | async)"
							[selectedPointFilter]="(selectedPointFilter$ | async)"
							[enabledPointFilters]="(enabledPointFilters$ | async)"
							[priceBreakdown]="priceBreakdown"
							[scenarioStatus]="(scenarioStatus$ | async)"
							[hasFloorPlan]="hasFloorPlan"
							[inChangeOrder]="(isChangingOrder$ | async)"
							[canChange]="(canConfigure$ | async) && canEditSummary"
							(pointTypeFilterChanged)="onPointTypeFilterChanged($event)"
							(onBuildIt)="onBuildIt()"
							(onPrintPreview)="printPreview($event)">
		</summary-action-bar>
	</div>
</div>
