@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

:host{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	flex: 0 0 100%;
	width: 100%;
	height: 100%;
}
header {
	display: flex;
	flex: 0 1 100px;
	flex-direction: column;
	min-height: 100px;
	padding: 0 15px;

	.phd-navigation-bar {
		background: $twilight-blue;
		color: white;
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;

		.phd-navigation-bar-header {
			background: $marine;
			display: inline-block;
			height: 50px;
			margin-left: -1rem;
			margin-right: 15px;

			.logo {
				max-width: 100%;
				max-height: 100%;
				margin: 0 15px;
			}
		}

		.phd-navigation-bar-title {
			font-size: 22px;
			font-weight: 300;
			margin-right: auto;
		}
	}

	aside {
	  align-items: center;
	  background-color: rgba(239, 239, 239, 0.78);
	  border-bottom: 1px solid #ccc !important;
	  color: #666;
	  display: flex;
	  flex-direction: row;
	  font-size: 8pt;
	  min-height: 35px;
	  padding: 0 20px;
	  justify-content: space-between;

	  .color-nav{
		  align-items: flex-start;
		  align-self: flex-start;
		  display: flex;
		  font-size: 15px;
	  }

	  .user {
		align-items: center;
		align-self: flex-end;
		display: flex;
		min-height: 35px;

		.fa-user {
		  margin-right: .5em;
		}
	  }
	}
  }

.tab-content{
	padding: 15px;
}

portal-item,
spec-item {
  align-content: center;
  align-self: center;
  display: flex;

  /*Change the value to accomodate the ideal number of items per row you want.*/
  flex-basis: 25%;

  flex-direction: column;
  height: 50%;
  justify-content: center;
  max-height: 400px;
  max-width: 600px;
  min-height: 150px;
  min-width: 130px;
}

