 $aw-primary: (
	50 : #fefefe,
	100 : #fbfbfb,
	200 : #f9f9f9,
	300 : #f7f7f7,
	400 : #285b7d,
	500 : #f3f3f3,
	600 : #f1f1f1,
	700 : #efefef,
	800 : #ededed,
	900 : #eaeaea,
	A100 : #255c7b,
	A200 : #255c7b,
	A400 : #255c7b,
	A700 : #002e5d,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #00334C,
		600 : #000000,
		700 : #000000,
		800 : #000000,
		900 : #000000,
		A100 : #000000,
		A200 : #f3f3f3,
		A400 : #f3f3f3,
		A700 : #f3f3f3,
	)
);

$aw-accent: (
	50 : #e5ebef,
	100 : #beced7,
	200 : #92aebd,
	300 : #668da3,
	400 : #255c7b,
	500 : #255c7b,
	600 : #255c7b,
	700 : #1b4a68,
	800 : #16415e,
	900 : #0d304b,
	A100 : #83c3ff,
	A200 : #2f6c8f,
	A400 : #255c7b,
	A700 : #2f6c8f,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);

$ch-primary: (
	50 : #f9e8e7,
	100 : #f0c6c2,
	200 : #e7a19a,
	300 : #dd7b72,
	400 : #257FA2,
	500 : #ce4235,
	600 : #c93c30,
	700 : #c23328,
	800 : #bc2b22,
	900 : #b01d16,
	A100 : #257FA2,
	A200 : #ce4235,
	A400 : #1a1a1a,
	A700 : #1a1a1a,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #ffffff,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);

$ch-accent: (
	50 : #ffffff,
	100 : #ffffff,
	200 : #ffffff,
	300 : #ffffff,
	400 : #ce4235,
	500 : #ffffff,
	600 : #1a1a1a,
	700 : #ffffff,
	800 : #ffffff,
	900 : #ffffff,
	A100 : #ffffff,
	A200 : #1a1a1a,
	A400 : #ce4235,
	A700 : #ce4235,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #000000,
		600 : #ffffff,
		700 : #000000,
		800 : #000000,
		900 : #000000,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$dv-primary: (
    50 : #e2eaed,
    100 : #b6cbd1,
    200 : #85a8b2,
    300 : #548593,
    400 : #19405c,
    500 : #0a5165,
    600 : #094a5d,
    700 : #074053,
    800 : #053749,
    900 : #032737,
    A100 : #1f667e,
    A200 : #1f667e,
    A400 : #19405c,
    A700 : #19405c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #e9f3f8,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #e9f3f8,
        A700 : #e9f3f8,
    )
);

$dv-accent: (
    50 : #e3e8eb,
    100 : #bac6ce,
    200 : #8ca0ae,
    300 : #5e798d,
    400 : #1f667e,
    500 : #19405c,
    600 : #1F667E,
    700 : #12324a,
    800 : #0e2a41,
    900 : #081c30,
    A100 : #6aadff,
    A200 : #1f667e,
    A400 : #1f667e,
    A700 : #1f667e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #e9f3f8,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$dw-primary: (
    50 : #e8f7fb,
    100 : #c6eaf4,
    200 : #a0dced,
    300 : #79cee5,
    400 : #0273a6,
    500 : #40b9da,
    600 : #3ab2d6,
    700 : #32aad0,
    800 : #2aa2cb,
    900 : #1c93c2,
    A100 : #0a5165,
    A200 : #40b9da,
    A400 : #0a5165,
    A700 : #000000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$dw-accent: (
    50 : #e2eaed,
    100 : #b6cbd1,
    200 : #85a8b2,
    300 : #548593,
    400 : #40b9da,
    500 : #0a5165,
    600 : #0a5165,
    700 : #074053,
    800 : #053749,
    900 : #032737,
    A100 : #6ec9ff,
    A200 : #3bb6ff,
    A400 : #08a3ff,
    A700 : #0a5165,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #e9f3f8,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #0a5165,
        A400 : #0a5165,
        A700 : #ffffff,
    )
);

$jw-primary: (
    50 : #e0e5eb,
    100 : #b3bfcc,
    200 : #8094aa,
    300 : #4d6988,
    400 : #002855,
    500 : #002855,
    600 : #00244e,
    700 : #001e44,
    800 : #00183b,
    900 : #000f2a,
    A100 : #002855,
    A200 : #002855,
    A400 : #002855,
    A700 : #002855,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$jw-accent: (
	50 : #ffffff,
	100 : #ffffff,
	200 : #ffffff,
	300 : #ffffff,
	400 : #002855,
	500 : #ffffff,
	600 : #002855,
	700 : #ffffff,
	800 : #ffffff,
	900 : #ffffff,
	A100 : #ffffff,
	A200 : #002855,
	A400 : #002855,
	A700 : #002855,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #002855,
		600 : #000000,
		700 : #000000,
		800 : #000000,
		900 : #000000,
		A100 : #000000,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #000000,
	)
);

$ph-primary: (
	50 : #e0e7ea,
	100 : #b3c2c9,
	200 : #8099a6,
	300 : #4d7082,
	400 : #1e81b3,
	500 : #00334c,
	600 : #002e45,
	700 : #00273c,
	800 : #002033,
	900 : #001424,
	A100 : #1e81b3,
	A200 : #00334c,
	A400 : #00334c,
	A700 : #00334c,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #e9f3f8,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);

$ph-accent: (
	50 : #e4f0f6,
	100 : #bcd9e8,
	200 : #8fc0d9,
	300 : #62a7ca,
	400 : #00334c,
	500 : #1e81b3,
	600 : #1e81b3,
	700 : #166ea3,
	800 : #12649a,
	900 : #0a518b,
	A100 : #b9ddff,
	A200 : #1e81b3,
	A400 : #1e81b3,
	A700 : #1e81b3,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #e9f3f8,
		600 : #e9f3f8,
		700 : #e9f3f8,
		800 : #e9F3f8,
		900 : #e9f3f8,
		A100 : #000000,
		A200 : #e9f3f8,
		A400 : #e9f3f8,
		A700 : #000000,
	)
);