@use '@angular/material' as mat;

$aw-typography: mat.define-typography-config(
	$font-family: 'Optima',
	$headline-1: mat.define-typography-level(16px, 24px, 700),
	$headline-2: mat.define-typography-level(14px, 21px, 700),
	$headline-3: mat.define-typography-level(12px, 15px, 400, $letter-spacing: 0.3px),
	$headline-4: mat.define-typography-level(28px, 33.6px, 500),
	$headline-5: mat.define-typography-level(20px, 30px, 400),
	$headline-6: mat.define-typography-level(18px, 22px, 400),
	$subtitle-1: mat.define-typography-level(17px, 30px, 400),
	$subtitle-2: mat.define-typography-level(16px, 24px),
	$body-1: mat.define-typography-level(15px, 18px, 400),
	$body-2: mat.define-typography-level(14px, 21px, 400),
	$caption: mat.define-typography-level(10px, 15px, 400),
	$button: mat.define-typography-level(16px, 20px, 700, $letter-spacing: 0.4px),
);

$ch-typography: mat.define-typography-config(
	$font-family: 'Apercu',
	$headline-1: mat.define-typography-level(16px, 24px, 700),
	$headline-2: mat.define-typography-level(14px, 21px, 700),
	$headline-3: mat.define-typography-level(12px, 15px, 400, $letter-spacing: 0.3px),
	$headline-4: mat.define-typography-level(28px, 33.6px, 500),
	$headline-5: mat.define-typography-level(20px, 30px, 400),
	$headline-6: mat.define-typography-level(18px, 22px, 400),
	$subtitle-1: mat.define-typography-level(17px, 30px, 400),
	$subtitle-2: mat.define-typography-level(16px, 24px),
	$body-1: mat.define-typography-level(15px, 18px, 400),
	$body-2: mat.define-typography-level(14px, 21px, 400),
	$caption: mat.define-typography-level(10px, 15px, 400),
	$button: mat.define-typography-level(16px, 20px, 700, $letter-spacing: 0.4px),
);

$dv-typography: mat.define-typography-config(
	$font-family: 'StagSans',
	$headline-1: mat.define-typography-level(16px, 24px, 700),
	$headline-2: mat.define-typography-level(14px, 21px, 700),
	$headline-3: mat.define-typography-level(12px, 15px, 400, $letter-spacing: 0.3px),
	$headline-4: mat.define-typography-level(28px, 33.6px, 500),
	$headline-5: mat.define-typography-level(20px, 30px, 400),
	$headline-6: mat.define-typography-level(18px, 22px, 400),
	$subtitle-1: mat.define-typography-level(17px, 30px, 400),
	$subtitle-2: mat.define-typography-level(16px, 24px),
	$body-1: mat.define-typography-level(15px, 18px, 400),
	$body-2: mat.define-typography-level(14px, 21px, 400),
	$caption: mat.define-typography-level(10px, 15px, 400),
	$button: mat.define-typography-level(16px, 20px, 700, $letter-spacing: 0.4px),
);

$dw-typography: mat.define-typography-config(
	$font-family: 'Museo Sans',
	$headline-1: mat.define-typography-level(16px, 24px, 700),
	$headline-2: mat.define-typography-level(14px, 21px, 700),
	$headline-3: mat.define-typography-level(12px, 15px, 400, $letter-spacing: 0.3px),
	$headline-4: mat.define-typography-level(28px, 33.6px, 500),
	$headline-5: mat.define-typography-level(20px, 30px, 400),
	$headline-6: mat.define-typography-level(18px, 22px, 400),
	$subtitle-1: mat.define-typography-level(17px, 30px, 400),
	$subtitle-2: mat.define-typography-level(16px, 24px),
	$body-1: mat.define-typography-level(15px, 18px, 400),
	$body-2: mat.define-typography-level(14px, 21px, 400),
	$caption: mat.define-typography-level(10px, 15px, 400),
	$button: mat.define-typography-level(16px, 20px, 700, $letter-spacing: 0.4px),
);

$jw-typography: mat.define-typography-config(
	$font-family: 'Palatino',
	$headline-1: mat.define-typography-level(16px, 24px, 700),
	$headline-2: mat.define-typography-level(14px, 21px, 700),
	$headline-3: mat.define-typography-level(12px, 15px, 400, $letter-spacing: 0.3px),
	$headline-4: mat.define-typography-level(28px, 33.6px, 500),
	$headline-5: mat.define-typography-level(20px, 30px, 400),
	$headline-6: mat.define-typography-level(18px, 22px, 400),
	$subtitle-1: mat.define-typography-level(17px, 30px, 400),
	$subtitle-2: mat.define-typography-level(16px, 24px),
	$body-1: mat.define-typography-level(15px, 18px, 400),
	$body-2: mat.define-typography-level(14px, 21px, 400),
	$caption: mat.define-typography-level(10px, 15px, 400),
	$button: mat.define-typography-level(16px, 20px, 700, $letter-spacing: 0.4px),
);

$ph-typography: mat.define-typography-config(
	$font-family: 'Lineto-Brown-Pro',
	$headline-1: mat.define-typography-level(16px, 24px, 700),
	$headline-2: mat.define-typography-level(14px, 21px, 700),
	$headline-3: mat.define-typography-level(12px, 15px, 400, $letter-spacing: 0.3px),
	$headline-4: mat.define-typography-level(28px, 33.6px, 500),
	$headline-5: mat.define-typography-level(20px, 30px, 400),
	$headline-6: mat.define-typography-level(18px, 22px, 400),
	$subtitle-1: mat.define-typography-level(17px, 30px, 400),
	$subtitle-2: mat.define-typography-level(16px, 24px),
	$body-1: mat.define-typography-level(15px, 18px, 400),
	$body-2: mat.define-typography-level(14px, 21px, 400),
	$caption: mat.define-typography-level(10px, 15px, 400),
	$button: mat.define-typography-level(16px, 20px, 700, $letter-spacing: 0.4px),
);