@use 'sass:map';
@use '@angular/material' as mat;
@use './typography';
@use './colors';
@use './themes/components/action-bar-theme' as action-bar;
@use './themes/components/blocked-choice-modal-theme' as blocked-choice-modal;
@use './themes/components/decision-point-summary-theme' as decision-point-summary;
@use './themes/components/default-error-theme' as default-error;
@use './themes/components/footer-bar-theme' as footer;
@use './themes/components/group-bar-theme' as group-bar;
@use './themes/components/header-bar-theme' as header-bar;
@use './themes/components/home-theme' as home;
@use './themes/components/nav-bar-theme' as nav-bar;
@use './themes/components/summary-header-theme' as summary-header;
@use './themes/components/toggle-theme' as toggle;
@use './themes/components/welcome-modal-theme' as welcome-modal;

// Mobile component themes
@use './themes/components/global-header-theme' as global-header;

@import "@angular/material/theming";
@import '../../../phd-common/src/lib/scss/color-pallet.scss';
@import './themes/american-west-theme.scss';
@import './themes/centex-theme.scss';
@import './themes/del-webb-theme.scss';
@import './themes/divosta-themes.scss';
@import './themes/john-wieland-theme.scss';
@import './themes/pulte-theme.scss';

@include mat-core();

@mixin theme($theme) {
	$color-config: mat.get-color-config($theme);
	$typography-config: mat.get-typography-config($theme);
	$primary-palette: map.get($color-config, 'primary');
	$accent-palette: map.get($color-config, 'accent');

	@include mat.menu-theme($theme);
	@include mat.button-theme($theme);
	@include mat.dialog-theme($theme);
	@include mat.typography-hierarchy($typography-config);

	@include action-bar.theme($theme);
	@include blocked-choice-modal.theme($theme);
	@include decision-point-summary.theme($theme);
	@include default-error.theme($theme);
	@include footer.theme($theme);
	@include group-bar.theme($theme);
	@include header-bar.theme($theme);
	@include home.theme($theme);
	@include nav-bar.theme($theme);
	@include summary-header.theme($theme);
	@include welcome-modal.theme($theme);

	// Mobile component themes
	@include global-header.theme($theme);

	font-family: mat.font-family($typography-config);

	.modal-content {
		.modal-header {
			background: mat.get-color-from-palette($primary-palette, 'A200');
			color: mat.get-color-from-palette($primary-palette, 'A200-contrast');

			button {
				color: mat.get-color-from-palette($primary-palette, 'A200-contrast');
			}
		}

		.modal-title {
			font-size: mat.font-size($typography-config, 'headline-5');
		}

		.modal-button {
			font-size: mat.font-size($typography-config, 'headline-5');
		}
	}

	.btn-primary,
	.btn-primary:not(:disabled):not(.disabled):active {
		background: mat.get-color-from-palette($primary-palette, 400);
		border-color: mat.get-color-from-palette($primary-palette, 400);

		.fa-check {
			color: mat.get-color-from-palette($primary-palette, '400-contrast') !important;
		}
	}

	.btn { 
		border-radius: 35px;

		&:hover,
		&:focus {
			background-color: mat.get-color-from-palette($primary-palette, 600);
			box-shadow: none !important;
		}
	} 

	// This has to be outside the component because the mat menu is part of the overlay container
	.fa-check {
		color: mat.get-color-from-palette($accent-palette, 'A200') !important;
		padding-right: 5px;
	}

	.fa-heart {
		color: mat.get-color-from-palette($accent-palette, 500);
	}

	.phd-attribute-item-image-selected {
		border-color: mat.get-color-from-palette($accent-palette, 500) !important;
	}

	.phd-attribute-group-toggle {
		color: mat.get-color-from-palette($accent-palette, 'A200');
	}

	.phd-available-selections {
		background-color: mat.get-color-from-palette($accent-palette, 600);
	}

	.phd-choice-image-selected {
		border-color: mat.get-color-from-palette($accent-palette, 500) !important;
	}

	.phd-choice-container {
		.phd-choice-link {
			color: mat.get-color-from-palette($primary-palette, 'A100');
		}

		.phd-point-link {
			color: mat.get-color-from-palette($primary-palette, 'A100');
		}
	}

	.phd-icon-selected {
		color: mat.get-color-from-palette($accent-palette, 'A700');
	}

	.phd-group-completed {
		color: mat.get-color-from-palette($accent-palette, '500-contrast') !important;
		-webkit-text-stroke: 1px mat.get-color-from-palette($accent-palette, 500);
	}

	.phd-group-uncompleted {
		padding-left: 19px;
	}

	.phd-sub-menu-selected {
		font-weight: bold !important;
	}

	.btn-toggle {
		@include toggle.theme($theme);

		&.btn-sm {
			@include toggle.theme($theme, $font-size: .55rem, $margin: .5rem);

			&.btn-auto-approval {
				@include toggle.theme($theme, $font-size: .55rem, $margin: .5rem, $content-after: 'On', $content-before: 'Off')
			}
		}
	}

	// Global Style for Dialog (Modal)
	.phd-dialog-header {
		background-color: mat.get-color-from-palette($primary-palette, 500);
		color: mat.get-color-from-palette($primary-palette, '500-contrast') !important;

		.phd-dialog-header-text {
			color: mat.get-color-from-palette($primary-palette, '500-contrast') !important;
		}
	}
}

.aw-theme {
	@include theme($aw-theme);

	.phd-nav-bar {
		.phd-logo {
			margin-top: 10px;
			max-height: 50px;
		}
	}

	.phd-collapsable-menu {
		width: 315px;
	}
}

.ch-theme {
	@include theme($ch-theme);

	.phd-nav-bar {
		.phd-logo {
			margin-top: 8px;
			max-height: 34px;
		}
	}

	.phd-collapsable-menu {
		width: 315px;
	}
}

.dv-theme {
	@include theme($dv-theme);

	.phd-nav-bar {
		.phd-logo {
			margin-top: 9px;
			max-height: 40px;
		}
	}

	.phd-collapsable-menu {
		width: 315px;
	}
}

.dw-theme {
	@include theme($dw-theme);

	.phd-nav-bar {
		.phd-logo {
			margin-top: 8px;
			max-height: 34px;
		}
	}

	.phd-collapsable-menu {
		width: 315px;
	}
}

.jw-theme {
	@include theme($jw-theme);

	.phd-nav-bar {
		.phd-logo {
			margin-top: 2px;
			max-height: 45px;
		}
	}

	.phd-collapsable-menu {
		width: 335px;
	}
}

.ph-theme {
	@include theme($ph-theme);

	.phd-nav-bar {
		.phd-logo {
			margin-top: 5px;
			max-height: 42px;
		}
	}

	.phd-collapsable-menu {
		width: 315px;
	}
}

html,
body {
	color: #4a4a4a;
	margin: 0;
	padding: 0;
	height: 100%;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.5s;
}

ul {
	list-style-type: none;
}

// Angular Material Style Overrides
// We use custom icons so this gets rid of the margin on the default icon
.mat-content.mat-content-hide-toggle {
	margin-right: 0px !important;
}

// Sets our disabled backdrop color
.mat-drawer-backdrop {
	background-color: #9D9A9AA7;
}

.mat-expansion-panel-body {
	padding-bottom: 6px !important;
}

// ngb-modal has an inline style bug. see more here: https://github.com/ng-bootstrap/ng-bootstrap/issues/2686
ngb-modal-backdrop {
	z-index: 1050 !important;
}

.fa-check {
	font-size: 14px;
	-webkit-text-stroke: 1px white;
}

.app-root {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	padding-left: 0;
}

.carousel-indicators {
	display: none;
}

.modal-button {
	width: 25%;
	text-align: center;
}

.modal-header {
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;

	button:focus {
		outline: none;
	}
}

.modal-footer {
	justify-content: center;
}

// cl-image styling
.phd-attribute-item-image {
	border: solid 1px #ccc;
	cursor: pointer;

	.phd-attribute-item-image-selected {
		border: solid 4px;
	}

	.phd-image-is-inactive,
	&.disabled {
		cursor: no-drop;
		opacity: .65;
	}
}

.phd-clickable:hover {
	cursor: pointer;
}

.phd-blocked-choice-modal .modal-dialog {
	max-width: 400px;
}

.phd-empty-checkbox {
	width: 22px;
	height: 22px;
	background-color: white;
	border-radius: 2px;
	border: solid 1px;
}

.phd-image-carousel {
	.phd-choice-image {
		border: 2px solid #ccc;
		cursor: pointer;

		.phd-choice-image-selected {
			border: solid 4px;
			// border: solid 4px #1e81b3;
		}

		img {
			width: 50px;
			height: 50px;
		}
	}
}

.phd-visually-hidden {
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

// ngb carousel styling
.carousel {
	.visually-hidden {
		display: none;
	}

	.carousel-control-next,
	.carousel-control-prev {
		background-color: transparent;
		height: 50px;
		width: 50px;
		margin: auto;

		.carousel-control-next-icon,
		.carousel-control-prev-icon {
			-webkit-filter: drop-shadow(0px 0px 2px black);
			filter: drop-shadow(0px 0px 2px black);
		}
	}
}

@media print {
	.phd-main-container {
		padding-top: 0 !important;
	}
}