<div class="phd-div-tab-panel">
	<phd-table [value]="communities" [displayTooltip]="false" tableId="expansionAssociateCommunitiesTabPanel" dataKey="id">
		<ng-template #rowExpansion let-community let-columns="columns">
			<tr>
				<td [attr.colspan]="columns.length" class="phd-expansion-padding-override">
					<div class="div-row-expansion">
						<expansion-communities-tab-dropdown-panel [community]="community"
																  [choice]="choice"
																  [isReadOnly]="isReadOnly"
																  (onDataChange)="onDataChanged()">
						</expansion-communities-tab-dropdown-panel>
					</div>
				</td>
			</tr>
		</ng-template>
		<phd-column columnId="associatedGroups" width="50px">
			<ng-template #body let-community let-expanded="expanded">
				<i class="fa fa-fw phd-clickable" [ngClass]="expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'" [phdRowToggler]="community" title="Click to associate groups to a community"></i>
			</ng-template>
		</phd-column>
		<phd-column header="Communities">
			<ng-template #body let-community>
				{{ community.name }} - {{ community.number }}
			</ng-template>
		</phd-column>
	</phd-table>
</div>
