<div>
	<group-bar [communityName]="communityName"
			   [planName]="planName"
			   [groups]="groups"
			   [selectedSubGroupId]="selectedSubgroupId"
			   (onSubgroupSelected)="onSubgroupSelected($event)"
			   (onSetTreeFilter)="treeFilterChanged()">
	</group-bar>
</div>
<div class="phd-my-favorites">
	<ng-container *ngIf="!showDetails && !selectedSubGroup?.useInteractiveFloorplan">
		<normal-experience [groupName]="groupName"
						[currentSubgroup]="selectedSubGroup"
						[errorMessage]="errorMessage"
						[myFavoritesChoices]="myFavoritesChoices"
						[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
						[decisionPointId]="selectedPointId"
						[salesChoices]="salesChoices"
						[groups]="groups"
						[tree]="tree"
						[choiceImages]="currentChoiceImages"
						[isReadonly]="isReadonly"
						[noVisibleGroups]="noVisibleGroups"
						[unfilteredPoints]="unfilteredPoints"
						(onToggleChoice)="toggleChoice($event)"
						(onViewChoiceDetail)="viewChoiceDetail($event)"
						(onSelectDecisionPoint)="selectDecisionPoint($event)"
						(onDeclineDecisionPoint)="declineDecisionPoint($event)"
						>
		</normal-experience>
	</ng-container>
	<ng-container *ngIf="!showDetails && selectedSubGroup?.useInteractiveFloorplan">
		<floor-plan-experience [groupName]="groupName"
						[currentSubgroup]="selectedSubGroup"
						[errorMessage]="errorMessage"
						[myFavoritesChoices]="myFavoritesChoices"
						[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
						[decisionPointId]="selectedPointId"
						[salesChoices]="salesChoices"
						[marketingPlanId]="marketingPlanId$"
						[isFloorplanFlipped]="isFloorplanFlipped"
						[groups]="groups"
						[tree]="tree"
						[choiceImages]="currentChoiceImages"
						[isReadonly]="isReadonly"
						[isPreview]="isPreview"
						[isDesignComplete]="isDesignComplete"
						[noVisibleGroups]="noVisibleGroups"
						[noVisibleFP]="noVisibleFP"
						[unfilteredPoints]="unfilteredPoints"
						(onToggleChoice)="toggleChoice($event)"
						(onViewChoiceDetail)="viewChoiceDetail($event)"
						(onSelectDecisionPoint)="selectDecisionPoint($event)"
						(onDeclineDecisionPoint)="declineDecisionPoint($event)">
		</floor-plan-experience>
	</ng-container>
	<ng-container *ngIf="showDetails">
		<choice-card-detail	[choice]="selectedChoice"
						[path]="getChoicePath()"
						[groupName]="groupName"
						[subGroupName]="selectedSubGroup.label"
						[groups]="groups"
						[tree]="tree"
						[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
						[isReadonly]="isReadonly"
						[isDesignComplete]="isDesignComplete"
						(onBack)="hideDetails()"
						(onSelectDecisionPoint)="selectDecisionPoint($event)"
						(onToggleChoice)="toggleChoice($event)">
		</choice-card-detail>
	</ng-container>
</div>

<action-bar [primaryAction]="showDetails ? 'Back' : 'Next'"
			[price]="priceBreakdown?.totalPrice"
			[favoritesPrice]="priceBreakdown?.favoritesPrice"
			[includeContractedOptions]="includeContractedOptions"
			[isDesignComplete]="isDesignComplete"
			[isPreview]="isPreview"
			[hideContractedToggle]="showDetails"
			(callToAction)="showDetails ? hideDetails() : onNextSubGroup()"
			(onToggleContractedOptions)="toggleContractedOptions()">
</action-bar>
