<div>
	<group-bar [communityName]="communityName"
			   [planName]="planName"
			   [groups]="groups"
			   [selectedSubGroupId]="selectedSubgroupId"
			   (subgroupSelected)="onSubgroupSelected($event)"
			   (setTreeFilter)="treeFilterChanged()">
	</group-bar>
</div>
<main class="phd-my-favorites">
	<div [ngClass]="!showDetails && !selectedSubGroup?.useInteractiveFloorplan ? '' : 'phd-hidden'">
		<normal-experience [groupName]="groupName"
			[currentSubgroup]="selectedSubGroup"
			[errorMessage]="errorMessage"
			[myFavoritesChoices]="myFavoritesChoices"
			[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
			[decisionPointId]="selectedPointId"
			[salesChoices]="salesChoices"
			[groups]="groups"
			[tree]="tree"
			[isReadonly]="isReadonly"
			[isPresale]="isPresale"
			[noVisibleGroups]="noVisibleGroups"
			[unfilteredPoints]="unfilteredPoints"
			(toggleChoice)="toggleChoice($event)"
			(viewChoiceDetail)="viewChoiceDetail($event)"
			(selectDecisionPoint)="selectDecisionPoint($event)"
			(declineDecisionPoint)="declineDecisionPoint($event)">
		</normal-experience>
	</div>
	<div [ngClass]="!showDetails && selectedSubGroup?.useInteractiveFloorplan ? '' : 'phd-hidden'">
		<floor-plan-experience [groupName]="groupName"
			[currentSubgroup]="selectedSubGroup"
			[errorMessage]="errorMessage"
			[myFavoritesChoices]="myFavoritesChoices"
			[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
			[decisionPointId]="selectedPointId"
			[salesChoices]="salesChoices"
			[marketingPlanId]="marketingPlanId$"
			[isFloorplanFlipped]="isFloorplanFlipped"
			[groups]="groups"
			[tree]="tree"
			[isReadonly]="isReadonly"
			[isPreview]="isPreview"
			[isPresale]="isPresale"
			[isDesignComplete]="isDesignComplete"
			[noVisibleGroups]="noVisibleGroups"
			[noVisibleFP]="noVisibleFP"
			[unfilteredPoints]="unfilteredPoints"
			(toggleChoice)="toggleChoice($event)"
			(viewChoiceDetail)="viewChoiceDetail($event)"
			(selectDecisionPoint)="selectDecisionPoint($event)"
			(declineDecisionPoint)="declineDecisionPoint($event)">
		</floor-plan-experience>
	</div>
	<ng-container *ngIf="showDetails">
		<choice-card-detail	[choice]="selectedChoice"
						[path]="getChoicePath()"
						[groupName]="groupName"
						[subGroupName]="selectedSubGroup.label"
						[groups]="groups"
						[tree]="tree"
						[myFavoritesPointsDeclined]="myFavoritesPointsDeclined"
						[isReadonly]="isReadonly"
						[isDesignComplete]="isDesignComplete"
						[isPresale]="isPresale"
						(toggleChoice)="toggleChoice($event)">
		</choice-card-detail>
	</ng-container>
</main>

<action-bar [primaryAction]="showDetails ? 'Back' : 'Next: ' + (nextSubGroup ? nextSubGroup.label : 'MY FAVORITES')"
			[price]="priceBreakdown?.totalPrice"
			[favoritesPrice]="priceBreakdown?.favoritesPrice"
			[includeContractedOptions]="includeContractedOptions"
			[isDesignComplete]="isDesignComplete"
			[isPreview]="isPreview"
			[isPresale]="isPresale"
			[hideContractedToggle]="showDetails"
			[isFixedWidth]="nextSubGroup && nextSubGroup.label.length > 0"		
			(callToAction)="showDetails ? onBackClicked() : onNextClicked()"
			(toggleContractedOptions)="toggleContractedOptions()">
</action-bar>
