<side-panel-component [headerTemplate]="header" [subheaderTemplate]="subheader" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseClick($event)">
	<ng-template #header>
		<h5 class="phd-side-panel-header"><strong>{{ point.labelHeirarchy }}</strong></h5>
	</ng-template>

	<ng-template #subheader>
		<h6 class="pt-3 mb-0 pl-2"><strong>{{ point.label }}</strong></h6>
	</ng-template>

	<ng-template #body>
		<div class="phd-side-panel-body">
			<ul ngbNav #nav="ngbNav" [(activeId)]="currentTab" class="nav-tabs" (navChange)="onNavChange($event)">
				<li [ngbNavItem]="'details'">
					<a ngbNavLink>Details</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<form [formGroup]="pointForm">
								<div class="form-group">
									<label for="pickType" class="col-form-label font-weight-bold">Decision Point Type:</label>
									<select class="form-control" id="pointType" formControlName="pointPickType" required>
										<option [ngValue]="null">Select Type</option>
										<option *ngFor="let pickType of pickTypes" [ngValue]="pickType.dPointPickTypeID">{{ pickType.dPointPickTypeLabel }}</option>
									</select>
								</div>

								<div class="form-check">
									<input id="quickQuote" type="checkbox" class="form-check-input" formControlName="quickQuoteCheck" />
									<label for="quickQuote" class="form-check-label">Quick Quote</label>
									<span class="fa-stack phd-fa-quick-quote ml-2">
										<i class="fa fa-comment-o"></i>
										<strong class="fa-stack-1x">QQ</strong>
									</span>
								</div>

								<div class="form-check">
									<input id="structural" type="checkbox" class="form-check-input" formControlName="structCheck" />
									<label for="structural" class="form-check-label">Structural</label>
									<i class="fa fa-gavel ml-2" aria-hidden="true"></i>
								</div>
							</form>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'pointRules'">
					<a ngbNavLink>DP to DP Rules</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="pointRulesMessage.length > 0" class="alert alert-info">{{pointRulesMessage}}</div>

							<rule-component *ngIf="pointRulesMessage.length === 0"
											[id]="point.id"
											[ruleType]="'point'"
											[versionId]="versionId"
											[title]="'Decision Point'"
											[isReadOnly]="isReadOnly"
											[rules]="pointRules"
											[allRules]="allRules"
											[blankRule]="blankRule"
											[selectedItems]="pointSelectedItems"
											[searchFilters]="pointSearchFilters"
											[isLoading]="isLoadingPointRules"
											[currentRule]="pointCurrentRule"
											[dependentIds]="dependentPointIds"
											(saveRule)="onSaveRule($event)"
											(updateMustHave)="onUpdateMustHave($event)"
											(editRule)="onEditRule($event)"
											(deleteRule)="onDeleteRule($event)"
											(cancelRule)="onCancelRule($event)">
							</rule-component>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'choiceRules'">
					<a ngbNavLink>DP to Choice Rules</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="choiceRulesMessage.length > 0" class="alert alert-info">{{choiceRulesMessage}}</div>

							<rule-component *ngIf="choiceRulesMessage.length === 0"
											[id]="point.id"
											[ruleType]="'choice'"
											[versionId]="versionId"
											[title]="'Choice'"
											[isReadOnly]="isReadOnly"
											[rules]="choiceRules"
											[allRules]="allRules"
											[blankRule]="blankRule"
											[selectedItems]="choiceSelectedItems"
											[searchFilters]="choiceSearchFilters"
											[currentRule]="choiceCurrentRule"
											[isLoading]="isLoadingChoiceRules"
											[dependentIds]="dependentChoiceIds"
											(saveRule)="onSaveRule($event)"
											(updateMustHave)="onUpdateMustHave($event)"
											(editRule)="onEditRule($event)"
											(deleteRule)="onDeleteRule($event)"
											(cancelRule)="onCancelRule($event)">
							</rule-component>
						</div>
					</ng-template>
				</li>
			</ul>

			<div class="phd-nav-tab-content">
				<div [ngbNavOutlet]="nav"></div>
			</div>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-left">
			<div *ngIf="isSaving" class="alert alert-info m-0 py-1 px-2" role="alert">Saving...</div>
			<div hidden *ngIf="sidePanelHasChanges"></div>
		</div>

		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save" (click)="savePoint();" [disabled]="canSave" *ngIf="currentTab == 'details' && !isReadOnly">
				Save

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving"></i>
			</button>

			<button class="btn btn-secondary" (click)="onCloseClick($event)" *ngIf="canSave">Close</button>
			<button class="btn btn-secondary" (click)="onCancelClick()" *ngIf="!canSave">Cancel</button>
		</div>
	</ng-template>
</side-panel-component>
