@import "../../../../../../scss/color-pallet.scss";
@import "../../../../../../scss/sizes.scss";

:host {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: absolute;
	bottom: 0;
	top: 0;
}

.phd-fa-quick-quote {
	font-size: 9px;

	i {
		font-size: 2.5em;
		bottom: 0px;
		left: -2px;
		position: absolute;
		width: 100%;
		text-align: center;
	}

	strong {
		font-size: 10px;
		bottom: 2px;
	}
}

::ng-deep .nav-item {
	font-size: small;
}

::ng-deep .container {
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-top: none;
}

::ng-deep .phd-side-panel {
	width: $side-panel-width !important;
	left: -$side-panel-width !important;
}

::ng-deep .phd-side-panel-open {
	margin-left: $side-panel-width !important;
}

::ng-deep .disabled-overlay {
	position: fixed !important;
	margin-left: $side-panel-width !important;
}

.phd-side-panel-body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.phd-nav-tab-content {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
}
