.modal-title {
	font-size: 0.997rem !important;
}

.phd-close-icon {
	margin-bottom: auto;
	margin-top: auto;
	cursor: pointer;
}

.phd-message {
	.phd-message-introduction {
		text-align: center;
		margin-bottom: 0px;
	}

	li {
		text-align: left;
		margin-bottom: 1rem;
	}
}

.phd-message-disclaimer {
	font-size: 11px;
	text-align: center;
}
