<side-panel-component
	[headerTemplate]="header"
	[subheaderTemplate]="subheader"
	[bodyTemplate]="body"
	[footerTemplate]="footer"
	[sidePanelOpen]="sidePanelOpen"
	(onSidePanelClose)="onCloseSidePanel()"
>
	<ng-template #header>
		<h4 class="colormgmt-side-panel-header">
			<strong>{{ sidePanelHeader }}</strong>
		</h4>
	</ng-template>

	<ng-template #subheader>
		<div class="colormgmt-side-panel-subheader-text">
			{{ sidePanelSubheader }}
		</div>
	</ng-template>

	<ng-template #body>
		<div class="container pt-3">
			<h1>This is the add color dialog</h1>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-right">
			<button
				class="btn btn-primary phd-btn-save"
				(click)="save()"
				[disabled]="canSave"
			>
				Save

				<i class="fa fa-spinner fa-spin fa-fw" *ngIf="isSaving"></i>
			</button>

			<button class="btn btn-secondary" (click)="onCloseSidePanel()">
				Cancel
			</button>
		</div>
	</ng-template>
</side-panel-component>
