.fa-asterisk {
	color: red;
	font-size: 7px;
	vertical-align: text-top;
}

select {
	width: 300px;
}

table {
	width: 100%;
	border: none;
}

table td, table th {
	padding: .25rem;
	border: none;
}

.textbox {
	width: 460px
}

