.fa-asterisk {
	color: red;
	font-size: 7px;
	vertical-align: text-top;
}

select {
	width: 300px;
}

.borderless td, .borderless th {
    border: none;
}

table {
	width: 100%;
	border: none;
}

.table td, .table th {
	padding: .25rem;
}

.textbox {
	width: 460px
}

