::ng-deep .p-multiselect{
    min-width: 12rem;
}

.option-package-head {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0;
}

:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
}

:host ::ng-deep .p-rowgroup-header {
    span {
        font-weight: 700;
    }

    .p-row-toggler {
        vertical-align: middle;
        margin-right: .25rem;
    }
}
