<header>
    <div class="option-package-head">
        <h2 class="col-form-label">Manage Option Package {{currentPackageTitle$ | async}}</h2>
        <button class="btn btn-primary">
            Back to Packages
        </button>
    </div>

    <div>
        <div class="form-inline">
            <div>
                <label class="col-form-label">Select one or more plans</label>
            </div>
            <div class="p-2">
                <p-multiSelect 
                    [options]="planCommunityList$ | async" 
                    [(ngModel)]="selectedPlans" 
                    optionValue="id"
                    optionLabel="planSalesName" 
                    [showToggleAll]="true"
                    [maxSelectedLabels]="1" 
                    [selectedItemsLabel]="'{0} Plans selected'">
                </p-multiSelect>
            </div>
            <div class="p-2">
                <button class="btn btn-primary" (click)="onLoadPlans()">
                    Load Plans
                </button>
            </div>
        </div>
        
        <div>
            <div class = "d-flex justify-content-between mb-2">
                <div class="d-flex">
                    <button class="btn btn-secondary mr-2" (click)="collapseAllRows()"> Collapse All</button>
                    <button class="btn btn-secondary mr-2" (click)="expandAllRows()"> Expand All</button>
                    <button class="btn btn-primary mr-2" (click)="onSavePlans()"> Save</button>
                </div>
                
                <div class="d-flex" *ngIf="loadedPlans.length>=maxPlanColumns">
                    <button class="btn btn-secondary fa fa-solid fa-chevron-left" *ngIf="loadedPlans.length>4" (click)="previousColumn()"></button>
                    <p class="col-form-label mx-2">{{1+planIndexOffset}} - {{maxPlanColumns+planIndexOffset}} of {{loadedPlans.length}} displayed</p>
                    <button class="btn btn-secondary fa fa-solid fa-chevron-right" *ngIf="loadedPlans.length>4" (click)="nextColumn()"></button>
                </div>
            </div>

            <p-table    
            [value]="selectedPlansOptionList" 
            sortMode="single" 
            sortField="optionSubCategoryId" 
            dataKey="optionSubCategoryId" 
            groupRowsBy="optionSubCategoryId" 
            rowGroupMode="subheader" 
            responsiveLayout="scroll"
            [expandedRowKeys]="expandedRows"
            styleClass="p-datatable">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="w-25">Category/SubCategory <br> Option/Lawson #</th>
                        <th class="plan-column" *ngIf="loadedPlans[0+planIndexOffset]">{{loadedPlans[0+planIndexOffset].planSalesName}}</th>
                        <th class="plan-column" *ngIf="loadedPlans[1+planIndexOffset]">{{loadedPlans[1+planIndexOffset].planSalesName}}</th>
                        <th class="plan-column" *ngIf="loadedPlans[2+planIndexOffset]">{{loadedPlans[2+planIndexOffset].planSalesName}}</th>
                        <th class="plan-column" *ngIf="loadedPlans[3+planIndexOffset]">{{loadedPlans[3+planIndexOffset].planSalesName}}</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="groupheader" let-option let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td colspan="5" class="btn-secondary">
                            <i type="button" class="fa fa-solid {{expanded?'fa-chevron-up':'fa-chevron-down'}} p-0" pButton pRipple [pRowToggler]="option"></i>
                            <span class="font-bold ml-2">{{subCategoryHeader(option.optionSubCategoryId)}}</span>
                        </td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="rowexpansion" let-option>
                    <tr>
                        <td>{{option.optionSalesName}}</td>
                        <td *ngIf="loadedPlans[0+planIndexOffset]" [ngSwitch]="optionStatus(option,loadedPlans[0+planIndexOffset].id)">
                            <p-dropdown *ngSwitchCase="'dropdown'"></p-dropdown>
                            <input *ngSwitchCase="'entry'" type="number" min="0" value="0">
                            <input *ngSwitchCase="'checkbox'" type="checkbox">
                        </td>

                        <td *ngIf="loadedPlans[1+planIndexOffset]" [ngSwitch]="optionStatus(option,loadedPlans[1+planIndexOffset].id)">
                            <p-dropdown *ngSwitchCase="'dropdown'"></p-dropdown>
                            <input *ngSwitchCase="'entry'" type="number" min="0" value="0">
                            <input *ngSwitchCase="'checkbox'" type="checkbox">
                        </td>

                        <td *ngIf="loadedPlans[2+planIndexOffset]" [ngSwitch]="optionStatus(option,loadedPlans[2+planIndexOffset].id)">
                            <p-dropdown *ngSwitchCase="'dropdown'"></p-dropdown>
                            <input *ngSwitchCase="'entry'" type="number" min="0" value="0">
                            <input *ngSwitchCase="'checkbox'" type="checkbox">
                        </td>

                        <td *ngIf="loadedPlans[3+planIndexOffset]" [ngSwitch]="optionStatus(option,loadedPlans[3+planIndexOffset].id)">
                            <p-dropdown *ngSwitchCase="'dropdown'"></p-dropdown>
                            <input *ngSwitchCase="'entry'" type="number" min="0" value="0">
                            <input *ngSwitchCase="'checkbox'" type="checkbox">
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</header>