<header>
    <div class="option-package-head">
        <h2 class="col-form-label">Manage Option Package {{currentPackageTitle$ | async}}</h2>
        <button class="btn btn-primary">
            Back to Packages
        </button>
    </div>

    <div>
        <div class="form-inline">
            <div>
                <label class="col-form-label">Select one or more plans</label>
            </div>
            <div class="p-2">
                <p-multiSelect 
                    [options]="planCommunityList$ | async" 
                    [(ngModel)]="selectedPlans" 
                    optionValue="id"
                    optionLabel="planSalesName" 
                    [showToggleAll]="true"
                    [maxSelectedLabels]="1" 
                    [selectedItemsLabel]="'{0} Plans selected'">
                </p-multiSelect>
            </div>
            <div class="p-2">
                <button class="btn btn-primary" (click)="onLoadPlans()">
                    Load Plans
                </button>
            </div>
        </div>
        
        <div>
            <div class = "d-flex justify-content-between mb-2">
                <div class="d-flex">
                    <button class="btn btn-secondary mr-2" (click)="collapseAllRows()"> Collapse All</button>
                    <button class="btn btn-secondary mr-2" (click)="expandAllRows()"> Expand All</button>
                    <button class="btn btn-primary mr-2" (click)="onSavePlans()"> Save</button>
                </div>
                
                <div class="d-flex" *ngIf="loadedPlans.length>=maxPlanColumns">
                    <button class="btn btn-secondary fa fa-solid fa-chevron-left" *ngIf="loadedPlans.length>maxPlanColumns" (click)="previousColumn()"></button>
                    <p class="col-form-label mx-2">{{1+planIndexOffset}} - {{maxPlanColumns+planIndexOffset}} of {{loadedPlans.length}} displayed</p>
                    <button class="btn btn-secondary fa fa-solid fa-chevron-right" *ngIf="loadedPlans.length>maxPlanColumns" (click)="nextColumn()"></button>
                </div>
            </div>

            <p-table    
            [value]="optionPackageListOptions$ | async" 
            sortMode="single" 
            sortField="optionSubCategory.id" 
            dataKey="optionSubCategory.optionCategory.id" 
            groupRowsBy="optionSubCategory.optionCategory.id" 
            rowGroupMode="subheader" 
            responsiveLayout="scroll"
            [expandedRowKeys]="expandedRows"
            styleClass="p-datatable">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="w-25">Category/SubCategory <br> Option/Lawson #</th>
                        <ng-template ngFor let-plan [ngForOf]="loadedPlans" let-i="index">
                            <th [hidden]="!(i >= planIndexOffset && i < maxPlanColumns+planIndexOffset)">
                                {{plan.planSalesName}} <br> {{plan.isActive?'On':'Off'}}
                            </th>
                        </ng-template>
                    </tr>
                </ng-template>

                <ng-template pTemplate="groupheader" let-option let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td colspan="5" class="btn-secondary">
                            <i type="button" class="fa fa-solid {{expanded?'fa-chevron-up':'fa-chevron-down'}} p-0" pButton pRipple [pRowToggler]="option"></i>
                            <span class="font-weight-bold ml-2">{{option.optionSubCategory.optionCategory.name}}</span>
                        </td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="rowexpansion" let-option>
                    <tr>
                        <td *ngIf="subcategoryOptionHeader[option.optionSubCategory.id]===option.id" colspan="5" class="option-subcategory">
                            <span class="font-bold ml-2" >{{option.optionSubCategory.name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex justify-content-between">
                                {{option.optionSalesName + ' - ' + option.id}}                             
                                <i type="button" class="fa fa-clone" title="Select option for all plans"></i>
                            </div>
                        </td>
                        <ng-template ngFor let-plan [ngForOf]="loadedPlans" let-i="index">
                            <td [hidden]="!(i >= planIndexOffset && i < maxPlanColumns+planIndexOffset)" [ngSwitch]="getOptionMaxQuantity(option,plan.id)">
                                <input *ngSwitchCase="0" type="number" min="0" value="0">
                                <input *ngSwitchCase="1" type="checkbox" value={{1}}>
                                <div *ngSwitchCase="undefined"></div>
                                <p-dropdown *ngSwitchDefault></p-dropdown>
                            </td>
                        </ng-template>
                    </tr>
                </ng-template>
                
            </p-table>
        </div>
    </div>
</header>