<ng-container *ngIf="(selectedSubGroup$ | async) as selectedSubGroup">
	<phase-progress-bar [items]="(subNavItems$ | async)"
						[selectedItem]="(selectedSubNavItem$ | async)"
						(onItemSelected)="onSubNavItemSelected($event)"
						[showStatusIndicator]="showStatusIndicator"
						[showItems]="showPhaseProgressBarItems"></phase-progress-bar>

	<normal-experience *ngIf="selectedSubGroup && !selectedSubGroup?.useInteractiveFloorplan"
					   [point]="(selectedDecisionPoint$ | async)"
					   [subGroup]="selectedSubGroup"
					   (onChoiceModal)="showChoiceModal($event)"
					   (onToggleChoice)="toggleChoice($event)"
					   (onSaveScenario)="saveScenario($event)"
					   (onBuildIt)="onBuildIt()"
					   [priceBreakdown]="(priceBreakdown$ | async)"
					   [complete]="(complete$ | async)"
					   [selectedPointFilter]="(selectedPointFilter$ | async)"
					   [enabledPointFilters]="(enabledPointFilters$ | async)"
					   [scenarioStatus]="(scenarioStatus$ | async)"
					   (pointTypeFilterChanged)="onPointTypeFilterChanged($event)"
					   [showStatusIndicator]="showStatusIndicator"
					   [inChangeOrder]="(isChangingOrder$ | async)"
					   [errorMessage]="errorMessage"
					   [treeFilter]="(treeFilter$ | async)"
					   [canConfigure]="canConfigure$ | async"
					   [agreementStatus]="agreementStatus$ | async"
					   [overrideReason]="overrideReason$ | async"
					   [canOverride]="(canOverride$ | async)"
					   [buildMode]="buildMode"></normal-experience>

	<floor-plan *ngIf="selectedSubGroup?.useInteractiveFloorplan"
				[planId]="marketingPlanId.length === 1 ? marketingPlanId[0] : 0"
				[subGroup]="selectedSubGroup"
				(onChoiceModal)="showChoiceModal($event)"
				(onSelectChoice)="selectChoice($event.choiceId, $event.overrideNote, $event.quantity)"
				[priceBreakdown]="(priceBreakdown$ | async)"
				[selectedPointFilter]="(selectedPointFilter$ | async)"
				[enabledPointFilters]="(enabledPointFilters$ | async)"
				[scenarioStatus]="(scenarioStatus$ | async)"
				(pointTypeFilterChanged)="onPointTypeFilterChanged($event)"
				(onSaveScenario)="saveScenario($event)"
				(onBuildIt)="onBuildIt()"
				[complete]="(complete$ | async)"
				[inChangeOrder]="(isChangingOrder$ | async)"
				[errorMessage]="errorMessage"
				[treeFilter]="(treeFilter$ | async)"
				[canOverride]="(canOverride$ | async)"
				[canConfigure]="(canConfigure$ | async)"></floor-plan>
</ng-container>

<ng-template #lotConflict>
	<div class="modal-body">
		<div *ngIf="scenarioHasSalesAgreement">For reference only. Represents configuration at time of Agreement. Refer to the agreement for the most current home selections.</div>
		<div *ngIf="!scenarioHasSalesAgreement">The lot you currently selected is no longer available. Please continue with another lot selection.</div>
	</div>
</ng-template>

<ng-template #content>
	<div class="modal-body">
		<div>
			<div *ngIf="!acknowledgedMonotonyConflict">
				<div class="phd-advisement" *ngIf="monotonyConflict.elevationConflict && !monotonyConflict.colorSchemeConflict">
					The selected Elevation is no longer available for the lot you've chosen.
					Please review and adjust either your Elevation or Lot selection to resolve the conflict.
				</div>
				<div class="phd-advisement" *ngIf="!monotonyConflict.elevationConflict && monotonyConflict.colorSchemeConflict">
					The selected Color Scheme is no longer available for the lot you've chosen.
					Please review and adjust either your Color Scheme or Lot selection to resolve the conflict.
				</div>
				<div class="phd-advisement" *ngIf="monotonyConflict.elevationConflict && monotonyConflict.colorSchemeConflict">
					The selected Elevation and Color Scheme is no longer available for the lot you've chosen.
					Please review and adjust both your Elevation and Color Scheme selections, or adjust your Lot selection to resolve the conflict.
				</div>
				<div class=row>
					<a class="text-center phd-single" (click)="acknowledgeMonotonyConflict()">
						<span>Okay</span>
					</a>
				</div>
			</div>
			<div class="row" *ngIf="acknowledgedMonotonyConflict && monotonyConflict.elevationConflict && !monotonyConflict.colorSchemeConflict">
				<a class="text-center flex-column phd-double" (click)="navigateToElevation()">
					Choose a new <span>Elevation</span>
				</a>
				<a class="text-center flex-column phd-double" (click)="navigate(['/new-home/lot'])">
					Choose a new <span>Lot</span>
				</a>
			</div>
			<div class="row" *ngIf="acknowledgedMonotonyConflict && !monotonyConflict.elevationConflict && monotonyConflict.colorSchemeConflict">
				<a class="text-center flex-column phd-double" (click)="navigateToColorScheme()">
					Choose a new <span>Color Scheme</span>
				</a>
				<a class="text-center flex-column phd-double" (click)="navigate(['/new-home/lot'])">
					Choose a new <span>Lot</span>
				</a>
			</div>
			<div class="row" *ngIf="acknowledgedMonotonyConflict && monotonyConflict.elevationConflict && monotonyConflict.colorSchemeConflict">
				<span class="text-center flex-column phd-double">
					<a (click)="navigateToElevation()">
						Choose a new <span>Elevation</span>
					</a>
					<a class="phd-colorScheme" (click)="navigateToColorScheme()">
						Choose a new <span>Color Scheme</span>
					</a>
				</span>
				<a class="text-center phd-lot flex-column phd-double" (click)="navigate(['/new-home/lot'])">
					Choose a new <span>Lot</span>
				</a>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #optionMappingChangedModal>
	<div class="modal-body">
		<p>Option mapping has changed. Original pricing and offerings will no longer be available.</p>
		<p *ngIf="!!impactedChoices">The following choices will be removed from your configuration: {{impactedChoices}}</p>
		<p>Do you wish to continue?</p>
	</div>
</ng-template>

<ng-template #impactedChoicesModal>
	<div class="modal-body">
		<p>Due to your changes in choices, the following items will get removed from your configuration: {{impactedChoices}}</p>
		<p>Do you wish to continue?</p>
	</div>
</ng-template>

<choice-card *ngIf="viewChoice"
			 [currentChoice]="viewChoice"
			 [canConfigure]="canConfigure$ | async"
			 [canOverride]="canOverride$ | async"
			 [currentDecisionPoint]="viewPoint"
			 [choicePriceRanges]="(choicePriceRanges$ | async)"
			 (onChoiceChange)="onChoiceChange($event)"
			 (saveAttributes)="saveScenario($event)"
			 (toggled)="toggleChoice($event)">
</choice-card>
