.phd-documents-container {
	width: 100%;
	max-width: 1500px;
	min-height: 45px;
	font-size: 14px;
	line-height: 1.36;

	&.disabled {
		color: #999;
		background: #eee;

		label {
			cursor: text;
		}
	}
}
