<li class="phd-choice-card" [ngClass]="!isPresalePricingEnabled && isPresale ? 'phd-choice-card-presale-height' : 'phd-choice-card-standard-height'" [class.active]="choice?.quantity" [class.selected]="choice?.quantity" [@flipOver] (click)="clickViewChoiceDetail()" role="group" attr.aria-label="{{'Choice - ' + choice.label}}">
	<div class="phd-header">
		<div class="phd-choice-image"*ngIf="imageUrl">
			<cl-image public-id="{{imageUrl}}" type="fetch" background="#ffffff" crop="lpad" height="190" width="270" alt=""
					  (onError)="onLoadImageError($event)">
			</cl-image>
		</div>
		<img class="phd-logo-image" src="assets/NoImageAvailable.png" *ngIf="!imageUrl" alt="">
	</div>

	<div class="phd-body">
		<div [ngClass]="!isPresalePricingEnabled && isPresale ? 'd-flex flex-row justify-content-between' : ''" class="phd-choice-details">
			<h1 class="phd-2-line-limit">
				{{choice?.label}}
			</h1>
			<div [ngClass]="!isPresalePricingEnabled && isPresale ? 'phd-presale-pricing-block' : 'phd-standard-pricing-block'" class="d-flex flex-row justify-content-between">
				<ng-container *ngIf="!isPresale || (isPresale && isPresalePricingEnabled)">
					<span *ngIf="!choice.priceHiddenFromBuyerView" class="phd-price-label">{{choice.price * (choice.quantity > 0 ? choice.quantity : 1) | currency:'USD':'symbol':'0.0-0'}}</span>
					<span *ngIf="choice.priceHiddenFromBuyerView" class="phd-price-label" (click)="$event.stopPropagation()">
						<span>Pricing Varies</span>
						<info-tooltip-component [template]="infoContent"></info-tooltip-component>
					</span>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Contracted'">
					<span class="phd-non-clickable">
						<i class="fa fa-check phd-icon-selected"></i>
					</span>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Available' && choice.enabled">
					<button [ngClass]="!isPresalePricingEnabled && isPresale ? 'phd-presale-padding' : 'phd-standard-padding'" class="phd-clickable" (click)="$event.stopPropagation();toggleChoice()">
						<span class="phd-icon-selected"><i *ngIf="choice.isFavorite" aria-pressed="true" class="fa fa-heart"></i></span>
						<i *ngIf="!choice.isFavorite" aria-pressed="false" class="fa fa-heart-o"></i>
					</button>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Available' && !choice.enabled">
					<button [ngClass]="!isPresalePricingEnabled && isPresale ? 'phd-presale-padding' : 'phd-standard-padding'" class="phd-clickable" (click)="$event.stopPropagation();openBlockedChoiceModal()">
						<i class="fa fa-ban" attr.aria-label="{{choice.label + ' is Blocked'}}"></i>
					</button>
				</ng-container>
			</div>
		</div>
	</div>
</li>

<ng-template #blockedChoiceModal let-c="close" let-d="dismiss">
	<blocked-choice-modal
		[choice]="choice"
		[point]="currentPoint"
		(closeModal)="onCloseClicked()"
		(blockedItemClick)="onBlockedItemClick()">
	</blocked-choice-modal>
</ng-template>

<ng-template #infoContent>
	<div>
		<p><strong>Pricing Varies:</strong> Pricing will be determined during your meeting with your Design Consultant.</p>
	</div>
</ng-template>
