<div class="phd-choice-card" [class.active]="choice?.quantity" [class.selected]="choice?.quantity" [@flipOver] (click)="viewChoiceDetail()">
	<div class="phd-header">
		<div class="phd-choice-image"*ngIf="imageUrl">
			<cl-image public-id="{{imageUrl}}" type="fetch" background="#ffffff" crop="lpad" height="190" width="270"
					  (onError)="onLoadImageError($event)">
			</cl-image>
		</div>
		<img class="phd-logo-image" src="assets/NoImageAvailable.png" *ngIf="!imageUrl">
	</div>

	<div class="phd-body">
		<div *ngIf="!isPresale" class="phd-choice-details">
			<h1 class="phd-2-line-limit">
				{{choice?.label}}
			</h1>
			<div class="d-flex flex-row justify-content-between">
				<ng-container *ngIf="!choice.priceHiddenFromBuyerView">
					<strong>{{choice.price * (choice.quantity > 0 ? choice.quantity : 1) | currency:'USD':'symbol':'0.0-0'}}</strong>
				</ng-container>
				<ng-container *ngIf="choice.priceHiddenFromBuyerView">
					<span class="phd-hidden-price" container="body" (click)="$event.stopPropagation()">
						<strong>Pricing Varies</strong>
						<i class="fa fa-info-circle" (click)="openHiddenChoicePriceModal()"></i>
					</span>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Contracted'">
					<i class="fa fa-check phd-icon-selected"></i>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Available' && choice.enabled">
					<div class="phd-clickable" (click)="$event.stopPropagation()">
						<span class="phd-icon-selected"><i *ngIf="choice.isFavorite" class="fa fa-heart" (click)="toggleChoice()"></i></span>
						<i *ngIf="!choice.isFavorite" class="fa fa-heart-o" (click)="toggleChoice()"></i>
					</div>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Available' && !choice.enabled">
					<div class="phd-clickable" (click)="$event.stopPropagation()">
						<i class="fa fa-ban" (click)="openBlockedChoiceModal()"></i>
					</div>
				</ng-container>
			</div>
		</div>


		<div *ngIf="isPresale" class="phd-choice-details d-flex flex-row justify-content-between" [ngClass]="getBodyHeight()">
			<h1 class="phd-2-line-limit">
				{{choice?.label}}
			</h1>
			<div>
				<ng-container *ngIf="choice.choiceStatus === 'Contracted'">
					<i class="fa fa-check phd-icon-selected"></i>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Available' && choice.enabled">
					<div class="phd-clickable" (click)="$event.stopPropagation()">
						<span class="phd-icon-selected"><i *ngIf="choice.isFavorite" class="fa fa-heart" (click)="toggleChoice()"></i></span>
						<i *ngIf="!choice.isFavorite" class="fa fa-heart-o" (click)="toggleChoice()"></i>
					</div>
				</ng-container>
				<ng-container *ngIf="choice.choiceStatus === 'Available' && !choice.enabled">
					<div class="phd-clickable" (click)="$event.stopPropagation()">
						<i class="fa fa-ban" (click)="openBlockedChoiceModal()"></i>
					</div>
				</ng-container>
			</div>
		</div>
	</div>

</div>

<ng-template #blockedChoiceModal let-c="close" let-d="dismiss">
	<blocked-choice-modal
		[disabledByList]="disabledByList"
		[choiceLabel]="choice?.label"
		(closeModal)="onCloseClicked()"
		(blockedItemClick)="onBlockedItemClick($event)">
	</blocked-choice-modal>
</ng-template>

<ng-template #hiddenChoicePriceModal let-c="close" let-d="dismiss">
	<hidden-choice-price-modal
		(closeModal)="onCloseClicked()">
	</hidden-choice-price-modal>
</ng-template>
