@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/animations.scss";

.phd-choice-card {
	width: 300px;
	background-color: white;
	margin: 5px;
	margin-bottom: 10px;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	cursor: pointer;

	.phd-header {
		flex: 0 1 auto;
		position: relative;
		border-bottom: 1px solid lightgrey;
		text-align: center;
	}

	.phd-body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		.phd-hidden-price {
			i {
				margin-left: 3px;
			}
		}
	}

	.phd-choice-image {
		width: 100%;
		flex-basis: 75%;
		min-height: 200px;

		::ng-deep img {
			height: 200px;
			width: 100%;
			border-radius: .25rem .25rem 0 0;
		}
	}

	.phd-logo-image {
		height: 200px;
		width: 298px;
	}

	.phd-choice-details {
		margin: 10px 10px 0 10px;
		max-height: 220px;

		h1 {
			font-size: 15px;
			font-weight: 500;
		}

		strong {
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 0;
		}

		.phd-clickable {
			font-size: 20px;
			background: none;
			border: none;
			margin: -3px 0 0 0;
			padding: 0 5px;
			.fa-heart {
				background: white;
			}
	
			.fa-heart-o {
				background: white;
			}
		}

		.phd-icon-selected {
			color: var(--heart-icon-color);
		}
	}

	.phd-2-line-limit {
		min-height: 35px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	.phd-presale-icon {
		align-self: flex-end;
	}
}
