.pulte-addin-content {
   text-align: center;
   margin-top: 10px;
}

#pulte-overlay {
   z-index: 9999;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: grid;
   margin: 0 auto;
   place-items: center center;
   text-align: center;

   .pulte-overlay-background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: black ;
      opacity: .25;
   }

   .pulte-overlay-spinner-container {
      position: absolute;
      width: 100%;
      height: 100%;

      .pulte-spinner {
         padding: 0;
         display: inline-block;
         margin-top: 100%;
         margin-bottom: 100%;
      }
   }
}

.pulte-spinner-container {
   text-align: center;

   .pulte-spinner {
      padding: 0;
      display: inline-block;
   }
}

.mat-nav-list {
   width: 100%;
}

 .pulte-list-item-text {
    text-align: left;
 }