@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

#phd-navigation-bar {
	background: $pulte-blue;
	color: white;
	height: $nav-menu-height;
	padding: 0 1rem; // fix logo dropping below header when screen is small

	.phd-navigation-bar-header {
		display: inline-block;
		margin-left: -1rem;
		margin-right: 15px;
		text-align: center;
		width: $button-bar-width;

		.phd-logo {
			max-width: 100%;
			height: 40px;
			margin: 10px 15px;
		}
	}

	.phd-navigation-bar-title {
		font-size: 22px;
		font-weight: 300;
	}
}
