<nav id="phd-navigation-bar" class="navbar navbar-expand-md">
	<div class="phd-navigation-bar-header">
		<img class="phd-logo" src="assets/PG_Logo_2022_Stacked_Y&W.png" alt="Pulte Homes" />
	</div>

	<div class="phd-navigation-bar-title">
		Sales Admin
	</div>

    <div *ngIf="canAccessSalesAdmin && !hideMarket">
        <select class="form-control ml-3" [ngModel]="market" (ngModelChange)="onSelectedMarketChange($event)">
            <option [ngValue]="null" disabled="disabled">Division</option>
            <option *ngFor="let market of (_orgService.salesMarkets | async)" [ngValue]="market">{{market.name}}</option>
        </select>
    </div>
</nav>
