<div class="phd-colors-container">
	<div class="phd-colors-grid">
		<ng-container *ngFor="let subCategory of selectedCategory.optionSubCategories">
			<span class="phd-sub-category">{{subCategory.name}}</span>
			<ng-container *ngFor="let option of subCategory.planOptions">
				<ng-container *ngFor="let item of option.colorItems" class="phd-colors-grid-row">
					<div class="phd-row-fields">
						<div class="phd-lawson-name">
							<span ngbTooltip="{{option.description}}">{{option.financialOptionIntegrationKey}} : {{option.name}} : {{item.name}}</span>
						</div>

						<select
							class="phd-color-select"
							[(ngModel)]="selectedColorIds[item.colorItemId]"
							(change)="onColorWasSelected(option, item)"
						>
							<option [ngValue]="null"></option>
							<option
								*ngFor="let itemColor of item.color;"
								[ngValue]="itemColor.colorId"
							>
								{{ itemColor.name }}
							</option>
						</select>
					</div>
					<hr class="phd-row-divider"/>
				</ng-container>
			</ng-container>
		</ng-container>
	</div>
</div>

