<div class="phd-choice-card" [class.active]="choice?.quantity" [class.selected]="choice?.quantity" [class.phd-monotony-conflict]="(monotonyConflict.monotonyConflict && !canOverride)" [@flipOver] (click)="onChoiceDetail(choice, content)">
	<div class="phd-header" [class.phd-choice-disabled]="monotonyConflict.monotonyConflict">
		<div *ngIf="imageLoading" class="phd-image-loading">
			<i class="fa fa-spinner fa-spin fa-3x phd-image-loader"></i>
		</div>

		<div class="phd-choice-image">
			<cl-image public-id="{{getImagePath()}}" type="fetch" background="#ffffff" crop="lpad" height="190" width="270"
					  (onError)="onLoadImageError($event)"
					  [class.phd-choice-image-inactive]="choice?.enabled === false">
			</cl-image>
		</div>

		<div *ngIf="!choice" class="phd-choice-image"></div>
	</div>

	<div class="phd-body" [class.phd-choice-disabled]="monotonyConflict.monotonyConflict || (isPastCutOff && !overrideReason)" >
		<div *ngIf="hasAttributes" class="phd-circles">
			<i class="fas fa-circle fa-xs phd-circle-one"></i><i class="fas fa-circle fa-xs phd-circle-two"></i><i class="fas fa-circle fa-xs phd-circle-three"></i>
		</div>

		<div class="phd-choice-body">
			<div class="phd-choice-details">
				<h1 class="phd-2-line-limit">
					{{choice?.label}}
				</h1>
				<div *ngIf="!optionDisabled" class="d-flex justify-content-end">
					<p>
						<strong *ngIf="choice?.enabled">{{choice.price | currency:'USD':'symbol':'0.0-0'}}</strong>
						<strong *ngIf="choice && !choice.enabled">{{ choice.id | priceRange | async }}</strong>
					</p>
				</div>
				<p *ngIf="choiceDescription && !optionDisabled" class="phd-2-line-limit">{{ choiceDescription }}</p>
			</div>

			<div class="phd-qty-selector d-flex justify-content-center align-items-center" *ngIf="choice?.maxQuantity > 1 && choice?.quantity === 0">
				<span class="text-right">Qty</span>
				<div class="phd-quantity-input" (click)="$event.stopPropagation()">
					<quantity-input [min]="1" [max]="choice?.maxQuantity" [quantity]="choice.quantity" (quantityChange)="unsavedQty = $event" [canEditAgreement]="canEditAgreement && (!isPastCutOff || canOverride) && canConfigure"></quantity-input>
				</div>
				<span class="text-left">Max {{choice.maxQuantity}}</span>
			</div>

			<div *ngIf="choice?.quantity > 0 && choice?.maxQuantity > 1" class="phd-quantity">Selected Qty: {{choice?.quantity}}</div>
		</div>
	</div>

	<div class="phd-footer">
		<div class="phd-footer-btn-container" (click)="$event.stopPropagation()" *ngIf="showDisabledButton || showConfirmButton">
			<div *ngIf="showConfirmButton" [class.phd-choice-disabled]="buttonDisabled">
				<button class="btn phd-experience-btn-choice" (click)="toggleSelection()" [disabled]="buttonDisabled" [class.phd-disable-hover]="buttonDisabled">{{getButtonLabel()}}</button>
			</div>

			<div *ngIf="showDisabledButton" class="phd-choice-disabled-msg phd-clickable" (click)="!optionDisabled && choice && showDisabledMessage()">
				<i class="fas fa-info-circle fa-sm"></i> Disabled
			</div>
		</div>

		<div *ngIf="optionDisabled">  Choice Is No Longer Available </div>
		
		<span class="phd-monotony-conflict-message" *ngIf="monotonyConflict.monotonyConflict || !(override$ | async)">
			Monotony Conflict
		</span>

		<div *ngIf="(isPastCutOff && !canOverride && choice?.enabled)" class="phd-past-cutt-off">
			<i class="fas fa-info-circle fa-sm"></i> Disabled Due to Cut-Off
		</div>

		<div *ngIf="(isPastCutOff && canOverride && choice?.enabled)" class="phd-past-cutt-off">
			<i class="fas fa-info-circle fa-sm"></i> Past Cut-Off
		</div>

		<div *ngIf="!canEditAgreement && !!getDisabledMessage()" class="phd-choice-disabled-msg">
			<i class="fas fa-info-circle fa-sm"></i> {{getDisabledMessage()}}
		</div>

		<ng-container *ngIf="choice?.quantity > 0 && choice?.selectedAttributes && choice?.selectedAttributes.length">
			<div *ngIf="!choice.selectedAttributes[0].attributeName && !choice.selectedAttributes[0].locationName">
				<i class="fas fa-spinner fa-spin"></i>
			</div>

			<div class="phd-choice-attribute phd-2-line-limit">
				<ng-container *ngFor="let attribute of choice.selectedAttributes">
					<span *ngIf="choice.selectedAttributes[0].attributeName || choice.selectedAttributes[0].locationName" class="phd-choice-attribute">
						{{attribute.locationName ? attribute.locationName : ''}}
						{{attribute.locationName && attribute.attributeGroupLabel ?  ': ' : ''}}
						{{attribute.attributeGroupLabel ? attribute.attributeGroupLabel + '/' : ''}}
						{{attribute.attributeName ? attribute.attributeName : ''}}
						{{attribute.locationQuantity ? ' (Qty ' + attribute.locationQuantity + ')' : ''}}
						<br />
					</span>
				</ng-container>
			</div>
		</ng-container>
	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<choice-card-detail [choice]="choice"
						[choiceImages]="choiceImages"
						[attributeGroups]="attributeGroups"
						[locationGroups]="locationGroups"
						[monotonyConflict]="monotonyConflict"
						[canEditAgreement]="canEditAgreement"
						[canConfigure]="canConfigure"
	                    [isPastCutOff]="isPastCutOff"
						(callToAction)="onCallToAction($event)"
						(saveAttributes)="onSaveAttributes()"
						[selectedMax]="unsavedQty"
	                    (close)="closeModal()"
	                    [disabledMessage]="getDisabledMessage()"
						[canOverride]="canOverride"
						[overrideReason]="overrideReason"
						[optionDisabled]="optionDisabled"
                        (showDisabledMessage)="showDisabledMessage()">
	</choice-card-detail>
</ng-template>

<ng-template #disabledModal>

	<header>
		<h3>Warning!</h3>
		<div class="phd-close" (click)="closeModal()">
			<i class="fas fa-times-circle"></i>
		</div>
	</header>

	<disabled-error [choice]="currentChoice" [point]="currentDecisionPoint" (onLink)="disabledModalAction($event)"></disabled-error>

</ng-template>
