<div class="phd-modal-body">
	<div>
		<div *ngIf="!acknowledgedMonotonyConflict">
			<div class="phd-advisement" *ngIf="monotonyConflict?.elevationConflict && !monotonyConflict?.colorSchemeConflict">
				The selected Elevation is no longer available for the lot you've chosen.
				Please review and adjust either your Elevation or Lot selection to resolve the conflict.
			</div>
			<div class="phd-advisement" *ngIf="!monotonyConflict?.elevationConflict && monotonyConflict?.colorSchemeConflict">
				The selected Color Scheme is no longer available for the lot you've chosen.
				Please review and adjust either your Color Scheme or Lot selection to resolve the conflict.
			</div>
			<div class="phd-advisement" *ngIf="monotonyConflict?.elevationConflict && monotonyConflict?.colorSchemeConflict">
				The selected Elevation and Color Scheme is no longer available for the lot you've chosen.
				Please review and adjust both your Elevation and Color Scheme selections, or adjust your Lot selection to resolve the conflict.
			</div>
			<div class=row>
				<a class="text-center phd-single" (click)="acknowledgeMonotonyConflict()">
					<span>Okay</span>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="acknowledgedMonotonyConflict && monotonyConflict?.elevationConflict && !monotonyConflict?.colorSchemeConflict">
			<a class="text-center flex-column phd-double" (click)="navigateToElevation()">
				Choose a new <span>Elevation</span>
			</a>
			<a class="text-center flex-column phd-double" (click)="navigateToLot()">
				Choose a new <span>Lot</span>
			</a>
		</div>
		<div class="row" *ngIf="acknowledgedMonotonyConflict && !monotonyConflict?.elevationConflict && monotonyConflict?.colorSchemeConflict">
			<a class="text-center flex-column phd-double" (click)="navigateToColorScheme()">
				Choose a new <span>Color Scheme</span>
			</a>
			<a class="text-center flex-column phd-double" (click)="navigateToLot()">
				Choose a new <span>Lot</span>
			</a>
		</div>
		<div class="row" *ngIf="acknowledgedMonotonyConflict && monotonyConflict?.elevationConflict && monotonyConflict?.colorSchemeConflict">
			<span class="text-center flex-column phd-double">
				<a (click)="navigateToElevation()">
					Choose a new <span>Elevation</span>
				</a>
				<a class="phd-colorScheme" (click)="navigateToColorScheme()">
					Choose a new <span>Color Scheme</span>
				</a>
			</span>
			<a class="text-center phd-lot flex-column phd-double" (click)="navigateToLot()">
				Choose a new <span>Lot</span>
			</a>
		</div>
	</div>
</div>
