<div class="phd-footer">
	Copyright &#169; 2021-{{currentYear}} PulteGroup, Inc.<div class="phd-hspacer"></div>|<div class="phd-hspacer">
	</div>
	<a href="{{brandUrl}}/terms-of-use/" target="_blank">Terms of Use</a>
	<div class="phd-hspacer"></div>
	<a href="{{brandUrl}}/privacy-policy" target="_blank">Privacy Policy</a>
	<div class="phd-hspacer"></div>
	<img src="{{accessibilityImgSrc}}" alt="">
	<div class="phd-hspacer"></div>
	<img src="{{equalHousingImgSrc}}" alt="">
	<div class="phd-hspacer"></div>
	<ng-container *ngIf="!isPresale">
		<a href="https://allyant.com">
			<img src="assets/Logo_Allyant_small.png" alt="Reviewed by Allyant for accessibility">
		</a>
	</ng-container>
</div>