@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

.phd-footer {
	display: flex;
	height: 80px;
	background: var(--primary-ribbon-background-color);
	font-size: 15px;
	color: var(--nav-bar-text-color);
	padding: 5px 20px;
	align-items: center;
	justify-content: flex-end;

	.phd-links-list {
		padding: 0;
		margin-top: 16px;

		.phd-link {
			padding-right: 10px;
		}
	}
}

.phd-footer a:hover {
	font-weight: bold;
}

.phd-spacer {
	width: 10px;
}

.phd-disclaimer {
	cursor: pointer;
	background: none;
    border: none;
    margin: 0;
    padding: 0;
	color: var(--nav-bar-text-color);
}
