<div class="d-flex flex-column">
	<ul class="phd-progress-indicators d-flex justify-content-around">
		<li class="d-flex justify-content-center" [ngClass]="{ 'phd-not-complete': !isPeopleComplete }">
			<div class="d-flex align-items-center justify-content-center" routerLinkActive="active" [routerLink]="['/point-of-sale/people']">
				1
			</div>
		</li>
		<li class="d-flex justify-content-center" [ngClass]="{ 'phd-not-complete': !isPeopleComplete || !isSalesInfoComplete }">
			<div class="d-flex align-items-center justify-content-center" routerLinkActive="active" [routerLink]="['/point-of-sale/sales-info']">
				2
			</div>
		</li>
		<li class="d-flex justify-content-center" [ngClass]="{ 'phd-not-complete': !isPeopleComplete || !isSalesInfoComplete || !isAgreementInfoViewed}">
			<div class="d-flex align-items-center justify-content-center" routerLinkActive="active" [routerLink]="['/point-of-sale/agreement']" (click)="openAgreementInfo()">
				3
			</div>
		</li>
	</ul>
	<ul class="d-flex justify-content-around text-center">
		<li>People</li>
		<li>Sales Info</li>
		<li>Agreement</li>
	</ul>
</div>
