.phd-image-card-footer-image {
	display: flex;

	span {
		flex: 1;
		padding-top: 3px;
	}

	p-checkbox {
		margin-top: 2px;
	}
}

.phd-spinner-inline-center {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 15px;
}

.phd-image-header {
	font-weight: bold;
}
