.phd-icon-container {
	display: flex;
	justify-content: space-around;

	i {
		width: 50px;
		text-align: center;
	}
}

i:hover {
	cursor: pointer;
}

.phd-button-bar {
  margin-left: 0.5rem;
  margin-top: 1.25rem;
}