.phd-icon-container {
	display: flex;
	justify-content: space-around;

	i {
		margin: 0 .5em;
	}
}

i:hover {
	cursor: pointer;
}

.phd-flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: .5rem !important;
}

.phd-tab-subheader {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top:0rem !important;
	margin-bottom: 0.5rem !important;
}
