.phd-icon-container {
	display: flex;
	justify-content: space-around;

	i {
		margin: 0 .5em;
	}
}

i:hover {
	cursor: pointer;
}

.phd-button-bar {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin:0 1em 1em 1em;
}
