
<table class="table table-striped table-sm phd-table-changeOrders phd-change-order-table" cellspacing="0">
	<thead class="thead-light">
		<tr>
			<th>
				<div class="phd-orderId-header">Change Order #</div>
			</th>
			<th>Created Date</th>
			<th>Signed Date</th>
			<th>Change Order Type</th>
			<th>Description</th>
			<th>Sales Status</th>
			<th>Construction Status</th>
			<th>Created by</th>
			<th></th>
			<th>Amount</th>
		</tr>
	</thead>

	<tbody tableBodyResize>
		<tr *ngFor="let changeOrder of changeOrders">
			<td>
				<div *ngIf="changeOrder.isActiveChangeOrder">
					<div class="phd-change-order-index" *ngIf="changeOrders.length === 1 || (changeOrders.length > 1 && !changeOrder.isResubmittedChangeOrder)">
						<button type="button" *ngIf="changeOrder.changeOrderTypeDescription !== 'Cancellation'" class="btn btn-md btn-link phd-button" (click)="generateDocument(changeOrder)">View</button>
						<span class="phd-index">{{changeOrder.index}}</span>
					</div>
					<div class="phd-change-order-index" *ngIf="changeOrders.length > 1 && changeOrder.isResubmittedChangeOrder">
						<button type="button" class="btn btn-md btn-link phd-button" (click)="generateDocument(changeOrder)">View</button>
						<span class="phd-index">{{changeOrder.index}}</span>
					</div>
				</div>
				<div *ngIf="!changeOrder.isActiveChangeOrder">
					<div class="phd-orderId">
						<button type="button" *ngIf="changeOrder.changeOrderTypeDescription !== 'Cancellation'" class="btn btn-md btn-link phd-button" (click)="generateDocument(changeOrder)">View</button>
						{{changeOrder.index}}
					</div>
				</div>
			</td>
			<td>{{convertDate(changeOrder.createdUtcDate) | date:'L/dd/yyyy'}}</td>
			<td>{{changeOrder.signedDate | date:'L/dd/yyyy'}}</td>
			<td>
				<span>{{getChangeOrderType(changeOrder)}}</span>
			</td>
			<td>
				<span>{{changeOrder.jobChangeOrderGroupDescription}}</span>
			</td>
			<td class="phd-sales-status">
				<span>
					{{changeOrder.salesStatus}}
					<a *ngIf="!!changeOrder.eSignStatus && displaySalesStatusIndicator(changeOrder)" [ngbTooltip]="eSignStatusTooltip" (click)="generateDocument(changeOrder)">
						<i class="pl-1 fas"
						   [ngClass]="{'fa-check-circle text-success': changeOrder.eSignStatus === 'completed',
								       'fa-arrow-alt-circle-right text-warning': changeOrder.eSignStatus === 'sent',
								       'fa-minus-circle text-danger': changeOrder.eSignStatus === 'draft'}"></i>
					</a>
					<ng-template #eSignStatusTooltip>
						<span class="font-weight-bold">{{changeOrder.eSignStatus | titlecase}}:</span>
						<span class="pl-1">{{changeOrder.eSignStatusDate | date:'L/dd/yyyy'}}</span>
					</ng-template>
				</span>
			</td>
			<td>
				<span *ngIf="changeOrder.salesStatus === 'Approved' || changeOrder.salesStatus === 'Resolved'
					  || changeOrder.salesStatus === 'Withdrawn' && changeOrder.constructionStatus === 'Rejected'">
					{{changeOrder.constructionStatus === 'Pending' ? 'In Review' : changeOrder.constructionStatus}}
				</span>
			</td>
			<td>{{changeOrder.createdBy}}</td>
			<td>
				<div *ngIf="changeOrder.actionTypes.length !== 0">
					<span *ngIf="canEditChangeOrder(changeOrder)">
						<select id="{{changeOrder.id}}" (change)="onChange($event.target.value, changeOrder.actionTypes)" #changeOrderAction [disabled]="(changeOrder.salesStatus === 'Signed' && !canApprove) || isSaving"
								[attr.title]="changeOrder.salesStatus === 'Signed' && !canApprove ? 'Requires GSM Approval' : null">
							<option *ngFor="let action of changeOrder.actionTypes" [ngValue]="action.id" [disabled]="action.id === 0">{{action.value}}</option>
						</select>
					</span>
					<span *ngIf="!changeOrder.isActiveChangeOrder">
						<!--Remove the button temporarily for CRP
		<!--<button type="button" class="btn btn-md btn-link">Email Document</button>-->
					</span>
				</div>
			</td>
			<td>
				<span class="phd-amount-margin">{{changeOrder.amount | currency:'USD':'symbol':'0.0-0'}}</span>
			</td>
		</tr>
	</tbody>
</table>
