@import "../../../../scss/color-pallet.scss";
@import "../../../../scss/sizes.scss";

.phd-change-order-table {
	background-color: white;
	border-collapse: unset;
	font-size: 88%;

	th,
	td {
		width: 10%;
		max-width: 152px;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;

		&:nth-child(5) {
			text-align: left;
			overflow: visible;
		}
	}

	th {
		text-transform: uppercase;
		position: sticky;
		top: 0px;
	}

	.phd-index {
		margin-left: -10px;
	}

	.phd-change-order-index {
		margin-left: -30px;
		margin-top: -5px;
	}
}

.phd-order-id-header {
	margin-left: 25px;
}

.phd-change-order-description {
	word-wrap: break-word;
}

.phd-sales-status {

	a,
	a:hover,
	a:focus {
		color: $link-blue;
		text-decoration: underline;
		font-size: 16px;
		line-height: 1.43;
		transition: all .05s;
		cursor: pointer;

		&.error {
			color: $darkish-pink;
		}

		&.loading,
		&.disabled {
			color: lightgray;
			pointer-events: none;
			cursor: default;
			font-weight: normal;
		}
	}
}

.phd-margin-top {
	margin-top: 20px;
}

.phd-button {
	margin-top: -5px;
}

.phd-view-change-order-button {
	padding-top: 9px;
}

::ng-deep .phd-tooltip-table,
::ng-deep .phd-tooltip-table-message {
	font-size: 88%;

	th,
	td {
		font-weight: normal;
		white-space: nowrap;
		text-align-last: center;
		overflow-wrap: normal;
	}

	th {
		text-transform: uppercase;
		position: sticky;
		top: 0px;
		max-width: 0;
	}

	.tooltip-inner {
		background-color: white !important;
		color: black !important;
		border: solid !important;
		border-color: #DEE2E6 !important;
		padding: 0px 0px 0px 0px !important;
	}

	.tooltip-arrow {
		margin-left: 1px;
		bottom: 0 !important;
		border-width: 0 5px 5px !important;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #000 !important;
	}
}

::ng-deep .phd-tooltip-table-message {
	.tooltip-inner {
		max-width: 480px !important;
		/* Increased width for auto respond message column */
	}

	td {
		vertical-align: middle;
		/* Align text to the middle for when the auto respond message wraps* */
	}

	td:last-child {
		white-space: pre-wrap;
		width: 60% !important;
		/* set width of auto respond column to 60% */
	}
}

::ng-deep .phd-tooltip-table {
	.tooltip-inner {
		max-width: 360px !important;
		/* Default width for table without auto respond message */
	}
}

@media(max-width:$tablet-max-width) {

	:host {
		th {
			font-size: 8px;
		}

		td {
			font-size: 8px;
		}

		.phd-amount-margin {
			margin-left: 0px;
		}

		.phd-button {
			font-size: 10px;
		}
	}
}