<div>
	<group-bar [communityName]="communityName"
			   [planName]="planName"
			   [groups]="groups"
			   [selectedSubGroupId]="selectedSubgroupId"
			   (onSubgroupSelected)="onSubgroupSelected($event)"></group-bar>
</div>
<div class="phd-my-favorites">
	<normal-experience [groupName]="groupName"
					   [currentSubgroup]="selectedSubGroup"
					   [errorMessage]="errorMessage"
					   [myFavoritesChoices]="myFavoritesChoices"
					   [decisionPointId]="selectedPointId"
					   (onToggleChoice)="toggleChoice($event)"></normal-experience>
</div>

<action-bar [primaryAction]="'Next'" [price]="priceBreakdown.totalPrice" (callToAction)="onNextSubGroup()"></action-bar>
