<div id="phd-action-bar" class="d-flex align-items-center" [class.is-hidden]="isActionBarHidden">
	<div class="d-flex flex-row flex-grow-1 phd-action-icons">
		<div class="d-flex phd-clickable" (click)="onHomePage()">
			<i class="fa fa-home fa-2x"></i>
			<span class="align-self-center">Home Page</span>
		</div>

		<div *ngIf="showPrint" class="d-flex phd-clickable" (click)="onPrint()">
			<i class="fa fa-print fa-2x"></i>
			<span class="align-self-center">Print</span>
		</div>
	</div>

	<div *ngIf="primaryAction" class="d-flex flex-column align-items-end">
		<div>
			<span class="phd-price-label">Estimated Favorites Total : </span>
			<span class="phd-price">{{ favoritesPrice | currency:'USD':'symbol':'0.0-0' }}</span>
		</div>
		<div>
			<span class="phd-price-label">Estimated Total Price : </span>
			<span class="phd-price">{{ price | currency:'USD':'symbol':'0.0-0' }}</span>
		</div>

	</div>

	<div *ngIf="primaryAction">
		<button class="btn btn-lg phd-action-bar-action-btn" (click)="onPrimaryCallToActionClick()">{{primaryAction}}</button>
	</div>
</div>
