<footer class="phd-action-bar d-flex align-items-center" [class.is-hidden]="isActionBarHidden">
	<h1 class="phd-visually-hidden">
		Footer
	</h1>
	<ul class="d-flex flex-row flex-grow-1 phd-action-icons">
		<a href="" (click)="$event.preventDefault(); onHomePage();" class="d-flex phd-clickable">
			<span aria-hidden="true"><i class="fa fa-home fa-2x"></i></span>
			<span class="align-self-center">Home</span>
		</a>

		<button *ngIf="showPrint" class="d-flex phd-clickable" (click)="onPrint()">
			<i class="fa fa-print fa-2x"></i>
			<span class="align-self-center">Print</span>
		</button>

		<a href="" (click)="$event.preventDefault(); onViewFavorites();" *ngIf="showFavorites" class="d-flex phd-clickable">
			<img class="phd-favorites-list" [src]="favoritesListIcon" alt="">
			<span class="align-self-center">My Favorites</span>
		</a>
		<div *ngIf="!isPreview && !hideContractedToggle && !isPresale" class="d-flex phd-contracted-options">
			<div [ngClass]="{'phd-clickable' : !isContractedOptionsDisabled }" (click)="clickToggleContractedOptions()">
				<button 
					class="btn btn-sm btn-toggle btn-auto-approval"
					[ngClass]="{'active': includeContractedOptions, 'phd-toggle-on': includeContractedOptions, 'phd-toggle-off': !includeContractedOptions }">
						<div class="handle"></div>
				</button>
			</div>
			<span class="phd-contracted-options-label" (click)="clickToggleContractedOptions()">Display Pending &<br>Contracted Options</span>
			<info-tooltip-component *ngIf="!isDesignComplete" [template]="contractedOptions"></info-tooltip-component>
		</div>
	</ul>

	<ng-container *ngIf="(isPresalePricingEnabled || !isPresale) && !isContractedPage">
		<div *ngIf="primaryAction" class="d-flex flex-row align-items-end">
			<div class="d-flex flex-column align-items-end align-content-center">
				<span *ngIf="!isDesignComplete" class="phd-price-label">Estimated Favorites Total : </span>
				<span class="phd-price-label">{{ totalPriceLabel }} : </span>
			</div>
		</div>
		<div *ngIf="primaryAction" class="d-flex flex-row align-items-end justify-content-left">
			<div class="d-flex flex-column">
				<span *ngIf="!isDesignComplete" class="phd-price">{{ favoritesPrice | currency:'USD':'symbol':'0.0-0' }}</span>
				<div>
					<span class="phd-price">{{ price | currency:'USD':'symbol':'0.0-0' }}</span>
					<info-tooltip-component *ngIf="!isDesignComplete" [template]="totalPricing"></info-tooltip-component>
				</div>
			</div>
		</div>
	</ng-container>
	<div *ngIf="primaryAction">
		<a #btnActionBar href="" title="{{isEllipsisActive() ? primaryAction : null}}" [class.phd-btn-fixed-width]="isFixedWidth" class="btn btn-lg phd-action-bar-action-btn" (click)="$event.preventDefault(); onPrimaryCallToActionClick();">{{primaryAction}}</a>
	</div>
</footer>


<ng-template #totalPricing>
	<div>
		<p><strong>Estimated Favorites Total:</strong> Estimated total price of all options selected in this application.</p>
		<p><strong>{{ isPresalePricingEnabled
			? 'Estimated Total Price: '
			: 'Estimated Total Purchase Price: ' }}</strong> {{ isPresalePricingEnabled 
			? 'Total price of the Estimated Base Price plus your Estimated Favorites Total.' 
			: 'Total price of all options under contract plus your Estimated Favorites Total.' }}</p>
		<p><em>{{ isPresalePricingEnabled
			? '(Pricing is subject to change until placed under contract with a Sales Representative.)'
			: '(Option pricing is subject to change until placed under contract with a Sales Representative.)' }}</em></p>
	</div>
</ng-template>

<ng-template #contractedOptions>
	<div>
		<p>Move the toggle to “ON” to display the options you have previously selected with a consultant throughout the site. This will include options that are under contract as well as any options that are pending on an open change order.</p>
		<p><em>(Option pricing is subject to change until placed under contract with a Sales Consultant)</em></p>
	</div>
</ng-template>
