@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

.phd-logo-image {
	width: calc(56vw);
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.home-images-container {
	height:calc(65vh);
}

.phd-elevation-image {
	margin-top: auto;
	margin-bottom: auto;
}

.phd-home-plan {
	background-color: #e4e5e4;
	width: calc(44vw);
	max-height: calc(65vh);
	border: var(--home-page-floorplan-border);
	justify-content: flex-end;

	span {
		color: var(--home-page-community-label);
		padding-bottom: 40px;
	}
}

.phd-floor-plan-image {
	padding-top: calc(2vh);
	padding-bottom: calc(2vh);
	max-height: calc(55vh);
}

.phd-sales-community {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 10px;
}

.phd-start-reviewing {
	font-size: 30px;
	color: var(--home-text-color);
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.phd-design-list-button {
	background-color: var(--primary-button-color);
	border-radius: var(--button-border-radius);
	color: white;
	padding: 6px 25px;
	min-width: 350px;
	min-height: 50px;
	font-size: 22px;
}

.phd-community-label {
	flex-direction: row;
}

@media(max-width: $tablet-max-width) {
	.phd-start-reviewing {
		font-size: 20px;
	}
}

@media(max-width: 950px) {
	.phd-community-label {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	.phd-plan-name {
		margin-left: auto;
		margin-right: auto;
	}
	.phd-floor-plan-image {
		max-height: calc(50vh)
	}
}
