@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

.phd-logo-image {
	max-width:calc(25vw);
	max-height:calc(25vh);
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.phd-home-images-container {
	max-width: 100vw;
}

.phd-elevation-image {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: calc(0.2vw);
	height: auto;
}

.phd-start-reviewing {
	font-size: 3.2vh;
	color: var(--home-text-color);
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.phd-start-reviewing-title h1 {
	font-size: 3.2vh;	
	font-weight: bold;
	color: var(--home-text-color);
	margin: 5px;
	text-align: center;
}

.phd-start-reviewing-heart {
	font-size: 3.7vh;
	vertical-align: middle;
}

.phd-start-reviewing-desc {
	font-size: 2.4vh;
	color: var(--home-text-color);
	margin-top: 15px;
	width: 40vw;
	margin-bottom: 30px;
	text-align: center;
	line-height: .9;
}

.phd-design-list-button {
	background-color: var(--primary-button-color);
	border-radius: 35px;
	color: white;
	padding: 6px 25px;
	min-width: 14vw;
	min-height: 5.5vh;
	font-size: 2.5vh;
}

.phd-elevation-row {
	justify-content: space-between;
	align-items: center;
	margin: 10.5vh 7vw 9.5vh 7vw;
}

.phd-vl {
	border: 1px solid #d4d4d4;
	height: 30vh;
}

.phd-review-section {
	width: 45vw;
	padding-bottom: 4.5vh;
}

.phd-community-name {
	font-size: 23px;
	color: var(--home-text-color);
	margin-bottom: -5px;
}

.phd-plan-name {
	font-size: 20px;
	color: var(--home-text-color);
}

.phd-hidden-floorplan {
	height: 0;
}

@media(max-width: $tablet-max-width) {
	.phd-start-reviewing {
		font-size: 20px;
	}
}

