<div class="d-flex flex-column phd-home">
	<banner class="phd-home-images-container"></banner>
	<main class="d-flex flex-row phd-elevation-row">
		<div class="d-flex flex-column align-items-center">
			<cl-image *ngIf="planImageUrl" public-id="{{planImageUrl}}" type="fetch" class="phd-elevation-image" style="max-width:calc(25vw);max-height:calc(25vh);object-fit:contain;" alt="">
			</cl-image>
			<img class="phd-logo-image" [src]="getImageSrc()" *ngIf="!planImageUrl" alt="">
			<ng-container *ngIf="isPresale">
				<div class="phd-community-name">
					{{communityName}}
				</div>
				<div class="phd-plan-name">
					{{planName}}
				</div>
			</ng-container>
		</div>
		<div class="phd-vl"></div>
		<div class="phd-review-section">
			<div class="d-flex flex-column align-items-center">
				<div class="phd-start-reviewing-title">
					<h1>Let's start personalizing your <ng-container *ngIf="isPresale">future</ng-container> home.</h1>
				</div>
				<div class="phd-start-reviewing-desc">
					Browse the different options available for your home. Select the <span class="phd-start-reviewing-heart" aria-label="Heart">♡</span> symbols to add to your <strong>MY FAVORITES</strong> list<ng-container *ngIf="!isPresale"> and review them later</ng-container>.					
				</div>
			</div>	
			<div class="d-flex justify-content-center">
				<a href="" class="btn phd-design-list-button" (click)="$event.preventDefault(); viewOptions()">View Options</a>
			</div>
		</div>
	</main>
</div>

<p>&nbsp;</p>
<footer-bar></footer-bar>
