<div *ngIf="!(isChangingOrder$ | async)" class="phd-progress-bar">
	<phase-progress-bar [items]="(subNavItems$ | async)" [selectedItem]="(selectedSubNavItem$ | async)"	[disabled]="(disableButtons$ | async)" (onItemSelected)="onSubNavItemSelected($event)" [showStatusIndicator]="true"></phase-progress-bar>
</div>

<div class="phd-new-home">
	<div *ngIf="showNav" class="phd-community">
		<div class="col-3 m-0 p-0 phd-community-dropdown align-self-center">
			<ng-container *ngIf="(communities$ | async) as communities">
				<div *ngIf="communities.length > 1">
					<div ngbDropdown class="d-inline-block">
						<div id="filterByDropdown" ngbDropdownToggle class="phd-clickable btn btn-outline-primary">
							Community: <span class="text-info">{{(selectedFilterBy$ | async) ? (selectedFilterBy$ | async)?.name : 'All'}}</span>
						</div>
						<div ngbDropdownMenu aria-labelledby="filterByDropdown">
							<button class="dropdown-item phd-clickable" (click)="setCommunityFilter(null)">All</button>
							<ng-container *ngFor="let community of communities">
								<button class="dropdown-item phd-clickable" (click)="setCommunityFilter(community)">{{community.name}}</button>
							</ng-container>
						</div>
					</div>
				</div>
			</ng-container>
		</div>

		<h2 *ngIf="showNav" class="col-6 justify-content-center text-center my-5">Let's start</h2>
	</div>
	<div *ngIf="showNav" class="phd-tabs">
		<a class="phd-selection justify-content-center" [ngClass]="{'active': this.active === 'plan'}" (click)="navigateToPlans()">Plans</a>
		<a class="phd-selection" [ngClass]="{'active': this.active === 'lot'}" (click)="navigateToLots()">Lots</a>
		<a *ngIf="buildMode != 'spec' && buildMode != 'model'" class="phd-selection" [ngClass]="{'active': this.active === 'quick'}" (click)="navigateToQuickMoveIn()">Quick Move-in</a>
	</div>
	<div class="phd-content">
		<router-outlet></router-outlet>
	</div>
</div>
