<div class="phd-choice-card-detail container-fluid d-flex flex-column px-0">
	<div #estimatedTotals class="phd-sticky-header">
		<estimated-totals *ngIf="(isPresalePricingEnabled || !isPresale)"
						  [isPresale]="isPresale"
						  [isPresalePricingEnabled]="isPresalePricingEnabled">
		</estimated-totals>
	</div>

		<!----top disclaimer-->
		<span class="phd-info-text d-flex px-3 pt-3"  data-testid="selected-options-disclaimer">
			{{ disclaimerText }}
		</span>

	<!----Image display with thumbnail-->
	<div #imgWithThumbnail class="px-3 pt-2 phd-sticky-content" [ngStyle]="{ top: estimatedTotalsOffsetHeight + 'px' }">
		<header>
			<h1 class="py-1 px-0" data-testid="choice-label">
				{{ choice?.label }}
			</h1>
		</header>
		<div class="d-flex justify-content-end mb-1">
			<ng-container *ngIf="!isPresale || isPresalePricingEnabled">
				<div *ngIf="choice && !choice.priceHiddenFromBuyerView" class="mr-auto">
					<span class="phd-info-text">Pricing subject to change</span>
				</div>
			</ng-container>

			<div class="price-icon-container d-flex justify-content-end align-items-center">
				<ng-container *ngIf="!isPresale || isPresalePricingEnabled">
					<span class="phd-price-label mr-2" *ngIf="choice && choice?.price">{{ choice.price * (choice.quantity > 0 ? choice.quantity : 1) | currency: "USD" : "symbol" : "0.0-0" }}</span>
				</ng-container>
				<button *ngIf="choice.choiceStatus === 'Contracted'" class="phd-favorite-selector phd-icon-accent">
					<mat-icon data-testid="check-icon">check</mat-icon>
				</button>
				<button *ngIf="choice.choiceStatus === 'Available' && choice.enabled" class="phd-favorite-selector phd-icon-accent p-0" [class.phd-clickable]="!isReadonly" (click)="toggleChoice(choice)">
					<mat-icon attr.aria-pressed="{{ choice.isFavorite }}" data-testid="favorite-icon">
						{{ choice.isFavorite ? "favorite" : "favorite_outline" }}
					</mat-icon>
				</button>
				<ng-container *ngIf="choice?.choiceStatus === 'Available' && !choice?.enabled">
					<button class="phd-clickable phd-favorite-selector phd-icon-accent" data-testid="blocked-icon">
						<mat-icon attr.aria-label="{{ choice.label + ' is blocked' }}">block</mat-icon>
					</button>
				</ng-container>
			</div>
		</div>

		<!----image display-->
		<div *ngIf="highlightedAttribute">
			<img src="{{highlightedAttribute.imageUrl}}"
						   class="phd-image-content"
						   alt="{{highlightedAttribute.title}}"
						   role="group"
						   attr.aria-label=""
						   data-testid="main-attribute-image">
		</div>
		<section aria-label="Carousel" class="phd-main-image-section d-flex justify-content-center" *ngIf="!highlightedAttribute">
			<span class="phd-visually-hidden" aria-label="Image Carousel Instructions">
				This is a carousel with slides. Jump to a slide using the thumbnail.
			</span>

			<ngb-carousel #imageCarousel [interval]="0" [showNavigationArrows]="false" (slide)="onSlide($event)" class="d-flex">
				<ng-template ngbSlide *ngFor="let image of choiceImages; let currentIndex = index" id="{{ currentIndex }}">
					<image [imageUrl]="image.imageURL" 
						   defaultImage="{{defaultImage}}" crop="lpad"
						   class="phd-image-content"
						   alt=""
						   role="group"
						   attr.aria-label="{{ 'Slide ' + (currentIndex + 1) + ' of ' + choiceImages.length }}"
						   data-testid="main-carousel-image">
					</image>
				</ng-template>
			</ngb-carousel>
		</section>
		<div class="phd-info-text my-2" data-testid="images-disclaimer">
			Images are examples only. Products are subject to change.
		</div>

		<!----thumbnails-->
		<div class="phd-image-carousel d-flex">
			<ul class="phd-thumbnail-image-list">
				<button *ngFor="let image of choiceImages; let i = index" class="phd-image-thumbnail phd-clickable mr-3">
					<image [imageUrl]="image.imageURL" [defaultImage]="defaultImage" crop="lpad"
						   attr.aria-label="{{ 'Image ' + (image.sortKey + 1) + ' of ' + choiceImages.length }}"
						   class="phd-choice-image"
						   [class.phd-choice-image-selected]="selectedImageUrl === image.imageURL && !highlightedAttribute"
						   alt=""
						   attr.aria-current="{{ selectedImageUrl === image.imageURL }}"
						   (click)="thumbnailClick(image)"
						   [attr.data-testid]="'thumbnail-image-' + i">
					</image>
				</button>
			</ul>
		</div>
	</div>

	<!----description-->
	<div class="px-3 pt-2 phd-not-sticky">
		<div
			*ngIf="choiceDescriptions?.length && !optionDisabled"
			class="phd-description"
			[class.phd-description-expanded]="this.expandDescription"
			id="descriptionText"
			data-testid="description-text">
			<div *ngFor="let description of choiceDescriptions">
				{{ description }}
			</div>
		</div>
		
		<button
			*ngIf="descOverflowedOnLoad"
			(click)="this.expandDescription = !this.expandDescription"
			class="phd-expand-text px-0"
			data-testid="expand-text">
			{{ this.isTextOverflow("descriptionText") ? "See More" : "See Less" }}
		</button>
	</div>

	<!-- Locations: when choice has location groups -->
	<location-group-mobile [currentChoice]="choice"></location-group-mobile>
	
	<!-- Attributes: when has attribute groups -->
	<div class="phd-not-sticky phd-attributes" [ngStyle]="{ 'max-height': attributesHeight + 'px' }">
		<attribute-group-mobile [currentChoice]="choice"></attribute-group-mobile>
	</div>

	<div #actionBar class="phd-sticky-footer">
		<action-bar-mobile [showBack]="true"></action-bar-mobile>
	</div>
</div>
