.container {
	min-height: 100%;
}

header {
	width: 100%;
	background-color: white;
	letter-spacing: 0.4px;
}

h1 {
	font-size: 16px;
	max-width: 70%;
	color: #000000;
	font-weight: bold;
}

.phd-info-text {
	color: #676767;
	font-size: 11px;
}

//PrimeNG carousel thumbnail
.phd-image-carousel {
	// horizontal scroll on thumbnails if overflow
	overflow-x: scroll;
	white-space: nowrap;

	.phd-thumbnail-image-list {
		padding: 0;
		display: flex;
	}

	.phd-image-thumbnail {
		padding: 0;
		border: none;
		display: flex;
	}
}

.phd-description {
	font-size: 12px;
	height: 3em;
	overflow: hidden;
	color: #333333;
	letter-spacing: 0.3px;
}

.phd-description-expanded {
	height: auto;
	overflow: visible;
}

.phd-expand-text {
	border: none;
	background: none;
	font-size: 14px;
}

.phd-favorite-selector {
	border: none;
	background-color: transparent;
}

.phd-attributes {
	overflow-y: auto;
}

.phd-price-label {
	font-size: 16px;
	font-weight: bold;
}

.price-icon-container {
	// to align price and icon
	line-height: 1rem;
}

.phd-main-image-section {
	border: 1px solid #d7d7d8;
}

.phd-image-content {
	max-width: 100%;
	height: 30vh;
	object-fit: contain;
}

.phd-not-sticky {
	flex: 100;
}

.phd-choice-card-detail {
	min-height: 94vh;
}
