.container {
	min-height: 100%;
}

.phd-sticky-header {
	position: sticky;
	top: 0;
}

header {
	width: 100%;
	background-color: white;
	letter-spacing: 0.4px;
}

h1 {
	font-size: 16px;
	max-width: 70%;
	color: #000000;
}

.phd-info-text {
	color: #676767;
	font-size: 11px;
}

//PrimeNG carousel thumbnail
.phd-image-carousel {
	// horizontal scroll on thumbnails if overflow
	overflow-x: scroll;
	white-space: nowrap;

	.phd-thumbnail-image-list {
		padding: 0;
	}

	.phd-image-thumbnail {
		padding: 0;
		border: none;

		cl-image {
			border: none;
		}
	}
}

.phd-description {
	font-size: 12px;
	height: 3em;
	overflow: hidden;
	color: #333333;
	letter-spacing: 0.3px;
}

.phd-description-expanded {
	height: auto;
	overflow: visible;
}

.phd-expand-text {
	border: none;
	background: none;
	font-size: 14px;
}

.phd-favorite-selector {
	border: none;
	background-color: transparent;
}

.phd-sticky-footer {
	position: sticky;
	bottom: 0;
	width: 100%;
}

.phd-sticky-content {
	// top position is determined dynamically (depends on if there is pricing or not)
	position: sticky;
	background-color: white;
	flex: 1;
}

.phd-price-label {
	font-size: 16px;
	font-weight: bold;
}

.price-icon-container {
	// to align price and icon
	line-height: 1rem;
}

.phd-main-image-section {
	border: 1px solid #d7d7d8;
}
