<ng-container *ngIf="(selectedSubGroup$ | async) as selectedSubGroup">
	<phase-progress-bar [items]="(subNavItems$ | async)" [selectedItem]="(selectedSubNavItem$ | async)"
		(onItemSelected)="onSubNavItemSelected($event)" [showStatusIndicator]="showStatusIndicator"
		[showItems]="showPhaseProgressBarItems"></phase-progress-bar>

	<normal-experience *ngIf="selectedSubGroup && !selectedSubGroup?.useInteractiveFloorplan"
		[point]="(selectedDecisionPoint$ | async)" [subGroup]="selectedSubGroup"
		(onChoiceModal)="showChoiceModal($event)" (onToggleChoice)="toggleChoice($event)"
		(onSaveScenario)="saveScenario($event)" (onBuildIt)="onBuildIt()" [priceBreakdown]="(priceBreakdown$ | async)"
		[complete]="(complete$ | async)" [selectedPointFilter]="(selectedPointFilter$ | async)"
		[enabledPointFilters]="(enabledPointFilters$ | async)" [scenarioStatus]="(scenarioStatus$ | async)"
		(pointTypeFilterChanged)="onPointTypeFilterChanged($event)" [showStatusIndicator]="showStatusIndicator"
		[inChangeOrder]="(isChangingOrder$ | async)" [errorMessage]="errorMessage" [treeFilter]="(treeFilter$ | async)"
		[canConfigure]="canConfigure$ | async" [agreementStatus]="agreementStatus$ | async"
		[overrideReason]="overrideReason$ | async" [canOverride]="(canOverride$ | async)" [buildMode]="buildMode">
	</normal-experience>

	<floor-plan *ngIf="selectedSubGroup?.useInteractiveFloorplan"
		[planId]="marketingPlanId.length === 1 ? marketingPlanId[0] : 0" [subGroup]="selectedSubGroup"
		(onChoiceModal)="showChoiceModal($event)" (onSelectChoice)="toggleChoice($event)"
		[priceBreakdown]="(priceBreakdown$ | async)" [selectedPointFilter]="(selectedPointFilter$ | async)"
		[enabledPointFilters]="(enabledPointFilters$ | async)" [scenarioStatus]="(scenarioStatus$ | async)"
		(pointTypeFilterChanged)="onPointTypeFilterChanged($event)" (onSaveScenario)="saveScenario($event)"
		(onBuildIt)="onBuildIt()" [complete]="(complete$ | async)" [inChangeOrder]="(isChangingOrder$ | async)"
		[errorMessage]="errorMessage" [treeFilter]="(treeFilter$ | async)" [canOverride]="(canOverride$ | async)"
		[canConfigure]="(canConfigure$ | async)"></floor-plan>
</ng-container>

<ng-template #monotonyConflictModal>
	<monotony-conflict-modal [monotonyConflict]="monotonyConflict"
							 (onNavigateToElevation)="navigateToElevation()"
							 (onNavigateToColorScheme)="navigateToColorScheme()"
							 (onNavigateToLot)="navigateToLot()">
	</monotony-conflict-modal>
</ng-template>

<ng-template #lotConflict>
	<div class="modal-body">
		<div *ngIf="scenarioHasSalesAgreement">For reference only. Represents configuration at time of Agreement. Refer
			to the agreement for the most current home selections.</div>
		<div *ngIf="!scenarioHasSalesAgreement">The lot you currently selected is no longer available. Please continue
			with another lot selection.</div>
	</div>
</ng-template>

<ng-template #optionMappingChangedModal>
	<div class="modal-body">
		<p>Option mapping has changed. Original pricing and offerings will no longer be available.</p>
		<p *ngIf="!!impactedChoices">The following choices will be removed from your configuration: {{impactedChoices}}
		</p>
		<p>Do you wish to continue?</p>
	</div>
</ng-template>

<ng-template #impactedChoicesModal>
	<div class="modal-body">
		<p>Due to your changes in choices, the following items will get removed from your configuration:
			{{impactedChoices}}</p>
		<p>Do you wish to continue?</p>
	</div>
</ng-template>

<ng-template #optionPriceChangedModal>
	<div class="modal-body">
		<p>Option pricing has changed. Pricing for the following selections will be adjusted on your configuration:
			{{impactedChoices}}</p>
		<p>Do you wish to continue?</p>
	</div>
</ng-template>

<ng-template #optionMappingAdjustedModal>
	<div class="modal-body">
		<p>Option mapping has changed. Pricing for the following choices will be adjusted on your configuration:
			{{impactedChoices}}</p>
		<p>Those choices will need to be reselected.</p>
		<p>Do you wish to continue?</p>
	</div>
</ng-template>

<choice-card *ngIf="viewChoice" [currentChoice]="viewChoice" [canConfigure]="canConfigure$ | async"
	[canOverride]="canOverride$ | async" [currentDecisionPoint]="viewPoint" (onChoiceChange)="onChoiceChange($event)"
	(saveAttributes)="saveScenario($event)" (toggled)="toggleChoice($event)">
</choice-card>
