@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

::ng-deep .phd-hidden-choice-price-modal .modal-dialog {
	max-width: 400px;
	position: relative;
	top: 40%;
}

.phd-close {
	cursor: pointer;
	padding: 5px 5px 0px 0px;
}

.phd-hidden-price-title {
	padding-left: 105px;
	padding-top: 10px;
	padding-bottom: 25px;
	font-weight: 600;
}