@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.modal-header {
	background: var(--popup-ribbon-background-color);
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	color: #fff;

	button {
		color: #fff;
	}
}

.modal-title {
	font-size: 1.25em;
}

::ng-deep .phd-hidden-choice-price-modal .modal-dialog {
	max-width: 400px;
}

.phd-hidden-price-title {
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
	font-weight: 600;
}