<side-panel-component [headerTemplate]="header" [subheaderTemplate]="subheader" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseClick()">
	<ng-template #header>
		<h5><strong>{{option.id}} >> {{option.optionHeaderName}}</strong></h5>
	</ng-template>

	<ng-template #subheader>
		<h6 class="pt-3 mb-0 pl-2"><strong>{{option.categoryName}} > {{option.subCategoryName}} > {{option.optionHeaderName}}</strong></h6>
	</ng-template>

	<ng-template #body>
		<div class="phd-side-panel-body">
			<ul ngbNav #nav="ngbNav" [(activeId)]="currentTab" class="nav-tabs" (navChange)="onNavChange($event)">
				<li [ngbNavItem]="'details'">
					<a ngbNavLink>Details</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<form [formGroup]="optionDetailsForm">
								<div class="form-check form-group">
									<input id="is-base-house-check" class="form-check-input" type="checkbox" formControlName="isBaseHouse" (change)="onIsBaseHouseChanged()" />
									<label for="is-base-house-check" class="form-check-label">Sales Included Options</label>
								</div>

								<div class="form-group">
									<label class="phd-description-label" for="description">Description:</label>
									<span class="phd-description-caption">(editable in Purchase Pro)</span>
									<textarea class="form-control" id="description" rows="5" maxlength="500" readonly>{{ optionDescription }}</textarea>
								</div>
							</form>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'rules'">
					<a ngbNavLink>Option Mapping</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="choiceRulesMessage.length > 0" class="alert alert-info">{{choiceRulesMessage}}</div>
							<option-choice-rule *ngIf="choiceRulesMessage.length === 0"
												[option]="option"
												[optionRule]="optionRule"
												[isReadOnly]="isReadOnly || !canEdit"
												(saveRule)="onSaveOptionChoiceRule($event)"
												(deleteRule)="onDeleteOptionChoiceRule($event)"
												(updateMustHave)="onUpdateOptionChoiceRuleMustHave($event)">
							</option-choice-rule>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'replace'">
					<a ngbNavLink>Replace</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="replaceOptionsMessage.length > 0" class="alert alert-info">{{replaceOptionsMessage}}</div>
							<replace-option-rule *ngIf="replaceOptionsMessage.length === 0"
												 [option]="option"
												 [options]="options"
												 [optionRule]="optionRule"
												 [isReadOnly]="isReadOnly || !canEdit"
												 (save)="onSaveReplaceOption($event)"
												 (delete)="onDeleteReplaceOption($event)">
							</replace-option-rule>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'images'">
					<a ngbNavLink>Images</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<div *ngIf="optionImagesMessage.length > 0" class="alert alert-info">{{optionImagesMessage}}</div>
							<option-images-panel *ngIf="optionImagesMessage.length === 0"
												 [isReadOnly]="isReadOnly || !canEditImages"
												 [isSaving]="isSaving"
												 [optionsImageList]="optionsImageList"
												 [imagesLoaded]="optionImagesLoaded"
												 [dragEnable]="dragEnable"
												 (delete)="onDeleteImage($event)"
												 (edit)="onEditImage($event)"
												 (save)="onSaveImage($event)"
												 (dragHasChanged)="onDragHasChanged()">
							</option-images-panel>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'location'">
					<a ngbNavLink>Location</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<option-location [option]="option"></option-location>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="'attributes'">
					<a ngbNavLink>Attributes</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<option-attributes-panel
													 [currentTree]="currentTree"
													 [option]="option"
													 [optionRule]="optionRule"
													 [isReadOnly]="isReadOnly || !canEdit"
													 (saveAttributeReassignment)="onSaveAttributeReassignment($event)"
													 (deleteAttributeReassignment)="onDeleteAttributeReassignment($event)">
							</option-attributes-panel>
						</div>
					</ng-template>
				</li>
			</ul>

			<div class="phd-nav-tab-content">
				<div [ngbNavOutlet]="nav"></div>
			</div>
		</div>
		
	</ng-template>

	<ng-template #footer>
		<div class="pull-left">
			<ng-container *ngIf="optionsImageList.length > 0 && !isReadOnly && canEdit && currentTab === 'images'">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" *ngIf="!dragEnable" (click)="editImageSort()">Edit Sort</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-secondary" *ngIf="dragEnable" (click)="cancelImageSort()">Cancel</button>
					<button type="button" class="btn btn-primary" *ngIf="dragEnable" (click)="saveImageSort()">Save Sort</button>
				</div>
			</ng-container>

			<div *ngIf="isSaving" id="option-side-panel-saving" class="alert alert-info m-0 py-1 px-2 pull-right" role="alert">Saving...</div>

			<div hidden *ngIf="sidePanelHasChanges"></div>
		</div>
		<div class="pull-right">
			<button class="btn btn-secondary" (click)="onCloseClick()">Close</button>
		</div>
	</ng-template>
</side-panel-component>
