@import "../../../../../scss/sizes.scss";

:host {
	position: absolute;
	left: $phase-bar;
	width: calc(100% - #{$phase-bar});
}


.modal-body {
	margin: 0;
	padding: 0;

	.row {
		margin: 0;
	}

	a {
		display: block;
		cursor: pointer;
		padding: 20px 0 34px;
		background: #0d4b6b;
		border-left: 1px solid #033048;
		border-right: 1px solid #3e7a99;
		line-height: 27px;
		color: #fff;

		span {
			font-size: 44px;
			font-weight: bold;
			text-transform: uppercase;
			display: block;
			color: #fff;
			text-shadow: 2px 1px #3e7a99;
		}
	}

	.phd-double {
		width: 50%;
	}
}

.phd-community {
	padding-left: 05%;
}

.phd-new-home {
	max-width: 100%;
	margin: 0 2em;
}

.phd-tabs {
	margin-bottom: 30px;
	width: 100%;

	.phd-selection {
		align-self: flex-end;
		border-bottom: 4px solid transparent;
		cursor: pointer;
		flex-basis: 11%;
		font-size: 18px;
		font-weight: 300;
		padding: 0 1em;
		text-align: center;
		white-space: nowrap;

		&.active {
			border-bottom: 4px solid #000;
			font-weight: normal;
		}
	}
}

.row {
	margin: 0;
	padding: 0;
}

#filterByDropdown {
	background: #fff;
	border: 1px solid #eee;
	color: #999;

	> span {
		padding-left: 5px;
		display: inline-block;
	}
}

@media(max-width: $tablet-max-width) {
	.phd-new-home {
        padding-top: calc(#{$responsive-menu-height} * 2);
	}
}
