<phd-side-panel-component [headerTemplate]="header"
	[subheaderTemplate]="subheader"
	[bodyTemplate]="body"
	[footerTemplate]="footer"
	[sidePanelOpen]="sidePanelOpen"
	(onSidePanelClose)="onCloseSidePanel($event)"
	[isDirty]="isDirty"
	[createDisabledOverlay]="currentTab !== 'monotony'">
	<ng-template #header>
		<h4 class="phd-side-panel-header"><strong>Homesite Details</strong></h4>
	</ng-template>

	<ng-template #subheader>
		<h6 class="pt-3 mb-0 pl-2"><strong>{{ sidePanelSubheader }}</strong></h6>
	</ng-template>

	<ng-template #body>
		<div class="phd-side-panel-body">
			<ul ngbNav
				#nav="ngbNav"
				[(activeId)]="currentTab"
				class="nav-tabs">
				<li [ngbNavItem]="'details'">
					<a ngbNavLink>Details</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<form [formGroup]="homesiteForm">
								<div class="form-group mt-3"
									*ngIf="canEditAvailability">
									<div class="form-check">
										<label class="form-check-label"
											for="lotStatusDescription">
											<input class="form-check-input"
												name="lotStatusDescription"
												formControlName="lotStatusDescription"
												type="checkbox"
												id="lotStatusDescription">
											Make Lot Unavailable
										</label>
										<label *ngIf="getAvailable(selectedHomesite)"
											class="form-check-label phd-right"
											for="isHiddenInTho">
											<input class="form-check-input"
												name="isHiddenInTho"
												formControlName="isHiddenInTho"
												type="checkbox"
												id="isHiddenInTho">
											Hide Lot in THO
										</label>
									</div>
								</div>
								<div *ngIf="selectedHomesite.dto.constructionBuildingNumber"
									class="form-group">
									Bldg #: {{ selectedHomesite.dto.constructionBuildingNumber }}
								</div>
								<div class="form-group">
									<label for="altLotBlock">Alternate Lot Block</label>
									<input type="text"
										class="form-control"
										id="altLotBlock"
										[value]="selectedHomesite.dto.altLotBlock"
										maxlength="25"
										formControlName="altLotBlock" />
								</div>
								<div class="form-group">
									<label for="viewAdjacency.value">View/Adjacency</label>
									<select id="viewAdjacency.value"
										class="form-control"
										formControlName="viewAdjacency"
										required>
										<option *ngFor="let viewAdjacency of viewAdjacencies"
											[ngValue]="viewAdjacency.value">{{ viewAdjacency.label }}</option>
									</select>
								</div>

								<div class="form-group">
									<label for="physicalLotTypes.value">Physical Description</label>
									<select id="physicalLotTypes.value"
										class="form-control"
										formControlName="physicalLotTypes"
										required>
										<option *ngFor="let physicalLotType of physicalLotTypes"
											[ngValue]="physicalLotType.value">{{ physicalLotType.label }}</option>
									</select>
								</div>
								<div>
									<div class="phd-selectBox form-group">
										Handing
										<div
											class="custom-control custom-control-inline custom-switch phd-custom-control-right float-right">
											<input class="custom-control-input"
												id="naHandingInput"
												formControlName="handing-3"
												type="checkbox"
												(click)="removeHandings()">
											<label class="custom-control-label"
												for="naHandingInput">N/A</label>
										</div>
										<div class="phd-checkboxes"
											[ngClass]="{'phd-required': handingChecked, 'phd-div-disabled': isNAHandingSelected}">
											<div class="form-check">
												<input id="handing-1"
													class="form-check-input"
													formControlName="handing-1"
													type="checkbox"
													[attr.disabled]="isNAHandingSelected ? 'disabled' : null">
												<label for="handing-1">Left</label>
												<input id="handing-2"
													class="form-check-input"
													formControlName="handing-2"
													type="checkbox"
													[attr.disabled]="isNAHandingSelected ? 'disabled' : null">
												<label for="handing-2">Right</label>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="foundationType">Foundation</label>
									<select id="foundationType"
										class="form-control"
										formControlName="foundationType"
										required>
										<option *ngFor="let foundationType of foundationTypes"
											[ngValue]="foundationType">{{ foundationType }}</option>
									</select>
								</div>

								<div class="form-group">
									<label for="facing">Front Facing</label>
									<select id="facing"
										class="form-control"
										formControlName="facing">
										<option *ngFor="let facing of facings"
											[ngValue]="facing">{{ facing }}</option>
									</select>
								</div>

								<div class="form-group">
									<label for="premium">Premium</label>
									<div class="input-group col-xs-12 col-sm-8 col-md-8 col-lg-8">
										<div class="input-group-prepend"
											[class.ng-invalid]="homesiteForm.get('premium').invalid">
											<span class="input-group-text">$</span>
										</div>
										<input id="premium"
											name="premium"
											formControlName="premium"
											type="number"
											min="0"
											step="1"
											class="form-control"
											aria-label="Amount (to the nearest dollar)">
										<div class="input-group-append">
											<span class="input-group-text">.00</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="warranty">Warranty</label>
									<select id="warranty"
										class="form-control"
										formControlName="warranty"
										required>
										<option *ngFor="let warranty of warrantyTypes"
											[ngValue]="warranty">{{ warranty }}</option>
									</select>
								</div>
								<div *ngIf="canChangeBuildType"
									class="form-group">
									<label for="changeModelToSpec">Change Lot Build Type</label>
									<select id="changeModelToSpec"
										class="form-control"
										formControlName="changeModelToSpec"
										required>
										<option *ngFor="let buildType of lotBuildTypes"
											[ngValue]="buildType">{{ buildType }}</option>
									</select>
								</div>
							</form>
						</div>
					</ng-template>
				</li>

				<li [ngbNavItem]="'monotony'">
					<a ngbNavLink>Monotony</a>
					<ng-template ngbNavContent>
						<div class="container pt-3">
							<form [formGroup]="monotonyForm">
								<div>
									<label>Elevation/Plan</label>
									<div class="container">
										<div class="row">
											<label class="col-sm-5 phd-smaller"
												for="lots">Available Homesite</label>
											<label class="col-sm-5 offset-sm-2 phd-smaller"
												for="selectedLots">Assigned Homesite</label>
										</div>
										<div class="row">
											<div class="col-sm-5">
												<select class="phd-available-lots"
													id="elevation-lots"
													multiple
													size="6"
													formControlName="elevation">
													<option *ngFor="let lot of elevationAvailableLots"
														[ngValue]="lot"> {{ lot }}</option>
												</select>
											</div>
											<div class="col-sm-2 p-0 text-center">
												<button class="btn btn-sm btn-secondary mb-1"
													(click)="addHighlightedElevations()"
													[disabled]="disableMonotonyForm"><i
														class="fa fa-angle-right fa-fw"></i></button>
												<button class="btn btn-sm btn-secondary mb-1"
													(click)="addAllElevations()"
													[disabled]="disableMonotonyForm"><i
														class="fa fa-angle-double-right fa-fw"></i></button>
												<button class="btn btn-sm btn-secondary"
													(click)="removeAllElevations()"
													[disabled]="disableMonotonyForm"><i
														class="fa fa-angle-double-left fa-fw"></i></button>
											</div>
											<div class="col-sm-5">
												<div class="phd-tagsinput phd-selected-lots">
													<div *ngFor="let lot of elevationSelectedLots"
														[ngClass]="{'phd-disabled-span': disableMonotonyForm, 'phd-tag': !disableMonotonyForm}">
														<span>{{ lot }}</span>
														<a *ngIf="!disableMonotonyForm"
															class="phd-tagsinput-remove-link"
															(click)="removeLotFromElevation(lot)"></a>
														<a *ngIf="disableMonotonyForm"
															class="phd-tagsinput-remove-link"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="phd-copy-button">
										<button class="btn btn-primary phd-extra-small phd-btn-copy"
											(click)="copyAssignedLots('elevation')"
											[disabled]="disableMonotonyForm">{{ isColorSchemePlanRuleEnabled ? 'Copy
											from Color Scheme/Plan' : 'Copy from Color Scheme'}}</button>
									</div>
								</div>
								<div>
									<label>Color Scheme</label>
									<div class="container">
										<div class="row">
											<label class="col-sm-5 phd-smaller"
												for="lots">Available Homesite</label>
											<label class="col-sm-5 offset-sm-2 phd-smaller"
												for="selectedLots">Assigned Homesite</label>
										</div>
										<div class="row">
											<div class="col-sm-5">
												<select class="phd-available-lots"
													id="color-lots"
													multiple
													size="6"
													formControlName="color">
													<option *ngFor="let lot of colorAvailableLots"
														[ngValue]="lot"> {{ lot }}</option>
												</select>
											</div>
											<div class="col-sm-2 p-0 text-center">
												<button class="btn btn-sm btn-secondary mb-1"
													(click)="addHighlightedColors()"
													[disabled]="disableMonotonyForm"><i
														class="fa fa-angle-right fa-fw"></i></button>
												<button class="btn btn-sm btn-secondary mb-1"
													(click)="addAllColors()"
													[disabled]="disableMonotonyForm"><i
														class="fa fa-angle-double-right fa-fw"></i></button>
												<button class="btn btn-sm btn-secondary"
													(click)="removeAllColors()"
													[disabled]="disableMonotonyForm"><i
														class="fa fa-angle-double-left fa-fw"></i></button>
											</div>
											<div class="col-sm-5">
												<div class="phd-tagsinput phd-selected-lots">
													<div class="phd-tag"
														*ngFor="let lot of colorSelectedLots">
														<span [ngClass]="{'phd-disabled-span': disableMonotonyForm}">{{
															lot }}</span>
														<a *ngIf="!disableMonotonyForm"
															class="phd-tagsinput-remove-link"
															(click)="removeLotFromColorScheme(lot)"></a>
														<a *ngIf="disableMonotonyForm"
															class="phd-tagsinput-remove-link"></a>
													</div>

												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="phd-copy-button">
										<button class="btn btn-primary phd-extra-small phd-btn-copy"
											(click)="copyAssignedLots('color')"
											[disabled]="disableMonotonyForm">Copy from Elevation/Plan</button>
									</div>
								</div>
							</form>
						</div>
					</ng-template>
				</li>
			</ul>

			<div class="phd-nav-tab-content">
				<div [ngbNavOutlet]="nav"></div>
			</div>
		</div>
	</ng-template>
	<ng-template #footer>
		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save"
				(click)="onSave()"
				[disabled]="!canSaveHomesite && !canSaveMonotony">
				Save

				<ng-container *ngIf="saving">
					<i class="fa fa-spinner fa-spin fa-fw"></i>
				</ng-container>
			</button>

			<button class="btn btn-secondary"
				(click)="onCancel()">Cancel</button>
		</div>
	</ng-template>
</phd-side-panel-component>

<div class="phd-monotony-map-container"
	*ngIf="currentTab === 'monotony'">
	<div class="monotony-map">
		<div *ngIf="communityWebsiteKey == null">Unable to load the community map.</div>
		<av-site-plan *ngIf="communityWebsiteKey"
			[webCommunityId]="communityWebsiteKey"
			[selectedLot]="selectedHomesite.dto"
			(lotSelectedCallback)="$event"
			showLotNumbers="true"
			(communitySubmaps)="getCommunitySubmapNames($event)"
			(currentMapName)="getCurrentMap($event)"
			(selectedLotSubmap)="getSelectedLotSubmap($event)"
			[filteredLots]="filteredLots">
		</av-site-plan>
	</div>
	<div *ngIf="showMapsNavigation">
		<div class="phd-list-nav">
			<div class="phd-map-title">Maps</div>
			<div *ngFor="let data of communitySubmaps; let last = last; let first = first">
				<div>
					<button *ngIf="first"
						class="phd-smaller"
						(click)="onMapNameChange('Master Map')"
						[ngClass]="(currentSubmap === 'Master Map') ? 'phd-selected-text' : 'phd-unselected-text'">
						Master Map
					</button>
					<div *ngIf="first"
						class="phd-divider"></div>
					<button class="phd-smaller"
						(click)="onMapNameChange(data)"
						[ngClass]="(data === currentSubmap) ? 'phd-selected-text' : 'phd-unselected-text'">
						{{ data }}
					</button>
					<div *ngIf="!last"
						class="phd-divider"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-toast></p-toast>