@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

.alert-small {
	padding: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
}

.ng-invalid:not(form):not(input) {
	border-left: 5px solid $brand-danger;
}

.phd-selectBox {
	position: relative;
}

.phd-bottomleft {
	position: absolute;
	top: -30px;
}

.phd-selectBox select {
	width: 100%;
	font-weight: bold;
}

.phd-checkboxes {
	display: block;
	border: 1px #dadada solid;
	padding: 5px 5px 0 5px;
	background-color: #fff;
}

.phd-div-disabled {
	background-color: #d3d3d3;
	pointer-events: none;
}

.phd-checkboxes label {
	display: block;
}

.phd-disabled-span {
	background-color: grey;
}

.phd-smaller {
	font-size: smaller;
}

.phd-extra-small {
	font-size: x-small;
}

.phd-copy-button {
	text-align: center;
}

.phd-selected-lots {
	height: 122px;
}

.phd-arrow-buttons {
	padding-top: 5px;
}

.phd-available-lots {
	min-width: 100px;
}

.phd-required {
	border-left: 5px solid #d9534f !important;
}

.phd-btn-copy {
	width: 95px;
}

.phd-right {
	padding-left: 40px;
}
