<li class="choice-container" role="group" attr.aria-label="{{'Choice - ' + choice.label}}">
	<div class="icon" (click)="$event.stopPropagation()">
		<ng-container *ngIf="choice.choiceStatus === 'Available' && choice.enabled">
			<button class="phd-clickable">
				<span class="phd-icon-selected"><i *ngIf="choice.isFavorite" aria-pressed="true" class="fa fa-heart" (click)="clickToggleChoice()"></i></span>
				<i *ngIf="!choice.isFavorite" aria-pressed="false" class="fa fa-heart-o" (click)="clickToggleChoice()"></i>
			</button>
		</ng-container>
		<ng-container *ngIf="choice.choiceStatus === 'Available' && !choice.enabled">
			<button class="phd-clickable">
				<i class="fa fa-ban" attr.aria-label="{{choice.label + ' is blocked'}}" (click)="openBlockedChoiceModal()"></i>
			</button>
		</ng-container>
	</div>
	<a href="" class="choice-label phd-clickable" (click)="$event.preventDefault(); clickViewChoiceDetail()">{{choice?.label}}</a>
	<ng-container *ngIf="!isPresale">
		<ng-container *ngIf='!choice.priceHiddenFromBuyerView'>
			<div class="choice-price">{{choice?.price | currency:'USD':'symbol':'0.0-0'}}</div>
		</ng-container>
		<ng-container *ngIf='choice.priceHiddenFromBuyerView' (click)="$event.stopPropagation()">
			<div class="phd-hidden-price">Pricing Varies
				<info-tooltip-component [template]="infoContent"></info-tooltip-component>
			</div>
		</ng-container>
	</ng-container>
</li>

<ng-template #blockedChoiceModal let-c="close" let-d="dismiss">
	<blocked-choice-modal
		[choice]="choice"
		[point]="point"
		(closeModal)="onCloseClicked()"
		(blockedItemClick)="onBlockedItemClick()"
	></blocked-choice-modal>
</ng-template>

<ng-template #infoContent>
	<div>
		<p><strong>Pricing Varies:</strong> Pricing will be determined during your meeting with your Design Consultant.</p>
	</div>
</ng-template>
