@import "../../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../../phd-common/src/lib/scss/animations.scss";

:root {
	--primary-icon-color: $pantone_blue;
	--link-color: $pantone_blue;
}

.choice-container {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin-top: 5px;
	width: 100%;

	.choice-label {
		max-width: 150px;
		color: var(--link-color);
		text-decoration: underline;
	}

	.choice-price {
		margin-left: auto;
	}

	.phd-hidden-price {
		margin-left: auto;
		font-size: 11px;
	}

	.fa-info-circle {
		cursor: pointer;
	}
}

.icon {
	width: 25px;

	.phd-icon-selected {
		color: var(--primary-icon-color);
	}
}
