@import "../../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../../phd-common/src/lib/scss/animations.scss";

.choice-container {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin-top: 5px;
	width: 100%;

	.phd-choice-label {
		max-width: 150px;
		text-decoration: underline;
	}

	.choice-price {
		margin-left: auto;
	}

	.phd-hidden-price {
		margin-left: auto;
		font-size: 11px;
	}

	.fa-info-circle {
		cursor: pointer;
	}
}

.icon {
	width: 25px;
	font-size: 18px;
	margin-top: -4px;
}

.phd-clickable {
	background: none;
	border: none;
	padding: 0;
}
