<div class="choice-container">
	<div class="icon" (click)="$event.stopPropagation()">
		<ng-container *ngIf="choice.choiceStatus === 'Available' && choice.enabled">
			<div [class.phd-clickable]="!isReadonly">
				<span class="phd-icon-selected"><i *ngIf="choice.isFavorite" class="fa fa-heart" (click)="toggleChoice()"></i></span>
				<i *ngIf="!choice.isFavorite" class="fa fa-heart-o" (click)="toggleChoice()"></i>
			</div>
		</ng-container>
		<ng-container *ngIf="choice.choiceStatus === 'Available' && !choice.enabled">
			<div class="phd-clickable">
				<i class="fa fa-ban" (click)="openBlockedChoiceModal()"></i>
			</div>
		</ng-container>
	</div>
	<div class="choice-label phd-clickable" (click)="viewChoiceDetail()">{{choice?.label}}</div>
	<ng-container *ngIf="!isPresale">
		<ng-container *ngIf='!choice.priceHiddenFromBuyerView'>
			<div class="choice-price">{{choice?.price | currency:'USD':'symbol':'0.0-0'}}</div>
		</ng-container>
		<ng-container *ngIf='choice.priceHiddenFromBuyerView' (click)="$event.stopPropagation()">
			<div class="phd-hidden-price">Pricing Varies
				<i class="fa fa-info-circle" (click)="openHiddenChoicePriceModal()"></i>
			</div>
		</ng-container>
	</ng-container>
</div>

<ng-template #blockedChoiceModal let-c="close" let-d="dismiss">
	<blocked-choice-modal
		[disabledByList]="disabledByList"
		[choiceLabel]="choice?.label"
		(closeModal)="onCloseClicked()"
		(blockedItemClick)="onBlockedItemClick($event)"
	></blocked-choice-modal>
</ng-template>

<ng-template #hiddenChoicePriceModal let-c="close" let-d="dismiss">
	<hidden-choice-price-modal
		(closeModal)="onCloseClicked()">
	</hidden-choice-price-modal>
</ng-template>
