<div class="phd-progress-bar">
	<phase-progress-bar
		[items]="(subNavItems$ | async)"
		[selectedItem]="(selectedSubNavItem$ | async)"
		(onItemSelected)="onSubNavItemSelected($event)"
		[showStatusIndicator]="(canConfigure$ | async) && showStatusIndicator">
	</phase-progress-bar>
</div>

<div class="phd-lite-experience">
	<router-outlet></router-outlet>
</div>

<action-bar [actionBarStatus]='(isLiteComplete$ | async) ? "COMPLETE" : "INCOMPLETE"'
			[primaryAction]='primaryAction'
			[canChange]="canConfigure$ | async"
			[price]="(priceBreakdown$ | async).totalPrice"
			(callToAction)="onCallToAction($event)">
</action-bar>

<ng-template #monotonyConflictModal>
	<monotony-conflict-modal
		[monotonyConflict]="monotonyConflict"
		(onNavigateToElevation)="navigateToElevation()"
		(onNavigateToColorScheme)="navigateToColorScheme()"
		(onNavigateToLot)="navigateToLot()"
	>
	</monotony-conflict-modal>
</ng-template>
