<nav>
	<h3 class="phd-visually-hidden">
		Side Navigation
	</h3>
	<ul class="phd-included-list">
		<ng-container *ngFor="let group of tree.groups; trackBy:groupTrackBy">
			<ng-container *ngFor="let subGroup of group.subGroups; trackBy:subGroupTrackBy">
				<a attr.href="{{ getSubGroupLabelId(subGroup) }}" [attr.aria-current]="currentSubGroupId === subGroup.id ? 'page' : null" (click)="$event.preventDefault(); onSubGroupClick(subGroup)">
					<li *ngIf="displaySubGroup(subGroup)" 
						[class.active]="currentSubGroupId === subGroup.id"
						class="d-flex flex-row phd-group-subgroup-title">
						<div class="phd-group-label" title="{{group.label}}">{{group.label | ellipsis: 40}}:</div>
						<div class="phd-subgroup-label" [class.active]="currentSubGroupId === subGroup.id" title="{{subGroup.label}}" [attr.id]="'included-decision-bar-sg-' + subGroup.id">{{subGroup.label | ellipsis: 40}}</div>
					</li>
				</a>
				
				<ng-container *ngFor="let point of subGroup.points; trackBy:pointTrackBy">
					<a attr.href="{{ getPointLabelId(point) }}" [attr.aria-current]="currentPointId === point.id ? 'page' : null" (click)="$event.preventDefault(); onDecisionPointClick(point)">
						<li *ngIf="displayDecisionPoint(point)"
							[class.active]="currentPointId === point.id"
							class="d-flex align-items-center justify-content-start"
							[@slideOut]>
							<div class="icon">
								<i class="fa fa-check" attr.aria-label="{{point.label + ' Completed'}}" *ngIf="point.completed"></i>
							</div>
							<div class="label" title="{{point.label}}" [attr.id]="'included-decision-bar-' + point.id">{{point.label | ellipsis: 40}}</div>
						</li>
					</a>
				</ng-container>
			</ng-container>
		</ng-container>
	</ul>
</nav>
