<div class="phd-table-container mx-2">
	<phd-table #dt [value]="filteredCommunityPdfs" sortMode="single" [sortField]="isSorting ? 'sortOrder' : 'linkText'" [nonOverflow]="false" canReorderRows="isSorting" (onRowReorder)="onRowReorder($event)">
		<phd-column header="Sort Order" field="sortOrder" width="150px">
			<ng-template #header *ngIf="!isSorting"></ng-template>
			<ng-template #body let-pdf *ngIf="!isSorting">
				<div class="phd-icon-container">
					<i *ngIf="canEdit" class="fa fa-fw fa-trash-o" title="Delete Pdf" (click)="deletePdf(pdf)"></i>
					<i *ngIf="canEdit" class="fa fa-pencil fa-fw" title="Edit Pdf" (click)="editPdf(pdf)"></i>
					<i class="fa fa-search-plus fa-fw" title="Preview Document" (click)="previewFile(pdf)"></i>
				</div>
			</ng-template>
			<ng-template #body let-pdf *ngIf="isSorting">
				<i class="fa fa-lg fa-bars reorder-icon move pr-3" pReorderableRowHandle isDragHandler="isSorting" draggable="true"></i>
				<span>{{ pdf.sortOrder }}</span>
			</ng-template>
		</phd-column>
		
		<phd-column header="Link Text" field="linkText">
			<ng-template #body let-pdf>
				<span>
					<ng-container *ngIf="pdf.linkText; let formattedValue">
						<span class="phd-pdf-span" (mouseenter)="showTooltip($event, formattedValue, dt)" (mouseleave)="hideTooltip(dt)">{{ formattedValue }}</span>
					</ng-container>
				</span>
			</ng-template>
		</phd-column>
		<phd-column header="File Name" field="fileName">
			<ng-template #body let-pdf>
				<span>
					<ng-container *ngIf="pdf.fileName; let formattedValue">
						<span class="phd-pdf-span" (mouseenter)="showTooltip($event, formattedValue, dt)" (mouseleave)="hideTooltip(dt)">{{ formattedValue }}</span>
					</ng-container>
				</span>
			</ng-template>
		</phd-column>
		<phd-column header="Description" field="description">
			<ng-template #body let-pdf>
				<span>
					<ng-container *ngIf="pdf.description; let formattedValue">
						<span class="phd-pdf-span" (mouseenter)="showTooltip($event, formattedValue, dt)" (mouseleave)="hideTooltip(dt)">{{ formattedValue }}</span>
					</ng-container>
				</span>
			</ng-template>
		</phd-column>
		<phd-column header="Effective Date" field="effectiveDate">
			<ng-template #body let-pdf>
				<div>
					<ng-container *ngIf="pdf.effectiveDate && pdf.effectiveDate | date:'L/dd/yyyy'; let formattedValue">
						<span class="phd-pdf-span" (mouseenter)="showTooltip($event, formattedValue, dt)" (mouseleave)="hideTooltip(dt)">{{ formattedValue }}</span>
					</ng-container>
				</div>
			</ng-template>
		</phd-column>
		<phd-column header="Expiration Date" field="expirationDate">
			<ng-template #body let-pdf>
				<span>
					<ng-container *ngIf="pdf.expirationDate | date:'L/dd/yyyy'; let formattedValue">
						<span class="phd-pdf-span" (mouseenter)="showTooltip($event, formattedValue, dt)" (mouseleave)="hideTooltip(dt)">{{ formattedValue }}</span>
					</ng-container>
				</span>
			</ng-template>
		</phd-column>
	</phd-table>
</div>