<page-header mainTitle="Build It" [subTitle]="subTitle"></page-header>

<pos-progress-bar (onViewAgreementInfo)="onViewAgreementInfo($event)" [salesAgreementId]="salesAgreement?.id" [isAgreementInfoViewed]="isAgreementInfoViewed$ | async" [isPeopleComplete]="isPeopleComplete$ | async" [isSalesInfoComplete]="isSalesInfoComplete$ | async"></pos-progress-bar>

<ng-container *ngIf="!isChangingOrder">
	<pos-header (toggleCollapse)="onToggleCollapse($event)" (showSalesConsultants)="onShowSalesConsultants()"></pos-header>
</ng-container>

<div class="point-of-sale-body ml-auto mr-auto">
	<router-outlet></router-outlet>
</div>

<action-bar
	[actionBarStatus]="!isChangingOrder ? (salesAgreementActionBarStatus$ | async) : (salesChangeOrderActionBarStatus$ | async)"
	[agreement]="salesAgreement$ | async"
	[price]="(priceBreakdown$ | async)?.totalPrice"
	[changePrice]="(priceBreakdown$ | async)?.changePrice"
	[inChangeOrder]="isChangingOrder"
	primaryAction='Get Signatures'
	(callToAction)="onCallToAction($event)"
	(onSaveNSO)="saveChangeNote($event)"
	[canChange]="(canSell$ | async) || (canDesign$ | async) ||(canAddIncentive$ | async) || (canCancelSalesAgreement$ | async)">
</action-bar>

<ng-template #pdfViewerFooterTemplate>
	<ng-container *ngIf="showPDFViewerFooter">
		<div class="d-flex justify-content-end phd-hpa-footer-info">
			<button type="button" class="btn btn-primary" (click)="eSign()" *ngIf="isAddenda && (canSelectAddenda$ | async) || (canSell$ | async)" [ngbTooltip]="tooltipTemplate" tooltipClass="phd-button-tooltip">e-Sign</button>
			<button type="button" class="btn btn-primary" (click)="print()" *ngIf="isAddenda && (canSelectAddenda$ | async) || (canSell$ | async)" [ngbTooltip]="tooltipTemplate" tooltipClass="phd-button-tooltip">Print</button>
			<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
		</div>
	</ng-container>
</ng-template>

<ng-template #tooltipTemplate >
	To lock in pricing, click Print for Wet Signatures or click e-Sign, then Click either <b>Send Now</b> or <b>Edit Before Sending</b> on the Distribution List Screen.
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
	<distribution-list 
		(close)="closeModal()" 
		(onEnvelopeSent)="envelopeSent($event)" 
		(onEnvelopeCancel)="envelopeCancelled($event)" 
		[currentEnvelopeID]="envelopeId">
	</distribution-list>
</ng-template>

<ng-template #cancelAgreement let-c="close" let-d="dismiss">
	<cancel-agreement [displaySaveAndView]="displaySaveAndView" [agreement]="salesAgreement" (close)="closeModal()"></cancel-agreement>
</ng-template>

<ng-template #salesConsultant let-c="close" let-d="dismiss">
	<sales-consultant [consultants]="salesAgreementConsultants$ | async" [salesAgreement]="salesAgreement" [canEdit]="canSell$ | async" (close)="closeModal()"></sales-consultant>
</ng-template>

<ng-template #voidAgreement let-c="close" let-d="dismiss">
	<void-agreement (close)="closeModal()"></void-agreement>
</ng-template>
