<li [class.active-link]="isActive" [class.disabled]="disabled">
	<a class="position-relative">
		<ng-template [ngIf]="template">
			<ng-container *ngTemplateOutlet="template"></ng-container>
		</ng-template>
		<ng-template [ngIf]="!template">{{label}}</ng-template>
		<ng-container *ngIf="showStatusIndicator">
			<status-indicator [pointStatus]="status" [isActive]="isActive"></status-indicator>
		</ng-container>
		<span *ngIf="isLockedIn" class="phd-lock-icon">
			<i class="fas fa-lock"></i>
		</span>
	</a>
</li>
