<div id="top" class="phd-container" *ngIf="selectedCategory">
	<div class="phd-category-header">
		<span class="phd-category">{{selectedCategory.name}}</span>
		<div class="phd-category-subtotal-container">
			<span class="phd-category-subtotal-label">Subtotal : </span>
			<span class="phd-category-subtotal-amount">{{categorySubTotal | currency}}</span>
		</div>
	</div>

	<div class="phd-options-grid">
		<ng-container *ngFor="let subCategory of selectedCategory.optionSubCategories">
			<span class="phd-sub-category">{{subCategory.name}}</span>
				<div *ngFor="let option of subCategory.planOptions" class="phd-grid-row">
					<ng-container *ngIf="option.isActive || option.previouslySelected">
						<div class="phd-row-fields">
							<div class="phd-selected-option form-check">
								<input
									type="checkbox"
									class="form-check-input"
									#optionCheckbox
									[checked]="option.isSelected"
									[disabled]="option.isReadonly || cannotEditAgreement || (option.isPastCutOff && !canOverride)"
									(click)="onSelectedOptionWasToggled($event, option)"
								 />
							</div>
							<div class="phd-lawson-name">
								<span ngbTooltip="{{option.description}}">{{option.financialOptionIntegrationKey}} : <span>{{option.name}}</span></span>
							</div>
							<span>Quantity:</span>
							<quantity-input 
								*ngIf="option.maxOrderQuantity > 1" 
								[min]="0" 
								[max]="option.maxOrderQuantity" 
								[(quantity)]="option.selectedQuantity" 
								(focusout)="saveSelectedOptionToStore(option)" 
								[canEditAgreement]="optionCheckbox.checked === true && !option.isReadonly && !cannotEditAgreement && !(option.isPastCutOff && !canOverride)" 
								class="phd-quantity"></quantity-input>
							<span *ngIf="option.maxOrderQuantity === 0 || option.maxOrderQuantity === 1" class="phd-quantity">(1)</span>
							<span class="phd-list-price"> {{option.listPrice | currency}} </span>
						</div>
						<div *ngIf="option.isPastCutOff && !canOverride" class="phd-row-note">
							<i class="fas fa-info-circle fa-sm"></i> Disabled Due to Cut-Off
						</div>
						<div *ngIf="option.isPastCutOff && canOverride" class="phd-row-note">
							<i class="fas fa-info-circle fa-sm"></i> Past Cut-Off
						</div>
						<div *ngIf="!option.isActive && option.previouslySelected" class="phd-row-note">
							<i class="fas fa-info-circle fa-sm"></i> Inactive
						</div>
						<hr class="phd-row-divider"/>
					</ng-container>
				</div>
		</ng-container>
	</div>
</div>
