<div class="modal-header">
	<span class="modal-title">Welcome!</span>
</div>
<div class="modal-body">
	<div>
		This site is to assist potential buyers with a general<br>
		understanding of options. Actual option selections<br>
		will be determined when buyer and seller execute<br>
		a Home Purchase Agreement.
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-primary modal-button"(click)="close('Got It')">
		<span class="modal-button">Got It!</span>
	</button>
</div>
