@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

.modal-header {
	background: var(--popup-ribbon-background-color) !important;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	color: white;
}

.modal-title {
	font-size: $modal-title-size;
}

.modal-body {
	text-align: center;
}

.phd-close-icon {
	margin-bottom: auto;
	margin-top: auto;
	cursor: pointer;
}

.modal-footer {
	justify-content: center;
}

.modal-button {
	width: 25%;
	text-align: center;

	span {
		font-size: $modal-button-text-size;
	}
}

.btn-primary {
	border-radius: 35px;
	background: var(--primary-button-color) !important;
	border-color: var(--primary-button-color) !important;
}

.phd-presale-message {
	font-size: 14px;
	.phd-presale-message-introduction {
		color: var(--primary-button-color);
		margin-bottom: 0px;
	}

	li {
		text-align: left;
		margin-bottom: 1rem;
	}

	.phd-presale-message-disclaimer {
		font-size: 11px;
	}
}