<header>
	<mat-sidenav-container position="start">
		<mat-sidenav fixedInViewport hasBackdrop #sidenav mode="over" class="phd-hamburger-menu">
			<nav>
				<h1 class="phd-visually-hidden">
					Navigation
				</h1>
				<li class="d-flex flex-row-reverse" (click)="sidenav.toggle()">
					<mat-icon>close</mat-icon>
				</li>
				<hr/>
				<li class="phd-hamburger-menu-item d-flex">
					<mat-icon>checklist</mat-icon>
					<a id="viewOptionsLink" class="pl-2">
						View Options
					</a>
					<mat-icon>add</mat-icon>
				</li>
				<li class="phd-hamburger-menu-item d-flex">
					<mat-icon>favorite</mat-icon>
					<a id="myFavoritesLink" class="pl-2">
						My Favorites
					</a>
				</li>
				<li class="phd-hamburger-menu-item d-flex">
					<mat-icon>collections_bookmark</mat-icon>
					<a id="resourcesLink" class="pl-2">
						Resources
					</a>
					<mat-icon>add</mat-icon>
				</li>
				<hr/>
				<li class="phd-hamburger-menu-item d-flex">
					<a id="termsOfUseLink">Terms of Use</a>
				</li>
				<li class="phd-hamburger-menu-item d-flex">
					<a id="privacyPolicyLink">Privacy Policy</a>
				</li>
				<li class="phd-hamburger-menu-item d-flex">
					<a id="disclaimerLink">Disclaimer</a>
				</li>
			</nav>
		</mat-sidenav>
		<mat-sidenav-content>
			<nav class="phd-global-header d-flex align-items-center">
				<div class="phd-global-header-image d-flex justify-content-center">
					<a href="" class="phd-clickable">
						<img id="homeLogo" class="phd-brand-logo" [src]="getImageSrc()" alt="">
					</a>
				</div>
				<div class="phd-global-header-title d-flex">
					<h1 class="my-auto mat-headline-1">Design Preview</h1>
				</div>
				<div class="phd-hamburger-menu-icon d-flex justify-content-end">
					<button class="d-flex" mat-icon-button (click)="sidenav.toggle()" aria-label="">
						<mat-icon>menu</mat-icon>
					</button>
				</div>
			</nav>
		</mat-sidenav-content>
	</mat-sidenav-container>
</header>
<main>
	<router-outlet></router-outlet>
</main>
<footer>
	<!-- TODO: WI | 400656 Will Create a Global Footer Component -->
</footer>
