<mat-drawer-container hasBackdrop  [ngClass]="isSummaryPage ? '' : 'vh-100'">
	<mat-drawer mode="over" fixedInViewport #drawer class="phd-hamburger-menu">
		<hamburger-menu (closeClicked)="drawer.close()"></hamburger-menu>
	</mat-drawer>
	<mat-drawer-content>
		<header>
			<global-header (hamburgerClicked)="drawer.toggle()"></global-header>
		</header>
		<main>
			<router-outlet></router-outlet>
		</main>
		<footer>
			<global-footer *ngIf="showFooter"></global-footer>
		</footer>
	</mat-drawer-content>
</mat-drawer-container>
