hr {
	border-top: 2px solid #676767;
}

.phd-global-header {
	height: 6%;
}

.phd-global-header-image {
	width: 16.67%;
}

.phd-global-header-title {
	font-weight: bold;
	width: 66.66%;
}

.phd-hamburger-menu {
	background: #ffffff 0% 0% no-repeat padding-box;
	width: 90%;
	padding: 5%;
}

.phd-hamburger-menu-icon {
	width: 16.67%;
}

.phd-hamburger-menu-item {
	font-weight: bold;
	padding: 16px 0;

	a {
		flex: auto;
	}
}

.phd-brand-logo {
	height: 25.73px;
}
