<div class="d-flex flex-row mx-2 table-container">
	<table class="table table-sm table-striped phd-table-fixed" *ngIf="!treeService.treeVersionIsLoading && treeVersion">
		<thead>
			<tr>
				<th scope="col">Label</th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-icon-col"></th>
				<th scope="col" class="phd-text-col">Pick Type</th>
				<th scope="col" class="phd-text-col">Cut-Off</th>
				<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let group of treeVersion.groups">
				<tr class="row-group" *ngIf="group.matched">
					<td scope="row">
						<i class="fa fa-fw" [class.fa-chevron-up]="group.open" [class.fa-chevron-down]="!group.open" (click)="group.open = !group.open"></i>
						<span>{{group.label}}</span>
					</td>
					<td class="phd-icon-col"></td>
					<td class="phd-icon-col"></td>
					<td class="phd-icon-col"></td>
					<td class="phd-icon-col"></td>
					<td class="phd-icon-col"></td>
					<td class="phd-icon-col"></td>
					<td class="phd-icon-col"></td>
					<td class="phd-icon-col"></td>
					<td class="phd-text-col"></td>
					<td class="phd-text-col"></td>
					<td></td>
				</tr>

				<ng-container *ngFor="let subGroup of group.subGroups">
					<tr class="row-subgroup" *ngIf="group.open && subGroup.matched">
						<td scope="row">
							<i class="fa fa-fw" [class.fa-chevron-up]="subGroup.open" [class.fa-chevron-down]="!subGroup.open" (click)="subGroup.open = !subGroup.open"></i>
							<span>{{subGroup.label}}</span>
						</td>

						<td class="phd-icon-col">
							<i class="fa fa-fw fa-plus-square" *ngIf="!lockedFromChanges && canAddFromDivCatalog(subGroup.hasUnusedPoints)" title="Add Decision Point" (click)="addPointsClick(subGroup)"></i>
						</td>

						<td class="phd-icon-col"></td>

						<!-- add ng if subgroup == floorplan add toggle button -->
						<td class="phd-interactive-floor" *ngIf="subGroup.isFloorplanSubgroup;else icons" colspan="5">
							<button class="btn btn-sm btn-toggle btn-floorplan" [ngClass]="{'active': !subGroup.useInteractiveFloorplan, 'btn-success':  subGroup.useInteractiveFloorplan, 'btn-secondary': !subGroup.useInteractiveFloorplan, 'disabled': isReadOnly }" (click)="toggleInteractiveFloorplan(subGroup)">
								<div class="handle"></div>
							</button>
						</td>

						<ng-template #icons>
							<td class="phd-icon-col"></td>
							<td class="phd-icon-col"></td>
							<td class="phd-icon-col"></td>
							<td class="phd-icon-col"></td>
							<td class="phd-icon-col"></td>
							<td class="phd-icon-col"></td>
						</ng-template>

						<td class="phd-text-col"></td>
						<td class="phd-text-col"></td>
						<td></td>
					</tr>

					<ng-container *ngFor="let point of subGroup.points">
						<tr [attr.id]="'point_' + point.id.toString()" class="row-point phd-drag-drop" [class.phd-tr-error]="point.choices.length === 0" *ngIf="subGroup.open && group.open && point.matched" [dragSource]="getDragItem(point)" scrollElement=".phd-table-fixed tbody" [dragEnabled]="dragEnable" targetsSelector=".phd-drag-drop" dragTarget (handledrop)="handleDrop($event, point)" (handledragenter)="handleDragEnter($event, point)" (handledragstart)="handleDragStart($event, point)">
							<td scope="row">
								<i class="fa fa-fw" [class.fa-chevron-up]="point.open" [class.fa-chevron-down]="!point.open" (click)="point.open = !point.open"></i>
								<span *ngIf="lockedFromChanges">{{point.label}}</span>
								<a (click)="onPointSelect($event, point)" *ngIf="!lockedFromChanges">
									<span>{{point.label}}</span>
								</a>
							</td>
							<td class="phd-icon-col">
								<i class="fa fa-fw fa-plus-square" *ngIf="!lockedFromChanges && canAddFromDivCatalog(point.hasUnusedChoices)" title="Add Choice" (click)="addChoicesClick(point)"></i>
							</td>
							<td class="phd-icon-col">
								<span title="Delete Decision Point" *ngIf="!lockedFromChanges">
									<i class="fa fa-fw fa-trash-o" *ngIf="!isReadOnly" (click)="deletePointClick(point)"></i>
								</span>
							</td>
							<td class="phd-icon-col">
								<i class="fa fa-fw fa-newspaper-o" *ngIf="!lockedFromChanges && (point.hasPointToPointRules || point.hasPointToChoiceRules)" (click)="onShowPointDetailsClick(point, 'pointRules')" title="Rules"></i>
							</td>
							<td class="phd-icon-col">
								<span class="fa-stack phd-fa-quick-quote-grid" *ngIf="point.isQuickQuoteItem" title="Quick Quote">
									<i class="fa fa-comment-o"></i>
									<strong class="fa-stack-1x">QQ</strong>
								</span>
							</td>
							<td class="phd-icon-col"></td>
							<td class="phd-icon-col">
								<i class="fa fa-gavel" aria-hidden="true" *ngIf="point.isStructuralItem" title="Sales"></i>
							</td>
							<td class="phd-icon-col"></td>
							<td class="phd-icon-col"></td>
							<td class="phd-text-col">{{point.pointPickTypeLabel}}</td>
							<td class="phd-text-col">{{ point.cutOff }}</td>
							<td>{{point.description}}</td>
						</tr>
						<ng-container *ngFor="let choice of point.choices">
							<tr class="row-choice phd-drag-drop" *ngIf="point.open && subGroup.open && group.open && choice.matched" [dragSource]="getDragItem(choice)" scrollElement=".phd-table-fixed tbody" [dragEnabled]="dragEnable" targetsSelector=".phd-drag-drop" dragTarget (handledrop)="handleDrop($event, choice)" (handledragenter)="handleDragEnter($event, choice)" (handledragstart)="handleDragStart($event, choice)">
								<td scope="row">
									<span *ngIf="lockedFromChanges">{{choice.label}}</span>
									<a (click)="onChoiceSelect($event, choice)" *ngIf="!lockedFromChanges">
										<span>{{choice.label}}</span>
									</a>
								</td>
								<td class="phd-icon-col"></td>
								<td class="phd-icon-col">
									<span title="Delete Choice" *ngIf="!lockedFromChanges">
										<i class="fa fa-fw fa-trash-o" *ngIf="!isReadOnly" (click)="deleteChoiceClick(choice)"></i>
									</span>
								</td>
								<td class="phd-icon-col">
									<i class="fa fa-fw fa-newspaper-o" *ngIf="!lockedFromChanges && choice.hasChoiceRules" (click)="onShowChoiceDetailsClick(choice, 'rules')" title="Choice Rules"></i>
								</td>
								<td class="phd-icon-col">
									<i class="fa fa-fw fa-list-alt" *ngIf="!lockedFromChanges && choice.hasOptionRules" (click)="onShowChoiceDetailsClick(choice, 'options')" title="Option Mapping"></i>
								</td>
								<td class="phd-icon-col">
									<div *ngIf="!lockedFromChanges" class="phd-divisional-tree-group-container" (click)="onShowChoiceDetailsClick(choice, 'attributes')" title="Attributes">
										<i class="fa fa-fw fa-tree" [hidden]="!(choice.hasAttributes || choice.hasLocations)"></i>
										<i class="fa fa-fw fa-magic" [hidden]="!(choice.hasAttributes || choice.hasDivCatalogChoiceAttributes || choice.hasLocations || choice.hasDivCatalogChoiceLocations)"></i>
									</div>
								</td>
								<td class="phd-icon-col">
									<i class="fa fa-fw fa-check-square" *ngIf="choice.isDecisionDefault" title="Default"></i>
								</td>
								<td class="phd-icon-col">
									<i class="fa fa-fw fa-unlink phd-default-pointer" *ngIf="choice.hasImage" title="Images are maintained at the tree level"></i>
								</td>
								<td class="phd-icon-col">
									<i class="fa fa-fw fa-image" *ngIf="!lockedFromChanges && (choice.hasDivCatalogChoiceImages || choice.hasImage)" (click)="onShowChoiceDetailsClick(choice, 'images')" title="Images"></i>
								</td>
								<td class="phd-text-col"></td>
								<td class="phd-text-col"></td>
								<td></td>
							</tr>
						</ng-container>
					</ng-container>
				</ng-container>
			</ng-container>
		</tbody>
	</table>
</div>
