@import "../../../../../../phd-common/src/lib/scss/color-pallet.scss";

.phd-fav-container {
    padding: 10px 0;
    position: relative;
}

.phd-fav-sub-wrapper {
    padding: 5px 16px;
}

.phd-fav-title,
h1 {
    font-weight: bold;
    font-size: large;
}

.phd-fav-print-icon {
    background-color: transparent;
    border: 0;
}

.phd-fav-desc {
    padding: 5px 0;
    font-weight: 600;
}

.phd-fav-pending-option {
    font-weight: 600;
    padding: 5px 0;
}

.phd-fav-checkbox {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

label{
    margin-bottom: 0;
}

.phd-fav-price-sum-row {
    font-weight: 600;
}

.phd-fav-link-button {
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    padding: 5px 0;
}

.phd-fav-text-end {
    text-align: end !important;
}

.phd-fav-group {
    font-weight: bold;
    border: 1px solid;
    padding: 8px 16px;
}

.phd-fav-subtotal {
    font-weight: 600;
}

.phd-fav-group-content {
    padding-left: 5px;
}

.phd-fav-subgroup {
    font-weight: bold;
}

.phd-fav-review {
    font-weight: 600;
    padding: 25px 10px;
    text-align: center;
}

.phd-fav-sticky {
    margin: 0;
    padding: 10px 0 0 0;
    top: 0;
    position: fixed;
    box-shadow: 0 1px 4px 0px $mid-gray;
    width: 100%;
    z-index: 100;
    background-color: white !important;
    transition: top 0.3s ease-in-out;
}

.phd-info-icon {
    margin: 0 10px;
    padding: 0;
    font-size: 16px;
    width: 16px;
    height: 16px;
}