
<div class="phd-summary container-fluid d-flex flex-column px-0 py-2">
	<!-- sticky header section -->
	<div #stickyHeader class="phd-sticky-header d-flex justify-content-between align-items-center phd-fav-title px-3 pt-2">
		<h1>{{summaryTitle}}</h1>
		<button class="phd-fav-print-icon" [disabled]="isEmptyFavorites" aria-label="Print">
		<mat-icon (click)="onPrint()">print</mat-icon></button>
	</div>

	<!-- header section -->
	<div class="d-flex flex-column">
		<span class="phd-options-disclaimer px-3 py-1">
			{{optionDisclaimerText}}
		</span>

		<plan-summary class="px-3 py-2"></plan-summary>

		<!-- only show when buyer or buyerpreview without designcompleted -->
		<pending-and-contracted-toggle *ngIf="showPendingAndContractedToggle" class="p-1"></pending-and-contracted-toggle>
	</div>  

	<!-- price section -->
	<header *ngIf="!isPresale || isPresalePricingEnabled" class="phd-fav-price-section p-3" >
		<div class="d-flex justify-content-between" *ngIf="showDetailPrice">
			<span>{{ isPresalePricingEnabled ? 'Estimated Base Price:' : 'Base Price:' }}</span>
			<span>{{priceBreakdown?.baseHouse | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="!isPresale && showDetailPrice">
			<span>Lot Premium:</span>
			<span>{{priceBreakdown?.homesite | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="hasAgreement && showDetailPrice">
			<span>{{isDesignComplete ? 'Options Total:' : 'Pending & Contracted Options:'}}</span>
			<span>{{priceBreakdown?.selections | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown?.salesProgram && showDetailPrice">
			<span>Sales Incentive:</span>
			<span>({{priceBreakdown.salesProgram | currency:'USD':'symbol':'0.0-0'}})</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown.priceAdjustments && !isPresale && showDetailPrice">
			<span>Price Adjustments:</span>
			<span>{{priceBreakdown?.priceAdjustments | currency:'USD':'symbol':'0.0-0' | minusSignToParens}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown.nonStandardSelections && !isPresale && showDetailPrice">
			<span>Non-Standard Options:</span>
			<span>{{priceBreakdown?.nonStandardSelections | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between phd-fav-price-sum-row" *ngIf="!isDesignComplete">
			<span class="phd-breakdown-label">Estimated Favorites Total:</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.favoritesPrice | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between phd-fav-price-sum-row">               
			<span>{{ getTotalPriceLabel() }}</span>
			<span class="d-flex align-items-center"><mat-icon class="phd-tooltip-icon phd-icon-accent">info_outline</mat-icon>{{priceBreakdown?.totalPrice | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown.closingIncentive && !isPresale && showDetailPrice">
			<span>Closing Cost Incentive:</span>
			<span>{{(priceBreakdown?.closingIncentive + priceBreakdown.closingCostAdjustment) | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		
		<button class="phd-fav-link-button p-0" (click)="togglePriceDisplay();">See {{ showDetailPrice? 'Less' : 'More'}}</button>
	</header>

	<!-- group section -->
	<ng-container *ngIf="groups?.length && (!isEmptyFavorites || includeContractedOptions)">
		<!-- expand/collapse all links -->
		<div class="phd-fav-text-end phd-show-in-print phd-sticky-content px-3 py-2" [ngStyle]="{ top: stickyHeaderOffset + 'px' }" data-testid="expand-collapse-button">
			<button class="phd-fav-link-button" *ngIf="!groupExpanded" mat-button (click)="accordion.openAll();groupExpanded = true;">Expand All</button>
			<button class="phd-fav-link-button" *ngIf="groupExpanded" mat-button (click)="accordion.closeAll();groupExpanded = false;">Collapse All</button>
		</div>
			
		<!-- Group/Subgroup/Summary Row -->
		<div class="mat-accordion-container">
			<mat-accordion multi>   
				<ng-container *ngFor="let group of groups">
					<div role="group" attr.aria-label="{{group.label}}" *ngIf="group.subGroups?.length > 0">  
						<mat-expansion-panel class="phd-remove-mat-expansion-panel-padding" expanded>
							<mat-expansion-panel-header class="phd-fav-group">
								<mat-panel-title class="d-flex justify-content-between">
										{{group?.label}}
										<span class="phd-fav-subtotal" *ngIf="!isPresale || isPresalePricingEnabled">
											Subtotal : {{group?.price | currency:'USD':'symbol':'0.0-0'}}                                
										</span>
								</mat-panel-title>  
							</mat-expansion-panel-header> 
							
							<ng-container
								*ngFor="let subGroup of group.subGroups; last as isLast">
								<div role="group" attr.aria-label="{{subGroup.label}}">
									<div class="phd-fav-subgroup my-3">
										{{subGroup.label}}
									</div>
									<ng-container *ngIf="displaySubGroupPoints(subGroup); else no_selections">
										<ng-container *ngFor="let dp of subGroup.points">
											<div *ngIf="displayPoint(dp)">
												<summary-row 
													[decisionPoint]="dp"
													[subGroup]="subGroup"
													[group]="group"
													[contractedOptionsPage]="false">
												</summary-row>
											</div>
										</ng-container>
									</ng-container>
									<ng-template #no_selections>
										<div class="d-flex flex-column phd-fav-subgroup text-center pb-3">
											No Selections For {{subGroup.label}}
											<a [routerLink]="['/options', subGroup.id, subGroup.points[0].id]" queryParamsHandling="merge" class="phd-accent-text">View Options</a>
										</div>
									</ng-template>
								</div>
								<hr class="phd-subgroup-divider" *ngIf="!isLast" />
							</ng-container>
						</mat-expansion-panel>
					</div>
				</ng-container>
				<!-- floorplan section -->
				<mat-expansion-panel *ngIf="visibleFP" class="phd-remove-mat-expansion-panel-padding" expanded data-testid="floorplan-expansion-panel">
					<mat-expansion-panel-header class="phd-fav-group">
						<mat-panel-title class="d-flex justify-content-between" data-testid="panel-title">
							Floorplan Image
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div class="phd-floorplan-disclaimer py-3" data-testid="floorplan-disclaimer">
						{{floorplanDisclaimerText}}</div>
					<floorplan-image-tabs showExpandImageIcons="true" showImageContainerBorder="true" imageHeight="200px" data-testid="floorplan-image-tabs"></floorplan-image-tabs>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</ng-container>

	<!-- no group section -->         
	<div class="d-flex flex-column justify-content-center align-items-center p-3" *ngIf="isEmptyFavorites && !includeContractedOptions">
        <div class="phd-fav-title">You don't yet have any favorites!</div>

        <view-options-link [isPresale]="isPresale" class="phd-fav-review"></view-options-link>
    
        <button *ngIf="showPendingAndContractedToggle" class="py-3 phd-fav-link-button" (click)="onContractedOptionsToggled($event)">{{showOptionText}}</button>
    </div>

	<!-- bottom disclaimer -->
	<span class="phd-fav-disclaimer px-3">
		{{disclaimerText}}
	</span>
</div> 
