
<div class="phd-fav-container">

    <!-- sticky header section -->
    <div class="phd-fav-sticky phd-hide-in-print" *ngIf="isSticky">
        <!---- sticky header title -->
        <div class="d-flex justify-content-between phd-fav-title phd-fav-sub-wrapper" >
            <h1>{{this.summaryTitle}}</h1>
            <button class="phd-fav-print-icon" [disabled]="isEmptyFavorites" aria-label="Print">
            <mat-icon (click)="onPrint()">print</mat-icon></button>          
        </div>
        <!---- sticky header expand/colapes all links -->
        <div class="phd-fav-text-end phd-fav-sub-wrapper" *ngIf="groups?.length > 0">
            <button class="phd-fav-link-button" *ngIf="!groupExpended" mat-button (click)="accordion.openAll();groupExpended = true;">Expand All</button>
            <button class="phd-fav-link-button" *ngIf="groupExpended" mat-button (click)="accordion.closeAll();groupExpended = false;">Collapse All</button>
        </div>
    </div>

    <!-- header section -->
    <div class="d-flex flex-column phd-fav-sub-wrapper">
        <div class="d-flex justify-content-between phd-fav-title">
            <h1>{{this.summaryTitle}}</h1>
            <button class="phd-fav-print-icon" [disabled]="isEmptyFavorites" aria-label="Print">
            <mat-icon (click)="onPrint()">print</mat-icon></button>
        </div>

        <div class="phd-fav-disclaimer">
            {{optionDisclaimerText}}
        </div>

        <div class="phd-fav-desc">
            {{this.communityName}} <br>
            {{this.planName}}<BR>
            <span *ngIf="this.lotAddress">{{this.lotAddress}}</span>
        </div>

        <!-- only show when buyer or buyerpreview without designcompleted -->
        <div class="d-flex align-items-center phd-fav-pending-option" *ngIf="this.hasAgreement && !isDesignComplete">
            <input class="phd-fav-checkbox" type="checkbox" [checked]="includeContractedOptions" id="chkHasContract" name="chkHasContract" (change)="onContractedOptionsToggled($event)">
            <label for="chkHasContract">{{showOptionText}}</label>
            <mat-icon class="phd-info-icon">info_outline</mat-icon>
        </div>
    </div>  

    <!-- price section -->
    <header *ngIf="!isPresale || isPresalePricingEnabled" class="phd-fav-price-section phd-fav-sub-wrapper" >
            <div class="d-flex justify-content-between" *ngIf="showDetailPrice">
                <span>{{ isPresalePricingEnabled ? 'Estimated Base Price:' : 'Base Price:' }}</span>
                <span>{{priceBreakdown?.baseHouse | currency:'USD':'symbol':'0.0-0'}}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="!isPresale && showDetailPrice">
                <span>Lot Premium:</span>
                <span>{{priceBreakdown?.homesite | currency:'USD':'symbol':'0.0-0'}}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="hasAgreement && showDetailPrice">
                <span>{{isDesignComplete ? 'Options Total:' : 'Pending & Contracted Options:'}}</span>
                <span>{{priceBreakdown?.selections | currency:'USD':'symbol':'0.0-0'}}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="priceBreakdown.salesProgram && showDetailPrice">
                <span>Sales Incentive:</span>
                <span>({{priceBreakdown?.salesProgram | currency:'USD':'symbol':'0.0-0'}})</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="priceBreakdown.priceAdjustments && !isPresale && showDetailPrice">
                <span>Price Adjustments:</span>
                <span>{{priceBreakdown?.priceAdjustments | currency:'USD':'symbol':'0.0-0' | minusSignToParens}}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="priceBreakdown.nonStandardSelections && !isPresale && showDetailPrice">
                <span>Non-Standard Options:</span>
                <span>{{priceBreakdown?.nonStandardSelections | currency:'USD':'symbol':'0.0-0'}}</span>
            </div>
            <div class="d-flex justify-content-between phd-fav-price-sum-row" *ngIf="!isDesignComplete">
                <span class="phd-breakdown-label">Estimated Favorites Total:</span>
                <span class="phd-breakdown-content">{{priceBreakdown?.favoritesPrice | currency:'USD':'symbol':'0.0-0'}}</span>
            </div>
            <div class="d-flex justify-content-between phd-fav-price-sum-row">               
                <span>{{ getTotalPriceLabel() }}</span>
                <span class="d-flex align-items-center"><mat-icon class="phd-info-icon">info_outline</mat-icon>{{priceBreakdown?.totalPrice | currency:'USD':'symbol':'0.0-0'}}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="priceBreakdown.closingIncentive && !isPresale && showDetailPrice">
                <span>Closing Cost Incentive:</span>
                <span>{{(priceBreakdown?.closingIncentive + priceBreakdown.closingCostAdjustment) | currency:'USD':'symbol':'0.0-0'}}</span>
            </div>
            
            <button class="phd-fav-link-button" (click)="togglePriceDisplay();">See {{ showDetailPrice? 'Less' : 'More'}}</button>
    </header>

    <!-- group section -->
    <ng-container *ngIf="groups?.length > 0">
        <!---- expand/colapes all links -->
        <div class="phd-fav-text-end phd-fav-sub-wrapper phd-show-in-print" [ngClass]="{'phd-hide': isSticky}">
            <button class="phd-fav-link-button" *ngIf="!groupExpended" mat-button (click)="accordion.openAll();groupExpended = true;">Expand All</button>
            <button class="phd-fav-link-button" *ngIf="groupExpended" mat-button (click)="accordion.closeAll();groupExpended = false;">Collapse All</button>
        </div>
            
        <!---- Group/Subgroup/Summary Row -->
        <mat-accordion multi>   
        <ng-container *ngFor="let group of groups">
            <div role="group" attr.aria-label="{{group.label}}" *ngIf="group.subGroups?.length > 0">  
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="phd-fav-group">
                        <mat-panel-title class="d-flex justify-content-between phd-fav-test">
                                {{group?.label}}
                                <span class="phd-fav-subtotal" *ngIf="!isPresale || isPresalePricingEnabled">
                                    Subtotal : {{group?.price | currency:'USD':'symbol':'0.0-0'}}                                
                                </span>
                        </mat-panel-title>  
                    </mat-expansion-panel-header> 
                    
                    <div  class="phd-fav-group-content">
                        TODO: Placeholder below for Subgroups/summary
                        <ng-container
                            *ngFor="let subGroup of group.subGroups">
                            <div role="group" attr.aria-label="{{subGroup.label}}">
                                <div class="phd-fav-subgroup">
                                    {{subGroup.label}}
                                </div>
                                <ng-container *ngFor="let dp of subGroup.points">
                                    <div *ngIf="displayPoint(dp)">
                                    <summary-row
                                    [decisionPoint]="dp"
                                    [subGroup]="subGroup"
                                    [group]="group"
                                    [contractedOptionsPage]="false"
                                    >
                                    </summary-row>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>                   
                    </div>

                </mat-expansion-panel>

            </div>
        </ng-container>
            
        </mat-accordion>
    </ng-container>

    <!-- no group section -->         
    <div class="d-flex flex-column justify-content-center align-items-center phd-fav-nofav" *ngIf="isEmptyFavorites && !includeContractedOptions">
        <div class="phd-fav-title">You don't yet have any favorites!</div>

        <view-options-link [isPresale]="isPresale" class="phd-fav-review"></view-options-link>
    
        <button *ngIf="this.hasAgreement && !isDesignComplete" class="py-4 phd-fav-link-button" (click)="onContractedOptionsToggled($event)">{{showOptionText}}</button>
    </div>

    <!-- floorplan section -->

    <!-- bottom disclaimer -->
    <div class="phd-fav-sub-wrapper">
         <span class="phd-fav-disclaimer">{{disclaimerText}}</span>
    </div>

</div> 
 
