.box-background {
	background-color: #D5D5D5;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	margin-bottom:50px;
	display: flex;
	flex-direction: row;
}

.box{
	text-align: center;
	padding: 10px;
}

.line{
	text-align: center;
	padding: 10px;
}
