<div class ="phd-page-container">
	<div class="pdh-page-body">
		<div class="container-fluid mx-auto">
			<div class="box-background">
				<div class="box">
					<div class="line">
						<div class="font-weight-bold">THO ECOE date for Dirt Sale:</div>
					</div>
					<div class="line">
						<label class="font-weight-bold">Purchase Date +</label>
						&nbsp;
						<select name="months" id="months">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
						&nbsp;
						<label class="font-weight-bold">Months</label>
					</div>
				</div>
			</div>
			<div class="box-background">
				<div class="box">
					<div class="font-weight-bold">Set THO Earnest Money amount here:</div>
					<div class="form-group">
						<label class="font-weight-bold">$</label>
						<input name="earnest-money" id="earnest-money" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

