.box-background {
	background-color: #D5D5D5;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	margin-top:0;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
}

.box{
	text-align: center;
	padding: 10px;
}
