.box {
	padding: 4px;
	margin-left: 20;
	margin-right: 20;
}

.box-background {
	padding: 4px;
	margin: 50px auto;
	background-color: #D5D5D5;
	border-style: solid;
	border-width: 1px;
	border-color: black;
  }
