.phd-image-card-footer-option-image {
	display: flex;
}

	.phd-image-card-footer-option-image span {
		flex: 1;
		padding-top: 3px;
	}

	.phd-image-card-footer-option-image p-checkbox {
		margin-top: 2px;
	}

.phd-spinner-inline-center {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 15px;
}

.phd-option-image-header {
	font-weight: bold;
}
