<div class="phd-option-image-header">Option Images</div>
<div class="row div-tab-panel">
	<image-card *ngFor="let image of images" showFooter="true"
				[bodyTemplate]="cardbody" [footerTemplate]="cardfooter">

		<ng-template #cardbody>
			<cl-image public-id="{{image.imageUrl}}" type="fetch" gravity="auto" crop="fill" width="155" height="100" (onError)="onLoadImageError($event)"></cl-image>
		</ng-template>

		<ng-template #cardfooter>
			<div class="phd-image-card-footer-option-image">
				<span>{{image.imageUrl | imageUrlToAssetId}}</span>
				<p-checkbox [ngModel]="isImageSelected(image)" (ngModelChange)="setImageSelected(image, $event)" [binary]="true" [disabled]="isReadOnly || isSaving"></p-checkbox>
			</div>
		</ng-template>
	</image-card>
</div>
<div class="d-flex justify-content-end phd-div-button-panel" *requiresClaim="'CatalogImages'; permission: Permission.Edit; market: marketKey">
	<div class="phd-spinner-inline-center"><i class="fa fa-spinner fa-spin" *ngIf="isSaving"></i></div>
	<image-search (getImages)="onGetImages($event)" [isSaving]="isReadOnly || isSaving" buttonText="Add Image(s)" buttonClass="btn btn-primary phd-btn-add phd-btn-left"></image-search>
	<button  class="btn btn-primary phd-btn-remove phd-btn-left" *ngIf="images.length" (click)="onRemoveImages()" [disabled]="isReadOnly || saveDisabled">Remove Image(s)</button>
	<button class="btn btn-primary" *ngIf="images.length" [disabled]="isReadOnly || !this.selectedImages.length" (click)="onAssociateCommunities()">Associate Communities</button>
</div>
