<div class="phd-desktop">
<header [ngClass]="(isPresale && !isPresalePricingEnabled) ? 'phd-summary-header-presale' : ''" class="phd-summary-header" [class.is-sticky]="isSticky">

	<ng-container *ngIf="(isPresale && !isPresalePricingEnabled) || (!isPresale || isPresalePricingEnabled)">
		<div class="phd-elevation-block phd-hide-in-print" [class.phd-hidden-from-view]="((!isPresale || isPresalePricingEnabled) && isSticky)">
			<image [imageUrl]="summaryHeader.elevationImageUrl" [defaultImage]="defaultImage" crop="fill" [transformations]="imageTransformations" alt=""
				   [class.phd-presale-elevation-image]="isPresale && !isPresalePricingEnabled && summaryHeader.elevationImageUrl"
				   [class.phd-postsale-elevation-image]="summaryHeader.elevationImageUrl && (!isPresale || isPresalePricingEnabled) && !isSticky"
				   [class.phd-logo-image-sticky]="!summaryHeader.elevationImageUrl && isPresale && !isPresalePricingEnabled"
				   [class.phd-logo-image]="!summaryHeader.elevationImageUrl && !isSticky">
			</image>
		</div>
	</ng-container>

	<div class="phd-hidden-from-view phd-show-in-print">
		<image [imageUrl]="summaryHeader.elevationImageUrl" [defaultImage]="defaultImage" crop="fill" alt=""
			   [class.phd-printable-image]="summaryHeader.elevationImageUrl"
			   [class.phd-hide-in-print]="!summaryHeader.elevationImageUrl"
			   [class.phd-logo-image]="!summaryHeader.elevationImageUrl">
		</image>
	</div>

	<div class="phd-header-body">
		<div class="phd-upper-header" [ngClass]="{ 'phd-print-description': (isPresale && !isPresalePricingEnabled) }">
			<div class="phd-name-group">
				<h1 id="favoritesListName" class="phd-favorites-list phd-favorites-list-on-print">{{headerTitle}}</h1>
				<div [ngClass]="{'phd-name-group-presale': (isPresale && !isPresalePricingEnabled)}">
					<span class="phd-lot-label phd-lot-label-on-print">{{summaryHeader.communityName + (!isPresale ? ',' : '')}}</span>
					<span *ngIf="!isPresalePricingEnabled" class="phd-lot-details phd-lot-details-on-print" [ngStyle]="{'margin-left': isPresale ? '0px' : '10px'}">{{getPlanName()}}</span>
				</div>
				<ng-container *ngIf="!isPresale || isPresalePricingEnabled">
					<span *ngIf="isPresale && isPresalePricingEnabled" class="phd-lot-details phd-lot-details-on-print" [ngStyle]="{'margin-left': (isPresale) ? '0px' : '10px'}">{{getPlanName()}}</span>
					<span *ngIf="!isPresale" class="phd-lot-label phd-lot-label-on-print">LOT </span>
					<span *ngIf="!isPresale" class="phd-lot-label phd-lot-label-on-print">{{summaryHeader.lot?.lotBlock}}, </span>
					<span *ngIf="!isPresale" class="phd-lot-details phd-lot-details-on-print">{{address}}</span>
				</ng-container>
			</div>
			<div *ngIf="isPresale && !isPresalePricingEnabled && !isSticky" class="phd-vertical-divider phd-hide-in-print"></div>
			<div *ngIf="isPresale && !isPresalePricingEnabled && !isSticky" class="phd-print-description-items phd-hide-in-print">
				<button aria-label="Print"><i class="fa fa-solid fa-print fa-3x phd-clickable" (click)="onPrint()"></i></button>
				<span class="phd-print-text">Print or save a copy of your favorite options to share. Your selections will not be saved when this window is closed.</span>
			</div>
		</div>
		<div *ngIf="!isSticky && (!isPresale || isPresalePricingEnabled)" class="phd-divider phd-hide-in-print"></div>
		<ul *ngIf="!isSticky && (!isPresale || isPresalePricingEnabled)" class="phd-price-breakdown phd-hide-in-print">
			<li class="d-flex">
				<span class="phd-breakdown-label">{{ isPresalePricingEnabled ? 'Estimated Base Price:' : 'Base Price:' }}</span>
				<span class="phd-breakdown-content">{{priceBreakdown?.baseHouse | currency:'USD':'symbol':'0.0-0'}}</span>
			</li>
			<li *ngIf="!isPresale" class="d-flex">
				<span class="phd-breakdown-label">Lot Premium:</span>
				<span class="phd-breakdown-content">{{priceBreakdown?.homesite | currency:'USD':'symbol':'0.0-0'}}</span>
			</li>
			<li *ngIf="!isPreview && !isPresale" class="d-flex">
				<span class="phd-breakdown-label">{{isDesignComplete ? 'Options Total:' : 'Pending & Contracted Options:'}}</span>
				<span class="phd-breakdown-content">{{priceBreakdown?.selections | currency:'USD':'symbol':'0.0-0'}}</span>
			</li>
			<li *ngIf="priceBreakdown.salesProgram && !isPresale" class="d-flex">
				<span class="phd-breakdown-label">Adjustments to Price:</span>
				<span class="phd-breakdown-content">({{priceBreakdown?.salesProgram | currency:'USD':'symbol':'0.0-0'}})</span>
			</li>
			<li *ngIf="priceBreakdown.priceAdjustments && !isPresale" class="d-flex">
				<span class="phd-breakdown-label">Price Adjustments:</span>
				<span class="phd-breakdown-content">{{priceBreakdown?.priceAdjustments | currency:'USD':'symbol':'0.0-0' | minusSignToParens}}</span>
			</li>
			<li *ngIf="priceBreakdown.nonStandardSelections && !isPresale" class="d-flex">
				<span class="phd-breakdown-label">Non-Standard Options:</span>
				<span class="phd-breakdown-content">{{priceBreakdown?.nonStandardSelections | currency:'USD':'symbol':'0.0-0'}}</span>
			</li>
			<li *ngIf="!isDesignComplete" class="phd-estimate">
				<span class="phd-breakdown-label">Estimated Favorites Total:</span>
				<span class="phd-breakdown-content">{{priceBreakdown?.favoritesPrice | currency:'USD':'symbol':'0.0-0'}}</span>
			</li>
			<li class="phd-estimate">
				<span class="phd-breakdown-label">{{ getTotalPriceLabel() }}</span>
				<span class="phd-breakdown-content">{{priceBreakdown?.totalPrice | currency:'USD':'symbol':'0.0-0'}}</span>
			</li>
			<li *ngIf="priceBreakdown.closingIncentive && !isPresale" class="d-flex">
				<span class="phd-breakdown-label">Closing Cost Incentive:</span>
				<span class="phd-breakdown-content">{{(priceBreakdown?.closingIncentive + priceBreakdown.closingCostAdjustment) | currency:'USD':'symbol':'0.0-0'}}</span>
			</li>
		</ul>
		<ng-container *ngIf="!isSticky">
			<div class="phd-divider phd-hide-in-print"></div>
			<span class="phd-favorites-disclaimer phd-hide-in-print">{{ disclaimerText }}</span>
			<div *ngIf="isPresale && isPresalePricingEnabled && !isSticky" class="phd-print-description-items-presale-pricing phd-hide-in-print">
				<button aria-label="Print"><i class="fa fa-solid fa-print fa-2x phd-clickable" (click)="onPrint()"></i></button>
				<span class="phd-print-text">Print or save a copy of your favorite options to share. Your selections will not be saved when this window is closed.</span>
			</div>
		</ng-container>
	</div>
</header>

<header *ngIf="!isPresale || isPresalePricingEnabled" class="phd-show-in-print">
	<div class="phd-top-price-spacer"></div>
	<div class="phd-divider"></div>
	<div class="phd-price-breakdown phd-hidden-from-view phd-show-in-print">
		<div class="d-flex phd-print-indent">
			<span class="phd-breakdown-label">{{ isPresalePricingEnabled ? 'Estimated Base Price:' : 'Base Price:' }}</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.baseHouse | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div *ngIf="!isPresale" class="d-flex phd-print-indent">
			<span class="phd-breakdown-label">Lot Premium:</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.homesite | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div *ngIf="!isPreview && !isPresale" class="d-flex phd-print-indent">
			<span class="phd-breakdown-label">{{isDesignComplete ? 'Options Total:' : 'Pending & Contracted Options:'}}</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.selections | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div *ngIf="priceBreakdown.salesProgram" class="d-flex phd-print-indent">
			<span class="phd-breakdown-label">Sales Incentive:</span>
			<span class="phd-breakdown-content">({{priceBreakdown?.salesProgram | currency:'USD':'symbol':'0.0-0'}})</span>
		</div>
		<div *ngIf="priceBreakdown.priceAdjustments && !isPresale" class="d-flex phd-print-indent">
			<span class="phd-breakdown-label">Price Adjustments:</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.priceAdjustments | currency:'USD':'symbol':'0.0-0' | minusSignToParens}}</span>
		</div>
		<div *ngIf="priceBreakdown.nonStandardSelections && !isPresale" class="d-flex phd-print-indent">
			<span class="phd-breakdown-label">Non-Standard Options:</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.nonStandardSelections | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div *ngIf="!isDesignComplete" class="phd-estimate phd-print-indent">
			<span class="phd-breakdown-label">Estimated Favorites Total:</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.favoritesPrice | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="phd-estimate phd-print-indent">
			<span class="phd-breakdown-label">{{ getTotalPriceLabel() }}</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.totalPrice | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div *ngIf="priceBreakdown.closingIncentive && !isPresale" class="d-flex phd-print-indent">
			<span class="phd-breakdown-label">Closing Cost Incentive:</span>
			<span class="phd-breakdown-content">{{(priceBreakdown?.closingIncentive + priceBreakdown.closingCostAdjustment) | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
	</div>
	<div class="phd-bottom-price-spacer"></div>
	<div class="phd-divider"></div>
</header>
</div>


<div class="phd-mobile">
	<!-- sticky header section -->
	<div #stickyHeader class="phd-sticky-header d-flex justify-content-between align-items-center phd-fav-title px-3 pt-2">
		<h1>{{headerTitle}}</h1>
		<!-- <button class="phd-fav-print-icon" [disabled]="isEmptyFavorites" aria-label="Print"> -->
		<!-- <mat-icon (click)="onPrint()">print</mat-icon></button> -->
	</div>

	<!-- header section -->
	<div class="d-flex flex-column">
		<span class="phd-options-disclaimer px-3 py-1">
			{{disclaimerText}}
		</span>

		<plan-summary class="px-3 py-2"></plan-summary>

		<!-- only show when buyer or buyerpreview without designcompleted -->
		<pending-and-contracted-toggle *ngIf="showPendingAndContractedToggle" class="p-1"></pending-and-contracted-toggle>
	</div>  

	<!-- price section -->
	<header *ngIf="!isPresale || isPresalePricingEnabled" class="phd-fav-price-section p-3" >
		<div class="d-flex justify-content-between" *ngIf="showDetailPrice">
			<span>{{ isPresalePricingEnabled ? 'Estimated Base Price:' : 'Base Price:' }}</span>
			<span>{{priceBreakdown?.baseHouse | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="!isPresale && showDetailPrice">
			<span>Lot Premium:</span>
			<span>{{priceBreakdown?.homesite | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="hasAgreement && showDetailPrice">
			<span>{{isDesignComplete ? 'Options Total:' : 'Pending & Contracted Options:'}}</span>
			<span>{{priceBreakdown?.selections | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown?.salesProgram && showDetailPrice">
			<span>Sales Incentive:</span>
			<span>({{priceBreakdown.salesProgram | currency:'USD':'symbol':'0.0-0'}})</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown.priceAdjustments && !isPresale && showDetailPrice">
			<span>Price Adjustments:</span>
			<span>{{priceBreakdown?.priceAdjustments | currency:'USD':'symbol':'0.0-0' | minusSignToParens}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown.nonStandardSelections && !isPresale && showDetailPrice">
			<span>Non-Standard Options:</span>
			<span>{{priceBreakdown?.nonStandardSelections | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between phd-fav-price-sum-row" *ngIf="!isDesignComplete">
			<span class="phd-breakdown-label">Estimated Favorites Total:</span>
			<span class="phd-breakdown-content">{{priceBreakdown?.favoritesPrice | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between phd-fav-price-sum-row">               
			<span>{{ getTotalPriceLabel() }}</span>
			<span class="d-flex align-items-center"><mat-icon class="phd-tooltip-icon phd-icon-accent">info_outline</mat-icon>{{priceBreakdown?.totalPrice | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		<div class="d-flex justify-content-between" *ngIf="priceBreakdown.closingIncentive && !isPresale && showDetailPrice">
			<span>Closing Cost Incentive:</span>
			<span>{{(priceBreakdown?.closingIncentive + priceBreakdown.closingCostAdjustment) | currency:'USD':'symbol':'0.0-0'}}</span>
		</div>
		
		<button class="phd-fav-link-button p-0" (click)="togglePriceDisplay();">See {{ showDetailPrice? 'Less' : 'More'}}</button>
	</header>

</div>
