.phd-checkbox-label {
	margin-bottom: 0;
}

.phd-group-market-list {
	font-weight: bold;

	> div {
		max-height: 120px;
		overflow-y: auto;
	}
}

.phd-image-market-list {
	font-weight: bold;
}

.phd-image-market-list-container {
	display: flex;
}

.phd-image-card-footer-option-image p-checkbox {
	margin-top: 5px;
	float: right;
}
