<phd-side-panel-component [headerTemplate]="header" [bodyTemplate]="body" [footerTemplate]="footer" [sidePanelOpen]="sidePanelOpen" (onSidePanelClose)="onCloseSidePanel($event)" [isDirty]="isDirty">

	<ng-template #header>
		<h4 *ngIf="(!selected) || (selected.fileName === null)" class="phd-side-panel-header"><strong>Add Document</strong></h4>
		<h4 *ngIf="selected && selected.fileName !== null" class="phd-side-panel-header"><strong>Manage Document</strong></h4>
	</ng-template>

	<ng-template #body>
		<div class="container pt-3">
			<form [formGroup]="communityPdfForm">
				<div class="form-group">
					<label class="font-weight-bold" for="linkText">Link Text</label>
					<input type="text" class="form-control phd-fieldRequired" id="linkText" maxlength="100" formControlName="linkText" required />

					<div class="col-sm-12">
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.linkText.invalid && (communityPdfForm.controls.linkText.dirty || communityPdfForm.controls.linkText.touched) && communityPdfForm.controls.linkText.errors.required">
							Invalid: A Link Name is required.
						</span>
					</div>
				</div>

				<div class="form-group">
					<label class="font-weight-bold" for="fileName">File Name</label>
					<input type="text" class="form-control phd-fieldRequired" id="fileName" maxlength="100" formControlName="fileName" required />

					<div class="col-sm-12">
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.fileName.invalid && (communityPdfForm.controls.fileName.dirty || communityPdfForm.controls.fileName.touched) && communityPdfForm.controls.fileName.errors.required">
							Invalid: A File Name is required.
						</span>
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.fileName.invalid && communityPdfForm.controls.fileName.dirty && communityPdfForm.controls.fileName.touched && communityPdfForm.controls.fileName.errors.requiredFileType">
							Invalid: File Name must end with '.pdf' file extension.
						</span>
					</div>
				</div>

				<div class="form-group">
					<label class="font-weight-bold" for="sectionHeader">Section Header</label>
					<select id="release_rank" class="form-control phd-fieldRequired" formControlName="sectionHeader" required>
						<option *ngFor="let type of sectionHeaders" [ngValue]="type.id">{{ type.label}}</option>
					</select>
					<div class="col-sm-12">
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.sectionHeader.invalid && (communityPdfForm.controls.sectionHeader.dirty || communityPdfForm.controls.sectionHeader.touched) && communityPdfForm.controls.sectionHeader.errors.required">
							Invalid: A Section Header is required.
						</span>
					</div>
				</div>

				<div class="form-group calendar-group">
					<label class="font-weight-bold" for="effectiveDate">Effective Date</label>
					<div class="input-group">
						<input type="hidden" name="effectiveDate" formControlName="effectiveDate" />
						<p-calendar [ngModel]="effectiveDate" [ngModelOptions]="{standalone: true}" (onSelect)="setMinimumExpirationDate($event)" (onClose)="onCalendarClose($event, 'effective')" dateFormat="mm/dd/yy" readonlyInput="true" [minDate]="minEffectiveDate" showIcon="true"></p-calendar>
					</div>
					<div class="col-sm-12">
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.effectiveDate.invalid && (communityPdfForm.controls.effectiveDate.dirty || communityPdfForm.controls.effectiveDate.touched) && communityPdfForm.controls.effectiveDate.errors.required">
							Invalid: An Effective Date is required.
						</span>
					</div>
				</div>

				<div class="form-group calendar-group">
					<label class="font-weight-bold" for="expirationDate">Expiration Date</label>
					<div class="input-group">
						<input type="hidden" name="expirationDate" formControlName="expirationDate" />
						<p-calendar [ngModel]="expirationDate" [ngModelOptions]="{standalone: true}" dateFormat="mm/dd/yy" readonlyInput="true" [minDate]="minDate" showIcon="true" (onSelect)="onSetDate($event, 'expiration')" (onClose)="onCalendarClose($event, 'expiration')"></p-calendar>
					</div>
					<div class="col-sm-12">
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.expirationDate.invalid && (communityPdfForm.controls.expirationDate.dirty || communityPdfForm.controls.expirationDate.touched) && communityPdfForm.controls.expirationDate.errors.required">
							Invalid: An Expiration Date is required.
						</span>
					</div>
				</div>

				<div class="form-group">
					<label class="font-weight-bold" for="description">Description</label>
					<textarea id="description" class="phd-textarea"formControlName="description"></textarea>

					<div class="col-sm-12">
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.description.invalid && (communityPdfForm.controls.description.dirty || communityPdfForm.controls.description.touched) && communityPdfForm.controls.description.errors.required">
							Invalid: A File Name is required.
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="font-weight-bold" for="pdf">Upload Pdf</label>
					<input type="file" id="pdf" formControlName="pdf" accept=".pdf" (change)="onFileSelect($event)" required/>
					<div class="col-sm-12">
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.pdf.invalid && (communityPdfForm.controls.pdf.dirty || communityPdfForm.controls.pdf.touched) && communityPdfForm.controls.pdf.errors.required">
							Invalid: A File Upload is required.
						</span>
						<span class="text-danger"
								*ngIf="communityPdfForm.controls.pdf.invalid && communityPdfForm.controls.pdf.dirty && communityPdfForm.controls.pdf.errors.requiredFileType">
							Invalid: File must be of type 'pdf'.
						</span>
					</div>
				</div>
			</form>
		</div>
	</ng-template>

	<ng-template #footer>
		<div class="pull-right">
			<button class="btn btn-primary phd-btn-save" (click)="save();" [disabled]="saveDisabled">
				Save
				<ng-container *ngIf="saving"><i class="fa fa-spinner fa-spin fa-fw"></i></ng-container>
			</button>
			<button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
		</div>
	</ng-template>

</phd-side-panel-component>

<p-toast></p-toast>
