@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

.phd-header-bar {
	position: fixed;
	top: 70px;
	width: 100%;
	height: 55px;
	z-index: 10;
	border-bottom: 1px solid;

	.phd-header-bar-content {
		padding: 8px 8px 5px 8px;
	}

	.phd-included-label {
		font-weight: bold;
		margin: 3px 0 0 0;
	}

	.phd-community-name {
		font-weight: bold;
		text-transform: uppercase;
		margin: 3px 0 0 0;
	}

	.phd-plan-name {
		font-size: 13px;
	}

	.phd-tree-filter {
		min-width: 300px;
	}
}

@media(max-width: 650px) {
	.phd-community-name {
		font-size: 11px !important;
	}

	.phd-plan-name {
		font-size: 9px !important;
	}
}