@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

.phd-choice-card-detail {
	display: flex;
}

.phd-close {
	cursor: pointer;
	padding: 5px 5px 0px 0px;
}

.phd-blocked-title {
	padding: 2px 0px 10px 20px;
	font-weight: 600;
}

.phd-blocked-list {
	width: 300px;
	margin-left: 40px;
}

.phd-blocked-link {
	color: var(--link-color);
	text-decoration: underline;
}

.phd-image-section {
	background: $gray-lighter;
	display: flex;
	flex-direction: column;
	padding: 0px 10px;

	.phd-choice-path {
		span {
			margin: 5px 0px 5px 10px;
			font-size: 11px;
			font-weight: bold;
		}
	}

	.phd-image-caption {
		font-size: 11px;
		font-weight: bold;
		padding: 5px 0px;
	}

	.phd-image-loading {
		height: 367px;
		width: 550px;
		position: absolute;
		background-color: lightgray;
		z-index: 999 !important;
		text-align: center;
		opacity: 0.5;
		cursor: not-allowed;
	}

	.phd-image-loader {
		position: relative;
		top: 40%;
	}

	.phd-icon-selected {
		color: var(--heart-icon-color);
	}

	.phd-image-thumbnail {
		margin-right: 0;
		padding: 0 10px 0 0;
		border: none;

		cl-image {
			border: none;
		}
	}

	.phd-price {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: auto;
		margin-right: 15px;

		.phd-price-label {
			margin-top: 4px;
			font-size: 23px;
		}

		.phd-price-disclaimer {
			margin-left: 20px;
			margin-top: 3px;
			font-size: 11px;
			font-weight: bold;
		}
	}

	.phd-price-right-justified {
		justify-content: end !important;
	}
}

::ng-deep .p-carousel-dots-container {
	display: none !important;
}

::ng-deep .phd-choice-image {
	border: 2px solid #ccc;
	cursor: pointer;

	.phd-choice-image-selected {
		border: solid 4px var(--selected-border-color);
	}
}

.phd-card-detail-image-body {
	display: flex !important;
	justify-content: center !important;

	.carousel:focus {
		outline: none;
	}
}

::ng-deep .carousel-indicators {
	display: none;
}

.phd-info-section {
	display: flex;
	flex-direction: column;
	padding: 5px;

	.phd-choice-desc-section {
		max-height: calc((100vh - 248px) / 2);

		.phd-choice-label {
			font-size: 22px;
			font-weight: bold;
			margin-left: 10px;
		}

		.phd-choice-desc {
			margin-left: 10px;
			height: auto;
			overflow: scroll;
			padding-left: 10px;
			padding-right: 15px;
		}
	}

	.phd-choice-desc-section-long {
		max-height: calc(100vh - 197px);
	}

	.phd-selections-section {
		.phd-available-selections {
			background-color: var(--choice-detail-ribbon-color);
			color: white;
			margin-top: 0px;

			span {
				padding: 8px 0px 8px 10px;
				font-weight: bold;
			}
		}
	}
}

.phd-descriptive-text {
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: -10px;
	position: absolute;
	bottom: 85px;
}

::ng-deep .carousel-item {
	display: flex !important;
	justify-content: center !important;
}

.phd-favorite-selector {
	font-size: 30px;
	border: none;
}

.phd-attribute-group-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-top: 10px;
}

.phd-attribute-group-container:not(:last-child) {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
}

// Normal view
@media screen and (min-width: ($tablet-max-width + 1)) {
	.phd-choice-card-detail {
		flex-direction: row;
		overflow: hidden;
	}

	.phd-image-section {
		width: calc(52vw);
		height: calc(100vh - 197px);

		.phd-image-content {
			::ng-deep img {
				max-width: calc(50vw);
				max-height: calc(60vh);
			}
		}

		.phd-image-container {
			display: flex;
			flex-direction: column;
			overflow: scroll;
		}

		.phd-image-container::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 7px;
			height: 0px;
		}

		.phd-image-container::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, .5);
			border-radius: 4px;
			box-shadow: 0 0 1px rgba(255, 255, 255, .5);
		}

		.phd-image-container::-webkit-scrollbar-corner {
			background: rgba(0, 0, 0, 0);
		}

		.phd-image-carousel {
			display: flex;
			flex-direction: row;

			.phd-choice-image {
				::ng-deep img {
					width: 50px;
					height: 50px;
				}
			}
		}
	}

	.phd-info-section {
		width: calc(48vw);
		height: calc(100vh - 208px - 25px);

		.phd-selections-section {
			min-height: calc((100vh - 248px) / 2);
		}

		.phd-attr-loc-group-container {
			padding-left: 10px;
			width: calc(48vw - 7px);
			overflow-y: auto;
		}

		::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 7px;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 4px;
			background-color: rgba(0, 0, 0, .5);
			-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
		}
	}
}

// tablet view
@media screen and (max-width: $tablet-max-width) {
	.phd-choice-card-detail {
		flex-direction: column;
		overflow-y: auto;
	}

	.phd-image-section {
		width: calc(100vw);

		.phd-image-content {
			::ng-deep img {
				width: calc(80vw);
			}
		}

		.phd-image-container {
			display: flex;
			flex-direction: row;

			.phd-image-carousel {
				order: 1;
			}

			.phd-image-card {
				order: 2;
			}
		}

		.phd-image-carousel {
			display: flex;
			flex-direction: column;
			order: 2;

			.phd-choice-image {
				::ng-deep img {
					width: 75px;
					height: 75px;
					margin-bottom: 10px;
				}
			}
		}

		.phd-price {
			.phd-favorite-selector {
				font-size: 2em;
				border: none;
				padding: 0 0 5px 0;
				margin: 0;
			}

			.phd-price-label {
				font-size: 2em;
			}
		}
	}

	.phd-info-section {
		width: calc(100vw);

		.phd-attr-loc-group-container {
			margin-bottom: 70px;
		}
	}

	.phd-descriptive-text {
		font-size: 11px;
		font-weight: bold;
		position: relative;
		padding: 5px 0px;
	}
}

::ng-deep .carousel {

	.carousel-control-next,
	.carousel-control-prev {
		background-color: transparent;
		height: 50px;
		width: 50px;
		margin: auto;

		.carousel-control-next-icon,
		.carousel-control-prev-icon {
			-webkit-filter: drop-shadow(0px 0px 2px black);
			filter: drop-shadow(0px 0px 2px black);

		}
	}
}