@import "../../../../../../../phd-common/src/lib/scss/color-pallet.scss";
@import "../../../../../../../phd-common/src/lib/scss/sizes.scss";

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.phd-choice-card-detail {
	display: flex;
	overflow: auto;
	margin-bottom: 20px;
}

.phd-favorite-selector {
	font-size: 30px;
	border: none;
}

//image display
.phd-image-section {
	height: calc(100vh - 197px);
	flex: 1 52%;
	background: $gray-lighter;
	display: flex;
	flex-direction: column;
	padding: 0px 10px;

	//spinner
	.phd-image-loading {
		height: 367px;
		width: 550px;
		position: absolute;
		background-color: lightgray;
		z-index: 999 !important;
		text-align: center;
		opacity: 0.5;
		cursor: not-allowed;
	}

	.phd-image-loader {
		position: relative;
		top: 40%;
	}

	//back nav
	.phd-choice-path span {
		margin: 5px 0px 5px 10px;
		font-size: 11px;
		font-weight: bold;
	}

	//caption below large image
	.phd-image-caption {
		font-size: 11px;
		font-weight: bold;
		padding: 5px 0px;
	}

	//container for both Carousel
	.phd-image-container {
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}

	.phd-image-container::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
		height: 0px;
	}

	.phd-image-container::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .5);
		border-radius: 4px;
		box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}

	.phd-image-container::-webkit-scrollbar-corner {
		background: rgba(0, 0, 0, 0);
	}

	//NGB bootstrap carousel large image	
	.phd-card-detail-image-body {
		display: flex !important;
		justify-content: center !important;
	
		.carousel:focus {
			outline: none;
		}
	}

	//PrimeNG carousel thumbnail
	.phd-image-carousel {
		display: flex;

		.phd-thumbnail-image-list {
			padding: 0;
		}

		.phd-image-thumbnail {
			margin-right: 0;
			padding: 0 10px 0 0;
			border: none;
	
			cl-image {
				border: none;
			}
		}
	}

	//image price section below carousel
	.phd-price {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: auto;
		margin-right: 15px;

		.phd-price-label {
			margin-top: 4px;
			font-size: 23px;
		}

		.phd-price-disclaimer {
			margin-left: 20px;
			margin-top: 3px;
			font-size: 11px;
			font-weight: bold;
		}
	}

	//icon only without price
	.phd-price-right-justified {
		justify-content: end !important;
	}
}

//attribute/location display
.phd-info-section {
	flex: 1 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px;
	height: calc(100vh - 200px);

	.phd-choice-desc-section {
		.phd-choice-label {
			font-size: 22px;
			font-weight: bold;
			margin-left: 10px;
		}

		.phd-choice-desc {
			margin-left: 10px;
			height: auto;
			overflow-y: auto;
			padding: 0 10px 5px 15px;
		}
	}

	.phd-selections-section {
		h2 {
			font-size: 1rem !important;
			padding: 2px 0;
		}

		.phd-available-selections {
			color: white;
			margin-top: 0px;

			span {
				padding: 8px 0px 8px 10px;
				font-weight: bold;
			}
		}
	}

	.phd-descriptive-text {
		font-size: 11px;
		font-weight: bold;
		padding: 3px 10px;
		background-color: white;
	}
}

// Normal view
@media screen and (min-width: ($tablet-max-width + 1)) {
	.phd-image-section {
		width: calc(52vw);
		height: calc(100vh - 197px);

		.phd-image-content {
			::ng-deep img {
				max-width: calc(50vw);
				max-height: calc(60vh);
			}
		}
	}
}

// tablet view
@media screen and (max-width: $tablet-max-width) {
	.phd-choice-card-detail {
		flex-direction: column;
	}

	.phd-image-container {
		display: flex;
		flex-direction: row !important;
		overflow-y: hidden !important;

		.phd-image-carousel {
			display: flex;
			flex-direction: column;
			order: 1;

			.phd-choice-image {
				::ng-deep img {
					width: 75px;
					height: 75px;
					margin-bottom: 10px;
				}
			}
		}

		.phd-image-card {
			order: 2;
		}
		
		.phd-image-content {
			::ng-deep img {
				width: calc(80vw);
			}
		}
	}	
}

// small screens
@media screen and (max-width: 640px) {
	.phd-image-content {
		::ng-deep img {
			width: calc(100%);
		}
	}
}