@import "../../../../../scss/color-pallet.scss";
@import "../../../../../scss/sizes.scss";

::ng-deep .phd-homesite-body {
	height: calc(100vh - #{$nav-menu-height} - #{$homesite-page-header-height} - #{$homesite-action-bar-height});
	padding: 5px 0px 5px 0px;
	margin: 0px 8px 20px 8px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;

	.phd-homesite-search-bar {
		margin-left: 22px;
		padding: 0px;
		float: right;
	}

	.phd-homesite-panel {
		height: 1000px;
		overflow-y: auto;
		margin-top: 20px;
	}
}

.phd-flexbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid #fff;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	margin-right: 15px;
}

.phd-homesites-counter {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 15px;
}

.fa {
	cursor: pointer;
}

.phd-lot-info-incomplete {
	color: red;
}

.phd-icon-container {
	display: flex;
	justify-content: space-around;

	i {
		width: 50px;
		text-align: center;
	}
}
