<nav class="phd-global-header d-flex align-items-center">
	<div class="phd-global-header-image d-flex justify-content-center">
		<a class="phd-clickable" (click)="homeLogoClicked()">
			<img id="homeLogo" class="phd-brand-logo" [src]="getImageSrc()" alt="">
		</a>
	</div>
	<div class="phd-global-header-title d-flex">
		<h1 class="my-auto mat-headline-1">Design Preview</h1>
	</div>
	<div class="phd-hamburger-icon d-flex justify-content-end">
		<button class="d-flex" mat-icon-button (click)="hamburgerClicked.emit()" aria-label="">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
</nav>
