.phd-brand-logo {
	height: 25.73px;
}

.phd-global-header {
	height: 6%;
}

.phd-global-header-image {
	width: 16.67%;
}

.phd-global-header-title {
	font-weight: bold;
	width: 66.66%;
}

.phd-hamburger-icon {
	width: 16.67%;
}
