.phd-brand-logo {
	height: 25.73px;
	max-height: 100%;
	max-width: 100%;
	object-fit: scale-down;
}

.phd-global-header {
	height: 6vh;
	justify-content: space-around;
}

.phd-global-header-title {
	font-weight: bold;
	width: 100%;
}
